Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

test: add coverage for extracted context-management module
  server/__tests__/context-management.test.ts
Due: server

fix: add context-management spec and update stats for CI
  README.md
  docs/deep-dive.md
  specs/process/context-management.spec.md
  specs/process/direct-process.spec.md
Due: none

feat: add /message command to AlgoChat with no-tools mode
  server/algochat/bridge.ts
  server/algochat/command-handler.ts
  shared/command-defs.ts
Due: server

fix: always show all navigation tabs regardless of view mode
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix: show Settings sidebar section in all view modes
  client/src/app/shared/components/sidebar.component.ts
Due: client

feat: add /message command to AlgoChat with no-tools mode (#1329)
  server/algochat/bridge.ts
  server/algochat/command-handler.ts
  shared/command-defs.ts
Due: server

fix: always show all navigation tabs regardless of view mode (#1330)
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix: show Settings sidebar section in all view modes (#1331)
  client/src/app/shared/components/sidebar.component.ts
Due: client

feat: public channel readiness — BASIC tier gating and rate limits
  server/__tests__/discord-public-mode.test.ts
  server/discord/message-handler.ts
  server/discord/permissions.ts
Due: server

fix: improve work task recovery after server restarts
  server/db/work-tasks.ts
  server/work/service.ts
Due: server

fix: improve work task recovery after server restarts (#1333)
  server/db/work-tasks.ts
  server/work/service.ts
Due: server

fix: document PUBLIC_MODE_RATE_LIMIT_DEFAULTS in discord bridge spec
  specs/discord/bridge.spec.md
Due: none

feat: harden public channel safety for Discord deployment
  server/__tests__/discord-public-mode.test.ts
  server/db/audit.ts
  server/discord/message-handler.ts
Due: server

feat: add public channel hardening for AlgoChat
  server/__tests__/agent-wallet.test.ts
  server/__tests__/algochat-init.test.ts
  server/__tests__/public-channel-guard.test.ts
  server/algochat/config.ts
  server/algochat/message-router.ts
  server/algochat/public-channel-guard.ts
  server/db/audit.ts
Due: server

feat: harden Discord bot for public channel deployment
  server/__tests__/discord-public-mode.test.ts
  server/db/audit.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/discord/permissions.ts
  server/discord/thread-manager.ts
Due: server

fix: update test to match never-started task requeue behavior
  server/__tests__/work-task-drain.test.ts
Due: server

fix: update test to match requeue-never-started recovery behavior
  server/__tests__/work-task-drain.test.ts
Due: server

fix: validate wallet address format before URL interpolation in ReputationVerifier (#1316)
  server/__tests__/reputation-verifier.test.ts
  server/reputation/verifier.ts
Due: server

chore: update Anthropic SDKs to latest versions (#1325)
  bun.lock
  package.json
Due: none

docs: add missing Discord Image and Memory Backfill API endpoints (#1326)
  docs/api-reference.md
Due: none

refactor: extract context management helpers into context-management.ts (#1327)
  README.md
  docs/deep-dive.md
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  server/process/direct-process.ts
  specs/process/context-management.spec.md
  specs/process/direct-process.spec.md
Due: server

fix: improve work task recovery after server restarts (#1337)
  server/__tests__/work-task-drain.test.ts
Due: server

feat: harden Discord bot for public channel deployment (#1336)
  server/__tests__/discord-public-mode.test.ts
  server/db/audit.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/discord/permissions.ts
  server/discord/thread-manager.ts
Due: server

feat: consolidate ~41 flat routes into ~10 nested groups with sub-tab navigation
  client/src/app/app.routes.ts
  client/src/app/core/services/audience.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.spec.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-form.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix: resolve CI failures — schema sync, spec coverage, and stats drift
  specs/discord/message-commands.spec.md
Due: none

fix: remove unused computed import
  client/src/app/shared/components/sub-tab-shell.component.ts
Due: client

feat: consolidate routes from ~41 flat to ~10 nested groups (#1309)
  client/src/app/app.routes.ts
  client/src/app/core/services/audience.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.spec.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-form.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
  specs/discord/message-commands.spec.md
Due: client

fix: improve patch coverage for opt-in tools and guided tour
  client/src/app/core/services/guided-tour.service.spec.ts
  server/__tests__/algochat-message-router.test.ts
  server/__tests__/ws-handler.test.ts
Due: server, client

fix: add guided-tour component spec for codecov/patch coverage
  client/src/app/shared/components/guided-tour.component.spec.ts
Due: client

fix: resolve CI failures for PR #1310
  specs/discord/message-commands.spec.md
Due: none

feat: make MCP tools opt-in per CLI session (#1310)
  client/src/app/core/services/guided-tour.service.spec.ts
  client/src/app/shared/components/guided-tour.component.spec.ts
  server/__tests__/algochat-message-router.test.ts
  server/__tests__/ws-handler.test.ts
  specs/discord/message-commands.spec.md
Due: server, client

fix: add openrouter to valid provider list in test + add spec coverage
  server/__tests__/providers.test.ts
  specs/providers/openrouter-provider.spec.md
  specs/routes/openrouter.spec.md
Due: server

feat: integrate OpenRouter as LLM provider
  client/src/app/features/models/models.component.ts
  client/src/app/features/settings/settings.component.ts
  server/bootstrap.ts
  server/index.ts
  server/providers/cost-table.ts
  server/providers/fallback.ts
  server/providers/openrouter/provider.ts
  server/providers/registry.ts
  server/providers/router.ts
  server/providers/types.ts
  server/routes/openrouter.ts
Due: server, client

fix: resolve CI failures — Angular template syntax, stats drift, PR tasks
  README.md
  client/src/app/features/models/models.component.ts
  docs/deep-dive.md
Due: client

fix: update README unit test stats to match actual counts
  README.md
Due: none

feat: integrate OpenRouter as LLM provider (#1338)
  README.md
  client/src/app/features/models/models.component.ts
  client/src/app/features/settings/settings.component.ts
  docs/deep-dive.md
  server/__tests__/providers.test.ts
  server/bootstrap.ts
  server/index.ts
  server/providers/cost-table.ts
  server/providers/fallback.ts
  server/providers/openrouter/provider.ts
  server/providers/registry.ts
  server/providers/router.ts
  server/providers/types.ts
  server/routes/openrouter.ts
  specs/providers/openrouter-provider.spec.md
  specs/routes/openrouter.spec.md
Due: server, client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
