Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

chore: remove duplicate migration 078 (trials already in migration 77)
  server/db/migrations/078_marketplace_trials.ts
Due: server

feat: integrate marketplace trial periods into existing modules (#709)
  server/db/migrations/077_marketplace_trials.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

fix: add undocumented trial exports to spec files
  server/routes/marketplace.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: server

fix: update documented stats for new trial migration and table
  README.md
  docs/deep-dive.md
Due: none

feat: unify WebSocket types between server and Angular client (#860)
  client/src/app/core/models/work-task.model.ts
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/mention-polling.service.ts
  client/src/app/core/services/schedule.service.ts
  client/src/app/core/services/session.service.ts
  client/src/app/core/services/webhook.service.ts
  client/src/app/core/services/websocket.service.ts
  client/src/app/core/services/work-task.service.ts
  client/src/app/core/services/workflow.service.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/governance-vote-panel.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/sessions/approval-dialog.component.spec.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/tsconfig.json
  shared/ws-protocol.ts
Due: server, client

fix: document pool exports in connection spec for strict CI (#867)
  specs/db/connection.spec.md
Due: none

chore: squash migrations at v0.21.0 boundary (#859)
  server/db/migrations/001_baseline.ts
  server/db/migrations/002_per_agent_spending_caps.ts
  server/db/migrations/003_persistent_rate_limits.ts
  server/db/migrations/053_identity_escrow.ts
  server/db/migrations/054_github_allowlist.ts
  server/db/migrations/055_multi_tenant.ts
  server/db/migrations/056_api_key_expiry.ts
  server/db/migrations/057_schedule_trigger_events.ts
  server/db/migrations/058_performance_metrics.ts
  server/db/migrations/059_repo_locks.ts
  server/db/migrations/060_health_snapshots.ts
  server/db/migrations/061_pr_outcomes.ts
  server/db/migrations/062_tenant_resource_isolation.ts
  server/db/migrations/063_subscription_items.ts
  server/db/migrations/064_repo_blocklist.ts
  server/db/migrations/065_permission_broker.ts
  server/db/migrations/066_dedup_state.ts
  server/db/migrations/067_governance_tiers.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/migrations/069_usdc_revenue.ts
  server/db/migrations/070_algochat_defaults.ts
  server/db/migrations/071_governance_quorum.ts
  server/db/migrations/072_governance_proposals.ts
  server/db/migrations/073_encrypt_env_vars.ts
  server/db/migrations/074_marketplace_subscriptions.ts
  server/db/migrations/075_flock_directory.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/migrations/077_marketplace_usage_events.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/078_marketplace_trials.ts
  server/db/schema.ts
Due: server

fix: renumber marketplace_trials migration from 077 to 078
  server/db/migrations/078_marketplace_trials.ts
Due: server

fix: renumber duplicate migration 077 to 078 for usage events
  server/db/migrations/078_marketplace_usage_events.ts
Due: server

fix: add missing seed data and FTS triggers to squashed MIGRATIONS dict
  server/db/schema.ts
Due: server

fix: document all shared/ws-protocol.ts exports in handler spec
  specs/ws/handler.spec.md
Due: none

feat: marketplace free trial periods (#709) (#873)
  README.md
  docs/deep-dive.md
  server/__tests__/marketplace-trials.test.ts
  server/db/migrations/078_marketplace_trials.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/trials.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
  server/scheduler/handlers/marketplace-trial-expiry.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: server

feat: marketplace usage metering and analytics (#707) (#854)
  server/db/migrations/078_marketplace_usage_events.ts
Due: server

security: injection hardening — unicode bypass detection, API route scanning, prompt leakage (#874)
  server/__tests__/injection-guard.test.ts
  server/__tests__/injection-hardening.test.ts
  server/lib/injection-guard.ts
  server/lib/prompt-injection.ts
  server/routes/a2a.ts
  server/routes/agents.ts
Due: server

fix: update documented migration count after squash (29 → 1)
  README.md
  docs/deep-dive.md
Due: none

docs: add blog page to GitHub Pages site
  docs/algochat.html
  docs/architecture.html
  docs/blog.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/style.css
  docs/why-corvidagent.html
Due: none

docs: add blog page to GitHub Pages site (#876)
  docs/algochat.html
  docs/architecture.html
  docs/blog.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/style.css
  docs/why-corvidagent.html
Due: none

fix: refresh Discord slash commands on agent CRUD (#878)
  server/__tests__/discord-slash-refresh.test.ts
  server/discord/bridge.ts
  server/index.ts
  server/routes/agents.ts
  server/routes/index.ts
Due: server

fix: improve health collector accuracy for timeouts, large files, and code markers
  server/__tests__/health-collector.test.ts
  server/improvement/health-collector.ts
Due: server

fix: replace mock.module with real in-memory DB in discord slash refresh test
  server/__tests__/discord-slash-refresh.test.ts
Due: server

Add WCAG AA accessibility improvements to Angular dashboard
  client/src/app/app.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/styles.css
Due: client

Add test coverage for 5 previously untested modules
  server/__tests__/approval-format.test.ts
  server/__tests__/condenser.test.ts
  server/__tests__/group-sender.test.ts
  server/__tests__/key-rotation.test.ts
  server/__tests__/session-heartbeat.test.ts
Due: server

fix: rewrite condenser test to avoid mock.module polluting provider registry
  server/__tests__/condenser.test.ts
Due: server

fix: improve code quality — replace silent catches, unsafe casts, and fire-and-forget async
  server/algochat/message-router.ts
  server/bootstrap.ts
  server/observability/tracing.ts
  server/polling/auto-merge.ts
  server/providers/ollama/provider.ts
  server/routes/slack.ts
  server/scheduler/execution.ts
  server/work/service.ts
Due: server

docs: sync stale stats in README and deep-dive (unit tests, routes, migrations)
  README.md
  docs/deep-dive.md
Due: none

Add comprehensive API spec validation and complete route registry
  scripts/openapi-validate.ts
  server/__tests__/openapi-spec.test.ts
  server/openapi/generator.ts
  server/openapi/route-registry.ts
Due: server

docs: sync documentation counts and structure with actual codebase
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  server/docs/mcp-tool-docs.ts
Due: server

docs: fix remaining stale unit test count (5,725→5,801) in README
  README.md
Due: none

fix: update openapi-generator tests to match actual tool names and revert CLAUDE.md
  CLAUDE.md
  server/__tests__/openapi-generator.test.ts
Due: server

test: add route integration tests for flock-directory endpoints
  server/__tests__/routes-flock-directory.test.ts
Due: server

feat: WCAG AA accessibility improvements for Angular dashboard
  client/src/app/app.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/styles.css
Due: client

fix: restore missing closing brace for @keyframes shimmer in styles.css
  client/src/styles.css
Due: client

docs: lead README with curl one-liner install CTA
  README.md
Due: none

refactor: improve Angular component type safety, signals, and accessibility
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/dir-browser.component.ts
  client/src/app/shared/components/empty-state.component.ts
Due: client

docs: move curl install one-liner to hero section on GitHub Pages
  docs/index.html
Due: none

feat: Discord public channel mode, smart messaging, and UX improvements (#891, #893)
  server/__tests__/discord-public-mode.test.ts
  server/__tests__/message-formatter.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/gateway.ts
  server/discord/message-formatter.ts
  server/discord/types.ts
  specs/discord/bridge.spec.md
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
