Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(councils): wire heartbeat polling into discussion flow (#1440)
  .github/workflows/e2e.yml
  docs/deep-dive.md
  server/__tests__/council-discussion.test.ts
  server/councils/discussion.ts
  server/mcp/tool-handlers/messaging.ts
  specs/councils/councils.spec.md
Due: server

feat(scheduler): add discord_post action type and pipeline templates (#1439)
  docs/deep-dive.md
  server/__tests__/scheduler-discord-post.test.ts
  server/__tests__/scheduler-pipeline.test.ts
  server/lib/validation.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/discord-post.ts
  server/scheduler/handlers/index.ts
  server/scheduler/pipeline.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/scheduler/handlers.spec.md
  specs/scheduler/pipeline.spec.md
Due: server

feat: contacts route, discord mute persistence, MCP tool catalog
  client/src/app/app.routes.ts
  client/src/app/core/models/contact.model.ts
  client/src/app/core/services/contact.service.ts
  client/src/app/features/contacts/contact-list.component.ts
  docs/deep-dive.md
  server/__tests__/discord-admin-commands.test.ts
  server/__tests__/tool-catalog.test.ts
  server/db/migrations/103_discord_muted_users.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/mcp/tool-catalog.ts
  server/openapi/route-registry.ts
  server/openapi/routes/tool-catalog.ts
  server/routes/index.ts
  server/routes/tool-catalog.ts
  specs/db/schema.spec.md
  specs/discord/bridge.spec.md
  specs/mcp/tool-catalog.spec.md
Due: server, client

fix(specs): achieve 100% coverage — add migrations 102-103 and toolCatalogRoutes
  specs/db/migrations.spec.md
  specs/mcp/tool-catalog.spec.md
Due: none

feat(scheduler): add executePipeline integration tests with DI for runAction
  docs/deep-dive.md
  server/__tests__/scheduler-pipeline-execution.test.ts
  server/scheduler/pipeline.ts
  specs/scheduler/pipeline.spec.md
Due: server

feat(discord): full /schedule management with subcommands (#1439)
  docs/deep-dive.md
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-schedule-commands.test.ts
  server/discord/command-handlers/info-commands.ts
  server/discord/command-handlers/schedule-commands.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

feat(discord): add /tools command for MCP tool catalog browsing (#1438)
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/info-commands.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

chore: update test count to 8,870
  docs/deep-dive.md
Due: none

feat(scheduler): add discord_post action type and pipeline templates (#1441)
  client/src/app/app.routes.ts
  client/src/app/core/models/contact.model.ts
  client/src/app/core/services/contact.service.ts
  client/src/app/features/contacts/contact-list.component.ts
  docs/deep-dive.md
  server/__tests__/discord-admin-commands.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-schedule-commands.test.ts
  server/__tests__/scheduler-discord-post.test.ts
  server/__tests__/scheduler-pipeline-execution.test.ts
  server/__tests__/scheduler-pipeline.test.ts
  server/__tests__/tool-catalog.test.ts
  server/db/migrations/103_discord_muted_users.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/info-commands.ts
  server/discord/command-handlers/schedule-commands.ts
  server/discord/commands.ts
  server/lib/validation.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/scheduling.ts
  server/openapi/route-registry.ts
  server/openapi/routes/tool-catalog.ts
  server/routes/index.ts
  server/routes/tool-catalog.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/discord-post.ts
  server/scheduler/handlers/index.ts
  server/scheduler/pipeline.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/db/migrations.spec.md
  specs/db/schema.spec.md
  specs/discord/bridge.spec.md
  specs/mcp/tool-catalog.spec.md
  specs/scheduler/handlers.spec.md
  specs/scheduler/pipeline.spec.md
Due: server, client

fix: revert Layer 0/1 file changes to resolve governance tier violation
  server/councils/discussion.ts
  server/lib/validation.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/messaging.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

fix: revert Layer 0/1 file changes to resolve governance tier violation (#1442)
  server/councils/discussion.ts
  server/lib/validation.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/messaging.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

docs: fix stale stats across README, CONTRIBUTING, CLAUDE.md, deep-dive
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/deep-dive.md
Due: none

fix: restore Layer 0/1 files to main state to pass governance check
  server/mcp/tool-catalog.ts
Due: server

fix: resolve TypeScript errors and tool catalog test
  server/__tests__/discord-schedule-commands.test.ts
  server/mcp/tool-catalog.ts
Due: server

fix: document waitForSessions exports in councils spec
  specs/councils/councils.spec.md
Due: none

fix: add missing Discord tool entries to TOOL_CATALOG
  server/mcp/tool-catalog.ts
Due: server

spec: document waitForSessions exports in councils spec
  specs/councils/councils.spec.md
Due: none

fix: resolve TypeScript compilation errors in discord-schedule-commands.test.ts
  server/__tests__/discord-schedule-commands.test.ts
Due: server

docs: fix stale stats across README, CONTRIBUTING, CLAUDE.md, deep-dive (#1444)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/deep-dive.md
Due: none

Fix TypeScript errors in discord-schedule-commands.test.ts and tool catalog (#1443)
  server/__tests__/discord-schedule-commands.test.ts
  server/mcp/tool-catalog.ts
  specs/councils/councils.spec.md
Due: server

fix: add missing Discord tools to TOOL_CATALOG
  server/mcp/tool-catalog.ts
Due: server

docs: document 6 undocumented API route modules (closes #1445)
  docs/api-reference.md
Due: none

fix(frontend): enhance connection banner and add live feed loading skeleton
  client/src/app/app.ts
  client/src/app/features/feed/live-feed.component.ts
Due: client

docs: document 6 undocumented API route modules (closes #1445) (#1449)
  docs/api-reference.md
Due: none

fix(frontend): enhance connection banner and add live feed loading skeleton (#1451)
  client/src/app/app.ts
  client/src/app/features/feed/live-feed.component.ts
Due: client

fix(frontend): add form validation errors, avatar fallback, and input error styles
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/projects/project-form.component.ts
  client/src/styles.css
Due: client

fix(frontend): add form validation errors, avatar fallback, and input error styles (#1452)
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/projects/project-form.component.ts
  client/src/styles.css
Due: client

fix(frontend): add confirmation dialogs to destructive actions
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
Due: client

fix(frontend): add confirmation dialogs to destructive actions (#1453)
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
Due: client

feat: add buddy mode for collaborative agent review sessions
  docs/deep-dive.md
  server/algochat/work-command-router.ts
  server/buddy/service.ts
  server/db/buddy.ts
  server/db/migrations/104_buddy_mode.ts
  server/db/schema/buddy.ts
  server/db/schema/index.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/routes/buddy.ts
  server/routes/index.ts
  server/work/service.ts
  shared/types/buddy.ts
  shared/types/index.ts
  shared/types/work-tasks.ts
Due: server

fix: add missing specs for buddy mode files
  specs/buddy/service.spec.md
  specs/db/buddy.spec.md
  specs/db/migrations.spec.md
  specs/db/schema.spec.md
  specs/routes/buddy.spec.md
Due: none

fix: add missing getDefaultBuddyForAgent to spec and update stats
  docs/deep-dive.md
  specs/db/buddy.spec.md
Due: none

fix(buddy): address review issues — timer leak, validation, safety checks
  server/algochat/work-command-router.ts
  server/buddy/service.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/routes/buddy.ts
Due: server

fix: restore getDefaultBuddyForAgent and document councils exports
  specs/councils/councils.spec.md
Due: none

feat(buddy): give buddies read-only tools instead of conversation-only mode
  server/buddy/service.ts
  server/process/manager.ts
  server/process/sdk-process.ts
  shared/types/buddy.ts
  specs/buddy/service.spec.md
Due: server

feat(buddy): add buddy mode with read-only tools for code review
  docs/deep-dive.md
  server/algochat/work-command-router.ts
  server/buddy/service.ts
  server/db/buddy.ts
  server/db/migrations/104_buddy_mode.ts
  server/db/schema/buddy.ts
  server/db/schema/index.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/process/manager.ts
  server/process/sdk-process.ts
  server/routes/buddy.ts
  server/routes/index.ts
  server/work/service.ts
  shared/types/buddy.ts
  shared/types/index.ts
  shared/types/work-tasks.ts
  specs/buddy/service.spec.md
  specs/councils/councils.spec.md
  specs/db/buddy.spec.md
  specs/db/migrations.spec.md
  specs/db/schema.spec.md
  specs/routes/buddy.spec.md
Due: server

chore: bump version to v0.48.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

fix(flock): increase test timeouts and add multi-turn thread continuity
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/runner.ts
  server/routes/flock-testing.ts
  server/scheduler/handlers/flock-testing.ts
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-runner.spec.md
Due: server

fix(flock): increase test timeouts and add multi-turn thread continuity (#1456)
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/runner.ts
  server/routes/flock-testing.ts
  server/scheduler/handlers/flock-testing.ts
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-runner.spec.md
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
