Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat: add test data purge utility and admin endpoint
  package.json
  scripts/purge-test-data.ts
  server/__tests__/purge-test-data.test.ts
  server/db/purge-test-data.ts
  server/middleware/guards.ts
  server/routes/settings.ts
Due: server

feat: dashboard and work task UI polish
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

fix: resolve TypeScript errors in purge-test-data
  server/__tests__/purge-test-data.test.ts
  server/db/audit.ts
  server/db/purge-test-data.ts
Due: server

Potential fix for code scanning alert no. 307: Insecure temporary file (#1010)
  server/__tests__/project-dir.test.ts
Due: server

feat: add search/sort/pagination to council list and schedule exec stats
  client/src/app/features/councils/council-list.component.spec.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
Due: client

feat: add /tasks, /schedule, /config Discord slash commands
  server/__tests__/discord-commands-additional.test.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

fix: spread query params to fix TS2345 in purge-test-data
  server/db/purge-test-data.ts
Due: server

fix: restore globalThis.fetch after Discord command tests
  server/__tests__/discord-commands-additional.test.ts
Due: server

docs: make project welcoming to new contributors
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/good_first_issue.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

fix: sync unique project name index across schema layers (#1008)
  server/__tests__/scheduler-service.test.ts
  server/__tests__/session-lifecycle.test.ts
  server/db/migrations/078_baseline.ts
  server/db/schema.ts
Due: server

chore: remove dead execMarketplaceTrialExpiry handler (#1009)
  server/scheduler/handlers/marketplace-trial-expiry.ts
Due: server

fix: sidebar not scrollable on desktop (#1015)
  client/src/app/shared/components/sidebar.component.ts
Due: client

feat: use in-memory DB for test runs to prevent production pollution (#1016)
  bunfig.toml
  server/__tests__/setup.ts
  server/__tests__/try-mode.test.ts
  server/db/connection.ts
Due: server

feat: add test data purge utility and admin endpoint (#1017)
  package.json
  scripts/purge-test-data.ts
  server/__tests__/purge-test-data.test.ts
  server/db/audit.ts
  server/db/purge-test-data.ts
  server/middleware/guards.ts
  server/routes/settings.ts
Due: server

feat: dashboard and work task UI polish (#1023)
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

feat: council list search/sort/pagination + schedule exec stats (#1024)
  client/src/app/features/councils/council-list.component.spec.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
Due: client

feat: add /tasks, /schedule, /config Discord slash commands (#1025)
  server/__tests__/discord-commands-additional.test.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

docs: make project welcoming to new contributors (#1040)
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/good_first_issue.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

feat: mobile responsiveness + dark mode CSS variable consistency
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/styles.css
Due: client

feat: duration display, empty states, skeleton loading polish
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/pipes/duration.pipe.ts
Due: client

feat: mobile responsiveness + dark mode CSS variable consistency (#1026)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/styles.css
Due: client

feat: duration display, empty states, skeleton loading (#1027)
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/pipes/duration.pipe.ts
Due: client

fix: update cli-interactive thinking tests to match no-op renderThinking
  server/__tests__/cli-interactive.test.ts
Due: server

fix: CLI streaming, WS keepalive, and Discord gateway intents
  CONTRIBUTING.md
  README.md
  cli/client.ts
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/render.ts
  server/discord/gateway.ts
Due: server

fix: update renderThinking tests to match no-op behavior
  server/__tests__/cli-render.test.ts
Due: server

fix: update migration_files count in README from 85 to 7
  README.md
Due: none

fix: correct migration count in docs to match actual (7, not 85)
  CONTRIBUTING.md
Due: none

fix: CLI streaming, WS keepalive, and Discord gateway intents (#1033)
  CONTRIBUTING.md
  README.md
  cli/client.ts
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/render.ts
  server/__tests__/cli-interactive.test.ts
  server/__tests__/cli-render.test.ts
  server/discord/gateway.ts
Due: server

feat: tiered Claude model dispatch (Opus/Sonnet/Haiku) + gate Ollama behind feature flag (#1035)
  server/__tests__/model-router.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/__tests__/provider-registry.test.ts
  server/__tests__/providers.test.ts
  server/providers/fallback.ts
  server/providers/registry.ts
  server/providers/router.ts
  server/providers/types.ts
  specs/providers/provider-system.spec.md
Due: server

fix: update renderThinking tests to match no-op implementation
  server/__tests__/cli-render.test.ts
Due: server

fix: update E2E models test to handle Ollama feature flag gating
  e2e/models.spec.ts
Due: none

feat: add unique project names constraint per tenant
  server/db/migrations/083_unique_project_names.ts
Due: server

fix: use unique project names in tests to satisfy new unique constraint
  server/__tests__/scheduler-service.test.ts
  server/__tests__/session-lifecycle.test.ts
Due: server

fix: correct migration file counts in docs (85 → 8 squashed files)
  docs/deep-dive.md
Due: none

fix: add test coverage for CLI leading-newline stripping
  CONTRIBUTING.md
  README.md
  cli/commands/chat.ts
  cli/commands/interactive.ts
  server/__tests__/cli-chat.test.ts
  server/__tests__/cli-interactive.test.ts
Due: server

feat: tiered Claude model dispatch (Opus/Sonnet/Haiku) + gate Ollama behind feature flag (#1035) (#1052)
  e2e/models.spec.ts
  server/__tests__/cli-render.test.ts
  server/__tests__/model-router.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/__tests__/provider-registry.test.ts
  server/__tests__/providers.test.ts
  server/providers/fallback.ts
  server/providers/registry.ts
  server/providers/router.ts
  server/providers/types.ts
  specs/providers/provider-system.spec.md
Due: server

chore: repo hygiene — unique project names, doc updates, CLI fixes (#1028)
  CONTRIBUTING.md
  README.md
  cli/commands/chat.ts
  cli/commands/interactive.ts
  docs/deep-dive.md
  server/__tests__/cli-chat.test.ts
  server/__tests__/cli-interactive.test.ts
  server/__tests__/scheduler-service.test.ts
  server/__tests__/session-lifecycle.test.ts
  server/db/migrations/083_unique_project_names.ts
Due: server
