Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(security): injection guard + RBAC hardening (#1387)
  server/__tests__/guards.test.ts
  server/__tests__/routes-councils.test.ts
  server/__tests__/routes-mcp-api.test.ts
  server/__tests__/routes-personas.test.ts
  server/__tests__/routes-proposals.test.ts
  server/__tests__/routes-sessions.test.ts
  server/__tests__/routes-skill-bundles.test.ts
  server/__tests__/routes-work-tasks.test.ts
Due: server

fix: remove flock-directory contract (#1390)
  contracts/flock-directory/contract.algo.ts
  contracts/flock-directory/tests/contract.test.ts
Due: none

fix: consolidate duplicate isCloudModel (#1391)
  server/__tests__/cloud-models.test.ts
  server/__tests__/exam-runner.test.ts
  server/exam/runner.ts
  server/lib/agent-tiers.ts
  specs/exam/exam.spec.md
  specs/lib/agent-utils.spec.md
Due: server

feat(discord): /agent-skill and /agent-persona commands (#1386)
  docs/deep-dive.md
  server/__tests__/discord-agent-config-commands.test.ts
  server/algochat/discovery-service.ts
  server/algochat/group-sender.ts
  server/algochat/message-router.ts
  server/discord/command-handlers/agent-config-commands.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/commands.ts
  server/memory/arc69-store.ts
  server/types/ts-algochat.d.ts
  specs/discord/agent-config-commands.spec.md
Due: server

feat(docs): add request/response examples for all API endpoints (#1394)
  server/openapi/generator.ts
  server/openapi/routes/agents.ts
  server/openapi/routes/algochat.ts
  server/openapi/routes/allowlist.ts
  server/openapi/routes/analytics.ts
  server/openapi/routes/auth.ts
  server/openapi/routes/billing.ts
  server/openapi/routes/councils.ts
  server/openapi/routes/escalation.ts
  server/openapi/routes/integrations.ts
  server/openapi/routes/marketplace.ts
  server/openapi/routes/mcp.ts
  server/openapi/routes/mention-polling.ts
  server/openapi/routes/plugins.ts
  server/openapi/routes/projects.ts
  server/openapi/routes/providers.ts
  server/openapi/routes/reputation.ts
  server/openapi/routes/sandbox.ts
  server/openapi/routes/schedules.ts
  server/openapi/routes/sessions.ts
  server/openapi/routes/system.ts
  server/openapi/routes/types.ts
  server/openapi/routes/webhooks.ts
  server/openapi/routes/work-tasks.ts
  server/openapi/routes/workflows.ts
Due: server

docs: update changelog and version badge for v0.45.0 release
  CHANGELOG.md
  README.md
Due: none

chore: release v0.45.0
  CHANGELOG.md
  README.md
Due: none

feat: enhance multi-agent discovery with capabilities, health overview
  cli/commands/provision.ts
  server/__tests__/flock-directory-tool-handler.test.ts
  server/__tests__/tool-handlers.test.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/mcp/tool-handlers/messaging.ts
  specs/mcp/tool-handlers.spec.md
Due: server

feat(ui): complete UI/UX overhaul — sidebar, error boundary, empty states, CSS fixes
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/shared/components/route-error.component.spec.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/styles.css
  specs/shared/route-error.spec.md
Due: client

fix: update drifted stats in deep-dive.md
  docs/deep-dive.md
Due: none

feat: enhance multi-agent discovery with capabilities, health overview (#1402)
  cli/commands/provision.ts
  server/__tests__/flock-directory-tool-handler.test.ts
  server/__tests__/tool-handlers.test.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/mcp/tool-handlers/messaging.ts
  specs/mcp/tool-handlers.spec.md
Due: server

feat(ui): complete UI/UX overhaul — sidebar, error boundary, empty states (#1403)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/shared/components/route-error.component.spec.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/styles.css
  docs/deep-dive.md
  specs/shared/route-error.spec.md
Due: client

feat(flock): cross-machine conflict resolution and capability-based routing
  docs/multi-agent-deployment.md
  server/__tests__/flock-capability-router.test.ts
  server/__tests__/flock-conflict-resolver.test.ts
  server/bootstrap.ts
  server/flock-directory/capability-router.ts
  server/flock-directory/conflict-resolver.ts
  server/flock-directory/service.ts
  server/routes/flock-directory.ts
  server/work/service.ts
  specs/flock-directory/capability-router.spec.md
  specs/flock-directory/conflict-resolver.spec.md
Due: server

chore: update stats after flock conflict resolver and capability router additions
  docs/deep-dive.md
Due: none

feat(flock): cross-machine conflict resolution and capability-based routing (#1404)
  docs/deep-dive.md
  docs/multi-agent-deployment.md
  server/__tests__/flock-capability-router.test.ts
  server/__tests__/flock-conflict-resolver.test.ts
  server/bootstrap.ts
  server/flock-directory/capability-router.ts
  server/flock-directory/conflict-resolver.ts
  server/flock-directory/service.ts
  server/routes/flock-directory.ts
  server/work/service.ts
  specs/flock-directory/capability-router.spec.md
  specs/flock-directory/conflict-resolver.spec.md
Due: server

chore: release v0.46.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

chore: release v0.46.0 (#1405)
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

refactor(work): extract session lifecycle methods into session-lifecycle.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
Due: server

refactor(work): extract session lifecycle methods into session-lifecycle.ts (#1406)
  server/work/service.ts
  server/work/session-lifecycle.ts
Due: server

fix(specs): add missing spec for session-lifecycle.ts
  specs/work/session-lifecycle.spec.md
Due: none

docs: fix stale stats in CONTRIBUTING.md, minor README update
  CONTRIBUTING.md
  README.md
Due: none

ci: create session-lifecycle.spec.md to restore 100% spec coverage
  specs/work/session-lifecycle.spec.md
Due: none

fix(db): renumber duplicate migration 100 files to 102 and 103
  server/db/migrations/102_agent_variants.ts
  server/db/migrations/103_pipeline_schedules.ts
  specs/db/migrations.spec.md
Due: server

fix: update legacy schema version to 103 and add missing session-lifecycle spec
  server/db/schema/index.ts
  specs/work/session-lifecycle.spec.md
Due: server

fix: update spec_files count in deep-dive.md to 182
  docs/deep-dive.md
Due: none

fix(ui): handle 404 errors gracefully in detail views
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(ui): handle 404 errors gracefully in detail views (#1411)
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/sessions/session-view.component.ts
  specs/work/session-lifecycle.spec.md
Due: client

docs: fix stale stats in CONTRIBUTING.md and README.md (#1408)
  CONTRIBUTING.md
  README.md
Due: none

fix(specs): add missing migration docs for 090, 094, 095 to migrations spec
  specs/db/migrations.spec.md
Due: none

fix(worktree): resolve project dir before creating worktree for clone_on_demand projects
  server/__tests__/algochat-message-router.test.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-public-mode.test.ts
  server/algochat/message-router.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/lib/worktree.ts
  specs/lib/worktree.spec.md
Due: server

fix(worktree): resolve project dir before creating worktree for clone_on_demand projects (#1413)
  server/__tests__/algochat-message-router.test.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-public-mode.test.ts
  server/algochat/message-router.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/lib/worktree.ts
  specs/lib/worktree.spec.md
Due: server

fix(specs): add missing migration docs for 090, 094, 095 to migrations spec (#1412)
  specs/db/migrations.spec.md
Due: none

test: expand coverage for agent-blocklist, group-sender, discord-config, and edge cases
  server/__tests__/agent-blocklist.test.ts
  server/__tests__/discord-config.test.ts
  server/__tests__/group-sender.test.ts
  server/__tests__/permission-broker.test.ts
  server/__tests__/reputation-scorer.test.ts
Due: server

fix: update spec_files count in deep-dive.md (181 → 182)
  docs/deep-dive.md
Due: none

feat(algochat): add per-agent conversation access control
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/conversation-access.test.ts
  server/algochat/conversation-access.ts
  server/algochat/message-router.ts
  server/db/agents.ts
  server/db/audit.ts
  server/db/conversation-access.ts
  server/db/migrations/102_conversation_access.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/routes/agents.ts
  shared/types/agents.ts
  specs/algochat/conversation-access.spec.md
Due: server

fix(ui): reclaim mobile screen space in session view
  client/src/app/app.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix(sessions): prevent sessions from getting stuck in 'running' state
  server/process/manager.ts
  server/routes/sessions.ts
Due: server

fix(ui): optimize session view for mobile — reclaim more screen space
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
Due: client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
