Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: keep direct-process sessions alive for multi-turn conversations (#877)
  server/process/direct-process.ts
Due: server

fix: document undocumented discord exports in spec
  specs/discord/bridge.spec.md
Due: none

security: injection hardening — unicode bypass detection, API route scanning, prompt leakage (#874) (#875)
  server/__tests__/injection-guard.test.ts
  server/__tests__/injection-hardening.test.ts
  server/lib/injection-guard.ts
  server/lib/prompt-injection.ts
  server/routes/a2a.ts
  server/routes/agents.ts
Due: server

fix: refresh Discord slash commands on agent CRUD (#878) (#879)
  server/__tests__/discord-slash-refresh.test.ts
  server/discord/bridge.ts
  server/index.ts
  server/routes/agents.ts
  server/routes/index.ts
Due: server

feat: WebSocket shared type layer between server and client (#870)
  client/src/app/core/models/work-task.model.ts
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/mention-polling.service.ts
  client/src/app/core/services/schedule.service.ts
  client/src/app/core/services/session.service.ts
  client/src/app/core/services/webhook.service.ts
  client/src/app/core/services/websocket.service.ts
  client/src/app/core/services/work-task.service.ts
  client/src/app/core/services/workflow.service.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/governance-vote-panel.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/sessions/approval-dialog.component.spec.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/tsconfig.json
  shared/ws-protocol.ts
  specs/ws/handler.spec.md
Due: server, client

docs: sync stale stats in README and deep-dive (unit tests, routes, migrations) (#885)
  README.md
  docs/deep-dive.md
Due: none

test: add route integration tests for flock-directory endpoints (#888)
  server/__tests__/routes-flock-directory.test.ts
Due: server

docs: lead README with curl one-liner install CTA (#897)
  README.md
  docs/index.html
Due: none

fix: keep direct-process sessions alive for multi-turn conversations (#877) (#900)
  server/process/direct-process.ts
Due: server

feat: Discord public channel mode, smart messaging, and UX improvements (#899)
  server/__tests__/discord-public-mode.test.ts
  server/__tests__/message-formatter.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/gateway.ts
  server/discord/message-formatter.ts
  server/discord/types.ts
  specs/discord/bridge.spec.md
Due: server

chore: squash migrations at v0.21.0 boundary (#872)
  README.md
  docs/deep-dive.md
  server/__tests__/verification.test.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/002_per_agent_spending_caps.ts
  server/db/migrations/003_persistent_rate_limits.ts
  server/db/migrations/053_identity_escrow.ts
  server/db/migrations/054_github_allowlist.ts
  server/db/migrations/055_multi_tenant.ts
  server/db/migrations/056_api_key_expiry.ts
  server/db/migrations/057_schedule_trigger_events.ts
  server/db/migrations/058_performance_metrics.ts
  server/db/migrations/059_repo_locks.ts
  server/db/migrations/060_health_snapshots.ts
  server/db/migrations/061_pr_outcomes.ts
  server/db/migrations/062_tenant_resource_isolation.ts
  server/db/migrations/063_subscription_items.ts
  server/db/migrations/064_repo_blocklist.ts
  server/db/migrations/065_permission_broker.ts
  server/db/migrations/066_dedup_state.ts
  server/db/migrations/067_governance_tiers.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/migrations/069_usdc_revenue.ts
  server/db/migrations/070_algochat_defaults.ts
  server/db/migrations/071_governance_quorum.ts
  server/db/migrations/072_governance_proposals.ts
  server/db/migrations/073_encrypt_env_vars.ts
  server/db/migrations/074_marketplace_subscriptions.ts
  server/db/migrations/075_flock_directory.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/078_marketplace_trials.ts
  server/db/migrations/078_marketplace_usage_events.ts
  server/db/schema.ts
  server/work/verification.ts
Due: server

feat: add on-chain FlockDirectory client with ARC56 contract artifacts (#901)
  server/__tests__/flock-directory-on-chain.test.ts
  server/db/migrations/079_flock_directory_config.ts
  server/db/schema.ts
  server/flock-directory/contract/FlockDirectory.approval.teal
  server/flock-directory/contract/FlockDirectory.arc56.json
  server/flock-directory/contract/FlockDirectory.clear.teal
  server/flock-directory/deploy.ts
  server/flock-directory/on-chain-client.ts
Due: server

refactor: use AlgoKit typed client for FlockDirectory on-chain integration
  bun.lock
  package.json
  server/__tests__/flock-directory-on-chain.test.ts
  server/flock-directory/contract/FlockDirectory.approval.teal
  server/flock-directory/contract/FlockDirectory.arc56.json
  server/flock-directory/contract/FlockDirectory.clear.teal
  server/flock-directory/contract/FlockDirectoryClient.generated.ts
  server/flock-directory/on-chain-client.ts
Due: server

release: v0.22.0 — marketplace ecosystem, flock directory, MCP expansion
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

refactor: use AlgoKit typed client for FlockDirectory on-chain integration
  CHANGELOG.md
  bun.lock
  docs/deep-dive.md
  package.json
  server/__tests__/flock-directory-on-chain.test.ts
  server/db/schema.ts
  server/flock-directory/contract/FlockDirectory.approval.teal
  server/flock-directory/contract/FlockDirectory.arc56.json
  server/flock-directory/contract/FlockDirectory.clear.teal
  server/flock-directory/contract/FlockDirectoryClient.generated.ts
  server/flock-directory/on-chain-client.ts
Due: server

fix: update migration count after squash (30 → 2) to fix stats drift
  README.md
  docs/deep-dive.md
Due: none

release: v0.22.0 (#905)
  CHANGELOG.md
  README.md
  bun.lock
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/flock-directory-on-chain.test.ts
  server/__tests__/routes-health.test.ts
  server/db/migrations/079_flock_directory_config.ts
  server/db/schema.ts
  server/flock-directory/contract/FlockDirectory.arc56.json
  server/flock-directory/contract/FlockDirectoryClient.generated.ts
  server/flock-directory/deploy.ts
  server/flock-directory/on-chain-client.ts
Due: server

test: add coverage for scheduler orchestration and marketplace subscriptions
  server/__tests__/orchestration.test.ts
  server/__tests__/subscriptions.test.ts
Due: server

feat: hybrid FlockDirectoryService with on-chain sync (#902)
  server/__tests__/flock-directory-hybrid.test.ts
  server/algochat/init.ts
  server/flock-directory/service.ts
  server/mcp/tool-handlers/flock-directory.ts
  specs/mcp/tool-handlers.spec.md
Due: server

fix: grant contents:write to docker-publish for SBOM release attachment
  .github/workflows/docker-publish.yml
Due: none

test: add coverage for scheduler orchestration and marketplace subscriptions (#906)
  server/__tests__/orchestration.test.ts
  server/__tests__/subscriptions.test.ts
Due: server

feat: hybrid FlockDirectoryService with on-chain sync (#902) (#907)
  server/__tests__/flock-directory-hybrid.test.ts
  server/algochat/init.ts
  server/flock-directory/service.ts
  server/mcp/tool-handlers/flock-directory.ts
  specs/mcp/tool-handlers.spec.md
Due: server

fix: grant contents:write to docker-publish for SBOM release attachment (#908)
  .github/workflows/docker-publish.yml
Due: none

feat: DB-backed Discord dynamic configuration
  server/db/audit.ts
  server/db/discord-config.ts
  server/db/migrations/080_discord_config.ts
  server/discord/bridge.ts
  server/discord/types.ts
  server/index.ts
  server/routes/settings.ts
Due: server

fix: add discord_config table to legacy schema for baseline test
  server/db/schema.ts
Due: server

feat: Discord settings UI + remove thread renaming
  client/src/app/features/settings/settings.component.ts
  server/discord/bridge.ts
Due: server, client

fix: address review feedback on Discord dynamic config
  server/discord/bridge.ts
  server/routes/settings.ts
  specs/discord/bridge.spec.md
Due: server

docs: update stats for Discord dynamic config migration
  README.md
  docs/deep-dive.md
Due: none

feat: DB-backed Discord dynamic configuration (#909)
  README.md
  client/src/app/features/settings/settings.component.ts
  docs/deep-dive.md
  server/db/audit.ts
  server/db/discord-config.ts
  server/db/migrations/080_discord_config.ts
  server/db/schema.ts
  server/discord/bridge.ts
  server/discord/types.ts
  server/index.ts
  server/routes/settings.ts
  specs/discord/bridge.spec.md
Due: server, client

feat: Discord onboarding flow for new users (#890)
  server/__tests__/discord-bridge.test.ts
  server/discord/bridge.ts
Due: server

feat: Discord onboarding flow for new users (#890) (#910)
  server/__tests__/discord-bridge.test.ts
  server/discord/bridge.ts
Due: server

release: v0.23.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  docs/index.html
  package.json
Due: none

fix: bump Helm Chart.yaml to v0.23.0
  deploy/helm/Chart.yaml
Due: none

release: v0.23.0 (#911)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  docs/index.html
  package.json
Due: none

fix: remove 👀 reaction on Discord message receipt
  server/discord/bridge.ts
  specs/discord/bridge.spec.md
Due: server

fix: remove 👀 reaction on Discord message receipt (#912)
  server/discord/bridge.ts
  specs/discord/bridge.spec.md
Due: server

release: v0.23.1
  deploy/helm/Chart.yaml
  package.json
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
