Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: add missing automate/schedules redirect and fix import ordering
  client/src/app/app.routes.ts
  server/routes/settings.ts
Due: server, client

fix: resolve e2e test failures (issue #1988)
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/chat-tabs.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/work-tasks.spec.ts
Due: client

feat(settings): runtime config API and env-status endpoint (#1490)
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/runtime-settings.component.ts
  client/src/app/features/settings/settings.component.ts
  server/db/audit.ts
  server/db/runtime-config.ts
  server/routes/settings.ts
  specs/config/loader.spec.md
Due: server, client

fix: resolve CI failures — lint formatting and spec documentation
  server/__tests__/session-timer-manager.test.ts
  specs/config/loader.spec.md
Due: server

fix: add runtime_config migration and tests for codecov/patch coverage
  server/__tests__/routes-settings.test.ts
  server/__tests__/runtime-config.test.ts
  server/db/migrations/120_runtime_config.ts
  server/db/schema/index.ts
Due: server

fix: update migration_files count to 43 in deep-dive docs
  docs/deep-dive.md
Due: none

fix: resolve 3 Biome lint errors blocking CI
  server/__tests__/session-timer-manager.test.ts
  server/routes/settings.ts
Due: server

feat: add cross-channel messaging guard for TODO(#1067)
  server/__tests__/cross-channel-guard.test.ts
  server/mcp/tool-handlers/cross-channel-guard.ts
  specs/mcp/tools/tool-handlers.spec.md
Due: server

fix: correct spec table format for cross-channel-guard exports
  specs/mcp/tools/tool-handlers.spec.md
Due: none

fix: add missing automate/schedules redirect and fix import ordering (#1999)
  client/src/app/app.routes.ts
  server/routes/settings.ts
Due: server, client

docs: rewrite README with developer quickstart and getting started guide (#1992)
  README.md
Due: none

feat: compile CHANGELOG.md and release notes for v1.0.0 (#1994)
  CHANGELOG.md
  docs/RELEASE-NOTES.md
Due: none

docs: TypeScript 6.0.2 upgrade evaluation — GO decision (#1981)
  .specsync/hashes.json
  docs/TYPESCRIPT_6_0_UPGRADE_EVALUATION.md
Due: none

docs: backup and disaster recovery guide (#1991)
  README.md
  docs/backup-and-recovery.md
Due: none

docs: backup and disaster recovery guide (#1991) (#1993)
  README.md
  docs/backup-and-recovery.md
Due: none

refactor(client): consolidate dead settings feature dirs into settings-* pages (#1996)
  client/src/app/features/settings-access/allowlist.component.ts
  client/src/app/features/settings-access/github-allowlist.component.ts
  client/src/app/features/settings-access/repo-blocklist.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/security-overview.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings-security/spending.component.ts
  client/src/app/features/settings-security/wallet-viewer.component.ts
Due: client

refactor(client): consolidate dead feature dirs into unified feature dirs (#1997)
  client/src/app/features/comms/agent-comms.component.ts
  client/src/app/features/comms/agent-network-3d.component.ts
  client/src/app/features/comms/agent-network-vis.component.ts
  client/src/app/features/comms/live-feed.component.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/memory/brain-viewer.component.spec.ts
  client/src/app/features/memory/brain-viewer.component.ts
  client/src/app/features/memory/memory-browser.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/settings-integrations/contact-list.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
Due: client

Fix 3 Biome lint errors blocking CI (#2007)
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/chat-tabs.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/work-tasks.spec.ts
  server/__tests__/session-timer-manager.test.ts
Due: server, client

chore: update @anthropic-ai/claude-agent-sdk from 0.2.104 to 0.2.107
  bun.lock
  package.json
Due: none

fix: mock fetch in federation test to prevent DNS timeout in CI
  server/__tests__/marketplace-service.test.ts
Due: server

chore: update @anthropic-ai/claude-agent-sdk 0.2.104→0.2.107 (#2010)
  bun.lock
  package.json
  server/__tests__/marketplace-service.test.ts
Due: server

feat(deploy): fix data persistence, improve install.sh, add cloud deployment options (#1986)
  deploy/Dockerfile
  deploy/README.md
  deploy/docker-compose.yml
  deploy/helm/values.yaml
  deploy/k8s/configmap.yaml
  docker-compose.yml
  fly.toml
  railway.toml
  render.yaml
  scripts/install.sh
Due: none

feat: cross-channel messaging guard for TODO(#1067) (#2008)
  server/__tests__/cross-channel-guard.test.ts
  server/mcp/tool-handlers/cross-channel-guard.ts
  specs/mcp/tools/tool-handlers.spec.md
Due: server

refactor: remove consolidated feature directories from client UI
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
Due: client

fix: remove dead wrapper components and update routes for removed features
  .specsync/hashes.json
  client/src/app/app.routes.ts
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
Due: client

refactor: remove consolidated feature directories from client UI (#2000)
  .specsync/hashes.json
  client/src/app/app.routes.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
Due: client

fix: lint and formatting — use dot notation for string keys, fix line breaks
  shared/ws-protocol.ts
Due: server

test: add coverage for telegram config delete and defaultAgentId
  server/__tests__/routes-settings.test.ts
  server/__tests__/telegram-config.test.ts
Due: server

fix: remove unused variable to resolve CI TypeScript check
  server/__tests__/routes-settings.test.ts
Due: server

fix: resolve CI failures — duplicate imports and index signature access
  shared/ws-protocol.ts
Due: server

feat(telegram): runtime config for allowed users, mode, and agent selection
  .specsync/hashes.json
  cli/commands/settings.ts
  server/bootstrap.ts
  server/db/audit.ts
  server/db/telegram-config.ts
  server/routes/settings.ts
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
Due: server

feat(telegram): runtime config for allowed users, mode, and agent selection (#1984)
  .specsync/hashes.json
  cli/commands/settings.ts
  server/__tests__/routes-settings.test.ts
  server/__tests__/telegram-config.test.ts
  server/bootstrap.ts
  server/db/audit.ts
  server/db/telegram-config.ts
  server/routes/settings.ts
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
Due: server

docs: add Tailscale remote access section to deploy/README.md
  deploy/README.md
Due: none

fix: resolve CI failures — use bracket notation for index signature access
  biome.json
  server/routes/settings.ts
  shared/ws-protocol.ts
Due: server
