Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: correct db_tables count after index.ts exclusion
  docs/deep-dive.md
Due: none

docs: sync README and deep-dive stats with v0.34.0 actuals
  README.md
  docs/deep-dive.md
Due: none

docs: add JSDoc @param/@returns to exported functions in server/lib/
  server/lib/crypto.ts
  server/lib/logger.ts
  server/lib/validation.ts
Due: server

feat: progressive context compression before crash (#1121)
  server/__tests__/direct-process-utils.test.ts
  server/process/direct-process.ts
  server/process/manager.ts
Due: server

fix: update spec_files count from 151 to 152
  README.md
  docs/deep-dive.md
Due: none

fix: resolve CI failures — document new exports in spec, update spec_files count
  README.md
  docs/deep-dive.md
  specs/process/direct-process.spec.md
Due: none

chore: update spec_files count to 152 (#1175)
  README.md
  docs/deep-dive.md
Due: none

feat: hide misleading reputation scores for agents with no activity (#1177)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/improvement-loop.test.ts
  server/__tests__/prompt-builder.test.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
Due: server, client

refactor: decompose schema.ts into domain-colocated schema files (#1178)
  docs/deep-dive.md
  scripts/collect-stats.ts
  scripts/spec-check.ts
  server/db/schema.ts
  server/db/schema/agents.ts
  server/db/schema/algochat.ts
  server/db/schema/auth.ts
  server/db/schema/contacts.ts
  server/db/schema/councils.ts
  server/db/schema/credits.ts
  server/db/schema/discord.ts
  server/db/schema/flock.ts
  server/db/schema/index.ts
  server/db/schema/marketplace.ts
  server/db/schema/memory.ts
  server/db/schema/model-exams.ts
  server/db/schema/monitoring.ts
  server/db/schema/notifications.ts
  server/db/schema/projects.ts
  server/db/schema/reputation.ts
  server/db/schema/schedules.ts
  server/db/schema/sessions.ts
  server/db/schema/webhooks.ts
  server/db/schema/work.ts
  server/db/schema/workflows.ts
  specs/db/schema.spec.md
  specs/reputation/response-feedback.spec.md
Due: server

docs: sync README and deep-dive stats with v0.34.0 (#1179)
  README.md
  docs/deep-dive.md
Due: none

docs: add JSDoc to exported functions in server/lib/ (#1187)
  server/lib/crypto.ts
  server/lib/logger.ts
  server/lib/validation.ts
Due: server

feat: proactive context compression before crash (#1189)
  server/__tests__/direct-process-utils.test.ts
  server/process/direct-process.ts
  server/process/manager.ts
  specs/process/direct-process.spec.md
Due: server

docs: formalize two-tier memory architecture (localnet long-term, SQLite short-term)
  CLAUDE.md
  docs/deep-dive.md
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  specs/db/memory-sync.spec.md
  specs/memory/memory.spec.md
Due: server

feat: add session metadata to Discord embed footers
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-mention-sessions.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/093_mention_session_project_name.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server

refactor: decompose route-registry.ts (1452 LOC) into domain-colocated route metadata modules
  server/openapi/route-registry.ts
  server/openapi/routes/agents.ts
  server/openapi/routes/algochat.ts
  server/openapi/routes/allowlist.ts
  server/openapi/routes/analytics.ts
  server/openapi/routes/auth.ts
  server/openapi/routes/billing.ts
  server/openapi/routes/councils.ts
  server/openapi/routes/escalation.ts
  server/openapi/routes/integrations.ts
  server/openapi/routes/marketplace.ts
  server/openapi/routes/mcp.ts
  server/openapi/routes/mention-polling.ts
  server/openapi/routes/plugins.ts
  server/openapi/routes/projects.ts
  server/openapi/routes/providers.ts
  server/openapi/routes/reputation.ts
  server/openapi/routes/sandbox.ts
  server/openapi/routes/schedules.ts
  server/openapi/routes/sessions.ts
  server/openapi/routes/system.ts
  server/openapi/routes/types.ts
  server/openapi/routes/webhooks.ts
  server/openapi/routes/work-tasks.ts
  server/openapi/routes/workflows.ts
Due: server

fix: update migration_files stat from 15 to 16
  README.md
  docs/deep-dive.md
Due: none

fix: add decomposed route module files to openapi spec coverage
  specs/openapi/openapi.spec.md
Due: none

fix: make migration 093 idempotent to avoid duplicate column error
  server/db/migrations/093_mention_session_project_name.ts
Due: server

fix: document decomposed route module exports in openapi spec
  specs/openapi/openapi.spec.md
Due: none

test: add buildFooterText and mention session project_name coverage
  server/__tests__/discord-embeds-validation.test.ts
  server/__tests__/discord-mention-sessions.test.ts
Due: server

fix: document all route exports in openapi spec for strict mode
  specs/openapi/openapi.spec.md
Due: none

feat: auto-save session summary to memory on clean exit (#1186)
  server/__tests__/session-memory-autosave.test.ts
  server/process/manager.ts
  specs/memory/memory.spec.md
Due: server

feat: add external MCP servers to SDK path + expand gallery to 15 servers
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server, client

refactor: decompose route-registry.ts (1452 LOC) into domain-colocated modules (#1190)
  server/openapi/route-registry.ts
  server/openapi/routes/agents.ts
  server/openapi/routes/algochat.ts
  server/openapi/routes/allowlist.ts
  server/openapi/routes/analytics.ts
  server/openapi/routes/auth.ts
  server/openapi/routes/billing.ts
  server/openapi/routes/councils.ts
  server/openapi/routes/escalation.ts
  server/openapi/routes/integrations.ts
  server/openapi/routes/marketplace.ts
  server/openapi/routes/mcp.ts
  server/openapi/routes/mention-polling.ts
  server/openapi/routes/plugins.ts
  server/openapi/routes/projects.ts
  server/openapi/routes/providers.ts
  server/openapi/routes/reputation.ts
  server/openapi/routes/sandbox.ts
  server/openapi/routes/schedules.ts
  server/openapi/routes/sessions.ts
  server/openapi/routes/system.ts
  server/openapi/routes/types.ts
  server/openapi/routes/webhooks.ts
  server/openapi/routes/work-tasks.ts
  server/openapi/routes/workflows.ts
  specs/openapi/openapi.spec.md
Due: server

feat: add external MCP servers to SDK path + expand gallery to 15 servers (#1191)
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server, client

feat: two-tier memory architecture with session auto-save (#1186) (#1188)
  CLAUDE.md
  README.md
  docs/deep-dive.md
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-embeds-validation.test.ts
  server/__tests__/discord-mention-sessions.test.ts
  server/__tests__/session-memory-autosave.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/093_mention_session_project_name.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/process/manager.ts
  specs/db/discord-mention-sessions.spec.md
  specs/db/memory-sync.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/memory/memory.spec.md
Due: server

chore: release v0.35.0 — bump version, sync stats across README and docs
  README.md
  docs/deep-dive.md
  package.json
Due: none

chore: open-source messaging cleanup — remove internal branding, make A2A configurable
  CODE_OF_CONDUCT.md
  VISION.md
  cli/index.ts
  server/a2a/agent-card.ts
Due: server

chore: release v0.35.0 (#1192)
  CODE_OF_CONDUCT.md
  README.md
  VISION.md
  cli/index.ts
  docs/deep-dive.md
  package.json
  server/a2a/agent-card.ts
Due: server

fix: merge process.env into SDK MCP server environment
  server/process/sdk-process.ts
Due: server

fix: merge process.env into SDK MCP server environment (#1193)
  server/process/sdk-process.ts
Due: server

chore: release v0.35.1
  package.json
Due: none

chore: release v0.35.1 (#1194)
  package.json
Due: none

fix: extract buildMcpServerEnv helper for test coverage
  server/__tests__/sdk-process.test.ts
  server/process/sdk-process.ts
  specs/process/sdk-process.spec.md
Due: server

docs: add troubleshooting, configuration, and CLI reference guides (#1182)
  docs/cli-reference.md
  docs/configuration.md
  docs/troubleshooting.md
Due: none

feat: add on-chain memory reader and sync tools
  server/__tests__/on-chain-memory-reader.test.ts
  server/algochat/agent-messenger.ts
  server/algochat/on-chain-transactor.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/mcp-api.ts
  specs/algochat/on-chain.spec.md
  specs/mcp/tool-handlers.spec.md
Due: server

feat: multi-agent dashboard UX — onboarding, flock browser, profiles, analytics
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

docs: add troubleshooting, configuration, and CLI reference (#1195)
  docs/cli-reference.md
  docs/configuration.md
  docs/troubleshooting.md
Due: none
