Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix(ollama): classify HTTP 500 as transient, verify 404/400 as permanent (#1574)
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
  specs/providers/provider-system.spec.md
Due: server

fix(spec): document OLLAMA_DEFAULT_LOCAL_MODEL in provider-system spec (#1575)
  specs/providers/provider-system.spec.md
Due: none

docs: prep v0.56.0 release — README, CHANGELOG, site updates
  CHANGELOG.md
  README.md
  docs/index.html
  docs/releases.html
  package.json
Due: none

feat(library): boot-time library loader + spec for librarian permissions
  server/bootstrap.ts
  server/memory/library-boot.ts
  specs/memory/arc69-library.spec.md
Due: server

fix(work): inject agent signature into work task PR prompt
  server/work/service.ts
Due: server

feat(ui): add agent network constellation visualization
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
Due: client

fix: remove duplicate agent signature from work task prompt
  server/work/service.ts
Due: server

fix(discord): apply rate limiting to slash command interactions
  server/__tests__/discord-agent-config-commands.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-schedule-commands.test.ts
  server/discord/bridge.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

feat(discord): add agent avatar/icon to embed author field (#1548)
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
Due: server

revert: remove Layer 1 changes from Discord rate-limiting branch
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

fix: resolve CI failures — update test args and spec for agent personalization
  server/__tests__/discord-command-handlers.test.ts
  specs/discord/bridge.spec.md
Due: server

feat(discord): agent personalization — avatars & icons in embeds (#1592)
  server/__tests__/discord-command-handlers.test.ts
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/discord/bridge.spec.md
Due: server

fix(discord): apply rate limiting to slash command interactions (#1593)
  server/__tests__/discord-agent-config-commands.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/discord-schedule-commands.test.ts
  server/discord/bridge.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

feat(library): boot-time library loader + spec for librarian permissions (#1589)
  server/bootstrap.ts
  server/memory/library-boot.ts
  specs/memory/arc69-library.spec.md
Due: server

feat(ui): add agent network constellation visualization (#1591)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
Due: client

test(councils): add Ollama council participation smoke tests (closes #1528)
  server/__tests__/council-mixed-provider.test.ts
Due: server

feat(ui): consolidate dashboard views — Memory, Comms, Settings (#1595–#1600)
  client/src/app/app.routes.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  specs/client/sidebar-navigation.spec.md
  specs/dashboard/memory-brain-viewer.spec.md
Due: client

feat(ui): streamline dashboard — remove duplicate widgets (#1598)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix(spec): document UnifiedMemoryComponent export in memory-brain-viewer spec
  specs/dashboard/memory-brain-viewer.spec.md
Due: none

security: resolve path-to-regexp DoS vulnerabilities in MCP SDK
  bun.lock
  package.json
Due: none

revert: remove Layer 1 changes — governance compliance
  bun.lock
  package.json
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

docs: add 6 missing route modules to routes.spec.md
  specs/routes/routes.spec.md
Due: none

fix(spec): document FlockTestingDeps export in routes spec
  specs/routes/routes.spec.md
Due: none

fix(work): add agent_id param to corvid_create_work_task for delegation
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  specs/mcp/tool-handlers.spec.md
  specs/work/work-task-service.spec.md
Due: server

test(work): add coverage for agent_id delegation parameter
  server/__tests__/tool-handlers.test.ts
Due: server

fix(cursor): prepend system prompt as XML tags instead of --system-prompt flag
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
Due: server

fix(tests): revert Layer 1 changes, align cursor/fallback tests with production code
  server/__tests__/provider-fallback.test.ts
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
  server/providers/fallback.ts
Due: server

fix(tests): align cursor/fallback tests with production code, revert unauthorized Layer 1 changes (#1604)
  server/__tests__/council-mixed-provider.test.ts
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

fix(security): resolve CodeQL alerts — TOCTOU races, fd leak, memory schema consolidation
  cli/commands/provision.ts
  server/db/migrations/108_memory_book_pages.ts
  server/index.ts
  server/mcp/schemas/memory-tools.ts
Due: server

fix(security): add restrictive mode to temp dir creation in tests
  server/__tests__/skill-loader.test.ts
Due: server

fix(security): resolve CodeQL alerts — TOCTOU, fd leak, schema consolidation (#1608)
  cli/commands/provision.ts
  server/__tests__/skill-loader.test.ts
  server/db/migrations/108_memory_book_pages.ts
  server/index.ts
  server/mcp/schemas/memory-tools.ts
Due: server

feat(work): add delegation attribution with agent ID param (#1606)
  server/__tests__/tool-handlers.test.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  specs/mcp/tool-handlers.spec.md
  specs/work/work-task-service.spec.md
Due: server

docs: fix version mismatch and update routes spec (#1605)
  client/src/app/app.routes.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/shared/components/sidebar.component.ts
  specs/client/sidebar-navigation.spec.md
  specs/dashboard/memory-brain-viewer.spec.md
  specs/routes/routes.spec.md
Due: client

feat(ui): consolidate nav + inline persona/skills editing (#1595–#1600)
  client/src/app/app.routes.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/sessions/session-launcher.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client
