Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: replace mock.module with spyOn in discord tests to prevent mock leakage
  server/__tests__/discord-guild-api.test.ts
  server/__tests__/discord-tool-handlers.test.ts
  server/__tests__/thread-lifecycle.test.ts
Due: server

fix: prevent leaked Discord REST client errors from failing unrelated tests
  server/__tests__/resilience.test.ts
  server/__tests__/setup.ts
Due: server

fix: retry scheduler work tasks on conflict instead of rejecting (#1891)
  server/__tests__/discord-guild-api.test.ts
  server/__tests__/discord-tool-handlers.test.ts
  server/__tests__/resilience.test.ts
  server/__tests__/scheduler-work-task-handler.test.ts
  server/__tests__/setup.ts
  server/__tests__/thread-lifecycle.test.ts
  server/__tests__/work-task-race-recovery.test.ts
  server/scheduler/handlers/work-task.ts
  server/work/service.ts
Due: server

feat(discord): add voice channel join/leave support (Phase 1)
  bun.lock
  package.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/gateway.ts
  server/discord/voice/connection-manager.ts
Due: server

feat(discord): add voice STT — receive and transcribe audio (Phase 2)
  bun.lock
  package.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/audio-receiver.ts
  server/discord/voice/connection-manager.ts
Due: server

feat(discord): add voice channel join/leave and STT support (Phase 1+2)
  bun.lock
  package.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/gateway.ts
  server/discord/voice/audio-receiver.ts
  server/discord/voice/connection-manager.ts
Due: server

feat(discord): add voice TTS playback — speak in voice channels (Phase 3)
  .specsync/hashes.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/audio-player.ts
  server/discord/voice/connection-manager.ts
  skills/discord/SKILL.md
  specs/discord/requirements.md
  specs/discord/voice.spec.md
  specs/voice/voice.spec.md
Due: server

chore(ci): spec-sync hardening — registry audit, coverage gates (spec-sync#132) (#1886)
  .github/workflows/ci.yml
  specsync-registry.toml
  specsync.json
Due: none

feat(discord): add voice TTS playback — speak in voice channels (Phase 3) (#1902)
  .specsync/hashes.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/audio-player.ts
  server/discord/voice/connection-manager.ts
  skills/discord/SKILL.md
  specs/discord/requirements.md
  specs/discord/voice.spec.md
  specs/voice/voice.spec.md
Due: server

security: enforce rate limiting for anonymous feedback submissions
  server/routes/reputation.ts
Due: server

security: enforce rate limiting for anonymous feedback submissions (#1888)
  server/routes/reputation.ts
Due: server

fix(ci): add missing spec coverage for 4 files and correct stats drift
  docs/deep-dive.md
  specs/lib/infra.spec.md
  specs/providers/ollama-provider.spec.md
  specs/reputation/scorer.spec.md
  specs/sandbox/sandbox.spec.md
Due: none

chore(specs): quality pass — graduate, prune, invariant tests (spec-sync#131)
  .specsync/hashes.json
  server/__tests__/spec-invariants/algochat.spec-invariants.test.ts
  server/__tests__/spec-invariants/db.spec-invariants.test.ts
  server/__tests__/spec-invariants/process.spec-invariants.test.ts
  server/__tests__/spec-invariants/providers.spec-invariants.test.ts
  specs/algochat/commands.spec.md
  specs/algochat/conversation-access.spec.md
  specs/algochat/directory.spec.md
  specs/algochat/messaging.spec.md
  specs/algochat/on-chain.spec.md
  specs/algochat/service.spec.md
  specs/db/agents.spec.md
  specs/db/projects.spec.md
  specs/db/reputation-db.spec.md
  specs/db/sandbox-db.spec.md
  specs/db/work-tasks.spec.md
  specs/discord/thread-lifecycle.spec.md
  specs/discord/thread-session-map.spec.md
  specs/lib/first-run-banner.spec.md
  specs/lib/ollama-complexity-warning.spec.md
  specs/memory/arc69-library.spec.md
  specs/polling/github-polling.spec.md
  specs/process/approval.spec.md
  specs/process/claude-process.spec.md
  specs/process/session-lifecycle.spec.md
  specs/providers/anthropic-provider.spec.md
  specs/providers/openrouter-provider.spec.md
  specs/providers/provider-system.spec.md
  specs/routes/routes.spec.md
  specsync-registry.toml
Due: server

chore(specs): quality pass — graduate, prune, invariant tests (spec-sync#131) (#1885)
  .specsync/hashes.json
  docs/deep-dive.md
  server/__tests__/spec-invariants/algochat.spec-invariants.test.ts
  server/__tests__/spec-invariants/db.spec-invariants.test.ts
  server/__tests__/spec-invariants/process.spec-invariants.test.ts
  server/__tests__/spec-invariants/providers.spec-invariants.test.ts
  specs/algochat/commands.spec.md
  specs/algochat/conversation-access.spec.md
  specs/algochat/directory.spec.md
  specs/algochat/messaging.spec.md
  specs/algochat/on-chain.spec.md
  specs/algochat/service.spec.md
  specs/db/agents.spec.md
  specs/db/projects.spec.md
  specs/db/reputation-db.spec.md
  specs/db/sandbox-db.spec.md
  specs/db/work-tasks.spec.md
  specs/discord/thread-lifecycle.spec.md
  specs/discord/thread-session-map.spec.md
  specs/lib/first-run-banner.spec.md
  specs/lib/infra.spec.md
  specs/lib/ollama-complexity-warning.spec.md
  specs/memory/arc69-library.spec.md
  specs/polling/github-polling.spec.md
  specs/process/approval.spec.md
  specs/process/claude-process.spec.md
  specs/process/session-lifecycle.spec.md
  specs/providers/anthropic-provider.spec.md
  specs/providers/ollama-provider.spec.md
  specs/providers/openrouter-provider.spec.md
  specs/providers/provider-system.spec.md
  specs/reputation/scorer.spec.md
  specs/routes/routes.spec.md
  specs/sandbox/sandbox.spec.md
  specsync-registry.toml
Due: server

feat(discord): work task status updates — branching/running/validating progress embeds (#1491)
  .specsync/hashes.json
  server/__tests__/discord-bridge.test.ts
  server/discord/message-handler.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  specs/work/work-task-service.spec.md
Due: server

feat(discord): work task status updates — branching/running/validating progress embeds (#1491) (#1887)
  .specsync/hashes.json
  server/__tests__/discord-bridge.test.ts
  server/discord/message-handler.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  specs/work/work-task-service.spec.md
Due: server

chore: update bun.lock after hono dependency override tightening
  bun.lock
Due: none

fix: tighten hono dependency overrides to resolve 6 CVEs
  package.json
Due: none

fix(governance): use origin/main baseline + allow security version bumps in package.json
  server/work/validation.ts
Due: server

test: add coverage for status-change callbacks, pkg.json governance, and origin branch detection
  server/__tests__/work-task-lifecycle.test.ts
  server/__tests__/work-validation.test.ts
Due: server

fix(test): relax flaky jitter timing assertion for CI stability
  server/__tests__/resilience.test.ts
Due: server

fix: add test coverage for discord status change embeds to satisfy codecov/patch
  server/__tests__/discord-bridge.test.ts
Due: server

fix: tighten hono dependency overrides to resolve 6 CVEs (#1892)
  bun.lock
  package.json
  server/__tests__/discord-bridge.test.ts
  server/__tests__/resilience.test.ts
  server/__tests__/work-task-lifecycle.test.ts
  server/__tests__/work-validation.test.ts
  server/work/validation.ts
Due: server

fix(governance): revert Layer 0/1 changes, preserve governance schemas
  package.json
  server/__tests__/guards.test.ts
  server/lib/validation.ts
  server/middleware/guards.ts
Due: server

feat(governance): time-bound voting periods and veto mechanism (#633)
  .specsync/hashes.json
  client/src/app/core/models/governance.model.ts
  client/src/app/core/services/governance.service.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/governance-dashboard.component.ts
  server/bootstrap.ts
  server/db/migrations/115_governance_voting_periods_and_vetoes.ts
  server/db/proposals.ts
  server/db/schema/councils.ts
  server/lib/validation.ts
  server/routes/proposals.ts
  server/work/proposal-expiry.ts
  shared/types/councils.ts
Due: server, client

feat(governance): time-bound voting periods and veto mechanism (#1889)
  .specsync/hashes.json
  client/src/app/core/models/governance.model.ts
  client/src/app/core/services/governance.service.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/governance-dashboard.component.ts
  package.json
  server/__tests__/guards.test.ts
  server/bootstrap.ts
  server/db/migrations/115_governance_voting_periods_and_vetoes.ts
  server/db/proposals.ts
  server/db/schema/councils.ts
  server/lib/validation.ts
  server/middleware/guards.ts
  server/routes/proposals.ts
  server/work/proposal-expiry.ts
  shared/types/councils.ts
Due: server, client

fix(specs): add spec coverage for split work service sub-modules
  specs/work/work-task-service.spec.md
Due: none

refactor(work): split service.ts into focused sub-modules
  server/work/service-buddy.ts
  server/work/service-drain.ts
  server/work/service-prompt.ts
  server/work/service-recovery.ts
  server/work/service.ts
Due: server

refactor(work): split service.ts into focused sub-modules (#1893)
  server/work/service-buddy.ts
  server/work/service-drain.ts
  server/work/service-prompt.ts
  server/work/service-recovery.ts
  server/work/service.ts
  specs/work/work-task-service.spec.md
Due: server

fix(test): drain embed-response subscriptions to prevent timer leak across test files
  server/__tests__/discord-bridge-core.test.ts
  server/__tests__/discord-bridge-mentions.test.ts
  server/__tests__/discord-bridge-onboarding.test.ts
  server/__tests__/discord-bridge-threads.test.ts
  server/__tests__/discord-bridge-work-intake.test.ts
Due: server

refactor(tests): split discord-bridge.test.ts into focused files
  server/__tests__/discord-bridge-core.test.ts
  server/__tests__/discord-bridge-mentions.test.ts
  server/__tests__/discord-bridge-onboarding.test.ts
  server/__tests__/discord-bridge-threads.test.ts
  server/__tests__/discord-bridge-work-intake.test.ts
  server/__tests__/discord-bridge.test.ts
Due: server

refactor(tests): split discord-command-handlers.test.ts into focused files
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-autocomplete.test.ts
  server/__tests__/discord-commands-components.test.ts
  server/__tests__/discord-commands-dispatch.test.ts
  server/__tests__/discord-commands-info.test.ts
  server/__tests__/discord-commands-moderation.test.ts
  server/__tests__/discord-commands-session.test.ts
Due: server

refactor(tests): split discord-bridge.test.ts into 5 focused files (#1894)
  server/__tests__/discord-bridge-core.test.ts
  server/__tests__/discord-bridge-mentions.test.ts
  server/__tests__/discord-bridge-onboarding.test.ts
  server/__tests__/discord-bridge-threads.test.ts
  server/__tests__/discord-bridge-work-intake.test.ts
  server/__tests__/discord-bridge.test.ts
Due: server

refactor(tests): split discord-command-handlers.test.ts into focused files (#1895)
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-autocomplete.test.ts
  server/__tests__/discord-commands-components.test.ts
  server/__tests__/discord-commands-dispatch.test.ts
  server/__tests__/discord-commands-info.test.ts
  server/__tests__/discord-commands-moderation.test.ts
  server/__tests__/discord-commands-session.test.ts
Due: server

feat(discord): wire voice conversation loop — STT → agent → TTS
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/voice-session.ts
  specs/discord/voice.spec.md
Due: server

feat(discord): voice conversation loop — STT → agent → TTS (#1903)
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/voice-session.ts
  specs/discord/voice.spec.md
Due: server

release: v0.62.0 — voice conversation loop, governance voting, ARC-69 CRUD
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

release: v0.62.0 — voice conversation loop, governance voting, ARC-69 CRUD (#1904)
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

fix(ci): add missing spec coverage and update lockfile
  .specsync/hashes.json
  bun.lock
  specs/db/migrations.spec.md
  specs/db/proposals.spec.md
Due: none

fix(ci): add undocumented veto exports to specs and update stats
  .specsync/hashes.json
  docs/deep-dive.md
  specs/db/proposals.spec.md
  specs/lib/infra.spec.md
  specsync.json
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
