Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(work): add intern model PR guard (closes #1542)
  server/__tests__/intern-guard.test.ts
  server/mcp/tool-handlers/github.ts
  server/providers/router.ts
  server/providers/types.ts
  server/work/chain-continuation.ts
  server/work/intern-guard.ts
  server/work/session-lifecycle.ts
Due: server

fix(ci): add intern-guard spec and update spec count
  docs/deep-dive.md
  specs/work/intern-guard.spec.md
Due: none

fix(ci): update spec_files stat 195 → 196 in deep-dive.md
  docs/deep-dive.md
Due: none

feat(cursor): promote CursorProvider to production-quality first-class LlmProvider
  server/__tests__/providers-cursor.test.ts
  server/process/cursor-process.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/providers/cursor/provider.ts
  server/providers/types.ts
Due: server

fix: remove auto-seeded preset agents cluttering Discord dropdown
  server/__tests__/buddy-seed.test.ts
  server/__tests__/conversational-seed.test.ts
  server/algochat/init.ts
  server/buddy/seed.ts
  server/conversational/presets.ts
  server/conversational/seed.ts
Due: server

feat(work): add intern model PR guard (#1546)
  docs/deep-dive.md
  server/__tests__/intern-guard.test.ts
  server/mcp/tool-handlers/github.ts
  server/providers/router.ts
  server/providers/types.ts
  server/work/chain-continuation.ts
  server/work/intern-guard.ts
  server/work/session-lifecycle.ts
  specs/work/intern-guard.spec.md
Due: server

fix(cursor): add system-prompt/model flags and fix test mocks for CI
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
Due: server

fix(ci): add cursor-process exports to spec and fix provider args
  specs/process/claude-process.spec.md
Due: none

fix(ci): remove orphaned specs for deleted seed/preset modules and update stats
  docs/deep-dive.md
  specs/buddy/seed.spec.md
  specs/conversational/presets.spec.md
  specs/conversational/seed.spec.md
Due: none

fix: update spec count after merge with main
  docs/deep-dive.md
Due: none

feat(cursor): promote CursorProvider to production-quality first-class LlmProvider (#1545)
  docs/deep-dive.md
  server/__tests__/buddy-seed.test.ts
  server/__tests__/conversational-seed.test.ts
  server/__tests__/providers-cursor.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/buddy/seed.ts
  server/conversational/presets.ts
  server/conversational/seed.ts
  server/process/cursor-process.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/providers/cursor/provider.ts
  server/providers/types.ts
  specs/buddy/seed.spec.md
  specs/conversational/presets.spec.md
  specs/conversational/seed.spec.md
  specs/process/claude-process.spec.md
  specs/providers/cursor-provider.spec.md
Due: server

Add Discord message tool
  server/mcp/skill-loader.ts
  server/mcp/skills/send_discord_message.ts
Due: server

feat(github): add agent identity signature to write operations (#1555)
  server/__tests__/github-tool-handlers.test.ts
  server/mcp/tool-handlers/github.ts
  specs/mcp/tool-handlers.spec.md
Due: server

feat(ui): add memory browser component for browsing on-chain ARC-69 memories (#1552)
  client/src/app/app.routes.ts
  client/src/app/core/services/memory-browser.service.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
Due: client

feat(ui): add real-time agent communication visualization (#1551)
  client/src/app/app.routes.ts
  client/src/app/features/agent-comms/agent-comms.component.ts
Due: client

feat(ui): polished schedule and config editing UX (#1553)
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/shared/components/cron-editor.component.ts
  client/src/app/shared/pipes/cron-human.pipe.ts
  specs/shared/cron-editor.spec.md
  specs/shared/cron-human-pipe.spec.md
Due: client

feat(flock): add e2e tests for Flock Directory smart contract on localnet
  server/__tests__/flock-directory-e2e.test.ts
  server/flock-directory/on-chain-client.ts
Due: server

feat(cursor): map exit codes to transient/permanent error categories (#1531)
  server/__tests__/cursor-exit-codes.test.ts
  server/process/cursor-process.ts
  specs/process/claude-process.spec.md
Due: server

fix: remove global mock.module for db/agents that polluted other test files
  server/__tests__/github-tool-handlers.test.ts
  server/mcp/tool-handlers/github.ts
  specs/mcp/tool-handlers.spec.md
Due: server

fix(ci): replace octal escape with hex and update spec count to 196
  client/src/app/features/schedules/schedule-list.component.ts
  docs/deep-dive.md
Due: client

fix(governance): revert Layer 0 changes to server/process/manager.ts
  server/process/manager.ts
Due: server

feat: add agent identity signatures to GitHub write operations (#1555)
  server/__tests__/github-tool-handlers.test.ts
  server/mcp/tool-handlers/github.ts
  specs/mcp/tool-handlers.spec.md
Due: server

feat(flock): add e2e tests + fix inner transaction fees (#1550)
  server/__tests__/flock-directory-e2e.test.ts
  server/flock-directory/on-chain-client.ts
Due: server

feat(ui): cron editor with presets, validation, and schedule UX improvements (#1553)
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/shared/components/cron-editor.component.ts
  client/src/app/shared/pipes/cron-human.pipe.ts
  docs/deep-dive.md
  specs/shared/cron-editor.spec.md
  specs/shared/cron-human-pipe.spec.md
Due: client

feat(ui): add memory browser with search, filters, edit/delete (#1552)
  client/src/app/app.routes.ts
  client/src/app/core/services/memory-browser.service.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
Due: client

feat(ui): add real-time agent communications visualization (#1551)
  client/src/app/app.routes.ts
  client/src/app/features/agent-comms/agent-comms.component.ts
Due: client

feat(cursor): add exit code classification + stream idle timeout (#1531)
  server/__tests__/cursor-exit-codes.test.ts
  server/process/cursor-process.ts
  specs/process/claude-process.spec.md
Due: server

chore: prep v0.55.0 release — bump version, update README badge, add changelog
  CHANGELOG.md
  README.md
Due: none

docs: prep v0.55.0 release — README, CHANGELOG, site updates
  CHANGELOG.md
  README.md
Due: none

feat(sessions): auto-inject team context into agent persona prompts
  server/process/session-config-resolver.ts
Due: server

fix: resolve CI failures — add missing spec exports and team context tests
  server/__tests__/session-config-resolver.test.ts
  specs/process/claude-process.spec.md
Due: server

feat(library): wire CRVLIB shared library MCP tools and sync service
  server/__tests__/algochat-init.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/index.ts
  server/mcp/default-tools.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/library.ts
Due: server

fix(ollama): improve Nemotron cloud proxy timeout handling
  server/providers/ollama/provider.ts
Due: server

feat(library): wire CRVLIB MCP tools + sync service into bootstrap (#1564)
  server/__tests__/algochat-init.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/index.ts
  server/mcp/default-tools.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/library.ts
Due: server

fix(ollama): improve Nemotron cloud proxy timeout handling (#1565)
  server/providers/ollama/provider.ts
Due: server

fix(library): use MCP context network instead of env var for localnet detection
  server/mcp/tool-handlers/library.ts
  server/memory/arc69-library.ts
Due: server

fix(library): use MCP context network instead of env var for localnet detection (#1566)
  server/mcp/tool-handlers/library.ts
  server/memory/arc69-library.ts
Due: server

feat(comms): add role-based communication tier system for directional agent messaging
  server/__tests__/communication-tiers.test.ts
  server/__tests__/tool-guardrails.test.ts
  server/lib/communication-tiers.ts
  server/mcp/tool-guardrails.ts
  server/mcp/tool-handlers/messaging.ts
Due: server

feat(comms): add role-based communication tier system for directional agent messaging (#1567)
  server/__tests__/communication-tiers.test.ts
  server/__tests__/tool-guardrails.test.ts
  server/lib/communication-tiers.ts
  server/mcp/tool-guardrails.ts
  server/mcp/tool-handlers/messaging.ts
Due: server

fix: add library tools to DEFAULT_ALLOWED_TOOLS for non-web sessions
  server/mcp/tool-permissions.ts
Due: server
