Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(sessions): track tokens saved by keep-alive warm turns (migration 130)
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/ollama-stall-escalator.test.ts
  server/__tests__/session-tokens-saved.test.ts
  server/db/sessions.ts
  shared/types/sessions.ts
  specs/db/sessions/sessions.spec.md
  specs/process/process-manager.spec.md
Due: server

fix(ci): harden GitHub Actions — sbom-action version comment + gitleaks checksum
  .github/workflows/docker-publish.yml
  .github/workflows/security.yml
Due: none

fix(deps): patch OpenTelemetry CVE GHSA-q7rr-3cgh-j5r3
  biome.json
  bun.lock
  package.json
Due: none

feat(settings): add Automation tab with schedule management, approvals, and history
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings/settings.component.ts
Due: client

fix(client): escape dollar sign in template literal to fix NG1010
  client/src/app/features/settings-automation/settings-automation.component.ts
Due: client

refactor(schedule): remove dead pendingApprovals signal and redundant as-casts
  client/src/app/core/services/schedule.service.ts
Due: client

fix(client): sync ScheduleActionType with shared types
  client/src/app/core/models/schedule.model.ts
Due: client

fix(client): sync schedule.model.ts with shared/types/schedules.ts
  client/src/app/core/models/schedule.model.ts
Due: client

fix(deps): patch OpenTelemetry CVE GHSA-q7rr-3cgh-j5r3 (#2325)
  biome.json
  bun.lock
  package.json
Due: none

feat(settings): Automation tab — schedule management, approvals, and execution history (#2326)
  client/src/app/core/models/schedule.model.ts
  client/src/app/core/services/schedule.service.ts
  client/src/app/features/settings-automation/settings-automation.component.ts
  client/src/app/features/settings/settings.component.ts
Due: client

fix(ci): harden GitHub Actions — sbom-action version comment + gitleaks checksum (#2324)
  .github/workflows/docker-publish.yml
  .github/workflows/security.yml
Due: none

feat(sessions): track warm turn count per session (migration 129) (#2315)
  docs/deep-dive.md
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/warm-turn-count.test.ts
  server/db/migrations/129_warm_turn_count.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/process/manager.ts
  shared/types/sessions.ts
  specs/db/sessions/sessions.spec.md
  specs/process/process-manager.spec.md
Due: server

docs: update site-wide statistics to match v0.66.0 (#2310)
  docs/architecture.html
  docs/deep-dive.md
  docs/docs-index.html
  docs/enterprise.html
  docs/enterprise.md
  docs/external-review-scope.md
  docs/how-it-works.md
  docs/index.html
  docs/mcp-setup.md
  docs/ollama-cloud-benchmark.md
  docs/releases.html
  docs/security.html
  docs/why-corvidagent.html
Due: none

fix(deps): patch protobufjs CVEs via override bump to >=8.0.2
  bun.lock
  package.json
Due: none

fix(deps): patch protobufjs CVEs via override bump to >=8.0.2 (#2329)
  bun.lock
  package.json
Due: none

fix(client): re-export schedule types from shared to fix ScheduleActionType mismatch
  client/src/app/core/models/schedule.model.ts
Due: client

refactor(test): replace any types in discord-ux-overhaul with DiscordCall union
  server/__tests__/discord-ux-overhaul.test.ts
Due: server

refactor(test): replace any types in discord-ux-overhaul with DiscordCall union (#2331)
  server/__tests__/discord-ux-overhaul.test.ts
Due: server

feat(sessions): enforce credit balance guard on session creation for paid deployments
  server/__tests__/routes-sessions.test.ts
  server/routes/index.ts
  server/routes/sessions.ts
  specs/billing/tasks.md
  specs/middleware/auth.spec.md
  specs/middleware/tasks.md
Due: server

test(bridge): add coverage for DELETE /api/bridge/sessions/:id
  server/routes/bridge.test.ts
Due: server

feat(bridge): add DELETE /api/bridge/sessions/:id endpoint for manual session eviction
  server/routes/bridge.ts
  specs/bridge/bridge.spec.md
  specs/bridge/tasks.md
Due: server

feat(bridge): add DELETE /api/bridge/sessions/:id endpoint (#2327)
  server/routes/bridge.test.ts
  server/routes/bridge.ts
  specs/bridge/bridge.spec.md
  specs/bridge/tasks.md
Due: server

Update: standardize GitHub Actions (path filters, concurrency, runners)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/stats.yml
  .github/workflows/task-check.yml
Due: none

Fix: README accuracy
  README.md
Due: none

Fix: README accuracy (#2342)
  README.md
Due: none
