Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: API key expiration/rotation endpoints and webhook signature hardening (#384, #380) (#394)
  server/__tests__/crypto-audit.test.ts
  server/__tests__/guards.test.ts
  server/__tests__/routes-settings.test.ts
  server/db/migrations/056_api_key_expiry.ts
  server/db/schema.ts
  server/discord/bridge.ts
  server/health/service.ts
  server/middleware/auth.ts
  server/middleware/guards.ts
  server/routes/index.ts
  server/routes/settings.ts
  server/slack/bridge.ts
Due: server

feat: scheduler improvements — full UI sync, execution management, event triggers
  client/src/app/core/models/schedule.model.ts
  client/src/app/core/services/schedule.service.ts
  client/src/app/features/schedules/schedule-list.component.ts
  server/__tests__/routes-schedules.test.ts
  server/__tests__/scheduler-service.test.ts
  server/__tests__/schedules.test.ts
  server/db/migrations/057_schedule_trigger_events.ts
  server/db/schedules.ts
  server/db/schema.ts
  server/index.ts
  server/lib/validation.ts
  server/polling/service.ts
  server/routes/schedules.ts
  server/scheduler/service.ts
  server/webhooks/service.ts
  shared/types.ts
Due: server, client

feat: scheduler improvements — full UI sync, execution management, event triggers (#395)
  client/src/app/core/models/schedule.model.ts
  client/src/app/core/services/schedule.service.ts
  client/src/app/features/schedules/schedule-list.component.ts
  server/__tests__/routes-schedules.test.ts
  server/__tests__/scheduler-service.test.ts
  server/__tests__/schedules.test.ts
  server/db/migrations/057_schedule_trigger_events.ts
  server/db/schedules.ts
  server/db/schema.ts
  server/index.ts
  server/lib/validation.ts
  server/polling/service.ts
  server/routes/schedules.ts
  server/scheduler/service.ts
  server/webhooks/service.ts
  shared/types.ts
Due: server, client

fix: remove flaky strict timing comparison in withRetry test (#396)
  server/__tests__/resilience.test.ts
Due: server

fix: remove flaky strict timing comparison in withRetry test (#396) (#397)
  server/__tests__/resilience.test.ts
Due: server

fix: add error handling for resumeProcess in session resume route (#398)
  server/routes/sessions.ts
Due: server

fix: add error handling for resumeProcess in session resume route (#398) (#401)
  server/routes/sessions.ts
Due: server

feat: add loading session status + chronological schedule ordering
  client/src/app/core/models/session.model.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/status-badge.component.ts
  server/db/schedules.ts
  server/db/sessions.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types.ts
Due: server, client

fix: remove unused beforeEach import in webhook-service test
  server/__tests__/webhook-service.test.ts
Due: server

test: add coverage for cost-table, event-bus, and webhook-service
  server/__tests__/cost-table.test.ts
  server/__tests__/event-bus.test.ts
  server/__tests__/webhook-service.test.ts
Due: server

feat: add task list check workflow to block merge on unchecked items
  .github/workflows/task-check.yml
Due: none

fix: scope schedule delete E2E test to target card
  e2e/schedules.spec.ts
Due: none

feat: add task list check workflow to block merge on unchecked items (#403)
  .github/workflows/task-check.yml
Due: none

test: add coverage for cost-table, event-bus, and webhook-service (#402)
  client/src/app/core/models/session.model.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/status-badge.component.ts
  e2e/schedules.spec.ts
  server/__tests__/cost-table.test.ts
  server/__tests__/event-bus.test.ts
  server/__tests__/webhook-service.test.ts
  server/db/schedules.ts
  server/db/sessions.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types.ts
Due: server, client

docs: sync README and ADR-001 with current codebase
  README.md
  docs/decisions/001-autonomous-scheduler.md
Due: none

docs: sync README and ADR-001 with current codebase (#404)
  README.md
  docs/decisions/001-autonomous-scheduler.md
Due: none

feat: add performance metrics collection and tracking (#410)
  server/__tests__/performance-collector.test.ts
  server/db/migrations/058_performance_metrics.ts
  server/performance/collector.ts
  server/routes/performance.ts
Due: server

chore: wire PerformanceCollector into server startup and routes
  server/index.ts
  server/routes/index.ts
Due: server

fix: sort schedule list by cron hour and expand gitignore
  .gitignore
  client/src/app/features/schedules/schedule-list.component.ts
Due: client

fix: add performance_metrics to legacy schema and baseline down
  server/db/migrations/001_baseline.ts
  server/db/schema.ts
Due: server

fix: sort schedule list by cron hour and expand gitignore (#420)
  .gitignore
  client/src/app/features/schedules/schedule-list.component.ts
Due: client

feat: performance metrics collection and trend detection (#410) (#416)
  server/__tests__/performance-collector.test.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/058_performance_metrics.ts
  server/db/schema.ts
  server/index.ts
  server/performance/collector.ts
  server/routes/index.ts
  server/routes/performance.ts
Due: server

feat: schedule coordination — repo locks, issue dedup, recent-work awareness (#407)
  server/__tests__/issue-dedup.test.ts
  server/__tests__/repo-locks.test.ts
  server/db/migrations/059_repo_locks.ts
  server/db/repo-locks.ts
  server/db/schema.ts
  server/github/operations.ts
  server/scheduler/service.ts
Due: server

fix: remove premature health gate code that depends on unmerged system-state
  server/scheduler/service.ts
Due: server

fix: add PR review dedup and prevent re-reviewing already-commented PRs
  server/scheduler/service.ts
Due: server

fix: prevent PR review spam by checking for existing comments
  server/scheduler/service.ts
Due: server

feat: schedule coordination — repo locks, issue dedup (#407) (#415)
  server/__tests__/issue-dedup.test.ts
  server/__tests__/repo-locks.test.ts
  server/db/migrations/059_repo_locks.ts
  server/db/repo-locks.ts
  server/db/schema.ts
  server/github/operations.ts
  server/scheduler/service.ts
Due: server

docs: triage security issues #381, #378, #379, #389
  docs/security-triage-2026-03-01.md
Due: none

chore: bump version to 0.14.0 in package.json and README badge
  README.md
  package.json
Due: none

docs: triage security issues #381, #378, #379, #389 (#419)
  docs/security-triage-2026-03-01.md
Due: none

chore: bump version to 0.14.0 in package.json and README badge (#422)
  README.md
  package.json
Due: none

feat: usage monitor and API for scheduled session tracking (#406)
  server/__tests__/routes-usage.test.ts
  server/__tests__/usage-monitor.test.ts
  server/index.ts
  server/routes/index.ts
  server/routes/usage.ts
  server/usage/monitor.ts
Due: server

feat: heartbeat monitoring, health history, and incident runbook (#411)
  .github/workflows/heartbeat.yml
  docs/incident-response.md
  server/__tests__/health-monitor.test.ts
  server/db/health-snapshots.ts
  server/db/migrations/061_health_snapshots.ts
  server/health/monitor.ts
  server/index.ts
Due: server

feat: smart prioritization — health gate and priority rules for scheduler (#412)
  server/__tests__/scheduler-service.test.ts
  server/__tests__/system-state.test.ts
  server/routes/schedules.ts
  server/scheduler/priority-rules.ts
  server/scheduler/service.ts
  server/scheduler/system-state.ts
Due: server

feat: feedback loop — track PR outcomes and learn from results (#408)
  server/__tests__/outcome-tracker.test.ts
  server/db/migrations/060_pr_outcomes.ts
  server/db/pr-outcomes.ts
  server/feedback/outcome-tracker.ts
  server/github/operations.ts
  server/improvement/prompt-builder.ts
  server/improvement/service.ts
  server/index.ts
  server/routes/feedback.ts
  server/routes/index.ts
  server/scheduler/priority-rules.ts
  server/scheduler/service.ts
  shared/types.ts
Due: server

fix: remove premature outcomeTracker references that break CI
  server/__tests__/usage-monitor.test.ts
  server/index.ts
  server/routes/index.ts
Due: server

feat: usage monitor and API for scheduled sessions (#406) (#423)
  server/__tests__/routes-usage.test.ts
  server/__tests__/usage-monitor.test.ts
  server/index.ts
  server/routes/index.ts
  server/routes/usage.ts
  server/usage/monitor.ts
Due: server

fix: remove smart-prioritization assertions from scheduler test
  server/__tests__/scheduler-service.test.ts
Due: server

fix: resolve CI failures for smart prioritization PR
  server/__tests__/health-monitor.test.ts
  server/db/health-snapshots.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/061_health_snapshots.ts
  server/db/schema.ts
  server/feedback/outcome-tracker.ts
  server/health/monitor.ts
  server/scheduler/priority-rules.ts
  server/scheduler/service.ts
  shared/types.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
