Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat: add pull_request event type to mention poller (#437)
  server/__tests__/github-searcher.test.ts
  server/lib/validation.ts
  server/polling/github-searcher.ts
  server/polling/service.ts
  shared/types.ts
Due: server

chore: bump version to 0.15.0 and update README
  README.md
  package.json
Due: none

chore: bump version to 0.15.0 and update README (#438)
  README.md
  package.json
Due: none

feat: enforce multi-tenant route isolation across all 14 unscoped handlers (#305)
  server/__tests__/routes-work-tasks.test.ts
  server/__tests__/tenant-isolation.test.ts
  server/db/councils.ts
  server/db/mcp-servers.ts
  server/db/mention-polling.ts
  server/db/migrations/062_tenant_resource_isolation.ts
  server/db/schedules.ts
  server/db/schema.ts
  server/db/webhooks.ts
  server/db/work-tasks.ts
  server/db/workflows.ts
  server/routes/analytics.ts
  server/routes/billing.ts
  server/routes/councils.ts
  server/routes/feedback.ts
  server/routes/index.ts
  server/routes/marketplace.ts
  server/routes/mcp-servers.ts
  server/routes/mention-polling.ts
  server/routes/personas.ts
  server/routes/reputation.ts
  server/routes/sandbox.ts
  server/routes/schedules.ts
  server/routes/skill-bundles.ts
  server/routes/system-logs.ts
  server/routes/usage.ts
  server/routes/webhooks.ts
  server/routes/work-tasks.ts
  server/routes/workflows.ts
  server/tenant/db-filter.ts
  server/work/service.ts
Due: server

feat: enforce multi-tenant route isolation across all 14 unscoped handlers (#305) (#439)
  server/__tests__/routes-work-tasks.test.ts
  server/__tests__/tenant-isolation.test.ts
  server/db/councils.ts
  server/db/mcp-servers.ts
  server/db/mention-polling.ts
  server/db/migrations/062_tenant_resource_isolation.ts
  server/db/schedules.ts
  server/db/schema.ts
  server/db/webhooks.ts
  server/db/work-tasks.ts
  server/db/workflows.ts
  server/routes/analytics.ts
  server/routes/billing.ts
  server/routes/councils.ts
  server/routes/feedback.ts
  server/routes/index.ts
  server/routes/marketplace.ts
  server/routes/mcp-servers.ts
  server/routes/mention-polling.ts
  server/routes/personas.ts
  server/routes/reputation.ts
  server/routes/sandbox.ts
  server/routes/schedules.ts
  server/routes/skill-bundles.ts
  server/routes/system-logs.ts
  server/routes/usage.ts
  server/routes/webhooks.ts
  server/routes/work-tasks.ts
  server/routes/workflows.ts
  server/tenant/db-filter.ts
  server/work/service.ts
Due: server

fix: respect human issue assignments and fix log rotation ownership
  CLAUDE.md
  deploy/corvid-agent.newsyslog.conf
  server/polling/service.ts
Due: server

fix: respect human assignments and fix log rotation (#440)
  CLAUDE.md
  deploy/corvid-agent.newsyslog.conf
  server/polling/service.ts
Due: server

Update README stats: 4401 unit tests, 348 E2E, 61 migrations, 34 route modules
  README.md
Due: none

Update README stats: 4401 unit tests, 348 E2E, 61 migrations, 34 route modules (#441)
  README.md
Due: none

docs: add security review for PR #336 API key authentication
  docs/security-review-pr336-api-key-auth.md
Due: none

docs: security review of PR #336 API key authentication (#460)
  docs/security-review-pr336-api-key-auth.md
Due: none

feat: add WebSocket heartbeat with server timestamps (#459)
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/websocket.service.ts
  server/__tests__/ws-handler.test.ts
  server/ws/handler.ts
  shared/ws-protocol.ts
  specs/ws/handler.spec.md
Due: server, client

feat: add WebSocket heartbeat with server timestamps (#461)
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/websocket.service.ts
  server/__tests__/ws-handler.test.ts
  server/ws/handler.ts
  shared/ws-protocol.ts
  specs/ws/handler.spec.md
Due: server, client

fix: resolve baseline migration schema drift (#450)
  server/__tests__/migrate.test.ts
  server/db/migrations/001_baseline.ts
  server/db/schema.ts
Due: server

fix: resolve baseline migration schema drift (#450) (#469)
  server/__tests__/migrate.test.ts
  server/db/migrations/001_baseline.ts
  server/db/schema.ts
Due: server

fix: correct stale doc references and update README stats
  README.md
  docs/hardening-guide.md
  docs/incident-response.md
  docs/threat-model.md
Due: none

fix: add schedule_skip to AuditAction type and use it for skip events
  server/db/audit.ts
  server/scheduler/service.ts
Due: server

Add off-limits repos and focus priority rules to CLAUDE.md
  CLAUDE.md
Due: none

fix: correct stale doc references and update README stats (#468)
  README.md
  docs/hardening-guide.md
  docs/incident-response.md
  docs/threat-model.md
Due: none

fix: add schedule_skip to AuditAction type (#470)
  CLAUDE.md
  server/db/audit.ts
  server/scheduler/service.ts
Due: server

fix: auto-refill agent wallets before on-chain sends
  server/algochat/agent-wallet.ts
  server/db/memory-sync.ts
Due: server

fix: auto-refill agent wallets before on-chain sends (#476)
  server/algochat/agent-wallet.ts
  server/db/memory-sync.ts
Due: server

chore: move off-limits repos to .claude config file
  .claude/off-limits-repos.txt
  CLAUDE.md
Due: none

security: pin GH Actions to SHA, add permissions, pin Docker images
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/heartbeat.yml
  .github/workflows/release.yml
  .github/workflows/task-check.yml
  deploy/Dockerfile
  deploy/docker-compose.yml
  server/sandbox/Dockerfile.agent
Due: server

security: add SSRF private IP range blocking
  server/__tests__/ssrf-guard.test.ts
  server/lib/ssrf-guard.ts
Due: server

chore: move off-limits repos to .claude config file (#477)
  .claude/off-limits-repos.txt
  CLAUDE.md
Due: none

docs: fix stale references in patches, threat model, and ADR-001
  docs/decisions/001-autonomous-scheduler.md
  docs/protected-file-patches.md
  docs/threat-model.md
Due: none

fix: stabilize flaky E2E delete schedule test
  e2e/schedules.spec.ts
Due: none

security: pin GH Actions to SHA, add permissions, pin Docker images (#478)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/heartbeat.yml
  .github/workflows/release.yml
  .github/workflows/task-check.yml
  deploy/Dockerfile
  deploy/docker-compose.yml
  server/sandbox/Dockerfile.agent
Due: server

security: add SSRF private IP range blocking (#479)
  server/__tests__/ssrf-guard.test.ts
  server/lib/ssrf-guard.ts
Due: server

feat: add retention policies for append-only tables
  server/__tests__/retention.test.ts
  server/db/retention.ts
Due: server

docs: fix stale references and flaky E2E test (#480)
  docs/decisions/001-autonomous-scheduler.md
  docs/protected-file-patches.md
  docs/threat-model.md
  e2e/schedules.spec.ts
Due: none

ci: extract composite action for workspace setup
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
Due: none

feat: add retention policies for append-only tables (#481)
  server/__tests__/retention.test.ts
  server/db/retention.ts
Due: server

fix: add missing subscription_items table for UsageMeter
  server/__tests__/routes-billing.test.ts
  server/billing/service.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/063_subscription_items.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/routes/billing.ts
Due: server

ci: extract composite action for workspace setup (#482)
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
Due: none

fix: condenser tries all providers before truncation fallback
  server/algochat/condenser.ts
Due: server
