Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix(docs): replace nested anchor tag with span in audience card (#1764)
  docs/index.html
Due: none

fix(work): skip TSC validation for projects without tsconfig.json
  server/__tests__/work-validation.test.ts
  server/work/validation.ts
Due: server

fix: clean up stale worktrees that block new work task creation
  server/bootstrap.ts
  server/db/work-tasks.ts
  server/lib/worktree.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
Due: server

fix: document new exports in specs to pass strict validation
  specs/db/work-tasks.spec.md
  specs/lib/worktree.spec.md
  specs/work/work-task-service.spec.md
Due: none

test: add coverage for stale worktree cleanup functions
  server/__tests__/work-task-drain.test.ts
  server/__tests__/work-tasks.test.ts
  server/__tests__/work-validation.test.ts
Due: server

fix: remove unused import causing TSC failure in CI
  server/__tests__/work-task-drain.test.ts
Due: server

fix(docs): correct project field name from path to directory in testnet-onboarding
  docs/testnet-onboarding.md
Due: none

docs: fix testnet onboarding project field name
  docs/testnet-onboarding.md
Due: none

fix: clean up stale worktrees that block new work task creation
  server/__tests__/work-task-drain.test.ts
  server/__tests__/work-tasks.test.ts
  server/__tests__/work-validation.test.ts
  server/bootstrap.ts
  server/db/work-tasks.ts
  server/lib/worktree.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  specs/db/work-tasks.spec.md
  specs/lib/worktree.spec.md
  specs/work/work-task-service.spec.md
Due: server

fix(supply-chain): pin unpinned GitHub Actions to SHA digests
  .github/workflows/pages.yml
Due: none

refactor: split library-3d.component.ts into types and utils modules
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-3d.types.ts
  client/src/app/features/library/library-3d.utils.ts
Due: client

fix(supply-chain): pin GitHub Actions in pages.yml to SHA digests (#1770)
  .github/workflows/pages.yml
Due: none

Add blog post: Murmurations in Code — Emergent Patterns in Agent Networks
  docs/blog.html
Due: none

docs: add blog post — Murmurations in Code (#1773)
  docs/blog.html
Due: none

fix: use imported createTextSprite instead of this.createTextSprite
  client/src/app/features/library/library-3d.component.ts
Due: client

fix(work): resolve governance validator false positives blocking legitimate work tasks
  server/__tests__/governance.test.ts
  server/__tests__/work-task-service.test.ts
  server/councils/governance.ts
  server/work/service.ts
Due: server

fix(flock): add scheduled flock reputation refresh action
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/scheduler/handlers.spec.md
  specs/scheduler/scheduler-service.spec.md
Due: server

feat(client): add Challenges dashboard at /agents/flock-challenges
  client/src/app/app.routes.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix(flock): add scheduled flock reputation refresh action (#1776)
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/scheduler/handlers.spec.md
  specs/scheduler/scheduler-service.spec.md
Due: server

feat(client): add Challenges dashboard at /agents/flock-challenges (#1777)
  client/src/app/app.routes.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

refactor: split library-3d component into types and utils modules (#1772)
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-3d.types.ts
  client/src/app/features/library/library-3d.utils.ts
Due: client

fix(work): resolve governance validator false positives blocking legitimate work tasks (#1775)
  server/__tests__/governance.test.ts
  server/__tests__/work-task-service.test.ts
  server/councils/governance.ts
  server/work/service.ts
Due: server

test(scheduler): add coverage for flock_reputation_refresh action type
  server/__tests__/priority-rules.test.ts
  server/__tests__/scheduler-flock-reputation-refresh.test.ts
  server/__tests__/scheduler-pipeline.test.ts
Due: server

test(scheduler): add coverage for flock_reputation_refresh action type (#1778)
  server/__tests__/priority-rules.test.ts
  server/__tests__/scheduler-flock-reputation-refresh.test.ts
  server/__tests__/scheduler-pipeline.test.ts
Due: server

feat: add session-resume observation injection test and spec update (#1751)
  server/__tests__/session-resume-observations.test.ts
  specs/memory/memory-graduation.spec.md
Due: server

feat: inject short-term observations into session resume context (#1751)
  server/process/manager.ts
Due: server

feat: load relevant short-term observations when resuming a session (#1751) (#1779)
  server/__tests__/session-resume-observations.test.ts
  server/process/manager.ts
  specs/memory/memory-graduation.spec.md
Due: server

feat(memory): add confirmation gate for permanent plain-txn writes (#1721)
  server/__tests__/tool-handlers.test.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/mcp-api.ts
  specs/memory/memory.spec.md
Due: server

fix(auth): surface audit logging failures in auth rejection path
  server/middleware/auth.ts
Due: server

test(auth): add coverage for audit logging failure path
  server/__tests__/auth-middleware.test.ts
Due: server

refactor(discord): expand ThreadSessionManager to own thread lifecycle
  server/__tests__/discord-thread-session-manager.test.ts
  server/discord/bridge.ts
  server/discord/thread-session-manager.ts
Due: server

fix: resolve CI failures from mock.module leaking to other tests
  server/__tests__/auth-middleware.test.ts
Due: server

test(discord): add coverage for subscribeThread, recoverSessions, autoSubscribeSession
  server/__tests__/discord-thread-session-manager.test.ts
Due: server

fix: remove mock.module test that leaked globally and broke 369 tests
  server/__tests__/auth-middleware.test.ts
Due: server

fix(test): replace mock.module with real DB and spyOn to prevent test pollution
  server/__tests__/discord-thread-session-manager.test.ts
Due: server

test(auth): add coverage for audit log failure path in auth rejection
  server/__tests__/auth-middleware.test.ts
Due: server

fix: correct mock return type for recoverActiveThreadSessions in test
  server/__tests__/discord-thread-session-manager.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
