Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: prevent duplicate Discord messages and normalize coding-tool paths
  server/__tests__/coding-tools.test.ts
  server/__tests__/discord-bridge.test.ts
  server/mcp/coding-tools.ts
Due: server

feat: add governance v2 proposals with weighted voting and quorum rules (#633)
  server/councils/governance.ts
  server/db/migrations/072_governance_proposals.ts
  server/db/proposals.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/routes/index.ts
  server/routes/proposals.ts
  shared/types/councils.ts
Due: server

fix: revert Layer 1 coding-tools.ts changes to pass governance check
  server/__tests__/coding-tools.test.ts
  server/mcp/coding-tools.ts
Due: server

refactor: move sandbox integration from ProcessManager to event-bus adapter (#382)
  server/__tests__/sandbox-manager.test.ts
  server/bootstrap.ts
  server/process/manager.ts
  server/sandbox/lifecycle-adapter.ts
  specs/sandbox/sandbox.spec.md
Due: server

fix: prevent duplicate Discord messages and normalize coding-tool paths (#788)
  server/__tests__/discord-bridge.test.ts
Due: server

feat: add governance v2 proposals with weighted voting and quorum rules (#633) (#789)
  server/councils/governance.ts
  server/db/migrations/072_governance_proposals.ts
  server/db/proposals.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/routes/index.ts
  server/routes/proposals.ts
  shared/types/councils.ts
Due: server

feat: add GH_TOKEN OAuth scope validation on server startup (#729) (#787)
  server/__tests__/github-token-check.test.ts
  server/index.ts
  server/lib/github-token-check.ts
Due: server

feat: integrate SandboxManager into ProcessManager (#382) (#786)
  server/__tests__/sandbox-manager.test.ts
  server/bootstrap.ts
  server/sandbox/lifecycle-adapter.ts
  specs/sandbox/sandbox.spec.md
Due: server

fix: document 7 undocumented exports in security and infra specs
  specs/lib/infra.spec.md
  specs/lib/security.spec.md
Due: none

fix: document 7 undocumented exports in security and infra specs (#790)
  specs/lib/infra.spec.md
  specs/lib/security.spec.md
Due: none

feat: encrypt env_vars at rest in SQLite using AES-256-GCM (#751)
  server/__tests__/env-encryption.test.ts
  server/db/mcp-servers.ts
  server/db/migrations/073_encrypt_env_vars.ts
  server/db/projects.ts
  server/db/schema.ts
  server/lib/env-encryption.ts
Due: server

fix: isolate WALLET_ENCRYPTION_KEY in env-encryption tests
  server/__tests__/env-encryption.test.ts
Due: server

feat: automate stats collection and drift detection (#537)
  .github/workflows/ci.yml
  README.md
  docs/deep-dive.md
  package.json
  scripts/collect-stats.ts
Due: none

feat: encrypt env_vars at rest using AES-256-GCM (#791)
  server/__tests__/env-encryption.test.ts
  server/db/mcp-servers.ts
  server/db/migrations/073_encrypt_env_vars.ts
  server/db/projects.ts
  server/db/schema.ts
  server/lib/env-encryption.ts
Due: server

feat: add work pipeline v2 — parallel execution, dependencies, and retry policies (#632)
  server/__tests__/api-routes.test.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/telegram-bridge.test.ts
  server/__tests__/work-task-service.test.ts
  server/db/migrations/073_work_pipeline_v2.ts
  server/db/projects.ts
  server/db/schema.ts
  server/db/work-tasks.ts
  server/lib/validation.ts
  server/process/manager.ts
  server/routes/work-tasks.ts
  server/work/service.ts
  shared/types/projects.ts
  shared/types/work-tasks.ts
Due: server

feat: automate stats collection and drift detection (#537) (#792)
  .github/workflows/ci.yml
  README.md
  docs/deep-dive.md
  package.json
  scripts/collect-stats.ts
Due: none

fix: revert Layer 0/1 files, keep v2 type definitions for work pipeline (#632)
  server/__tests__/api-routes.test.ts
  server/__tests__/work-task-service.test.ts
  server/db/migrations/073_work_pipeline_v2.ts
  server/db/projects.ts
  server/db/schema.ts
  server/db/work-tasks.ts
  server/lib/validation.ts
  server/process/manager.ts
  server/routes/work-tasks.ts
  server/work/service.ts
  shared/types/projects.ts
Due: server

fix: update migration_files stat from 23 to 24
  README.md
  docs/deep-dive.md
Due: none

feat: enforce zero spec warnings in CI with --strict flag (#795)
  .github/workflows/ci.yml
  scripts/spec-check.ts
Due: none

feat: work pipeline v2 — parallel execution, dependencies, and retry policies (#632) (#793)
  README.md
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
  server/__tests__/telegram-bridge.test.ts
  server/db/work-tasks.ts
  shared/types/projects.ts
  shared/types/work-tasks.ts
Due: server

fix: remove package.json changes to comply with governance Layer 1 policy
  .github/workflows/ci.yml
  package.json
Due: none

fix: align Helm chart version to app version (0.20.0)
  .github/workflows/ci.yml
  deploy/helm/Chart.yaml
  package.json
  scripts/version-check.ts
  server/openapi/generator.ts
Due: server

docs: add API reference for workflows, councils, marketplace, reputation, billing
  README.md
  docs/api-reference.md
Due: none

chore: release v0.21.0 — weekly changelog
  CHANGELOG.md
  package.json
Due: none

feat: implement per-use credit billing for marketplace listings (#704)
  server/db/credits.ts
  server/marketplace/escrow.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/mcp/tool-handlers/a2a.ts
  server/routes/marketplace.ts
  specs/marketplace/service.spec.md
Due: server

feat: implement marketplace subscription billing with recurring charges (#705)
  server/db/audit.ts
  server/db/migrations/074_marketplace_subscriptions.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/subscriptions.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/marketplace-billing.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/marketplace/subscriptions.spec.md
Due: server

docs: API reference for workflows, councils, marketplace, reputation, billing (#798)
  .github/workflows/ci.yml
  README.md
  deploy/helm/Chart.yaml
  docs/api-reference.md
  package.json
  scripts/version-check.ts
  server/openapi/generator.ts
Due: server

fix: improve health collector accuracy for test failures and marker counts
  .claude/projects/-Users-corvid-corvid-agent/memory/improvement-loop-2026-03-09.md
  server/__tests__/health-collector.test.ts
  server/improvement/health-collector.ts
Due: server

chore: release v0.21.0 — weekly changelog (#799)
  CHANGELOG.md
  package.json
Due: none

fix: resolve CI failures — update stats, add billing integration tests
  README.md
  docs/deep-dive.md
  server/__tests__/marketplace-service.test.ts
Due: server

feat: governance v2 frontend — vote panel, service, and model types (#757)
  client/src/app/core/models/council.model.ts
  client/src/app/core/models/governance.model.ts
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/governance.service.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/governance-vote-panel.component.ts
Due: client

fix: Windows compatibility for subprocess spawning, env vars, and cross-platform paths
  server/__tests__/work-task-service.test.ts
  server/bootstrap.ts
  server/github/operations.ts
  server/index.ts
  server/lib/env.ts
  server/mcp/coding-tools.ts
  server/polling/auto-update.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
  server/process/sdk-process.ts
  server/scheduler/system-state.ts
  server/work/service.ts
  server/work/validation.ts
  specs/lib/infra.spec.md
Due: server

fix: align Helm chart version to 0.21.0 after merge with main
  deploy/helm/Chart.yaml
Due: none

fix: resolve CI failures — align Chart.yaml version and isolate system-state test
  deploy/helm/Chart.yaml
  server/__tests__/system-state.test.ts
Due: server

fix: document 3 undocumented exports from marketplace billing (#705, #704)
  specs/lib/infra.spec.md
  specs/marketplace/subscriptions.spec.md
Due: none

fix: update documented stats for new migration and spec
  README.md
  docs/deep-dive.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
