Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(algochat): conversation access control + stuck session fix + mobile UI (#1418)
  client/src/app/app.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/top-nav.component.ts
  docs/deep-dive.md
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/agent-blocklist.test.ts
  server/__tests__/conversation-access.test.ts
  server/__tests__/discord-config.test.ts
  server/__tests__/group-sender.test.ts
  server/__tests__/permission-broker.test.ts
  server/__tests__/reputation-scorer.test.ts
  server/algochat/conversation-access.ts
  server/algochat/message-router.ts
  server/db/agents.ts
  server/db/audit.ts
  server/db/conversation-access.ts
  server/db/migrations/102_conversation_access.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/process/manager.ts
  server/routes/agents.ts
  server/routes/sessions.ts
  shared/types/agents.ts
  specs/algochat/conversation-access.spec.md
Due: server, client

fix: add Discord mention formatting rules to agent skills
  skills/discord/SKILL.md
  skills/messaging/SKILL.md
Due: none

fix: session resume for clone_on_demand projects + stuck session recovery + frontend hardening
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/sidebar.component.ts
  docs/deep-dive.md
  docs/specs/recipe-box-app.md
  server/db/sessions.ts
  server/discord/admin-commands.ts
  server/discord/bridge.ts
  server/discord/commands.ts
  server/discord/guild-api.ts
  server/process/manager.ts
Due: server, client

test: add guildCache and syncGuildData to test mock contexts
  server/__tests__/discord-agent-config-commands.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
Due: server

feat(discord): guild API integration + admin setup/sync commands (#1420)
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/sidebar.component.ts
  docs/deep-dive.md
  docs/specs/recipe-box-app.md
  server/__tests__/discord-agent-config-commands.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/db/sessions.ts
  server/discord/admin-commands.ts
  server/discord/bridge.ts
  server/discord/commands.ts
  server/discord/guild-api.ts
  server/process/manager.ts
  skills/discord/SKILL.md
  skills/messaging/SKILL.md
Due: server, client

feat(discord): add role permission picker UI to settings dashboard
  client/src/app/features/settings/settings.component.ts
Due: client

fix: resolve spec validation warnings for CI
  specs/algochat/conversation-access.spec.md
Due: none

fix(ui): remove sidebar, use top-nav as single navigation pattern
  client/src/app/app.ts
Due: client

fix: add missing spec for guild-api to restore 100% coverage
  specs/discord/guild-api.spec.md
Due: none

fix(discord): collapse large code blocks to prevent tool output flooding channels
  server/__tests__/message-formatter.test.ts
  server/discord/embeds.ts
  server/discord/message-formatter.ts
  server/discord/thread-manager.ts
  specs/discord/bridge.spec.md
Due: server

fix: update spec_files count 183→184 in deep-dive docs
  docs/deep-dive.md
Due: none

feat(discord): channel permissions + settings UX overhaul
  client/src/app/features/settings/settings.component.ts
  server/db/discord-config.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/commands.ts
  server/discord/message-handler.ts
  server/discord/permissions.ts
  server/discord/types.ts
  server/routes/settings.ts
Due: server, client

fix(ci): add missing spec exports + codecov patch threshold
  codecov.yml
  specs/algochat/conversation-access.spec.md
Due: none

fix: agent self-knowledge gaps + read_on_chain_memories ARC-69 support
  CLAUDE.md
  server/mcp/tool-handlers/memory.ts
Due: server

feat(discord): channel permissions + settings UX overhaul (#1429)
  CLAUDE.md
  client/src/app/features/settings/settings.component.ts
  codecov.yml
  server/__tests__/message-formatter.test.ts
  server/db/discord-config.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-formatter.ts
  server/discord/message-handler.ts
  server/discord/permissions.ts
  server/discord/thread-manager.ts
  server/discord/types.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/settings.ts
  specs/algochat/conversation-access.spec.md
  specs/discord/bridge.spec.md
Due: server, client

feat(try-mode): seed welcome message and show sandbox banner
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  scripts/try.ts
  server/health/service.ts
  server/health/types.ts
  server/routes/sessions.ts
Due: server, client

fix: resolve CI failures — spec warnings, stats drift, add tests
  server/__tests__/routes-health.test.ts
  server/__tests__/routes-sessions.test.ts
Due: server

feat(try-mode): seed welcome message and sandbox banner (#1419)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  scripts/try.ts
  server/__tests__/routes-health.test.ts
  server/__tests__/routes-sessions.test.ts
  server/health/service.ts
  server/health/types.ts
  server/routes/sessions.ts
Due: server, client

chore: release v0.47.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

chore: update changelog and stats for #1429, #1419
  CHANGELOG.md
  docs/deep-dive.md
Due: none

chore: release v0.47.0 (#1430)
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

fix(ci): add missing spec for guild-api.ts
  specs/discord/guild-api.spec.md
Due: none

fix(ci): add missing spec for guild-api.ts (#1431)
  specs/discord/guild-api.spec.md
Due: none

fix(ci): skip health-collector integration test on Windows
  server/__tests__/health-collector-integration.test.ts
Due: server

fix(ci): skip health-collector integration test on Windows (#1432)
  server/__tests__/health-collector-integration.test.ts
Due: server

fix(security): resolve CodeQL high-severity alerts
  cli/commands/init.ts
  cli/commands/provision.ts
  client/src/app/shared/components/guided-tour.component.spec.ts
  server/__tests__/skill-loader.test.ts
  server/index.ts
Due: server, client

fix(stats): update spec_files count to 184 in deep-dive.md
  docs/deep-dive.md
Due: none

feat(mcp): add Discord send_message and send_image tools
  server/mcp/default-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/discord.ts
  server/mcp/tool-handlers/index.ts
  specs/mcp/tool-handlers.spec.md
Due: server

fix(ci): add discord tool handler tests and update stats
  docs/deep-dive.md
  server/__tests__/discord-tool-handlers.test.ts
Due: server

fix(test): avoid mock.module leaking into sibling test files
  server/__tests__/discord-tool-handlers.test.ts
Due: server

fix(discord): send URLs as separate follow-up so Discord auto-unfurls them
  server/__tests__/discord-embeds-validation.test.ts
  server/discord/embeds.ts
  specs/discord/bridge.spec.md
Due: server

fix(ci): update spec count and add URL follow-up test coverage
  docs/deep-dive.md
  server/__tests__/discord-embeds-mentions.test.ts
Due: server

fix(security): resolve CodeQL high-severity alerts (#1433)
  cli/commands/init.ts
  cli/commands/provision.ts
  client/src/app/shared/components/guided-tour.component.spec.ts
  docs/deep-dive.md
  server/__tests__/skill-loader.test.ts
  server/index.ts
Due: server, client

feat(mcp): add Discord send_message and send_image tools (#1434)
  docs/deep-dive.md
  server/__tests__/discord-tool-handlers.test.ts
  server/mcp/default-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/discord.ts
  server/mcp/tool-handlers/index.ts
  specs/mcp/tool-handlers.spec.md
Due: server

fix(discord): send URLs as separate follow-up so Discord auto-unfurls them (#1435)
  server/__tests__/discord-embeds-mentions.test.ts
  server/__tests__/discord-embeds-validation.test.ts
  server/discord/embeds.ts
  specs/discord/bridge.spec.md
Due: server

feat(councils): wire heartbeat polling into council discussion flow (#1437)
  server/__tests__/council-discussion.test.ts
  server/councils/discussion.ts
  specs/councils/councils.spec.md
Due: server

fix(ci): disable e2e push/PR triggers while tests are paused (#1436)
  .github/workflows/e2e.yml
  server/mcp/tool-handlers/messaging.ts
Due: server

chore: update test count in deep-dive stats (8,777 → 8,809)
  docs/deep-dive.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
