Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: sanitize work task PR summaries to prevent error messages in descriptions
  server/work/session-lifecycle.ts
Due: server

feat: add GET /api/settings/runtime for self-service config visibility (#1490)
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/settings.component.ts
  server/__tests__/routes-settings.test.ts
  server/routes/settings.ts
  specs/routes/routes.spec.md
Due: server, client

fix(specs): align spec documentation with current implementation
  .specsync/hashes.json
  specs/db/schema.spec.md
  specs/flock-directory/service.spec.md
  specs/mcp/tools/default-tools.spec.md
  specs/reputation/scorer.spec.md
Due: none

spec: fix documentation mismatches across 8 modules (#2018-2025)
  specs/algochat/bridge.spec.md
  specs/algochat/commands.spec.md
  specs/algochat/conversation-access.spec.md
  specs/algochat/directory.spec.md
  specs/discord/message-commands.spec.md
  specs/mcp/tools/default-tools.spec.md
  specs/mcp/tools/tool-catalog.spec.md
  specs/memory/memory.spec.md
  specs/process/process-manager.spec.md
  specs/work/task-queue.spec.md
Due: none

chore: dependency update pass (2026-04-12 audit) (#2012)
  biome.json
  server/routes/settings.ts
Due: server

docs: add Tailscale remote access section to deploy/README.md (#2013)
  deploy/README.md
Due: none

fix: sanitize work task PR summaries to prevent error messages in descriptions (#2015)
  server/work/session-lifecycle.ts
Due: server

spec: fix documentation mismatches across 8 modules (#2018-2025) (#2027)
  specs/algochat/bridge.spec.md
  specs/algochat/commands.spec.md
  specs/algochat/conversation-access.spec.md
  specs/algochat/directory.spec.md
  specs/discord/message-commands.spec.md
  specs/mcp/tools/default-tools.spec.md
  specs/mcp/tools/tool-catalog.spec.md
  specs/memory/memory.spec.md
  specs/process/process-manager.spec.md
  specs/work/task-queue.spec.md
Due: none

feat: add GET /api/settings/runtime for self-service config visibility (#1490) (#2016)
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/settings.component.ts
  server/__tests__/routes-settings.test.ts
  server/routes/settings.ts
  specs/routes/routes.spec.md
Due: server, client

spec: fix documentation mismatches (#2017, #2020) (#2026)
  .specsync/hashes.json
  specs/db/schema.spec.md
  specs/flock-directory/service.spec.md
  specs/reputation/scorer.spec.md
Due: none

fix: add required icon and description inputs to EmptyStateComponent usage
  client/src/app/features/sessions/session-memory.component.ts
Due: client

feat(ui): session memory tab and nav consolidation
  client/src/app/features/sessions/session-memory.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(ui): simplify navigation — separate Observe tab, clean Sessions dropdown
  client/src/app/app.routes.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(memory): record channel interactions as short-term observations
  server/algochat/message-router.ts
  server/discord/message-handler.ts
  server/telegram/bridge.ts
  shared/types/memories.ts
Due: server

chore: update specsync hashes, blog post v0.63, fix librarian agent ID
  .specsync/hashes.json
  docs/blog.html
  server/mcp/tool-handlers/library.ts
Due: server

chore: regenerate specsync hashes after rebase
  .specsync/hashes.json
Due: none

feat(ui): session memory tab and nav consolidation (#2028)
  .specsync/hashes.json
  client/src/app/app.routes.ts
  client/src/app/features/sessions/session-memory.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/top-nav.component.ts
  docs/blog.html
  server/algochat/message-router.ts
  server/discord/message-handler.ts
  server/mcp/tool-handlers/library.ts
  server/telegram/bridge.ts
  shared/types/memories.ts
Due: server, client

feat(ui): tabbed settings page — General, Channels, Advanced
  client/src/app/features/settings/settings.component.ts
Due: client

fix: correct CorvidAgent ID in library tool handler test
  server/__tests__/library-tool-handler.test.ts
Due: server

blog: Road to v1.0 — Settings Self-Service, Navigation Overhaul, 1000-PR Milestone
  .specsync/hashes.json
  docs/blog.html
Due: none

fix: resolve merge conflicts with main for blog PR
  .specsync/hashes.json
  docs/blog.html
Due: none

blog: Road to v1.0 — Settings Self-Service, Navigation Overhaul, 1000-PR Milestone (#2031)
  .specsync/hashes.json
  docs/blog.html
Due: none

feat(ui): simplify navigation — remove Dashboard/Library from sidebar, tabbed settings
  client/src/app/app.routes.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix(library): exclude standalone entries that have matching paginated books
  server/db/agent-library.ts
Due: server

fix(test): use correct CorvidAgent ID in library permission tests
  server/__tests__/library-tool-handler.test.ts
Due: server

fix: use correct CorvidAgent ID in library handler test
  server/__tests__/library-tool-handler.test.ts
Due: server

feat(ops): add scripts/backup.sh and scripts/restore.sh for full instance backup
  docs/backup-and-recovery.md
  scripts/backup.sh
  scripts/restore.sh
Due: none

feat: add v1.0.0 performance benchmarks for API latency and SQLite throughput
  docs/performance-benchmarks.md
  scripts/benchmark-api.ts
  scripts/benchmark-sqlite.ts
Due: none

fix(library): exclude standalone entries that have matching paginated books (#2033)
  server/__tests__/library-tool-handler.test.ts
  server/db/agent-library.ts
Due: server

feat(ui): simplify navigation — 5-item nav, tabbed settings, status strip (#2032)
  client/src/app/app.routes.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix(specs): align spec documentation with current implementation (#2017, #2020) (#2030)
  .specsync/hashes.json
Due: none

feat(ops): backup.sh and restore.sh for full instance backup/restore (#2035)
  docs/backup-and-recovery.md
  scripts/backup.sh
  scripts/restore.sh
Due: none

fix(ui): improve settings accessibility — larger touch targets, modern sizing
  client/src/app/features/settings-access/allowlist.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/mobile-settings.component.ts
  client/src/app/features/settings/notifications-settings.component.ts
  client/src/app/features/settings/openrouter-settings.component.ts
  client/src/app/features/settings/settings-shared.styles.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/settings/telegram-settings.component.ts
Due: client

chore(ci): reduce CI usage by ~75% — consolidate workflows, slow heartbeat
  .github/dependabot.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/heartbeat.yml
  .github/workflows/security.yml
  .github/workflows/stats.yml
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
