Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: improve patch coverage for escalation helpers
  server/__tests__/escalation.test.ts
  server/process/direct-process.ts
  specs/process/direct-process.spec.md
Due: server

docs: sync API reference and README with current codebase
  README.md
  docs/api-reference.md
Due: none

spec: document exports for memory-brain-viewer, close all 40 warnings
  specs/dashboard/memory-brain-viewer.spec.md
Due: none

fix: resolve CI failures in spec check and stats check
  README.md
  docs/deep-dive.md
  specs/dashboard/memory-brain-viewer.spec.md
Due: none

feat: add Brain Viewer UI component, backend route, and tests
  client/src/app/app.routes.ts
  client/src/app/features/brain-viewer/brain-viewer.component.spec.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/shared/components/sidebar.component.spec.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/routes-brain-viewer.test.ts
  server/routes/brain-viewer.ts
  server/routes/index.ts
Due: server, client

fix: add missing memory tools to MCP package and fix build (#1203)
  .gitignore
  packages/corvid-agent-mcp/src/server.ts
  packages/corvid-agent-mcp/tsup.config.ts
Due: none

docs: add JSDoc @param/@returns to server/lib/ exported functions (#1204)
  server/lib/errors.ts
  server/lib/resilience.ts
  server/lib/response.ts
  server/lib/secure-wipe.ts
Due: server

feat: cheerleading detection for agent sessions (#1205)
  server/__tests__/session-analysis.test.ts
  server/bootstrap.ts
  server/lib/session-analysis.ts
  server/process/session-cheerleading-detector.ts
Due: server

feat: auto-escalate stalled sessions with structured metadata (#1209)
  server/__tests__/escalation.test.ts
  server/__tests__/routes-sessions.test.ts
  server/process/direct-process.ts
  server/process/types.ts
  server/routes/index.ts
  server/routes/sessions.ts
  specs/process/claude-process.spec.md
  specs/process/direct-process.spec.md
  specs/routes/routes.spec.md
Due: server

feat: add bot verification challenges and flock_testing schedule handler (#896) (#1211)
  server/__tests__/flock-testing-challenges.test.ts
  server/__tests__/flock-testing-evaluator.test.ts
  server/__tests__/flock-testing-runner.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/evaluator.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/flock-testing.ts
  server/scheduler/handlers/index.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-evaluator.spec.md
  specs/scheduler/handlers.spec.md
Due: server

docs: sync API reference and README with codebase (#1212)
  README.md
  docs/api-reference.md
Due: none

spec: document exports for memory-brain-viewer (#1213)
  README.md
  client/src/app/app.routes.ts
  client/src/app/features/brain-viewer/brain-viewer.component.spec.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/shared/components/sidebar.component.spec.ts
  client/src/app/shared/components/sidebar.component.ts
  docs/deep-dive.md
  server/__tests__/routes-brain-viewer.test.ts
  server/routes/brain-viewer.ts
  server/routes/index.ts
  specs/dashboard/memory-brain-viewer.spec.md
Due: server, client

fix: add logging to session recovery and use correct channel for /session
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
Due: server

docs: add missing specs for session-analysis, cheerleading-detector, brain-viewer
  specs/lib/session-analysis.spec.md
  specs/process/session-cheerleading-detector.spec.md
  specs/routes/brain-viewer.spec.md
Due: none

fix: update spec_files count from 154 to 157 in docs
  README.md
  docs/deep-dive.md
Due: none

docs: update stats — 7920 tests, 157 specs, 330 test files
  README.md
  docs/deep-dive.md
Due: none

fix: session recovery logging and /session channel fix (#1214)
  README.md
  docs/deep-dive.md
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  specs/lib/session-analysis.spec.md
  specs/process/session-cheerleading-detector.spec.md
  specs/routes/brain-viewer.spec.md
Due: server

docs: update README, CHANGELOG, and version for v0.37.0
  CHANGELOG.md
  README.md
  package.json
Due: none

docs: update README, CHANGELOG, and version for v0.37.0 (#1215)
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: include attachment URLs in message text for reliable image visibility
  server/__tests__/discord-image-attachments.test.ts
  server/discord/image-attachments.ts
Due: server

fix: document appendAttachmentUrls in bridge spec
  specs/discord/bridge.spec.md
Due: none

test: add coverage for approval-format, agent-card, and observability metrics
  server/__tests__/a2a-agent-card.test.ts
  server/__tests__/algochat-approval-format.test.ts
  server/__tests__/observability-metrics.test.ts
Due: server

fix: remove mock.module that poisoned personas module across test files
  server/__tests__/a2a-agent-card.test.ts
Due: server

feat: add agent deployment config schema and plugin interfaces (#30)
  corvid-agent.config.ts
  server/config/loader.ts
  shared/types/agent-config.ts
  shared/types/index.ts
  shared/types/plugins.ts
Due: server

test: add comprehensive tests for agent config loader (#30)
  server/__tests__/config-loader.test.ts
Due: server

feat: migrate spec validation to specsync Rust binary
  .github/workflows/checks.yml
  package.json
  scripts/spec-check.ts
Due: none

docs: expand use case gallery with examples and new categories
  docs/quickstart.md
  docs/use-cases.md
Due: none

fix: revert CI to use bun spec scripts until spec-sync action exists
  .github/workflows/checks.yml
  package.json
  scripts/spec-check.ts
Due: none

feat: add specsync.json config for Rust binary migration
  specsync.json
Due: none

feat: complete specsync migration — delete TypeScript, use Rust binary
  .github/workflows/checks.yml
  package.json
  scripts/spec-check.ts
Due: none

fix: protect young sessions from premature limit-based deletion
  server/__tests__/session-lifecycle.test.ts
  server/discord/message-handler.ts
  server/process/session-lifecycle.ts
  specs/discord/bridge.spec.md
  specs/process/session-lifecycle.spec.md
Due: server

fix: prevent cross-session contamination via mandatory worktree isolation
  server/algochat/message-router.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/lib/worktree.spec.md
Due: server

fix: mock worktree creation in tests and document getWorktreeIsolationPrompt
  server/__tests__/algochat-message-router.test.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/discord-commands-additional.test.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

fix: extract mentions from embeds to content field for Discord notifications
  server/__tests__/discord-embeds-validation.test.ts
  server/discord/embeds.ts
Due: server

fix: document extractMentionsFromEmbed in discord bridge spec
  specs/discord/bridge.spec.md
Due: none

feat: tiered corvid_send_message access for scheduler sessions (#1155)
  server/__tests__/scheduler-tool-gating.test.ts
  server/mcp/scheduler-tool-gating.ts
  specs/mcp/sdk-tools.spec.md
Due: server

fix: include attachment URLs in message text for reliable image visibility (#1216)
  server/__tests__/discord-image-attachments.test.ts
  server/discord/image-attachments.ts
  specs/discord/bridge.spec.md
Due: server

test: add 64 tests for approval-format, agent-card, metrics (#1217)
  server/__tests__/a2a-agent-card.test.ts
  server/__tests__/algochat-approval-format.test.ts
  server/__tests__/observability-metrics.test.ts
Due: server

feat: agent deployment config schema and plugin interfaces (#30) (#1218)
  corvid-agent.config.ts
  server/__tests__/config-loader.test.ts
  server/config/loader.ts
  shared/types/agent-config.ts
  shared/types/index.ts
  shared/types/plugins.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
