Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: remove unused variable in handleClick
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

feat(client): Three.js 3D network visualization with dual-mode toggle (#1626)
  client/bun.lock
  client/package.json
  client/src/app/core/services/view-mode.service.ts
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
  specs/discord/bridge.spec.md
Due: client

fix(ci): resolve CI failures for PR #1629
  server/__tests__/direct-process-utils.test.ts
  server/__tests__/discord-bridge.test.ts
  specs/process/context-management.spec.md
Due: server

fix: model-aware context budgets + overflow error recovery (#1629)
  server/__tests__/context-management.test.ts
  server/__tests__/direct-process-utils.test.ts
  server/process/context-management.ts
  server/process/direct-process.ts
  server/process/manager.ts
  specs/process/context-management.spec.md
Due: server

feat(library): add Three.js 3D library visualization with REST API
  client/src/app/app.routes.ts
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/routes/index.ts
  server/routes/library.ts
Due: server, client

fix(test): stabilize dead-end embed test for CI
  server/__tests__/discord-bridge.test.ts
Due: server

fix(ci): stabilize dead-end embed test + update spec count
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
Due: server

fix(library): proper Three.js resource disposal in 3D visualization
  client/src/app/features/library/library-3d.component.ts
Due: client

fix(test): pin OLLAMA_NUM_CTX in direct-process-utils tests
  server/__tests__/direct-process-utils.test.ts
Due: server

fix(docs): update spec count from 200 to 201
  docs/deep-dive.md
Due: none

fix(ci): pin spec-sync binary version and update stats
  .github/workflows/checks.yml
Due: none

fix(test): stabilize dead-end embed test for CI (#1631)
  .github/workflows/checks.yml
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
Due: server

fix(ci): add library route to spec + merge main for test/stats fixes
  specs/memory/arc69-library.spec.md
Due: none

feat(library): Three.js 3D library visualization UI (#1630)
  client/src/app/app.routes.ts
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/direct-process-utils.test.ts
  server/routes/index.ts
  server/routes/library.ts
  specs/memory/arc69-library.spec.md
Due: server, client

fix(client): align tests with current component implementations
  client/src/app/core/services/guided-tour.service.spec.ts
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.spec.ts
  client/src/app/features/brain-viewer/brain-viewer.component.spec.ts
  client/src/app/shared/components/guided-tour.component.spec.ts
  client/src/app/shared/components/sidebar.component.spec.ts
Due: client

fix: sandbox 500, persona upsert endpoint, skills assignment UI
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  server/routes/personas.ts
Due: server, client

fix(client): consolidate nav, add library browser, fix 3D + mobile issues
  client/src/app/app.routes.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/top-nav.component.ts
  server/routes/index.ts
  server/routes/library.ts
Due: server, client

fix: remove duplicate library route import/handler after rebase
  server/routes/index.ts
Due: server

fix(client): declutter UI — kill sub-tabs, collapsible chat bar, compact headers
  client/src/app/app.routes.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
  server/__tests__/routes-personas.test.ts
Due: server, client

fix(client): consolidate nav, add library browser, fix 3D + mobile (#1633)
  client/src/app/app.routes.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
  server/__tests__/routes-personas.test.ts
  server/routes/index.ts
  server/routes/library.ts
  server/routes/personas.ts
Due: server, client

feat(cursor): rename CURSOR_MAX_PARALLEL → CURSOR_MAX_CONCURRENT, default 2→4, add getSlotStatus()
  .env.example
  docs/provider-parity-checklist.md
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
  specs/providers/cursor-provider.spec.md
Due: server

fix(client): fix nav dropdowns, session overflow, layout spacing, library 3D access
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix(client): fix nav dropdowns, session overflow, layout spacing, library 3D access (#1635)
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(library-3d): FPS mouse look, fix controls, lower camera, book grouping
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
Due: client

feat(library-3d): FPS mouse look, fix controls, lower camera, book grouping (#1636)
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
Due: client

feat(comms-3d): persistent trails, message log panel, pointer lock orbit
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

feat(comms-3d): persistent trails, message log panel, pointer lock orbit (#1637)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

fix(client): cursor/pointer capture, book reading freeze, newest-first lists
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
Due: client

fix(client): cursor/pointer capture, book reading freeze, newest-first lists (#1638)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
Due: client

fix(cursor-provider): add stream idle timeout to prevent hung sessions
  server/algochat/messaging-guard.ts
  server/providers/cursor/provider.ts
Due: server

feat(providers): add cursor fallback chain to DEFAULT_FALLBACK_CHAINS
  server/__tests__/buddy-mixed-provider.test.ts
  server/providers/fallback.ts
  specs/providers/provider-system.spec.md
Due: server

fix(client): bump base font-size to 16px, add auto-split book writing
  client/src/styles.css
  server/mcp/tool-handlers/library.ts
Due: server, client

fix(cursor-provider): add stream idle timeout to prevent hung sessions (#1639)
  client/src/styles.css
  server/algochat/messaging-guard.ts
  server/mcp/tool-handlers/library.ts
  server/providers/cursor/provider.ts
Due: server, client

fix: add cursor to valid providers list in fallback chain test
  server/__tests__/providers.test.ts
Due: server

release: prepare v0.57.0 — update version, changelog, README, GitHub Pages
  CHANGELOG.md
  README.md
  docs/index.html
  docs/releases.html
  package.json
Due: none

feat(providers): add cursor fallback chain to DEFAULT_FALLBACK_CHAINS (#1640)
  server/__tests__/buddy-mixed-provider.test.ts
  server/__tests__/providers.test.ts
  server/providers/fallback.ts
  specs/providers/provider-system.spec.md
Due: server

test(councils): add Cursor smoke and failure-injection tests
  server/__tests__/council-mixed-provider.test.ts
Due: server
