Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

test: add route tests for permissions, mention-polling, performance, and health (#820)
  server/__tests__/routes-health.test.ts
  server/__tests__/routes-mention-polling.test.ts
  server/__tests__/routes-performance.test.ts
  server/__tests__/routes-permissions.test.ts
Due: server

feat: Flock Directory — on-chain agent registry with MCP tool and API (#700)
  server/__tests__/algochat-init.test.ts
  server/__tests__/flock-directory-service.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/db/migrations/075_flock_directory.ts
  server/db/schema.ts
  server/flock-directory/service.ts
  server/flock-directory/types.ts
  server/index.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/process/mcp-service-container.ts
  server/routes/flock-directory.ts
  server/routes/index.ts
  shared/types/flock-directory.ts
  shared/types/index.ts
Due: server

fix: resolve CI failures — merge main for Chart.yaml version and document handleFlockDirectory export
  specs/mcp/tool-handlers.spec.md
Due: none

fix: sync drifted stats (migrations, tables, test counts)
  README.md
  docs/deep-dive.md
Due: none

fix: update stale documented stats for flock directory additions
  README.md
  docs/deep-dive.md
Due: none

feat: Flock Directory — agent registry, MCP tool, and API (#700) (#806)
  README.md
  docs/deep-dive.md
  server/__tests__/algochat-init.test.ts
  server/__tests__/flock-directory-service.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/db/migrations/075_flock_directory.ts
  server/db/schema.ts
  server/flock-directory/service.ts
  server/flock-directory/types.ts
  server/index.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/process/mcp-service-container.ts
  server/routes/flock-directory.ts
  server/routes/index.ts
  shared/types/flock-directory.ts
  shared/types/index.ts
  specs/mcp/tool-handlers.spec.md
Due: server

feat: enhance corvid-agent init with --mcp, --yes flags and auto-clone (#830, #833)
  README.md
  cli/commands/init.ts
  cli/index.ts
  docs/quickstart.md
  package.json
Due: server

feat: add npx-compatible shim and init command tests (#830)
  bin/corvid-agent.mjs
  server/__tests__/cli-init.test.ts
Due: server

fix: improve health collector accuracy for large files and code markers
  server/improvement/health-collector.ts
Due: server

fix: skip executable-bit assertion on Windows
  server/__tests__/cli-init.test.ts
Due: server

feat: enhance corvid-agent init with --mcp, --yes, and auto-clone (#837)
  README.md
  bin/corvid-agent.mjs
  cli/commands/init.ts
  cli/index.ts
  docs/quickstart.md
  package.json
  server/__tests__/cli-init.test.ts
Due: server

docs: improve landing page messaging and onboarding (#833)
  README.md
  docs/index.html
  docs/sitemap.xml
  docs/style.css
  docs/why-corvidagent.html
Due: none

feat: integrate VibeKit smart contract MCP tools (#829)
  cli/commands/init.ts
  docs/vibekit-integration.md
  server/__tests__/cli-init.test.ts
  skills/smart-contracts/SKILL.md
Due: server

fix: normalize line endings in SKILL.md frontmatter test for Windows CI
  server/__tests__/cli-init.test.ts
Due: server

docs: improve landing page messaging and onboarding (#833) (#836)
  README.md
  docs/index.html
  docs/sitemap.xml
  docs/style.css
  docs/why-corvidagent.html
Due: none

Improve WCAG AA accessibility across Angular dashboard
  client/src/app/app.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/index.html
  client/src/styles.css
Due: client

docs: add system requirements guide and RAM benchmark script (#747)
  docs/quickstart.md
  docs/self-hosting.md
  docs/system-requirements.md
  scripts/benchmark-system.ts
  scripts/install.sh
Due: none

feat: integrate VibeKit smart contract MCP tools (#839)
  cli/commands/init.ts
  docs/vibekit-integration.md
  server/__tests__/cli-init.test.ts
  skills/smart-contracts/SKILL.md
Due: server

fix: replace child_process with Bun.spawnSync in benchmark script
  scripts/benchmark-system.ts
Due: none

fix: normalize CRLF in SKILL.md tests for Windows CI
  server/__tests__/cli-init.test.ts
  skills/memory/SKILL.md
Due: server

feat: add Agent Skills for AI assistant discovery (#831)
  cli/commands/init.ts
  docs/quickstart.md
  server/__tests__/cli-init.test.ts
  skills/README.md
  skills/algochat/SKILL.md
  skills/flock-directory/SKILL.md
  skills/github/SKILL.md
  skills/memory/SKILL.md
  skills/orchestration/SKILL.md
  skills/reputation/SKILL.md
  skills/scheduling/SKILL.md
  skills/work-tasks/SKILL.md
Due: server

feat: skills-as-markdown for AI assistant discovery (#838)
  cli/commands/init.ts
  docs/quickstart.md
  server/__tests__/cli-init.test.ts
  skills/README.md
  skills/algochat/SKILL.md
  skills/flock-directory/SKILL.md
  skills/github/SKILL.md
  skills/memory/SKILL.md
  skills/orchestration/SKILL.md
  skills/reputation/SKILL.md
  skills/scheduling/SKILL.md
  skills/work-tasks/SKILL.md
Due: server

docs: system requirements and RAM benchmarks (#747) (#840)
  docs/quickstart.md
  docs/self-hosting.md
  docs/system-requirements.md
  scripts/benchmark-system.ts
  scripts/install.sh
Due: none

feat: marketplace tiered pricing plans (#706)
  server/__tests__/marketplace-pricing-tiers.test.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

fix: add pricing tier exports to spec files for CI compliance
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: none

feat: agent-agnostic MCP support for Cursor, Copilot, OpenCode (#832)
  README.md
  cli/commands/init.ts
  docs/index.html
  docs/mcp-setup.md
Due: server

fix: update documented stats for new migration and table counts
  README.md
  docs/deep-dive.md
Due: none

feat: agent-agnostic MCP support for Cursor, Copilot, OpenCode (#832) (#843)
  README.md
  cli/commands/init.ts
  docs/index.html
  docs/mcp-setup.md
Due: server

feat: marketplace tiered pricing plans (#706) (#842)
  README.md
  docs/deep-dive.md
  server/__tests__/marketplace-pricing-tiers.test.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: server

test: add tests for 6 previously untested modules
  server/__tests__/approval-format.test.ts
  server/__tests__/billing-meter.test.ts
  server/__tests__/condenser.test.ts
  server/__tests__/exam-cases.test.ts
  server/__tests__/group-sender.test.ts
  server/__tests__/key-rotation.test.ts
Due: server

feat: governance v2 WebSocket events for real-time vote updates (#757)
  server/__tests__/governance-ws-events.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/events/broadcasting.ts
  server/routes/councils.ts
  shared/ws-protocol.ts
Due: server

docs: publish 'most tested AI agent platform' positioning (#540)
  README.md
  docs/blog/why-more-test-than-production-code.md
  docs/index.html
  docs/why-corvidagent.html
Due: none

fix: remove marketplace pricing tier changes from docs branch
  server/__tests__/marketplace-pricing-tiers.test.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

fix: document governance WS event exports in spec files
  specs/councils/councils.spec.md
  specs/events/broadcasting.spec.md
Due: none

docs: tone down quality messaging — let the numbers speak
  README.md
  docs/blog/why-more-test-than-production-code.md
  docs/index.html
  docs/why-corvidagent.html
Due: none

Revert "fix: remove marketplace pricing tier changes from docs branch"
  server/__tests__/marketplace-pricing-tiers.test.ts
  server/db/migrations/076_marketplace_pricing_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

feat: governance v2 WebSocket events for real-time vote updates (#757) (#846)
  server/__tests__/governance-ws-events.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/events/broadcasting.ts
  server/routes/councils.ts
  shared/ws-protocol.ts
  specs/councils/councils.spec.md
  specs/events/broadcasting.spec.md
Due: server

ci: auto-regenerate bun.lockb on Dependabot PRs
  .github/workflows/dependabot-lockfile.yml
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
