Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(governance): implement weighted voting and quorum configuration (#633)
  server/__tests__/governance.test.ts
  server/councils/discussion.ts
  server/councils/governance.ts
  server/councils/synthesis.ts
  server/db/councils.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/routes/councils.ts
  server/routes/index.ts
  shared/types/councils.ts
  specs/councils/councils.spec.md
Due: server

fix: add migration 071 file and update baseline for governance quorum columns
  server/db/migrations/001_baseline.ts
  server/db/migrations/071_governance_quorum.ts
Due: server

fix: increase Discord interaction token max length to 500
  server/discord/bridge.ts
Due: server

fix: Discord slash commands failing — interaction token too short (#765)
  server/__tests__/governance.test.ts
  server/councils/discussion.ts
  server/councils/governance.ts
  server/councils/synthesis.ts
  server/db/councils.ts
  server/db/schema.ts
  server/discord/bridge.ts
  server/lib/validation.ts
  server/routes/councils.ts
  server/routes/index.ts
  shared/types/councils.ts
  specs/councils/councils.spec.md
Due: server

feat: post council synthesis to Discord on completion
  server/discord/bridge.ts
Due: server

feat: post council synthesis to Discord on completion (#766)
  server/discord/bridge.ts
Due: server

docs: sync stale stats across README and doc files
  README.md
  docs/deep-dive.md
  docs/external-review-scope.md
  docs/how-it-works.md
  docs/index.html
  docs/quickstart.md
Due: none

fix: add migration 071 and update baseline for governance quorum columns
  server/db/migrations/001_baseline.ts
  server/db/migrations/071_governance_quorum.ts
Due: server

docs: sync stale stats across README and doc files (#767)
  README.md
  docs/deep-dive.md
  docs/external-review-scope.md
  docs/how-it-works.md
  docs/index.html
  docs/quickstart.md
  server/db/migrations/001_baseline.ts
  server/db/migrations/071_governance_quorum.ts
Due: server

spec: document all 17 remaining undocumented exports (#591)
  specs/algochat/config.spec.md
  specs/db/work-tasks.spec.md
  specs/github/github.spec.md
  specs/lib/infra.spec.md
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
  specs/work/work-task-service.spec.md
Due: none

refactor: extract Discord gateway connection logic into dedicated module
  server/discord/bridge.ts
  server/discord/gateway.ts
Due: server

spec: document all 17 remaining undocumented exports (#591) (#768)
  specs/algochat/config.spec.md
  specs/db/work-tasks.spec.md
  specs/github/github.spec.md
  specs/lib/infra.spec.md
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
  specs/work/work-task-service.spec.md
Due: none

refactor: extract Discord gateway into dedicated module (#769)
  server/discord/bridge.ts
  server/discord/gateway.ts
Due: server

fix: remove duplicate properties in playwright config (#750)
  playwright.config.js
Due: none

fix: remove duplicate properties in playwright config (#750) (#770)
  playwright.config.js
Due: none

docs: TaskQueue design doc for parallel work task execution (#756)
  docs/decisions/002-task-queue-parallel-execution.md
Due: none

feat: add KeyProvider abstraction for wallet encryption key management (#383)
  server/__tests__/key-provider.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/init.ts
  server/lib/crypto.ts
  server/lib/key-provider.ts
  specs/lib/crypto.spec.md
  specs/lib/key-provider.spec.md
Due: server

docs: TaskQueue design doc for parallel work task execution (#756) (#771)
  docs/decisions/002-task-queue-parallel-execution.md
Due: none

test: add coverage for wait-sessions, tenant middleware, and plugin permissions
  server/__tests__/plugin-permissions.test.ts
  server/__tests__/tenant-middleware.test.ts
  server/__tests__/wait-sessions.test.ts
Due: server

test: add coverage for wait-sessions, tenant middleware, and plugin permissions (#773)
  server/__tests__/plugin-permissions.test.ts
  server/__tests__/tenant-middleware.test.ts
  server/__tests__/wait-sessions.test.ts
Due: server

feat: add KeyProvider abstraction for wallet encryption key management (#383) (#772)
  server/__tests__/key-provider.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/init.ts
  server/lib/crypto.ts
  server/lib/key-provider.ts
  specs/lib/crypto.spec.md
  specs/lib/key-provider.spec.md
Due: server

fix: prevent duplicate Discord messages and normalize absolute paths in coding tools
  client/src/app/core/models/session.model.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/status-badge.component.ts
  server/discord/bridge.ts
  server/mcp/coding-tools.ts
  server/process/manager.ts
  server/ws/handler.ts
  shared/types/sessions.ts
  specs/discord/bridge.spec.md
  specs/mcp/coding-tools.spec.md
Due: server, client

feat: real-time session status, Discord duplicate message fix, silent death prevention (#775)
  client/src/app/core/models/session.model.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/status-badge.component.ts
  server/discord/bridge.ts
  server/mcp/coding-tools.ts
  server/process/manager.ts
  server/ws/handler.ts
  shared/types/sessions.ts
  specs/discord/bridge.spec.md
  specs/mcp/coding-tools.spec.md
Due: server, client

chore: relax protected files list — PR review is the primary safety gate
  CLAUDE.md
  server/__tests__/auto-merge.test.ts
  server/__tests__/coding-tools.test.ts
  server/__tests__/protected-paths.test.ts
  server/__tests__/security-audit.test.ts
  server/process/protected-paths.ts
Due: server

feat: add Security Overview dashboard page (#777)
  client/src/app/app.routes.ts
  client/src/app/core/services/security-overview.service.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/routes-security-overview.test.ts
  server/openapi/route-registry.ts
  server/routes/index.ts
  server/routes/security-overview.ts
Due: server, client

fix: exclude security-overview route from code scanner
  server/lib/code-scanner.ts
Due: server

fix: derive blocked patterns from code-scanner to avoid security scan false positives
  server/lib/code-scanner.ts
  server/routes/security-overview.ts
Due: server

feat: add Security Overview dashboard page (#779)
  client/src/app/app.routes.ts
  client/src/app/core/services/security-overview.service.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/routes-security-overview.test.ts
  server/lib/code-scanner.ts
  server/openapi/route-registry.ts
  server/routes/index.ts
  server/routes/security-overview.ts
Due: server, client

feat: add delivery receipt tracking for all bridge platforms (#631)
  server/__tests__/delivery-tracker.test.ts
  server/__tests__/routes-bridge-delivery.test.ts
  server/discord/bridge.ts
  server/lib/delivery-tracker.ts
  server/openapi/route-registry.ts
  server/routes/bridge-delivery.ts
  server/routes/index.ts
  server/slack/bridge.ts
  server/telegram/bridge.ts
Due: server

feat: add delivery receipt tracking for all bridge platforms (#631) (#780)
  server/__tests__/delivery-tracker.test.ts
  server/__tests__/routes-bridge-delivery.test.ts
  server/discord/bridge.ts
  server/lib/delivery-tracker.ts
  server/openapi/route-registry.ts
  server/routes/bridge-delivery.ts
  server/routes/index.ts
  server/slack/bridge.ts
  server/telegram/bridge.ts
Due: server

feat: integrate SandboxManager into ProcessManager for container lifecycle (#382)
  server/__tests__/sandbox-manager.test.ts
  server/bootstrap.ts
  server/process/manager.ts
  specs/sandbox/sandbox.spec.md
Due: server

feat: sandbox hardening — network isolation, DB-backed resource limits, resume support (#382)
  server/__tests__/container.test.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/072_sandbox_resource_columns.ts
  server/db/schema.ts
  server/process/manager.ts
  server/sandbox/container.ts
  server/sandbox/manager.ts
  server/sandbox/policy.ts
  server/sandbox/types.ts
  specs/sandbox/sandbox.spec.md
Due: server

fix: relax protected files to unblock agent work tasks
  CLAUDE.md
  server/__tests__/auto-merge.test.ts
  server/__tests__/coding-tools.test.ts
  server/__tests__/protected-paths.test.ts
  server/__tests__/security-audit.test.ts
  server/process/protected-paths.ts
Due: server

fix: correct auto-merge author description on security page
  client/src/app/features/security-overview/security-overview.component.ts
Due: client

fix: auto-merge comments instead of closing PRs that fail security scan
  server/__tests__/auto-merge.test.ts
  server/polling/auto-merge.ts
Due: server

fix: relax protected files + stop auto-closing PRs (#784)
  CLAUDE.md
  client/src/app/features/security-overview/security-overview.component.ts
  server/__tests__/auto-merge.test.ts
  server/__tests__/coding-tools.test.ts
  server/__tests__/protected-paths.test.ts
  server/__tests__/security-audit.test.ts
  server/polling/auto-merge.ts
  server/process/protected-paths.ts
Due: server, client

feat: add governance v2 proposals with weighted voting and lifecycle (#633)
  server/__tests__/governance-proposals.test.ts
  server/councils/governance.ts
  server/db/migrations/072_governance_proposals.ts
  server/db/proposals.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/openapi/route-registry.ts
  server/routes/index.ts
  server/routes/proposals.ts
  shared/types/councils.ts
Due: server

feat: integrate SandboxManager into ProcessManager for container lifecycle (#382)
  server/__tests__/sandbox-manager.test.ts
  server/bootstrap.ts
  server/process/manager.ts
Due: server

feat: add GH_TOKEN OAuth scope validation on server startup (#729)
  server/__tests__/github-token-check.test.ts
  server/index.ts
  server/lib/github-token-check.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
