Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

chore(ci): drop redundant spec-sync GitHub Action step
  .github/workflows/ci.yml
Due: none

feat(mcp): integrate cross-channel guard into corvid_send_message handler
  server/mcp/tool-handlers/messaging.ts
Due: server

fix(mcp): restructure messaging.ts change as pure additions to pass governance
  server/mcp/tool-handlers/messaging.ts
Due: server

fix(process): persist thread session summary in session-exit-handler
  server/process/session-exit-handler.ts
Due: server

refactor(process): delegate manager.ts logic to sub-modules
  server/process/manager.ts
Due: server

feat(process): add process-spawner.ts sub-module for spawn logic
  server/process/process-spawner.ts
Due: server

fix(process): revert manager.ts changes — Layer 0 Constitutional path
  server/process/manager.ts
Due: server

fix(ci): add spec for process-spawner.ts to restore 100% coverage
  .specsync/hashes.json
  specs/process/process-spawner.spec.md
Due: none

fix(ci): update spec_files count from 213 to 214 in deep-dive.md
  docs/deep-dive.md
Due: none

fix(specs): update MCP tool counts to 56 and enumerate all tools
  specs/mcp/http-transport.spec.md
  specs/mcp/tools/tool-catalog.spec.md
Due: none

chore: update specsync cache after spec validation
  .specsync/hashes.json
Due: none

spec: fix MCP tool counts in http-transport and tool-catalog specs
  specs/mcp/http-transport.spec.md
  specs/mcp/tools/tool-catalog.spec.md
Due: none

spec(process): document module decomposition and fix API gaps in process-manager spec
  specs/process/process-manager.spec.md
Due: none

fix(ui): improve settings accessibility — larger touch targets, modern sizing (#2038)
  client/src/app/features/settings-access/allowlist.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/mobile-settings.component.ts
  client/src/app/features/settings/notifications-settings.component.ts
  client/src/app/features/settings/openrouter-settings.component.ts
  client/src/app/features/settings/settings-shared.styles.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/settings/telegram-settings.component.ts
Due: client

chore(ci): reduce CI usage by ~75% (#2039)
  .github/dependabot.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/heartbeat.yml
  .github/workflows/security.yml
  .github/workflows/stats.yml
Due: none

feat(mcp): integrate cross-channel guard into corvid_send_message handler (#2041)
  server/mcp/tool-handlers/messaging.ts
Due: server

fix(process): persist thread session summary in session-exit-handler (#2042)
  server/process/session-exit-handler.ts
Due: server

refactor(process): extract process-spawner.ts + document manager.ts decomposition plan (#2043)
  .specsync/hashes.json
  docs/deep-dive.md
  server/process/process-spawner.ts
  specs/process/process-spawner.spec.md
Due: server

spec: fix MCP tool counts in http-transport and tool-catalog specs (#2045)
  specs/mcp/http-transport.spec.md
  specs/mcp/tools/tool-catalog.spec.md
Due: none

spec(process): document module decomposition and fix API gaps in process-manager (#2046)
  specs/process/process-manager.spec.md
Due: none

fix(specs): align spec documentation with current implementation
  .specsync/hashes.json
Due: none

fix(specs): align spec documentation with current implementation (#2037)
  .specsync/hashes.json
Due: none

test: add coverage for env-vars endpoint and configurableKeys
  server/__tests__/routes-settings.test.ts
Due: server

feat(settings): editable environment config UI — closes #1490
  .specsync/hashes.json
  client/src/app/features/settings/environment-settings.component.ts
  server/routes/settings.ts
  shared/types/index.ts
  shared/types/settings.ts
Due: server, client

fix: remove unused maskValue function in environment-settings
  client/src/app/features/settings/environment-settings.component.ts
Due: client

feat(settings): editable environment config UI — closes #1490 (#2040)
  .specsync/hashes.json
  client/src/app/features/settings/environment-settings.component.ts
  server/__tests__/routes-settings.test.ts
  server/routes/settings.ts
  shared/types/index.ts
  shared/types/settings.ts
Due: server, client

fix(security): protobufjs CVE-2024-45812 arbitrary code execution override
  bun.lock
  package.json
Due: none

docs: CVE-FIX-HONO.md — moderate hono HTML injection (GHSA-458j-xx4x-4375)
  CVE-FIX-HONO.md
Due: none

fix: add protobufjs >=7.5.5 override to address CVE GHSA-xq3m-2v4x-88gg (#2052)
  bun.lock
  package.json
Due: none

fix: bump hono override to >=4.12.14 for HTML injection CVE (GHSA-458j-xx4x-4375)
  bun.lock
  package.json
Due: none

fix: bump hono override to >=4.12.14 for HTML injection CVE (GHSA-458j-xx4x-4375) (#2054)
  bun.lock
  package.json
Due: none

fix: add external factual claims verification guidance — closes #2051
  CLAUDE.md
Due: none

docs(spec): clarify enforcement boundaries in conversation-access spec
  specs/algochat/conversation-access.spec.md
Due: none

docs(specs): clarify /work routing paths and directory filtering in algochat specs (#2025)
  specs/algochat/commands.spec.md
  specs/algochat/directory.spec.md
Due: none

fix: add external factual claims verification guidance — closes #2051 (#2055)
  CLAUDE.md
Due: none

docs(spec): clarify enforcement boundaries in conversation-access spec (#2056)
  specs/algochat/conversation-access.spec.md
Due: none

docs(specs): clarify /work routing paths and directory filtering in algochat specs (#2025) (#2057)
  specs/algochat/commands.spec.md
  specs/algochat/directory.spec.md
Due: none

docs(specs): expand Discord message-commands spec for buddy mode and session persistence
  .specsync/hashes.json
  specs/discord/message-commands.spec.md
Due: none
