Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix(ollama): classify HTTP 500 as transient, verify 404/400 as permanent (closes #1527)
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

fix(ci): extract sessionErrorEmbed and add tests for codecov/patch coverage
  server/__tests__/thread-manager-utils.test.ts
  server/discord/thread-manager.ts
Due: server

feat(ui): comprehensive UX polish — input, nav, settings, responsive (#1491, #1490)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/styles.css
Due: client

feat(ui): streamline dashboard + add Discord progress feedback (#1598, #1491)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  server/discord/thread-manager.ts
Due: server, client

test(councils): Ollama council participation smoke tests (#1594)
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

feat(ui): streamline dashboard + Discord progress feedback (#1607)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/styles.css
  server/__tests__/thread-manager-utils.test.ts
  server/discord/thread-manager.ts
Due: server, client

fix(ollama): add output sanitizer to strip leaked prompt artifacts
  server/__tests__/response-sanitizer.test.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/response-sanitizer.ts
Due: server

fix(ollama): add output sanitizer to strip leaked prompt artifacts (#1609)
  server/__tests__/response-sanitizer.test.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/response-sanitizer.ts
Due: server

feat(cli): add corvid-agent doctor health check command
  cli/commands/doctor.ts
  cli/index.ts
Due: server

feat(client): route transitions, skeleton polish, motion tokens (#1612)
  client/bun.lock
  client/package.json
  client/src/app/animations/route-transitions.ts
  client/src/app/app.config.ts
  client/src/app/app.ts
  client/src/app/shared/components/skeleton.component.ts
  client/src/styles.css
Due: client

feat(client): polish #1612 animations — route motion, skeleton, cards, tabs
  client/src/app/animations/route-transitions.ts
  client/src/app/app.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/styles.css
Due: client

fix(db): sync baseline migration with legacy schema for book/page columns
  server/db/migrations/078_baseline.ts
  server/db/schema/index.ts
Due: server

ci: switch to self-hosted runners and extract spec workflow
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/spec.yml
Due: none

feat(client): route view transitions, skeleton stagger, hover micro-interactions
  client/src/app/app.config.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/skeleton.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/styles.css
Due: client

ci: switch to self-hosted runners and extract spec workflow (#1618)
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/spec.yml
Due: none

Revert "ci: switch to self-hosted runners and extract spec workflow (#1618)"
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/spec.yml
Due: none

feat(ui): animations & micro-interactions (#1612)
  client/src/app/app.config.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/skeleton.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/styles.css
Due: client

fix: resolve CI failures for doctor command PR
  docs/deep-dive.md
  server/db/migrations/078_baseline.ts
  server/db/schema/memory.ts
  specs/cli/doctor.spec.md
  specs/discord/bridge.spec.md
Due: server

test(discord): add coverage for thread-lifecycle and thread-session-map
  server/__tests__/thread-lifecycle.test.ts
  server/__tests__/thread-session-map.test.ts
  server/discord/thread-lifecycle.ts
  server/discord/thread-session-map.ts
Due: server

fix(governance): revert baseline migration change to comply with Layer 1 restriction
  server/db/migrations/078_baseline.ts
Due: server

fix(governance): fully revert baseline migration to match main
  server/db/migrations/078_baseline.ts
Due: server

fix: resolve CI failures for memory book/page migration
  docs/deep-dive.md
  server/db/migrations/078_baseline.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  specs/discord/bridge.spec.md
Due: server

fix: resolve CI failures — sync migration 108 to legacy schema
  docs/deep-dive.md
  server/db/migrations/078_baseline.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  specs/discord/bridge.spec.md
Due: server

fix: remove duplicate migration 108 and unrelated changes from doctor PR
  docs/deep-dive.md
  server/db/schema/index.ts
  server/db/schema/memory.ts
  specs/discord/bridge.spec.md
Due: server

fix: add spec coverage for memory-tools, migration 108, and response-sanitizer
  specs/db/migrations.spec.md
  specs/mcp/sdk-tools.spec.md
  specs/providers/ollama-provider.spec.md
Due: none

feat(cli): add corvid-agent doctor health check command (#1486)
  cli/commands/doctor.ts
  cli/index.ts
  specs/cli/doctor.spec.md
Due: server

Revert "ci: switch to self-hosted runners and extract spec workflow"
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/spec.yml
  docs/deep-dive.md
  server/db/migrations/078_baseline.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/mcp/sdk-tools.spec.md
  specs/providers/ollama-provider.spec.md
Due: server

feat(client): animations & micro-interactions (#1612)
  client/bun.lock
  client/package.json
  client/src/app/animations/route-transitions.ts
  client/src/app/app.config.ts
  client/src/app/app.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/styles.css
  server/db/migrations/078_baseline.ts
  specs/discord/bridge.spec.md
Due: server, client

fix(docs): update hero stats — replace misleading "0 Dependencies" with "30+ Skills" and sum stars from both GitHub orgs
  docs/index.html
Due: none

feat(client): add Three.js 3D network visualization with dual-mode toggle
  client/bun.lock
  client/package.json
  client/src/app/core/services/view-mode.service.ts
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

fix(ci): add missing specs for thread-lifecycle and thread-session-map
  docs/deep-dive.md
  specs/discord/bridge.spec.md
Due: none

fix(ci): add uncovered discord files to spec and update stats
  docs/deep-dive.md
  specs/discord/bridge.spec.md
Due: none

feat(dx): add first-run welcome banner and post-init health summary
  cli/commands/init.ts
  server/index.ts
  server/lib/first-run-banner.ts
Due: server

fix: model-aware context budgets + context overflow error recovery
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  server/process/direct-process.ts
  server/process/manager.ts
Due: server

fix(test): use correct model ID in context budget tests
  server/__tests__/context-management.test.ts
Due: server

fix(test): stabilize dead-end embed test for CI timing
  server/__tests__/discord-bridge.test.ts
Due: server

fix(ci): resolve CI failures for PR #1627
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
  specs/discord/thread-lifecycle.spec.md
  specs/discord/thread-session-map.spec.md
  specs/lib/first-run-banner.spec.md
Due: server

fix(docs): update hero stats accuracy on landing page (#1622)
  docs/deep-dive.md
  docs/index.html
  specs/discord/bridge.spec.md
Due: none

feat(dx): first-run welcome banner + post-init health summary (#1627)
  cli/commands/init.ts
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
  server/index.ts
  server/lib/first-run-banner.ts
  specs/discord/thread-lifecycle.spec.md
  specs/discord/thread-session-map.spec.md
  specs/lib/first-run-banner.spec.md
Due: server
