Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat: enforce off-limits repo blocklist on GitHub write operations (#547)
  .claude/off-limits-repos.txt
  server/__tests__/off-limits.test.ts
  server/__tests__/work-task-service.test.ts
  server/github/off-limits.ts
  server/mcp/tool-handlers/github.ts
  server/work/service.ts
Due: server

Update off-limits repositories list
  .claude/off-limits-repos.txt
Due: none

feat: block all Vapor org repos and add org wildcard support
  .claude/off-limits-repos.txt
  server/__tests__/off-limits.test.ts
  server/github/off-limits.ts
Due: server

fix: add org wildcard matching and update off-limits tests
  server/__tests__/off-limits.test.ts
  server/github/off-limits.ts
Due: server

feat: block all Vapor org repos and add org wildcard support (#554)
  .claude/off-limits-repos.txt
  server/__tests__/off-limits.test.ts
  server/github/off-limits.ts
Due: server

fix: obfuscate security spec examples to pass CI scanner
  specs/lib/security.spec.md
Due: none

feat: add branch protection script and protect 4/6 public repos
  scripts/enable-branch-protection.sh
Due: none

feat: add repo blocklist with auto-block on PR rejection (#548)
  client/src/app/app.routes.ts
  client/src/app/core/services/repo-blocklist.service.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/repo-blocklist.test.ts
  server/db/migrations/064_repo_blocklist.ts
  server/db/repo-blocklist.ts
  server/db/schema.ts
  server/feedback/outcome-tracker.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/repo-blocklist.ts
  server/polling/auto-merge.ts
  server/polling/service.ts
  server/routes/index.ts
  server/routes/repo-blocklist.ts
Due: server, client

feat: add branch protection script and protect 4/6 public repos (#560)
  scripts/enable-branch-protection.sh
Due: none

feat: add repo blocklist with auto-block on PR rejection (#548) (#561)
  client/src/app/app.routes.ts
  client/src/app/core/services/repo-blocklist.service.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/repo-blocklist.test.ts
  server/db/migrations/064_repo_blocklist.ts
  server/db/repo-blocklist.ts
  server/db/schema.ts
  server/feedback/outcome-tracker.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/repo-blocklist.ts
  server/polling/auto-merge.ts
  server/polling/service.ts
  server/routes/index.ts
  server/routes/repo-blocklist.ts
Due: server, client

fix: exempt localhost from rate limiting for local dashboard
  server/middleware/guards.ts
  server/middleware/rate-limit.ts
Due: server

fix: exempt localhost from rate limiting for local dashboard (#562)
  server/middleware/guards.ts
  server/middleware/rate-limit.ts
Due: server

fix: inject socket IP so localhost rate-limit exemption works
  server/index.ts
Due: server

fix: use original request for WebSocket upgrade
  server/index.ts
Due: server

fix: resolve CSP inline script error and persona 404 spam
  client/angular.json
  client/src/app/core/services/persona.service.ts
  server/__tests__/routes-personas.test.ts
  server/routes/personas.ts
Due: server, client

fix: add E2E test agent cleanup to prevent duplicate accumulation
  e2e/fixtures.ts
Due: none

security: add 5-second post-connect auth timeout for WebSocket
  server/__tests__/ws-handler.test.ts
  server/ws/handler.ts
  specs/ws/handler.spec.md
Due: server

fix: remove unsupported inlineCriticalCss from angular.json
  client/angular.json
Due: none

security: add 5-second post-connect auth timeout for WebSocket (#564)
  server/__tests__/ws-handler.test.ts
  server/ws/handler.ts
  specs/ws/handler.spec.md
Due: server

fix: inject socket IP so localhost rate-limit exemption works (#563)
  client/src/app/core/services/persona.service.ts
  e2e/fixtures.ts
  server/__tests__/routes-personas.test.ts
  server/index.ts
  server/routes/personas.ts
Due: server, client

security: enforce off-limits repos in polling and webhook registration
  server/polling/service.ts
  server/routes/mention-polling.ts
  server/routes/webhooks.ts
Due: server

fix: disable inline critical CSS to prevent CSP violation
  client/angular.json
Due: none

feat: add GET /api/dashboard/summary batch endpoint
  server/__tests__/routes-dashboard.test.ts
  server/routes/dashboard.ts
  server/routes/index.ts
Due: server

security: add CSP and Permissions-Policy headers middleware
  server/__tests__/api-routes.test.ts
  server/__tests__/security-headers.test.ts
  server/index.ts
  server/lib/security-headers.ts
Due: server

feat: add 'update' action to corvid_manage_schedule MCP tool
  server/__tests__/tool-handlers.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

security: enforce blocklist in polling/webhooks + fix CSP (#565)
  client/angular.json
  server/polling/service.ts
  server/routes/mention-polling.ts
  server/routes/webhooks.ts
Due: server

docs: sync architecture.html with all 200+ API endpoints and 70 tables
  docs/architecture.html
Due: none

security: add CSP and Permissions-Policy headers middleware (#566)
  server/__tests__/api-routes.test.ts
  server/__tests__/security-headers.test.ts
  server/index.ts
  server/lib/security-headers.ts
Due: server

feat: add 'update' action to corvid_manage_schedule MCP tool (#568)
  server/__tests__/tool-handlers.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

feat: add GET /api/dashboard/summary batch endpoint (#567)
  server/__tests__/routes-dashboard.test.ts
  server/routes/dashboard.ts
  server/routes/index.ts
Due: server

docs: sync architecture.html with all 200+ API endpoints and 70 tables (#569)
  docs/architecture.html
Due: none

docs: sync README counts and scheduler spec with implementation
  README.md
  specs/scheduler/scheduler-service.spec.md
Due: none

docs: sync README counts and scheduler spec with implementation (#573)
  README.md
  specs/scheduler/scheduler-service.spec.md
Due: none

fix: handle JSON format in logger special characters test
  server/__tests__/logger.test.ts
Due: server

fix: handle JSON format in logger special characters test (#574)
  server/__tests__/logger.test.ts
Due: server

fix: add @hono/node-server override to patch authorization bypass (GHSA-wc8c-qw6v-h7f6)
  bun.lock
  package.json
Due: none
