Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: add prompt injection detection and input hardening (#328)
  e2e/prompt-injection.spec.ts
  server/__tests__/prompt-injection.test.ts
  server/algochat/message-router.ts
  server/algochat/psk.ts
  server/db/audit.ts
  server/discord/bridge.ts
  server/lib/logger.ts
  server/lib/prompt-injection.ts
  server/telegram/bridge.ts
Due: server

test: add comprehensive unit tests for SDK process execution engine
  server/__tests__/sdk-process.test.ts
  server/process/sdk-process.ts
Due: server

fix: remove unused `mock` import from bun:test
  server/__tests__/sdk-process.test.ts
Due: server

test: add unit tests for SDK process execution engine (#337)
  server/__tests__/sdk-process.test.ts
  server/process/sdk-process.ts
Due: server

chore: update dependencies — fix MCP SDK cross-client data leak
  bun.lock
  package.json
Due: none

chore: update dependencies — fix MCP SDK cross-client data leak (#338)
  bun.lock
  package.json
Due: none

test: add unit tests for response helpers and safe env builder
  server/__tests__/env.test.ts
  server/__tests__/response.test.ts
Due: server

test: add unit tests for response helpers and safe env builder (#339)
  server/__tests__/env.test.ts
  server/__tests__/response.test.ts
Due: server

test: add unit tests for escalation queue and JSON utils
  server/__tests__/escalation-queue.test.ts
  server/__tests__/json-utils.test.ts
Due: server

docs: add VISION.md manifesto and reposition all documentation
  CLAUDE.md
  README.md
  VISION.md
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
Due: none

test: add unit tests for escalation queue and JSON utils (#340)
  server/__tests__/escalation-queue.test.ts
  server/__tests__/json-utils.test.ts
Due: server

docs: add VISION.md manifesto and reposition all documentation (#341)
  CLAUDE.md
  README.md
  VISION.md
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
Due: none

docs: add positioning sections to README, restore detailed features
  README.md
Due: none

docs: add positioning sections to README, restore detailed features (#342)
  README.md
Due: none

fix: add API key support to E2E test infrastructure
  e2e/fixtures.ts
  playwright.config.js
Due: none

fix: run bun install after auto-update pulls dependency changes
  deploy/run-loop.sh
  server/polling/service.ts
Due: server

fix: run bun install after auto-update pulls dependency changes (#345)
  deploy/run-loop.sh
  server/polling/service.ts
Due: server

fix: add API key support to E2E test infrastructure (#343)
  e2e/fixtures.ts
  playwright.config.js
Due: none

Implements client and API key authentication
  client/src/app/app.ts
  deploy/.env.example
  deploy/Dockerfile
  deploy/README.md
  deploy/docker-compose.yml
  server/db/connection.ts
  server/routes/index.ts
Due: server, client

fix: prevent infinite auto-update restart loop when not on main branch
  server/health/service.ts
  server/polling/service.ts
Due: server

feat: spending controls & USDC deposit system (v0.15.0)
  client/src/app/app.routes.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/migrate.test.ts
  server/billing/usdc.ts
  server/db/credits.ts
  server/db/migrations/002_per_agent_spending_caps.ts
  server/db/migrations/003_persistent_rate_limits.ts
  server/db/spending.ts
  server/index.ts
  server/lib/validation.ts
  server/middleware/rate-limit.ts
  server/routes/agents.ts
  server/routes/index.ts
Due: server, client

fix: resolve E2E test failures from auth + networkidle issues
  .github/workflows/ci.yml
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/analytics.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/auth-flow.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/feed.spec.ts
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/mention-polling.spec.ts
  e2e/models.spec.ts
  e2e/perf.spec.ts
  e2e/plugins.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/settings.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/webhooks.spec.ts
  e2e/work-tasks.spec.ts
  e2e/workflows.spec.ts
  server/db/sessions.ts
  server/process/manager.ts
Due: server

fix: skip auth guard for non-API paths (SPA client routes)
  server/routes/index.ts
Due: server

fix: complete E2E auth coverage for remaining test gaps
  e2e/approval.spec.ts
  e2e/chat.spec.ts
  e2e/dashboard.spec.ts
  e2e/marketplace.spec.ts
  e2e/personas.spec.ts
  e2e/reputation.spec.ts
  playwright.config.js
Due: none

fix: include /a2a/ prefix in API path list for auth routing
  server/routes/index.ts
Due: server

fix: resolve E2E test failures from auth + networkidle issues (#348)
  .github/workflows/ci.yml
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/analytics.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/auth-flow.spec.ts
  e2e/chat.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/dashboard.spec.ts
  e2e/feed.spec.ts
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/mention-polling.spec.ts
  e2e/models.spec.ts
  e2e/perf.spec.ts
  e2e/personas.spec.ts
  e2e/plugins.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/settings.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/webhooks.spec.ts
  e2e/work-tasks.spec.ts
  e2e/workflows.spec.ts
  playwright.config.js
  server/db/sessions.ts
  server/health/service.ts
  server/polling/service.ts
  server/process/manager.ts
  server/routes/index.ts
Due: server

feat: spending controls & USDC deposit system (v0.15.0) (#347)
  client/src/app/app.routes.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/__tests__/migrate.test.ts
  server/billing/usdc.ts
  server/db/credits.ts
  server/db/migrations/002_per_agent_spending_caps.ts
  server/db/migrations/003_persistent_rate_limits.ts
  server/db/spending.ts
  server/index.ts
  server/lib/validation.ts
  server/middleware/rate-limit.ts
  server/routes/agents.ts
  server/routes/index.ts
Due: server, client

feat: add Grant Credits button to wallet viewer
  client/src/app/features/wallets/wallet-viewer.component.ts
  server/routes/index.ts
Due: server, client

feat: add Grant Credits button to wallet viewer (#349)
  client/src/app/features/wallets/wallet-viewer.component.ts
  server/routes/index.ts
Due: server, client

fix: order wallet messages newest-first
  server/db/algochat-messages.ts
Due: server

fix: order wallet messages newest-first (#350)
  server/db/algochat-messages.ts
Due: server

fix: scale up base font size for 1080p displays
  client/src/styles.css
Due: client

feat: crypto hardening — key rotation, grace periods, and memory wipe (v0.16.0)
  server/__tests__/crypto-audit.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/psk-contact-manager.ts
  server/algochat/psk.ts
  server/db/audit.ts
  server/lib/crypto.ts
  server/lib/key-rotation.ts
  server/lib/secure-wipe.ts
  server/middleware/auth.ts
Due: server

fix: scale up base font size for 1080p displays (#352)
  client/src/styles.css
Due: client

fix: clean up env var leaks in crypto-audit tests
  server/__tests__/crypto-audit.test.ts
Due: server

fix: resolve Windows CI test failures from API_KEY env leak
  server/__tests__/routes-misc.test.ts
  server/routes/index.ts
Due: server

feat: crypto hardening — key rotation, grace periods & memory wipe (v0.16.0) (#353)
  server/__tests__/crypto-audit.test.ts
  server/__tests__/routes-misc.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/psk-contact-manager.ts
  server/algochat/psk.ts
  server/db/audit.ts
  server/lib/crypto.ts
  server/lib/key-rotation.ts
  server/lib/secure-wipe.ts
  server/middleware/auth.ts
  server/routes/index.ts
Due: server

feat: reputation decay, identity verification, marketplace escrow (v0.15.0)
  server/__tests__/identity-verification.test.ts
  server/__tests__/marketplace-escrow.test.ts
  server/__tests__/marketplace-service.test.ts
  server/__tests__/marketplace-verification-gate.test.ts
  server/__tests__/reputation-decay.test.ts
  server/__tests__/routes-marketplace.test.ts
  server/db/migrations/004_identity_escrow.ts
  server/marketplace/escrow.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/reputation/identity-verification.ts
  server/reputation/scorer.ts
Due: server

fix: resolve E2E marketplace test failures from verification gate
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  server/__tests__/marketplace-verification-gate.test.ts
  server/marketplace/service.ts
  server/routes/marketplace.ts
  server/routes/reputation.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
