Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

docs: publish 'most tested AI agent platform' positioning (#844)
  README.md
  docs/blog/why-more-test-than-production-code.md
  docs/index.html
  docs/why-corvidagent.html
Due: none

fix: resolve phantom test failure and self-referential code marker counting
  server/improvement/health-collector.ts
Due: server

ci: auto-regenerate bun.lockb on Dependabot PRs (#847)
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: check PR author instead of actor for Dependabot lockfile sync
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: check PR author instead of actor for Dependabot lockfile sync (#848)
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: use staged diff for lockfile change detection
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: log errors in broadcast listener callbacks instead of silently swallowing
  server/algochat/agent-messenger.ts
  server/councils/discussion.ts
Due: server

feat: marketplace verification badges and quality gates (#708)
  server/__tests__/marketplace-analytics.test.ts
  server/__tests__/marketplace-service.test.ts
  server/__tests__/marketplace-verification-gate.test.ts
  server/db/migrations/077_marketplace_usage_events.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/analytics.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/index.ts
  server/routes/marketplace-analytics.ts
  server/routes/marketplace.ts
  specs/marketplace/service.spec.md
Due: server

Add comprehensive API spec validation and fix route registry gaps
  scripts/openapi-validate.ts
  server/lib/validation.ts
  server/openapi/__tests__/spec-validation.test.ts
  server/openapi/route-registry.ts
  server/routes/exam.ts
Due: server

fix: use staged diff for lockfile change detection (#849)
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: use correct lockfile name (bun.lock not bun.lockb)
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: use correct lockfile name (bun.lock not bun.lockb) (#853)
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: move RunExamSchema out of Layer 1 validation.ts into exam route
  server/lib/validation.ts
  server/openapi/route-registry.ts
  server/routes/exam.ts
Due: server

fix: skip frozen-lockfile for Dependabot PRs in security scan
  .github/workflows/security.yml
Due: none

feat: bridge Nevermore NFT holders to corvid-agent credits (#539)
  server/__tests__/nevermore-nft-bridge.test.ts
  server/db/migrations/077_nft_holders.ts
  server/db/schema.ts
  server/nevermore/service.ts
  server/routes/index.ts
  server/routes/nevermore.ts
Due: server

fix: skip frozen-lockfile for Dependabot PRs in security scan (#856)
  .github/workflows/security.yml
Due: none

fix: resolve CI failures for marketplace verification badges PR
  server/__tests__/routes-marketplace.test.ts
  server/db/migrations/078_marketplace_trials.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/trials.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

fix: update documented stats for new nft_holders migration
  README.md
  docs/deep-dive.md
Due: none

fix: document undocumented exports in spec files
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: none

fix: log errors in broadcast listener callbacks instead of silently swallowing (#850)
  server/algochat/agent-messenger.ts
  server/councils/discussion.ts
Due: server

feat: add WCAG AA accessibility improvements to Angular dashboard
  client/src/app/app.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/styles.css
Due: client

fix: update documented stats for new migrations and tables
  README.md
  docs/deep-dive.md
Due: none

Improve Angular component quality: signals, accessibility, and error handling
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/shared/components/skeleton.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/pipes/relative-time.pipe.ts
Due: client

fix: update E2E marketplace test names/descriptions to pass quality gates
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
Due: none

perf: SQLite contention mitigation for parallel work tasks (#858)
  server/__tests__/db-pool.test.ts
  server/db/connection.ts
  server/db/credits.ts
  server/db/pool.ts
  server/db/spending.ts
  server/db/work-tasks.ts
Due: server

security: add rate limiting for device auth flow endpoints
  server/__tests__/endpoint-rate-limit.test.ts
  server/middleware/endpoint-rate-limit.ts
Due: server

fix: document getDbPool and dbWriteTransaction exports in connection spec
  specs/db/connection.spec.md
Due: none

refactor(e2e): deduplicate constants, replace arbitrary waits, improve reliability
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/analytics.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/auth-flow.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/feed.spec.ts
  e2e/fixtures.ts
  e2e/global-teardown.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/mention-polling.spec.ts
  e2e/models.spec.ts
  e2e/perf.spec.ts
  e2e/plugins.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/settings.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/webhooks.spec.ts
  e2e/work-tasks.spec.ts
  e2e/workflows.spec.ts
  playwright.config.js
Due: none

security: rate-limit device auth flow endpoints (#868)
  server/__tests__/db-pool.test.ts
  server/__tests__/endpoint-rate-limit.test.ts
  server/db/connection.ts
  server/db/credits.ts
  server/db/pool.ts
  server/db/spending.ts
  server/db/work-tasks.ts
  server/middleware/endpoint-rate-limit.ts
  specs/db/connection.spec.md
Due: server

feat: marketplace verification badges and quality gates (#708) (#851)
  README.md
  docs/deep-dive.md
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  server/__tests__/marketplace-analytics.test.ts
  server/__tests__/marketplace-service.test.ts
  server/__tests__/marketplace-verification-gate.test.ts
  server/__tests__/routes-marketplace.test.ts
  server/db/migrations/077_marketplace_usage_events.ts
  server/db/migrations/078_marketplace_trials.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/analytics.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/trials.ts
  server/marketplace/types.ts
  server/routes/index.ts
  server/routes/marketplace-analytics.ts
  server/routes/marketplace.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: server

feat: add marketplace trial service and tests (#709)
  server/__tests__/marketplace-trials.test.ts
  server/db/migrations/078_marketplace_trials.ts
  server/marketplace/trials.ts
  server/scheduler/handlers/marketplace-trial-expiry.ts
Due: server

chore: remove duplicate migration 078 (trials already in migration 77)
  server/db/migrations/078_marketplace_trials.ts
Due: server

feat: integrate marketplace trial periods into existing modules (#709)
  server/db/migrations/077_marketplace_trials.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/types.ts
  server/routes/marketplace.ts
Due: server

fix: add undocumented trial exports to spec files
  server/routes/marketplace.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
Due: server

fix: update documented stats for new trial migration and table
  README.md
  docs/deep-dive.md
Due: none

fix: document pool exports in connection spec for strict CI
  specs/db/connection.spec.md
Due: none
