Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

chore: bump version to 0.64.0 (#2153)
  package.json
Due: none

feat: council reputation gating — filter agents below minTrustLevel (#1458)
  .specsync/hashes.json
  server/__tests__/council-reputation-gate.test.ts
  server/councils/discussion.ts
  server/db/councils.ts
  server/db/migrations/123_council_min_trust_level.ts
  server/db/schema/index.ts
  server/mcp/tool-handlers/councils.ts
  server/routes/councils.ts
  server/scheduler/handlers/council.ts
  shared/types/councils.ts
Due: server

fix: log memory attestation failures instead of silently swallowing them
  server/mcp/tool-handlers/memory.ts
Due: server

docs: TypeScript 6 compatibility evaluation (blocked by @angular/build)
  docs/typescript-6-evaluation.md
Due: none

fix: resolve governance tier violation — move reputation gating out of Layer 0/1 paths
  server/__tests__/council-reputation-gate.test.ts
  server/councils/discussion.ts
  server/councils/reputation-gate.ts
  server/mcp/tool-handlers/councils.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/councils.ts
  server/scheduler/handlers/council.ts
Due: server

fix: update migration_files count in deep-dive.md (45 → 46)
  docs/deep-dive.md
Due: none

fix: add migration 123 to spec coverage for 100% CI pass
  .specsync/hashes.json
  specs/db/migrations.spec.md
Due: none

feat: evaluate_established daily scheduler job (#1458)
  .specsync/hashes.json
  server/__tests__/scheduler-established-evaluation.test.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/reputation/tasks.md
  specs/scheduler/handlers.spec.md
Due: server

fix: tighten describeCursorToolCall from any to unknown
  server/process/cursor-process.ts
Due: server

test: add unit tests for describeCursorToolCall to satisfy codecov/patch
  server/__tests__/describe-cursor-tool-call.test.ts
Due: server

feat: council reputation gating — filter agents below minTrustLevel (#2154)
  .specsync/hashes.json
  docs/deep-dive.md
  server/__tests__/council-reputation-gate.test.ts
  server/__tests__/strip-conversation-history.test.ts
  server/councils/discussion.ts
  server/db/councils.ts
  server/db/migrations/123_council_min_trust_level.ts
  server/db/schema/index.ts
  server/mcp/tool-handlers/councils.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/councils.ts
  server/scheduler/handlers/council.ts
  shared/types/councils.ts
  specs/db/migrations.spec.md
Due: server

feat: add on-chain transparency section to reputation dashboard (#1458)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
Due: client

feat: add on-chain verification audit guide (#1458)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/openapi/routes/reputation.ts
  server/routes/reputation.ts
  specs/routes/routes.spec.md
Due: server, client

fix: add audit-guide test coverage and fix formatting for CI
  server/__tests__/routes-reputation.test.ts
  server/openapi/routes/reputation.ts
  server/routes/reputation.ts
Due: server

feat: on-chain verification audit guide (#1458) (#2163)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/routes-reputation.test.ts
  server/openapi/routes/reputation.ts
  server/routes/reputation.ts
  specs/routes/routes.spec.md
Due: server, client

fix: tighten describeCursorToolCall from any to unknown (#2159)
  server/__tests__/describe-cursor-tool-call.test.ts
  server/process/cursor-process.ts
Due: server

feat: evaluate_established daily scheduler job (#1458) (#2158)
  server/__tests__/scheduler-established-evaluation.test.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/reputation/tasks.md
  specs/scheduler/handlers.spec.md
Due: server

fix: tighten describeCursorToolCall to event: unknown
  server/process/cursor-process.ts
Due: server

Add spec for activity-attestation module
  specs/reputation/activity-attestation.spec.md
Due: none

feat: daily/weekly activity summary attestations (#1458)
  server/reputation/activity-attestation.ts
  server/routes/reputation.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/scheduler/handlers.spec.md
Due: server

fix: sort imports in maintenance handler to satisfy Biome lint
  server/scheduler/handlers/maintenance.ts
Due: server

fix: add missing activity_summaries migration, update stats, add tests
  docs/deep-dive.md
  server/__tests__/activity-attestation.test.ts
  server/db/migrations/123_activity_summaries.ts
  server/db/schema/reputation.ts
Due: server

fix: add migration 123_activity_summaries to spec coverage
  specs/db/migrations.spec.md
Due: none

feat: daily/weekly activity summary attestations (#1458) (#2155)
  docs/deep-dive.md
  server/__tests__/activity-attestation.test.ts
  server/db/migrations/123_activity_summaries.ts
  server/db/schema/reputation.ts
  server/reputation/activity-attestation.ts
  server/routes/reputation.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/db/migrations.spec.md
  specs/reputation/activity-attestation.spec.md
  specs/scheduler/handlers.spec.md
Due: server

fix: tighten describeCursorToolCall to event: unknown (#2164)
  server/process/cursor-process.ts
Due: server

feat: notify owner when work task fails validation after max iterations (#2165)
  .specsync/hashes.json
  server/__tests__/work-task-validation.test.ts
  server/bootstrap.ts
  server/scheduler/handlers/maintenance.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  specs/db/migrations.spec.md
  specs/work/session-lifecycle.spec.md
Due: server

docs: add provider quality scorecard, runbook, and regression template (#1500)
  .specsync/hashes.json
  docs/provider-parity-checklist.md
  docs/provider-parity-runbook.md
  docs/provider-quality-scorecard.md
  docs/provider-regression-template.md
  server/scheduler/handlers/maintenance.ts
  specs/db/migrations.spec.md
Due: server

docs: add Layer 0 governance implementation guide for type-safety fix
  GOVERNANCE_IMPLEMENTATION_REQUIRED.md
Due: none

governance: document implementation requirements for Layer 0 file
  .specsync/hashes.json
Due: none

chore: update spec sync hashes
  .specsync/hashes.json
Due: none

feat: notify owner when work task fails validation after max iterations (#2165) (#2166)
  .specsync/hashes.json
  server/__tests__/work-task-validation.test.ts
  server/bootstrap.ts
  server/scheduler/handlers/maintenance.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  specs/db/migrations.spec.md
  specs/work/session-lifecycle.spec.md
Due: server

docs: add provider quality scorecard, runbook, and regression template (#1500)
  .specsync/hashes.json
  docs/provider-parity-checklist.md
  docs/provider-parity-runbook.md
  docs/provider-quality-scorecard.md
  docs/provider-regression-template.md
  specs/db/migrations.spec.md
Due: none

docs: TypeScript 6 compatibility evaluation (blocked by @angular/build) (#2169)
  docs/typescript-6-evaluation.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
