Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: add retry button for failed work tasks (#735)
  client/src/app/core/services/work-task.service.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  server/__tests__/resilience.test.ts
  server/__tests__/routes-work-tasks.test.ts
  server/openapi/route-registry.ts
  server/routes/work-tasks.ts
  server/work/service.ts
Due: server, client

fix: isolate e2e tests with dedicated database (#726) (#730)
  e2e/global-teardown.ts
  playwright.config.js
  server/db/backup.ts
  server/db/connection.ts
Due: server

fix: pass DATABASE_PATH to backupDatabase for E2E isolation
  server/routes/index.ts
Due: server

feat: Discord slash commands, agent routing, council launching, and bot presence
  server/algochat/init.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/types.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/councils.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/process/mcp-service-container.ts
  specs/discord/bridge.spec.md
  specs/mcp/sdk-tools.spec.md
  specs/mcp/tool-handlers.spec.md
Due: server

fix: isolate E2E tests from production database (#732)
  playwright.config.js
  server/routes/index.ts
Due: server

feat: Discord thread-based conversations and rich embed responses
  server/__tests__/discord-bridge.test.ts
  server/discord/bridge.ts
  server/discord/types.ts
Due: server

feat: populate /switch slash command with agent choices dropdown
  server/discord/bridge.ts
Due: server

docs: update Discord bridge spec to v3
  specs/discord/bridge.spec.md
Due: none

fix: skip injection scanning for bot-authored mentions and mark blocked mentions as processed
  server/polling/service.ts
Due: server

fix: resolve CI failures — SSRF validation and Windows test timing
  server/__tests__/discord-bridge.test.ts
  server/__tests__/resilience.test.ts
  server/discord/bridge.ts
Due: server

fix: skip injection scanning for bot-authored mentions and mark blocked mentions as processed (#737)
  server/polling/service.ts
Due: server

feat: auto-acknowledge GitHub mentions and show Discord tool status
  server/discord/bridge.ts
  server/polling/service.ts
Due: server

fix: resolve CI failures — SSRF validation and missing mock method
  server/__tests__/polling-service-core.test.ts
  server/discord/bridge.ts
Due: server

feat: auto-resume idle sessions on new messages
  server/__tests__/ws-handler.test.ts
  server/discord/bridge.ts
  server/index.ts
  server/ws/handler.ts
Due: server

fix: graceful work task drain on server shutdown (#714)
  server/__tests__/work-task-service.test.ts
  server/work/service.ts
Due: server

fix: skip redundant completion comment on normal session exit
  server/polling/service.ts
Due: server

fix: graceful work task drain on server shutdown (#714) (#723)
  server/__tests__/work-task-service.test.ts
  server/work/service.ts
Due: server

feat: Discord slash commands, threaded conversations, session resume, and GitHub mention ack (#736)
  server/__tests__/discord-bridge.test.ts
  server/__tests__/polling-service-core.test.ts
  server/__tests__/resilience.test.ts
  server/__tests__/ws-handler.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/types.ts
  server/index.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/councils.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/polling/service.ts
  server/process/mcp-service-container.ts
  server/ws/handler.ts
  specs/discord/bridge.spec.md
  specs/mcp/sdk-tools.spec.md
  specs/mcp/tool-handlers.spec.md
Due: server

chore: release v0.20.0 — weekly changelog and version bump
  CHANGELOG.md
  package.json
Due: none

fix: eliminate `any` types in subscription manager tests
  server/__tests__/algochat-subscription-manager.test.ts
Due: server

chore: release v0.20.0 — weekly changelog and version bump (#738)
  CHANGELOG.md
  package.json
Due: none

fix: eliminate `any` types in subscription manager tests (#744)
  server/__tests__/algochat-subscription-manager.test.ts
Due: server

docs: update version references from 0.19.0 to 0.20.0
  README.md
  VISION.md
  docs/deep-dive.md
  docs/index.html
  scripts/demo.md
Due: none

docs: update version references from 0.19.0 to 0.20.0 (#745)
  README.md
  VISION.md
  docs/deep-dive.md
  docs/index.html
  scripts/demo.md
Due: none

Delete morning-report-2026-03-05.html
  morning-report-2026-03-05.html
Due: none

Delete morning-report-2026-03-05.html (#746)
  morning-report-2026-03-05.html
Due: none

feat: automate stats collection and README drift check in CI
  .github/workflows/ci.yml
  README.md
  package.json
  scripts/collect-stats.ts
Due: none

refactor: extract scheduler service into handler modules (1272→344 LOC)
  server/scheduler/execution.ts
  server/scheduler/handlers/council.ts
  server/scheduler/handlers/github.ts
  server/scheduler/handlers/improvement.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/handlers/review.ts
  server/scheduler/handlers/types.ts
  server/scheduler/handlers/work-task.ts
  server/scheduler/orchestration.ts
  server/scheduler/service.ts
Due: server

refactor: extract scheduler service into handler modules (1272→344 LOC) (#759)
  server/scheduler/execution.ts
  server/scheduler/handlers/council.ts
  server/scheduler/handlers/github.ts
  server/scheduler/handlers/improvement.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/maintenance.ts
  server/scheduler/handlers/review.ts
  server/scheduler/handlers/types.ts
  server/scheduler/handlers/work-task.ts
  server/scheduler/orchestration.ts
  server/scheduler/service.ts
Due: server

spec: passive channel mode for Discord bridge (v4)
  specs/discord/bridge.spec.md
Due: none

spec: passive channel mode for Discord bridge (v4) (#760)
  specs/discord/bridge.spec.md
Due: none

feat: implement Discord passive channel mode (spec v4)
  server/__tests__/discord-bridge.test.ts
  server/discord/bridge.ts
  server/discord/types.ts
Due: server

fix: relax flaky perf test threshold from 10ms to 50ms
  server/__tests__/permission-broker.test.ts
Due: server

feat: add exponential backoff and dedup to Telegram bridge polling (#631)
  server/__tests__/telegram-bridge.test.ts
  server/telegram/bridge.ts
Due: server

feat: implement Discord passive channel mode (spec v4) (#761)
  server/__tests__/discord-bridge.test.ts
  server/__tests__/permission-broker.test.ts
  server/discord/bridge.ts
  server/discord/types.ts
Due: server

feat: add exponential backoff and dedup to Telegram bridge polling (#631) (#762)
  server/__tests__/telegram-bridge.test.ts
  server/telegram/bridge.ts
Due: server

fix(security): sanitize error messages in WebSocket and AlgoChat handlers
  server/__tests__/work-command-router.test.ts
  server/algochat/command-handler.ts
  server/algochat/work-command-router.ts
  server/ws/handler.ts
Due: server

fix(security): sanitize error messages in WebSocket and AlgoChat handlers (#763)
  server/__tests__/work-command-router.test.ts
  server/algochat/command-handler.ts
  server/algochat/work-command-router.ts
  server/ws/handler.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
