Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

chore: upgrade spec-sync to v3.8.0 (#1961)
  .github/actions/setup-workspace/action.yml
  .specsync/hashes.json
  scripts/specsync.sh
  server/__tests__/discord-ux-overhaul.test.ts
  server/__tests__/process-manager-cleanup.test.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/message-handler.ts
  server/discord/thread-response/adaptive-response.ts
  server/discord/thread-response/embed-response.ts
  server/lib/prompt-injection.ts
Due: server

fix(polling): prevent duplicate ack comments across configs (#1960)
  server/__tests__/polling-ack-dedup.test.ts
  server/__tests__/polling-service.test.ts
  server/polling/service.ts
Due: server

fix(discord): add channel-project affinity to fix wrong project context on @mentions (#1963)
  .specsync/hashes.json
  server/__tests__/discord-ux-overhaul.test.ts
  server/db/discord-channel-project.ts
  server/db/migrations/117_discord_channel_project.ts
  server/db/migrations/118_thread_session_summary.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  specs/db/sessions/discord-thread-sessions.spec.md
Due: server

feat(discord): overhaul UX — streaming edits, contextual buttons, thread continuity (#1959)
  server/process/manager.ts
Due: server

feat(explorer): block explorer API for on-chain Algorand data (#1951)
  docs/deep-dive.md
  server/__tests__/block-explorer.test.ts
  server/algochat/bridge.ts
  server/db/discord-thread-sessions.ts
  server/process/event-handler.ts
  server/process/manager.ts
  server/process/provider-routing.ts
  server/process/resume-prompt-builder.ts
  server/process/session-exit-handler.ts
  server/routes/block-explorer.ts
  server/routes/index.ts
  specs/routes/block-explorer.spec.md
Due: server

fix(specs): add spec coverage for discord-channel-project module
  specs/db/migrations.spec.md
  specs/db/sessions/discord-channel-project.spec.md
Due: none

fix(specs): add spec coverage for discord-channel-project module (#1964)
  specs/db/migrations.spec.md
  specs/db/sessions/discord-channel-project.spec.md
Due: none

feat(brain-viewer): add memory export API + UI (#1948)
  client/src/app/core/services/api.service.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  server/__tests__/routes-brain-viewer.test.ts
  server/routes/brain-viewer.ts
  specs/routes/brain-viewer.spec.md
Due: server, client

fix: correct API endpoint counter and update stats in docs
  docs/deep-dive.md
  scripts/collect-stats.ts
Due: none

fix(docs): update drifted stats — spec_files 210→212, migration_files 40→41
  docs/deep-dive.md
Due: none

feat(memory): memory consolidation service with duplicate detection and merge UI (#1949)
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  docs/deep-dive.md
  server/__tests__/routes-brain-viewer-consolidation.test.ts
  server/memory/consolidation.ts
  server/routes/brain-viewer.ts
  specs/memory/consolidation.spec.md
Due: server, client

fix: correct API endpoint counter and update stats in docs (#1965)
  scripts/collect-stats.ts
Due: none

chore: prep release v0.63.0 — update CHANGELOG, README, docs, version bump
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
  server/__tests__/polling-ack-dedup.test.ts
  server/__tests__/process-manager-cleanup.test.ts
  server/__tests__/scheduler-work-task-handler.test.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/thread-response/adaptive-response.ts
  server/discord/thread-response/embed-response.ts
  server/routes/brain-viewer.ts
Due: server

fix(ci): add discord thread-response to codecov ignore list
  codecov.yml
Due: none

chore: prep release v0.63.0 (#1966)
  CHANGELOG.md
  README.md
  codecov.yml
  docs/releases.html
  package.json
  server/__tests__/polling-ack-dedup.test.ts
  server/__tests__/process-manager-cleanup.test.ts
  server/__tests__/scheduler-work-task-handler.test.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/thread-response/adaptive-response.ts
  server/discord/thread-response/embed-response.ts
  server/routes/brain-viewer.ts
Due: server

fix: correct inflated stats in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

fix: update stale stats across GitHub Pages docs
  docs/architecture.html
  docs/deep-dive.md
  docs/docs-index.html
  docs/enterprise.md
  docs/how-it-works.md
  docs/index.html
  docs/mcp-setup.md
  docs/quickstart.md
  docs/recipes/your-first-agent.md
Due: none

fix: correct inflated stats in README, CLAUDE.md, and GitHub Pages (#1967)
  CLAUDE.md
  README.md
  docs/architecture.html
  docs/deep-dive.md
  docs/docs-index.html
  docs/enterprise.md
  docs/how-it-works.md
  docs/index.html
  docs/mcp-setup.md
  docs/quickstart.md
  docs/recipes/your-first-agent.md
Due: none

fix(discord): add channel-based session fallback and context carryover for mention sessions
  server/db/discord-mention-sessions.ts
  server/discord/message-handler.ts
Due: server

fix(discord): add channel-based session fallback and context carryover for mention sessions (#1968)
  server/db/discord-mention-sessions.ts
  server/discord/message-handler.ts
Due: server

chore: prep release v0.63.1
  CHANGELOG.md
  README.md
  package.json
Due: none

fix(specs): document getLatestMentionSessionByChannel export
  specs/db/sessions/discord-mention-sessions.spec.md
Due: none

fix(specs): document getLatestMentionSessionByChannel export (#1970)
  CHANGELOG.md
  README.md
  package.json
  specs/db/sessions/discord-mention-sessions.spec.md
Due: none

fix: update specsync hashes after spec fix
  .specsync/hashes.json
Due: none

fix: update specsync hashes after spec fix (#1969)
  .specsync/hashes.json
Due: none

chore: migrate to spec-sync v4.0.0
  .github/workflows/checks.yml
  .specsync/.gitignore
  .specsync/config.toml
  .specsync/hashes.json
  .specsync/registry.toml
  .specsync/version
  docs/blog.html
  specsync.json
Due: none

chore: migrate to spec-sync v4.0.0 (#1971)
  .github/workflows/checks.yml
  .specsync/.gitignore
  .specsync/config.toml
  .specsync/hashes.json
  .specsync/registry.toml
  .specsync/version
  docs/blog.html
  specsync.json
Due: none

chore: stop tracking specsync hashes.json to prevent merge conflicts
  .gitignore
  .specsync/hashes.json
Due: none

chore: stop tracking specsync hashes.json (#1973)
  .gitignore
  .specsync/hashes.json
Due: none

Update checks.yml
  .github/workflows/checks.yml
Due: none

Update checks.yml (#1974)
  .github/workflows/checks.yml
Due: none

chore: remove Kite agent + clean up repo root
  .cursor/mcp.json
  .cursorrules
  docs/PLUGIN_SYSTEM_DESIGN.md
  docs/RELEASE-NOTES.md
  docs/TYPESCRIPT_6_0_UPGRADE_EVALUATION.md
  docs/blog.html
  playwright.config.js.esm.preflight
  server/__tests__/communication-tiers.test.ts
  server/lib/communication-tiers.ts
Due: server

chore: remove Kite agent + clean up repo root (#1975)
  .cursor/mcp.json
  .cursorrules
  docs/PLUGIN_SYSTEM_DESIGN.md
  docs/RELEASE-NOTES.md
  docs/TYPESCRIPT_6_0_UPGRADE_EVALUATION.md
  docs/blog.html
  playwright.config.js.esm.preflight
  server/__tests__/communication-tiers.test.ts
  server/lib/communication-tiers.ts
Due: server

feat: add corvid-pet (Corvin) to CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

refactor: merge PR review job into Corvin
  .github/workflows/ci.yml
Due: none

fix: pin corvid-pet to v1.0.0 and feed spec-sync output into Corvin
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
