Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: document handleMessageCommand export in bridge spec
  specs/discord/bridge.spec.md
Due: none

fix: resolve CI failures — update tests, baseline, specs, and stats for migration 097
  README.md
  docs/deep-dive.md
  server/db/schema/discord.ts
  server/db/schema/index.ts
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server

fix: CI failures — sync legacy schema with migration 097, add missing specs, update stats
  README.md
  docs/deep-dive.md
  server/db/schema/discord.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server

fix: remove unused ElementRef import
  client/src/app/shared/components/guided-tour.component.ts
Due: client

fix: dashboard layout bugs — status section overflow, view toggle shift, text truncation
  README.md
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/index.ts
  client/angular.json
  client/src/app/app.ts
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  docs/deep-dive.md
  e2e/capture-screenshots.ts
  e2e/dashboard-visual.spec.ts
  server/algochat/bridge.ts
  server/algochat/message-router.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/process/manager.ts
  server/ws/handler.ts
  shared/__tests__/tool-categories.test.ts
  shared/tool-categories.ts
  shared/ws-protocol.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server, client

fix: resolve CI failures for PR #1314
  .tmp-health-test/package.json
  .tmp-health-test/server/big-file.ts
  .tmp-health-test/server/example.ts
  README.md
  docs/deep-dive.md
  server/__tests__/migrate.test.ts
  server/__tests__/ollama-stall-escalator.test.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/process/ollama-stall-escalator.ts
  specs/lib/session-analysis.spec.md
  specs/process/ollama-stall-escalator.spec.md
Due: server

chore: remove accidentally committed temp test files
  .tmp-health-test/package.json
  .tmp-health-test/server/big-file.ts
  .tmp-health-test/server/example.ts
Due: none

fix: update stats — spec count 163→164, test count 8213→8279 across 346 files
  README.md
  docs/deep-dive.md
Due: none

fix: trigger CI re-run after stats update
  server/lib/session-analysis.ts
Due: server

fix: add missing specs for message-commands.ts and migration 097
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: none

chore: trigger CI for spec coverage fix
  server/lib/session-analysis.ts
Due: server

fix: validate wallet address format before URL interpolation in ReputationVerifier
  server/__tests__/reputation-verifier.test.ts
  server/reputation/verifier.ts
Due: server

fix: show error embed when adaptive inline session errors or exits silently
  server/discord/thread-manager.ts
Due: server

fix: show error embed when adaptive inline session errors or exits silently (#1317)
  server/discord/thread-manager.ts
Due: server

fix: fall back to non-reply embed when Discord message reference fails
  server/discord/thread-manager.ts
Due: server

fix: fall back to non-reply embed when Discord message reference fails (#1318)
  server/discord/thread-manager.ts
Due: server

fix: skill bundles with null base permissions now merge with defaults instead of replacing them
  server/__tests__/skill-bundles.test.ts
  server/db/skill-bundles.ts
  server/mcp/default-tools.ts
Due: server

fix: add spec for default-tools module to restore 100% coverage
  specs/mcp/default-tools.spec.md
Due: none

feat: add active sessions widget, keyboard shortcuts, and default to simple mode
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

chore: update stats for new spec file
  README.md
  docs/deep-dive.md
Due: none

fix: correct consumed-by path in default-tools spec (server/db not server/mcp)
  specs/mcp/default-tools.spec.md
Due: none

fix: skill bundles no longer drop default tools when base permissions are null (#1319)
  README.md
  docs/deep-dive.md
  server/__tests__/skill-bundles.test.ts
  server/db/skill-bundles.ts
  server/mcp/default-tools.ts
  specs/mcp/default-tools.spec.md
Due: server

fix: flock registration bugs and default view mode
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/agents/agent-detail.component.ts
Due: client

feat: dashboard simple mode polish — active sessions, keyboard shortcuts, default simple (#1320)
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: wire Ollama complexity warning to Discord and audit log (#1322)
  server/db/audit.ts
  server/discord/message-handler.ts
  server/routes/sessions.ts
Due: server

feat: auto-escalate stalled Ollama sessions to task queue (#1314)
  README.md
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  docs/deep-dive.md
  server/__tests__/migrate.test.ts
  server/__tests__/ollama-stall-escalator.test.ts
  server/bootstrap.ts
  server/lib/session-analysis.ts
  server/process/ollama-stall-escalator.ts
  specs/discord/bridge.spec.md
  specs/lib/session-analysis.spec.md
  specs/process/ollama-stall-escalator.spec.md
Due: server, client

test: add coverage for Ollama complexity warning in sessions route and Discord bridge
  server/__tests__/discord-bridge.test.ts
  server/__tests__/routes-sessions.test.ts
Due: server

fix: update spec_files stats after merge with main (164 → 165)
  README.md
  docs/deep-dive.md
Due: none

fix: pin CorvidLabs/spec-sync@v1 to specific commit SHA for supply-chain safety
  .github/workflows/checks.yml
Due: none

chore: update Anthropic SDKs to latest versions
  bun.lock
  package.json
Due: none

fix: update spec_files stat from 164 to 165
  README.md
  docs/deep-dive.md
Due: none

docs: add missing Discord Image and Memory Backfill API endpoints
  docs/api-reference.md
Due: none

refactor: extract thread helpers from thread-manager.ts into thread-helpers.ts
  server/discord/thread-helpers.ts
  server/discord/thread-manager.ts
Due: server

fix: resolve CI failures for thread-helpers extraction
  README.md
  docs/deep-dive.md
  server/__tests__/thread-helpers.test.ts
  specs/discord/bridge.spec.md
Due: server

feat: wire Ollama complexity warning to Discord and audit log (#1323)
  README.md
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
  server/__tests__/routes-sessions.test.ts
  server/db/audit.ts
  server/discord/message-handler.ts
  server/routes/sessions.ts
Due: server

fix: replace mock.module with real in-memory DB to prevent test leaks
  server/__tests__/thread-helpers.test.ts
Due: server

fix: add archiveStaleThreads test coverage for codecov/patch
  server/__tests__/thread-helpers.test.ts
Due: server

refactor: extract context management helpers from direct-process.ts
  server/process/context-management.ts
  server/process/direct-process.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
