Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

spec: document all undocumented exports across 7 spec files
  specs/billing/usdc.spec.md
  specs/councils/councils.spec.md
  specs/db/councils.spec.md
  specs/discord/bridge.spec.md
  specs/process/claude-process.spec.md
  specs/routes/routes.spec.md
  specs/ws/handler.spec.md
Due: none

docs: update stale counts — 5471 tests, 214 files, 112 specs
  README.md
  docs/deep-dive.md
  docs/external-review-scope.md
Due: none

refactor: remove dead code — delete unused printPrompt and clearAgentCardCache
  cli/render.ts
  server/__tests__/cli-render.test.ts
  server/a2a/client.ts
  specs/a2a/a2a.spec.md
Due: server

fix: deduplicate exports and fix inflated warning count in spec-check
  scripts/spec-check.ts
Due: none

revert: undo Layer 0 council refactor blocked by governance tier
  server/councils/discussion.ts
  server/councils/events.ts
  server/councils/synthesis.ts
Due: server

refactor: extract WS event bus from discussion.ts into councils/events.ts
  server/councils/discussion.ts
  server/councils/events.ts
  server/councils/synthesis.ts
  specs/councils/councils.spec.md
Due: server

fix: replace remaining 'bunx' with 'bun x' across CI and server code
  .github/workflows/ci.yml
  .github/workflows/security.yml
  packages/result/.github/workflows/ci.yml
  server/__tests__/work-task-service.test.ts
  server/improvement/health-collector.ts
  server/improvement/prompt-builder.ts
  server/polling/ci-retry.ts
  server/scheduler/service.ts
Due: server

refactor: extract validation pipeline into server/work/validation.ts
  server/work/service.ts
  server/work/validation.ts
  specs/work/work-task-service.spec.md
Due: server

fix: override express-rate-limit to >=8.2.2 for CVE bypass (#685)
  bun.lock
  package.json
Due: none

test: add coverage for broadcasting, workflow service, and algochat init
  server/__tests__/algochat-init.test.ts
  server/__tests__/broadcasting.test.ts
  server/__tests__/workflow-service.test.ts
Due: server

refactor: remove unused printPrompt and clearAgentCardCache exports (#691)
  README.md
  cli/render.ts
  docs/deep-dive.md
  docs/external-review-scope.md
  server/__tests__/cli-render.test.ts
  server/a2a/client.ts
  specs/a2a/a2a.spec.md
  specs/billing/usdc.spec.md
  specs/councils/councils.spec.md
  specs/db/councils.spec.md
  specs/discord/bridge.spec.md
  specs/process/claude-process.spec.md
  specs/routes/routes.spec.md
  specs/ws/handler.spec.md
Due: server

refactor: extract validation pipeline from work service (#695)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  packages/result/.github/workflows/ci.yml
  server/__tests__/work-task-service.test.ts
  server/improvement/health-collector.ts
  server/improvement/prompt-builder.ts
  server/polling/ci-retry.ts
  server/scheduler/service.ts
  server/work/service.ts
  server/work/validation.ts
  specs/work/work-task-service.spec.md
Due: server

fix: revert councils spec to match reverted code
  specs/councils/councils.spec.md
Due: none

test: add coverage for broadcasting, workflow service, and algochat init (#697)
  server/__tests__/algochat-init.test.ts
  server/__tests__/broadcasting.test.ts
  server/__tests__/workflow-service.test.ts
Due: server

feat: add work_intake mode to Telegram bridge (#522)
  client/src/app/core/models/work-task.model.ts
  server/__tests__/telegram-bridge.test.ts
  server/bootstrap.ts
  server/telegram/bridge.ts
  server/telegram/types.ts
  shared/types/work-tasks.ts
Due: server, client

feat: add work_intake mode to Telegram bridge (#522) (#698)
  client/src/app/core/models/work-task.model.ts
  server/__tests__/telegram-bridge.test.ts
  server/bootstrap.ts
  server/telegram/bridge.ts
  server/telegram/types.ts
  shared/types/work-tasks.ts
Due: server, client

test: add coverage for secure-wipe, trace-context, db-filter, prompt-builder, exam-runner, question-dispatcher
  server/__tests__/db-filter.test.ts
  server/__tests__/exam-runner.test.ts
  server/__tests__/prompt-builder.test.ts
  server/__tests__/question-dispatcher.test.ts
  server/__tests__/secure-wipe.test.ts
  server/__tests__/trace-context.test.ts
Due: server

fix: resolve CodeQL log injection alerts #281 and #282
  cli/render.ts
Due: server

fix: widen retry delay tolerance for macOS CI runners
  server/__tests__/resilience.test.ts
Due: server

security: add owner-address authorization to credit system endpoints (#673)
  server/__tests__/tool-handlers.test.ts
  server/algochat/config.ts
  server/mcp/tool-handlers/credits.ts
Due: server

fix: resolve CodeQL log injection alerts #281 and #282 (#701)
  cli/render.ts
  server/__tests__/resilience.test.ts
Due: server

test: add coverage for secure-wipe, trace-context, db-filter, prompt-builder, exam-runner, question-dispatcher (#699)
  server/__tests__/db-filter.test.ts
  server/__tests__/exam-runner.test.ts
  server/__tests__/prompt-builder.test.ts
  server/__tests__/question-dispatcher.test.ts
  server/__tests__/secure-wipe.test.ts
  server/__tests__/trace-context.test.ts
Due: server

fix: override express-rate-limit to >=8.2.2 for CVE bypass (#685) (#696)
  bun.lock
  package.json
Due: none

fix: deduplicate exports and fix inflated warning count in spec-check (#692)
  scripts/spec-check.ts
Due: none

fix: resolve CI failures from global state leaks in tests
  server/__tests__/db-filter.test.ts
  server/__tests__/question-dispatcher.test.ts
Due: server

feat: testnet onboarding — auto-fund wallets and guided first-session
  server/__tests__/testnet-onboarding.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/config.ts
  server/algochat/service.ts
  server/routes/index.ts
  server/routes/onboarding.ts
  specs/algochat/service.spec.md
Due: server

fix: ensure MCP API routes always return isError as boolean
  server/routes/mcp-api.ts
Due: server

refactor: extract repo map and symbol extraction into server/work/repo-map.ts
  server/work/repo-map.ts
  server/work/service.ts
  specs/work/work-task-service.spec.md
Due: server
