Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: align Helm chart version to 0.21.0 for CI version check
  deploy/helm/Chart.yaml
Due: none

fix(e2e): improve test reliability and cleanup across E2E suite
  e2e/agents.spec.ts
  e2e/approval.spec.ts
  e2e/councils.spec.ts
  e2e/dashboard.spec.ts
  e2e/feed.spec.ts
  e2e/fixtures.ts
  e2e/perf.spec.ts
  e2e/system-logs.spec.ts
Due: none

docs: update README and CHANGELOG stats for v0.21.0 release
  CHANGELOG.md
  README.md
Due: none

docs: update README and CHANGELOG stats for v0.21.0 release (#803)
  CHANGELOG.md
  README.md
Due: none

fix(test): make system-state test resilient to actual disk pressure
  server/__tests__/system-state.test.ts
Due: server

feat: add --strict flag to spec-check, enforce in CI (#795)
  .github/workflows/ci.yml
  scripts/spec-check.ts
Due: none

fix: align Helm chart version to 0.21.0
  deploy/helm/Chart.yaml
Due: none

feat: enforce spec --strict as CI gate (#795) (#805)
  .github/workflows/ci.yml
  deploy/helm/Chart.yaml
  scripts/spec-check.ts
Due: none

feat: governance v2 frontend — vote panel and service (#757) (#802)
  client/src/app/core/models/council.model.ts
  client/src/app/core/models/governance.model.ts
  client/src/app/core/models/ws-message.model.ts
  client/src/app/core/services/governance.service.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/governance-vote-panel.component.ts
Due: client

fix: document 3 undocumented exports to pass spec --strict CI gate
  specs/lib/infra.spec.md
  specs/marketplace/subscriptions.spec.md
Due: none

feat: implement per-use credit billing for marketplace (#704) (#800)
  README.md
  docs/deep-dive.md
  server/__tests__/marketplace-service.test.ts
  server/__tests__/system-state.test.ts
  server/db/audit.ts
  server/db/credits.ts
  server/db/migrations/074_marketplace_subscriptions.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/marketplace/escrow.ts
  server/marketplace/federation.ts
  server/marketplace/service.ts
  server/marketplace/subscriptions.ts
  server/marketplace/types.ts
  server/mcp/tool-handlers/a2a.ts
  server/routes/marketplace.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/index.ts
  server/scheduler/handlers/marketplace-billing.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/lib/infra.spec.md
  specs/marketplace/service.spec.md
  specs/marketplace/subscriptions.spec.md
Due: server

feat: WCAG AA accessibility improvements for the Angular dashboard
  client/src/app/app.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/styles.css
Due: client

fix: restore missing closing brace for @keyframes shimmer
  client/src/styles.css
Due: client

feat: enable branch protection on main branch (#428)
  .github/workflows/branch-protection.yml
  scripts/enable-branch-protection.sh
  server/__tests__/routes-security-overview.test.ts
  server/routes/security-overview.ts
Due: server

docs: sync stale counts and fix api-reference port
  README.md
  docs/api-reference.md
  docs/decisions/002-task-queue-parallel-execution.md
Due: none

docs: sync stale counts and fix api-reference port (#810)
  README.md
  docs/api-reference.md
  docs/decisions/002-task-queue-parallel-execution.md
Due: none

feat: enable branch protection on main branch (#428) (#808)
  .github/workflows/branch-protection.yml
  scripts/enable-branch-protection.sh
  server/__tests__/routes-security-overview.test.ts
  server/routes/security-overview.ts
Due: server

spec: document protected-paths and shutdown-coordinator modules (#591)
  specs/lib/shutdown-coordinator.spec.md
  specs/process/protected-paths.spec.md
Due: none

test: add route integration tests for governance proposals
  server/__tests__/routes-proposals.test.ts
Due: server

docs: expand api-reference.md with 10 new module sections (#809)
  docs/api-reference.md
Due: none

test: add route integration tests for governance proposals (#812)
  server/__tests__/routes-proposals.test.ts
Due: server

fix: update spec_files count to 116 in README and deep-dive docs
  README.md
  docs/deep-dive.md
Due: none

spec: document protected-paths and shutdown-coordinator modules (#811)
  README.md
  docs/deep-dive.md
  specs/lib/shutdown-coordinator.spec.md
  specs/process/protected-paths.spec.md
Due: none

feat: add standalone corvid-agent-mcp server package (#734)
  packages/corvid-agent-mcp/README.md
  packages/corvid-agent-mcp/package.json
  packages/corvid-agent-mcp/src/cli.ts
  packages/corvid-agent-mcp/src/client.ts
  packages/corvid-agent-mcp/src/index.ts
  packages/corvid-agent-mcp/src/server.ts
  packages/corvid-agent-mcp/tests/client.test.ts
  packages/corvid-agent-mcp/tests/server.test.ts
  packages/corvid-agent-mcp/tsconfig.json
  packages/corvid-agent-mcp/tsup.config.ts
Due: none

feat: add priority queue and preemption to work tasks
  server/db/migrations/075_work_task_priority.ts
  server/db/work-tasks.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  server/routes/work-tasks.ts
  server/work/service.ts
  shared/types/work-tasks.ts
Due: server

[Agent] Module boundary decomposition step 1: Split shared/types.ts (#814)
  docs/api-reference.md
Due: none

fix: resolve CodeQL alerts in corvid-agent-mcp package
  packages/corvid-agent-mcp/src/client.ts
  packages/corvid-agent-mcp/tests/server.test.ts
Due: none

feat: standalone corvid-agent-mcp server package (#815)
  packages/corvid-agent-mcp/README.md
  packages/corvid-agent-mcp/package.json
  packages/corvid-agent-mcp/src/cli.ts
  packages/corvid-agent-mcp/src/client.ts
  packages/corvid-agent-mcp/src/index.ts
  packages/corvid-agent-mcp/src/server.ts
  packages/corvid-agent-mcp/tests/client.test.ts
  packages/corvid-agent-mcp/tests/server.test.ts
  packages/corvid-agent-mcp/tsconfig.json
  packages/corvid-agent-mcp/tsup.config.ts
Due: none

test: add priority queue tests and fix mock WorkTask objects
  server/__tests__/discord-bridge.test.ts
  server/__tests__/telegram-bridge.test.ts
  server/__tests__/work-task-priority.test.ts
  server/db/schema.ts
Due: server

fix: use in-memory priority tracking to avoid Layer 0/1 governance violations
  server/__tests__/work-task-priority.test.ts
  server/db/migrations/075_work_task_priority.ts
  server/db/schema.ts
  server/db/work-tasks.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  server/routes/work-tasks.ts
  server/work/service.ts
Due: server

fix: document priority queue exports in work-tasks-db spec
  specs/db/work-tasks.spec.md
  specs/work/work-task-service.spec.md
Due: none

Add comprehensive edge-case unit tests for work task service
  server/__tests__/work-task-edge-cases.test.ts
Due: server

feat: work task priority queue with preemption (#487) (#816)
  server/__tests__/discord-bridge.test.ts
  server/__tests__/telegram-bridge.test.ts
  server/__tests__/work-task-priority.test.ts
  server/db/work-tasks.ts
  server/routes/work-tasks.ts
  server/work/service.ts
  shared/types/work-tasks.ts
  specs/db/work-tasks.spec.md
  specs/work/work-task-service.spec.md
Due: server

docs: add spec coverage for algochat/init.ts and repo-blocklist handler (#688)
  specs/algochat/bridge.spec.md
  specs/mcp/tool-handlers.spec.md
Due: none

fix: e2e test maintenance — centralize BASE_URL, replace deprecated APIs, reduce flakiness
  e2e/agents.spec.ts
  e2e/allowlist.spec.ts
  e2e/analytics.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/auth-flow.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/feed.spec.ts
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/mention-polling.spec.ts
  e2e/models.spec.ts
  e2e/perf.spec.ts
  e2e/personas.spec.ts
  e2e/plugins.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/settings.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/webhooks.spec.ts
  e2e/work-tasks.spec.ts
  e2e/workflows.spec.ts
Due: none

docs: add spec coverage for algochat/init.ts and repo-blocklist handler (#688) (#818)
  specs/algochat/bridge.spec.md
  specs/mcp/tool-handlers.spec.md
Due: none

test: add route tests for permissions, mention-polling, performance, and health
  server/__tests__/routes-health.test.ts
  server/__tests__/routes-mention-polling.test.ts
  server/__tests__/routes-performance.test.ts
  server/__tests__/routes-permissions.test.ts
Due: server
