Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

chore: bump version to v0.43.0
  CHANGELOG.md
  README.md
  package.json
Due: none

feat: composable personas — many-to-many agent↔persona relationship
  e2e/fixtures.ts
  server/__tests__/personas.test.ts
  server/__tests__/routes-personas.test.ts
  server/__tests__/session-config-resolver.test.ts
  server/a2a/agent-card.ts
  server/db/agents.ts
  server/db/migrations/099_composable_personas.ts
  server/db/personas.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/lib/validation.ts
  server/openapi/routes/agents.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/process/session-config-resolver.ts
  server/routes/personas.ts
  shared/types/personas.ts
  specs/db/personas.spec.md
Due: server

feat: composable agent personas (many-to-many, stackable variants)
  e2e/fixtures.ts
  server/__tests__/personas.test.ts
  server/__tests__/routes-personas.test.ts
  server/__tests__/session-config-resolver.test.ts
  server/a2a/agent-card.ts
  server/db/agents.ts
  server/db/migrations/099_composable_personas.ts
  server/db/personas.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/openapi/routes/agents.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/process/session-config-resolver.ts
  server/routes/personas.ts
  shared/types/personas.ts
  specs/db/personas.spec.md
Due: server

fix: add port recovery on startup to prevent EADDRINUSE crash loops
  server/index.ts
Due: server

fix: add port recovery on startup to prevent EADDRINUSE crash loops (#1354)
  e2e/fixtures.ts
  server/__tests__/personas.test.ts
  server/__tests__/routes-personas.test.ts
  server/__tests__/session-config-resolver.test.ts
  server/a2a/agent-card.ts
  server/db/agents.ts
  server/db/migrations/099_composable_personas.ts
  server/db/personas.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/index.ts
  server/lib/validation.ts
  server/openapi/routes/agents.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/process/session-config-resolver.ts
  server/routes/personas.ts
  shared/types/personas.ts
  specs/db/personas.spec.md
Due: server

fix: resolve CI failures — add migration 099 spec + update stats
  docs/deep-dive.md
  specs/db/migrations.spec.md
Due: none

fix: resolve wallet addresses to agent UUIDs in flock testing
  server/db/agents.ts
  server/routes/flock-testing.ts
  server/scheduler/handlers/flock-testing.ts
Due: server

chore: update Anthropic SDK dependencies per security audit #1278
  bun.lock
  package.json
Due: none

fix: resolve CI failures in spec and stats checks
  docs/deep-dive.md
  specs/lib/infra.spec.md
Due: none

fix: resolve CI failures for PR #1355
  docs/deep-dive.md
  server/__tests__/scheduler-flock-testing.test.ts
  specs/db/agents.spec.md
  specs/lib/infra.spec.md
Due: server

chore: update drifted stats in deep-dive.md
  docs/deep-dive.md
Due: none

fix: add migration 099 to spec coverage
  specs/db/migrations.spec.md
Due: none

fix: add migration 099 to spec coverage for 100% gate
  specs/db/migrations.spec.md
Due: none

test: add coverage for getAgentByWalletAddress and wallet resolution paths
  server/__tests__/agents.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
Due: server

feat(scheduler): composable pipeline execution with shared context (#1156)
  server/__tests__/schedule-output-destinations.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/__tests__/scheduler-pipeline.test.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/100_pipeline_schedules.ts
  server/db/schedules.ts
  server/db/schema/index.ts
  server/db/schema/schedules.ts
  server/lib/validation.ts
  server/routes/schedules.ts
  server/scheduler/pipeline.ts
  server/scheduler/service.ts
  shared/types/schedules.ts
Due: server

feat: tool guardrails to prevent emergent agent-to-agent networking (#1054)
  server/__tests__/tool-guardrails.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-guardrails.ts
  server/mcp/tool-handlers/messaging.ts
  server/mcp/tool-handlers/types.ts
  shared/types/sessions.ts
Due: server

docs: add request/response examples for all API endpoints
  docs/api-reference.md
Due: none

feat(ui): chat-first layout with 3-tab nav and consolidated routes (#1266)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
  docs/deep-dive.md
Due: client

feat: VibeKit MCP bridge, skills-as-markdown loader, and improved onboarding
  README.md
  server/__tests__/skill-loader.test.ts
  server/__tests__/vibekit-bridge.test.ts
  server/mcp/skill-loader.ts
  server/mcp/vibekit-bridge.ts
  specs/mcp/skill-loader.spec.md
  specs/mcp/vibekit-bridge.spec.md
Due: server

chore: update drifted stats in deep-dive.md (#1358)
  docs/deep-dive.md
Due: none

chore: update Anthropic SDK dependencies per security audit #1278 (#1356)
  bun.lock
  package.json
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
Due: none

fix: resolve wallet addresses to agent UUIDs in flock testing (#1355)
  server/__tests__/agents.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/db/agents.ts
  server/routes/flock-testing.ts
  server/scheduler/handlers/flock-testing.ts
  specs/db/agents.spec.md
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
Due: server

feat(scheduler): composable pipeline execution with shared context (#1156) (#1364)
  server/__tests__/schedule-output-destinations.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/__tests__/scheduler-pipeline.test.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/100_pipeline_schedules.ts
  server/db/schedules.ts
  server/db/schema/index.ts
  server/db/schema/schedules.ts
  server/lib/validation.ts
  server/routes/schedules.ts
  server/scheduler/pipeline.ts
  server/scheduler/service.ts
  shared/types/schedules.ts
Due: server

feat: tool guardrails to prevent emergent agent-to-agent networking (#1054) (#1365)
  server/__tests__/tool-guardrails.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-guardrails.ts
  server/mcp/tool-handlers/messaging.ts
  server/mcp/tool-handlers/types.ts
  shared/types/sessions.ts
Due: server

docs: add request/response examples for all API endpoints (#1367)
  docs/api-reference.md
Due: none

feat(ui): chat-first layout with 3-tab nav and consolidated routes (#1266) (#1368)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: VibeKit MCP bridge, skills-as-markdown loader, and improved onboarding (#1369)
  README.md
  server/__tests__/skill-loader.test.ts
  server/__tests__/vibekit-bridge.test.ts
  server/mcp/skill-loader.ts
  server/mcp/vibekit-bridge.ts
  specs/mcp/skill-loader.spec.md
  specs/mcp/vibekit-bridge.spec.md
Due: server

fix(security): add path traversal protection to Discord image route
  server/routes/discord-image.ts
Due: server

feat(security): agent blocklist, kill switch, and behavioral drift detection
  docs/deep-dive.md
  server/__tests__/messaging-guard.test.ts
  server/algochat/agent-messenger.ts
  server/algochat/messaging-guard.ts
  server/db/agent-blocklist.ts
  server/db/migrations/100_agent_blocklist.ts
  server/db/schema/index.ts
  server/db/schema/reputation.ts
  server/improvement/prompt-builder.ts
  server/improvement/service.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  shared/types/algochat.ts
Due: server

fix: add missing migration 099 to spec coverage
  specs/db/migrations.spec.md
Due: none

fix: resolve spec validation warnings and add missing spec coverage
  .github/workflows/checks.yml
  scripts/governance-check.ts
  server/__tests__/governance-ci-check.test.ts
  specs/algochat/messaging-guard.spec.md
  specs/db/agent-blocklist.spec.md
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
Due: server

chore: update stats after governance CI gate changes
  docs/deep-dive.md
Due: none

feat: composable personas — many-to-many agent↔persona relationship
  server/db/schema/index.ts
Due: server

feat(ui): dashboard polish for public readiness (#1014)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/styles.css
Due: client

feat(contracts): Flock Directory smart contract and chain-sync service (#895)
  contracts/flock-directory/contract.algo.ts
  contracts/flock-directory/tests/contract.test.ts
  docs/deep-dive.md
  server/__tests__/flock-directory-chain-sync.test.ts
  server/flock-directory/chain-sync.ts
  specs/flock-directory/chain-sync.spec.md
Due: server

fix(security): add path traversal protection to Discord image route (#1359)
  server/routes/discord-image.ts
Due: server

feat(security): agent blocklist, kill switch, and behavioral drift detection (#1360)
  .github/workflows/checks.yml
  docs/deep-dive.md
  scripts/governance-check.ts
  server/__tests__/governance-ci-check.test.ts
  server/__tests__/messaging-guard.test.ts
  server/algochat/agent-messenger.ts
  server/algochat/messaging-guard.ts
  server/db/agent-blocklist.ts
  server/db/migrations/100_agent_blocklist.ts
  server/db/schema/index.ts
  server/db/schema/reputation.ts
  server/improvement/prompt-builder.ts
  server/improvement/service.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  shared/types/algochat.ts
  specs/algochat/messaging-guard.spec.md
  specs/db/agent-blocklist.spec.md
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
Due: server

feat: composable personas — many-to-many agent↔persona relationship (#1351)
  server/db/schema/index.ts
Due: server

feat(ui): dashboard polish for public readiness (#1014) (#1363)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/styles.css
Due: client

feat(contracts): Flock Directory smart contract and chain-sync service (#895) (#1366)
  contracts/flock-directory/contract.algo.ts
  contracts/flock-directory/tests/contract.test.ts
  server/__tests__/flock-directory-chain-sync.test.ts
  server/flock-directory/chain-sync.ts
  specs/flock-directory/chain-sync.spec.md
Due: server
