Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix(ci): exclude public/ dir from spec coverage check
  specsync.json
Due: none

fix: remove unused bookGroup variable in library-3d
  client/src/app/features/library/library-3d.component.ts
Due: client

fix: e2e audit routes and external MCP test slice size
  e2e/ui-audit.ts
  server/__tests__/process-manager-external-mcp.test.ts
Due: server

fix: e2e audit routes and external MCP test slice size (#1644)
  e2e/ui-audit.ts
  server/__tests__/process-manager-external-mcp.test.ts
Due: server

fix(discord): persist message dedup across restarts + zero-turn death loop breaker
  server/db/migrations/109_discord_processed_messages.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix(a11y): WCAG AA audit — fix contrast and select labels across 13 pages
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/styles.css
  e2e/accessibility.spec.ts
Due: client

fix: add migration 109 spec coverage and update stats
  docs/deep-dive.md
  specs/db/migrations.spec.md
Due: none

feat(ui): Phase 1 UI polish — animations, micro-interactions, visual depth
  client/src/app/animations/route-transitions.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/directives/reveal-on-scroll.directive.ts
  client/src/styles.css
Due: client

feat(ui): Phase 1 UI polish — animations, micro-interactions, visual depth (#1647)
  client/src/app/animations/route-transitions.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/directives/reveal-on-scroll.directive.ts
  client/src/styles.css
Due: client

fix(sdk): pin active project context in system prompt to survive context compression (#1628)
  server/__tests__/tool-prompt-templates.test.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/process/sdk-process.spec.md
  specs/providers/tool-prompt-templates.spec.md
Due: server

feat(ui): Phase 2 UI polish — depth, stagger, micro-interactions
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
Due: client

feat(ui): Phase 2 UI polish — depth, stagger, micro-interactions (#1649)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
Due: client

feat(cursor): rename CURSOR_MAX_PARALLEL → CURSOR_MAX_CONCURRENT, default 2→4, add getSlotStatus() (#1634)
  .env.example
  docs/provider-parity-checklist.md
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
  specs/providers/cursor-provider.spec.md
Due: server

test(councils): add Cursor smoke and failure-injection tests (#1642)
  server/__tests__/council-mixed-provider.test.ts
Due: server

fix(a11y): WCAG AA audit — fix contrast and select labels across 13 pages (#1646)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/styles.css
  e2e/accessibility.spec.ts
Due: client

fix(discord): persist message dedup + zero-turn death loop breaker (#1645)
  docs/deep-dive.md
  server/db/migrations/109_discord_processed_messages.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/message-handler.ts
  server/process/manager.ts
  specs/db/migrations.spec.md
Due: server

fix(sdk): pin active project in system prompt to survive context compression (#1648)
  server/__tests__/tool-prompt-templates.test.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/process/sdk-process.spec.md
  specs/providers/tool-prompt-templates.spec.md
Due: server

fix(auth): block CORS wildcard on non-localhost deployments
  server/__tests__/auth.test.ts
  server/middleware/auth.ts
  specs/middleware/auth.spec.md
Due: server

fix: add .discord-last-connect to .gitignore
  .gitignore
Due: none

fix: add .discord-last-connect to .gitignore (#1651)
  .gitignore
Due: none

feat(dashboard): modernize with grid layout, sparklines, glassmorphism, and live indicators
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat(client): chat experience polish — animations, syntax highlighting, markdown (#1615)
  client/src/app/shared/components/terminal-chat.component.ts
Due: client

refactor(discord): complete thread-manager.ts decomposition (#1578)
  server/discord/thread-manager.ts
Due: server

fix(governance): revert sdk-process.ts changes — Layer 0 path cannot be modified by automated workflows
  server/process/sdk-process.ts
Due: server

docs: add Library API documentation and spec coverage
  docs/api-reference.md
  specs/routes/routes.spec.md
Due: none

fix(types): add 'discord' to sessionSource comment
  server/mcp/tool-handlers/types.ts
Due: server

Revert "fix(types): add 'discord' to sessionSource comment"
  server/mcp/tool-handlers/types.ts
Due: server

fix: CORS secure default for non-localhost deployments (#1650)
  server/__tests__/auth.test.ts
  server/middleware/auth.ts
  specs/middleware/auth.spec.md
Due: server

refactor: decompose Discord thread-manager into sub-modules (#1654)
  server/discord/thread-manager.ts
Due: server

feat(ui): dashboard modernize — grid, sparklines, glassmorphism (#1652)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat(ui): chat polish — syntax highlighting, markdown, cursor fallback, project context (#1653)
  client/src/app/shared/components/terminal-chat.component.ts
Due: client

fix(security): fail startup when CORS allows all origins in remote mode
  server/middleware/auth.ts
Due: server

fix(security): use actual tenant from request context in device auth verify page
  server/routes/auth-flow.ts
  server/routes/index.ts
Due: server

fix(security): use actual tenant from request context in device auth verify page (#1659)
  server/routes/auth-flow.ts
  server/routes/index.ts
Due: server

fix(security): throw SecurityConfigError instead of process.exit in validateStartupSecurity
  server/__tests__/auth.test.ts
  server/index.ts
  server/middleware/auth.ts
Due: server

fix(security): fail startup when CORS allows all origins in remote mode (#1658)
  server/__tests__/auth.test.ts
  server/index.ts
  server/middleware/auth.ts
Due: server

fix(discord): stop zombie progress intervals when session dies
  server/discord/thread-manager.ts
Due: server

fix: document SecurityConfigError in auth spec to pass strict spec validation
  specs/middleware/auth.spec.md
Due: none

test(discord): add ThreadSessionManager unit tests
  server/__tests__/discord-thread-session-manager.test.ts
  server/discord/bridge.ts
  server/discord/thread-session-manager.ts
  specs/discord/bridge.spec.md
Due: server
