Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

spec(process): document session keep-alive in sdk-process, process-spawner, session-lifecycle specs
  server/process/process-spawner.ts
  specs/process/process-spawner.spec.md
  specs/process/sdk-process.spec.md
  specs/process/session-lifecycle.spec.md
Due: server

docs(branch-protection): document restoration attempt and admin token requirements
  BRANCH_PROTECTION_NOTES.md
Due: none

feat(process): implement session keep-alive with input queue (#2224)
  server/process/manager.ts
  server/process/process-spawner.ts
  server/process/session-lifecycle.ts
  shared/types/sessions.ts
Due: server

fix(algochat): add debug logging to silent catch in PSK trial-decryption loop
  server/algochat/psk-discovery-poller.ts
Due: server

fix(process): document warm→cold fallback gap and add eviction tests (#2225)
  server/__tests__/process-manager-warm-cold-fallback.test.ts
  server/process/process-spawner.ts
Due: server

revert(process): remove Layer 0 changes from manager.ts
  server/process/manager.ts
Due: server

deps: bump discord.js, marked, and @biomejs/biome
  biome.json
  bun.lock
  package.json
Due: none

chore: remove session keep-alive and algochat commits from deps-only branch
  server/algochat/psk-discovery-poller.ts
  server/process/manager.ts
  server/process/process-spawner.ts
  server/process/session-lifecycle.ts
  shared/types/sessions.ts
  specs/process/process-spawner.spec.md
  specs/process/sdk-process.spec.md
  specs/process/session-lifecycle.spec.md
Due: server

fix(lint): reformat long chain in manager.ts for biome 2.4.14 compatibility
  server/process/manager.ts
Due: server

revert: remove biome and manager.ts changes — Layer 0 governance violation
  biome.json
  bun.lock
  package.json
  server/process/manager.ts
Due: server

fix: pin biome to 2.4.13 in lockfile to avoid Layer 0 formatting requirement
  bun.lock
Due: none

deps: bump discord.js and marked patch versions (#2239)
  bun.lock
  package.json
Due: none

spec(process): add keep-alive lifecycle to process specs (Phase 1)
  specs/process/process-manager.spec.md
  specs/process/process-spawner.spec.md
  specs/process/sdk-process.spec.md
  specs/process/session-lifecycle.spec.md
Due: none

feat(process): implement keep-alive state machine and warm path (Phase 2)
  server/__tests__/agent-messenger.test.ts
  server/__tests__/chain-continuation-integration.test.ts
  server/__tests__/process-manager-cleanup.test.ts
  server/__tests__/process-manager-compact.test.ts
  server/__tests__/process-manager-sendmessage.test.ts
  server/__tests__/session-timer-manager.test.ts
  server/__tests__/work-task-dedup.test.ts
  server/__tests__/work-task-drain.test.ts
  server/__tests__/work-task-test-helpers.ts
  server/process/cursor-process.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/process-spawner.ts
  server/process/sdk-process.ts
  server/process/session-timer-manager.ts
  specs/process/sdk-process.spec.md
Due: server

feat(sessions): add per-session keep-alive flag (Phase 3.1)
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/ollama-stall-escalator.test.ts
  server/db/migrations/127_session_keep_alive.ts
  server/db/schema/index.ts
  server/db/sessions.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types/sessions.ts
  specs/db/sessions/sessions.spec.md
Due: server

feat(keep-alive): context reset coexistence, status tracking, and dashboard warm badges (Phase 3.2-3.4)
  client/src/app/core/models/session.model.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  server/process/manager.ts
Due: server, client

fix: update migration count in deep-dive docs (49 → 50)
  docs/deep-dive.md
Due: none

feat(keep-alive): Phase 3 — per-session flag, coexistence, dashboard warm badges (#2243)
  client/src/app/core/models/session.model.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-view.component.ts
  docs/deep-dive.md
  server/__tests__/a2a-invocation-guard.test.ts
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/ollama-stall-escalator.test.ts
  server/db/migrations/127_session_keep_alive.ts
  server/db/schema/index.ts
  server/db/sessions.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types/sessions.ts
  specs/db/sessions/sessions.spec.md
Due: server, client

fix(keep-alive): wire keepAlive params into initial start path
  server/process/manager.ts
Due: server

fix(keep-alive): wire keepAlive params into initial start path (#2244)
  server/process/manager.ts
Due: server

fix(keep-alive): use persistent message queue to prevent stdin close
  server/process/sdk-process.ts
Due: server

test(keep-alive): add MessageQueue unit tests
  server/__tests__/sdk-process.test.ts
  server/process/sdk-process.ts
  specs/process/sdk-process.spec.md
Due: server

fix(keep-alive): persistent message queue prevents stdin close (#2245)
  server/__tests__/sdk-process.test.ts
  server/process/sdk-process.ts
  specs/process/sdk-process.spec.md
Due: server

refactor(keep-alive): address review refinements
  server/__tests__/sdk-process.test.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server

fix(keep-alive): update context tokens after warm turn completion
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server

test(keep-alive): add warm turn context token tracking tests
  server/__tests__/warm-turn-context-tokens.test.ts
Due: server

fix(keep-alive): update context tokens after warm turn completion (#2246)
  server/__tests__/warm-turn-context-tokens.test.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server

feat(discord): active duration tracking and keep-alive TTL countdown
  server/db/migrations/128_session_active_duration.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/thread-response/embed-response.ts
  server/process/manager.ts
  specs/db/sessions/sessions.spec.md
Due: server

fix(ci): add migration 128 to sessions spec and update migration count
  docs/deep-dive.md
  specs/db/sessions/sessions.spec.md
Due: none

feat(discord): active duration tracking and keep-alive TTL countdown (#2247)
  docs/deep-dive.md
  server/db/migrations/128_session_active_duration.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/thread-response/embed-response.ts
  server/process/manager.ts
  specs/db/sessions/sessions.spec.md
Due: server

feat(telegram): add keep-alive warm-turn support to Telegram bridge
  server/__tests__/telegram-bridge.test.ts
  server/telegram/bridge.ts
Due: server

feat(discord): unified CorvidEmbed builder with color palette, button registry, and presets
  server/__tests__/embed-builder.test.ts
  server/discord/embed-builder.ts
Due: server

fix(discord): add setModel to CorvidEmbed, fix preset text to match existing embeds
  server/__tests__/embed-builder.test.ts
  server/discord/embed-builder.ts
Due: server

feat(discord): re-export CorvidEmbed from embeds.ts
  server/discord/embeds.ts
  specs/discord/bridge.spec.md
Due: server

refactor(discord): migrate embed-response.ts to CorvidEmbed builder
  server/discord/thread-response/embed-response.ts
Due: server

refactor(discord): migrate adaptive, inline, and work-dispatch to CorvidEmbed builder
  server/discord/thread-response/adaptive-response.ts
  server/discord/thread-response/inline-response.ts
  server/discord/work-dispatch.ts
Due: server

fix(discord): add setFooter, restore work task footers, update TTL to 2hr
  server/__tests__/embed-builder.test.ts
  server/discord/embed-builder.ts
  server/discord/thread-response/embed-response.ts
  server/discord/work-dispatch.ts
  server/process/manager.ts
  server/process/session-timer-manager.ts
  specs/discord/thread-response.spec.md
Due: server

fix(discord): prevent race condition when multiple messages arrive in same thread
  server/__tests__/discord-bridge-threads.test.ts
  server/discord/message-router.ts
  server/discord/thread-response/embed-response.ts
  server/discord/thread-session-map.ts
Due: server
