Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: session list pagination and absolute time tooltips
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/pipes/absolute-time.pipe.ts
Due: client

feat: session list pagination and absolute time tooltips (#643)
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/pipes/absolute-time.pipe.ts
Due: client

feat(ui): wire up toast notifications for async actions (#645)
  client/src/app/core/services/notification.service.spec.ts
  client/src/app/core/services/notification.service.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-launcher.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/toast-container.component.ts
Due: client

feat(ui): add keyboard shortcuts overlay and help panel (#644)
  client/src/app/app.ts
  client/src/app/core/services/keyboard-shortcuts.service.spec.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.spec.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix: E2E fixtures now clean up all seeded entities, not just agents
  e2e/fixtures.ts
Due: none

fix: E2E test cleanup — delete all seeded entities (#650)
  client/src/app/app.ts
  client/src/app/core/services/keyboard-shortcuts.service.spec.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.spec.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/sidebar.component.ts
  e2e/fixtures.ts
Due: client

fix: declare all e2e cleanup tracking arrays to prevent test data accumulation
  e2e/fixtures.ts
Due: none

feat(ui): wire up toast notifications for async actions (#645) (#647)
  client/src/app/core/services/notification.service.spec.ts
  client/src/app/core/services/notification.service.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-launcher.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/toast-container.component.ts
Due: client

feat(ui): session output streaming UX improvements
  client/src/app/features/sessions/session-output.component.ts
Due: client

fix: use home directory in browse-dirs E2E test for CI compatibility
  e2e/api-coverage.spec.ts
Due: none

fix: declare all e2e cleanup tracking arrays (#651)
  e2e/api-coverage.spec.ts
  e2e/fixtures.ts
Due: none

fix: resolve duplicate variable declaration in e2e fixtures
  e2e/fixtures.ts
Due: none

feat(cli): add init and demo commands for new user onboarding
  cli/commands/demo.ts
  cli/commands/init.ts
  cli/index.ts
Due: server

feat: expand AlgoChat & Algorand usage across councils, work tasks, and scheduler
  server/__tests__/scheduler-service.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/init.ts
  server/billing/usdc-revenue.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/db/councils.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/migrations/069_usdc_revenue.ts
  server/db/schema.ts
  server/db/usdc-revenue.ts
  server/lib/validation.ts
  server/scheduler/priority-rules.ts
  server/scheduler/service.ts
  server/work/service.ts
  shared/types/councils.ts
  shared/types/schedules.ts
  specs/billing/usdc.spec.md
  specs/councils/councils.spec.md
  specs/scheduler/scheduler-service.spec.md
  specs/work/work-task-service.spec.md
Due: server

feat(ui): session output streaming UX improvements (#648)
  client/src/app/features/sessions/session-output.component.ts
Due: client

fix: resolve CodeQL alerts (TOCTOU race, log injection)
  cli/commands/init.ts
  cli/render.ts
Due: server

feat(cli): add init and demo commands for new user onboarding (#652)
  cli/commands/demo.ts
  cli/commands/init.ts
  cli/index.ts
  cli/render.ts
Due: server

docs: WCAG AAA compliance and cyberpunk theme refinements
  README.md
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
  docs/quickstart.md
  docs/style.css
Due: none

feat: expand AlgoChat & Algorand usage across platform (#653)
  README.md
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
  docs/quickstart.md
  docs/style.css
  server/__tests__/scheduler-service.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/init.ts
  server/billing/usdc-revenue.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/db/councils.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/migrations/069_usdc_revenue.ts
  server/db/schema.ts
  server/db/usdc-revenue.ts
  server/lib/validation.ts
  server/scheduler/priority-rules.ts
  server/scheduler/service.ts
  server/work/service.ts
  shared/types/councils.ts
  shared/types/schedules.ts
  specs/billing/usdc.spec.md
  specs/councils/councils.spec.md
  specs/scheduler/scheduler-service.spec.md
  specs/work/work-task-service.spec.md
Due: server

fix(security): prevent log injection in CLI render sanitize function
  cli/render.ts
Due: server

fix(security): prevent log injection in CLI render sanitize function (#654)
  cli/render.ts
Due: server

feat: add stream error recovery events and council_agent_error WebSocket type
  server/__tests__/stream-error-recovery.test.ts
  server/__tests__/ws-handler.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/events/broadcasting.ts
  server/process/manager.ts
  server/process/types.ts
  server/routes/councils.ts
  server/ws/handler.ts
  shared/types/councils.ts
  shared/ws-protocol.ts
Due: server

docs: add missing specs for broadcasting, escrow, and tenant resolve
  specs/events/broadcasting.spec.md
  specs/marketplace/escrow.spec.md
  specs/tenant/resolve.spec.md
Due: none

fix: complete credit TOCTOU sweep and re-audit findings (N1-N7)
  server/db/credits.ts
  server/health/service.ts
  server/marketplace/escrow.ts
  server/middleware/builtin.ts
  server/process/protected-paths.ts
Due: server

fix: handle disk health check properly on Windows
  server/health/service.ts
Due: server

fix: address P0/P1 findings from council security audit
  deploy/helm/values.yaml
  deploy/k8s/statefulset.yaml
  server/__tests__/agents.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/db/agents.ts
  server/db/councils.ts
  server/db/credits.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/schema.ts
  server/health/service.ts
  server/lib/shutdown-coordinator.ts
  server/middleware/guards.ts
  server/process/protected-paths.ts
Due: server

docs: update specs and markdown for security audit fixes and migration 70
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  VISION.md
  scripts/demo.md
  server/db/migrations/070_algochat_defaults.ts
  server/db/schema.ts
  specs/db/agents.spec.md
  specs/db/councils.spec.md
  specs/db/credits.spec.md
  specs/db/schema.spec.md
  specs/health/health.spec.md
  specs/lib/resilience.spec.md
  specs/middleware/middleware-pipeline.spec.md
  specs/process/sdk-process.spec.md
Due: server

fix: handle missing df command on Windows in disk health check
  server/health/service.ts
Due: server

fix: prefix unused db param in migration 070 down() to satisfy TSC
  server/db/migrations/070_algochat_defaults.ts
Due: server

fix: address P0/P1 findings from council security audit (#655)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  VISION.md
  deploy/helm/values.yaml
  deploy/k8s/statefulset.yaml
  scripts/demo.md
  server/__tests__/agents.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/db/agents.ts
  server/db/councils.ts
  server/db/credits.ts
  server/db/migrations/068_council_on_chain_mode.ts
  server/db/migrations/070_algochat_defaults.ts
  server/db/schema.ts
  server/health/service.ts
  server/lib/shutdown-coordinator.ts
  server/marketplace/escrow.ts
  server/middleware/builtin.ts
  server/middleware/guards.ts
  server/process/protected-paths.ts
  specs/db/agents.spec.md
  specs/db/councils.spec.md
  specs/db/credits.spec.md
  specs/db/schema.spec.md
  specs/events/broadcasting.spec.md
  specs/health/health.spec.md
  specs/lib/resilience.spec.md
  specs/marketplace/escrow.spec.md
  specs/middleware/middleware-pipeline.spec.md
  specs/process/sdk-process.spec.md
  specs/tenant/resolve.spec.md
Due: server

feat: stream error recovery events and council_agent_error WS type (#656)
  server/__tests__/stream-error-recovery.test.ts
  server/__tests__/ws-handler.test.ts
  server/councils/discussion.ts
  server/councils/synthesis.ts
  server/events/broadcasting.ts
  server/process/manager.ts
  server/process/types.ts
  server/routes/councils.ts
  server/ws/handler.ts
  shared/types/councils.ts
  shared/ws-protocol.ts
Due: server

feat: v0.19.0 security audit — 232 tests, threat model, bypass suites (#308)
  SECURITY.md
  server/__tests__/jailbreak-prevention.test.ts
  server/__tests__/rate-limit-bypass.test.ts
  server/__tests__/security-audit.test.ts
Due: server

fix: stabilize timingSafeEqual timing test for macOS CI
  server/__tests__/security-audit.test.ts
Due: server

docs: add dependency audit and external review scope document (#661, #662)
  docs/dependency-audit.md
  docs/external-review-scope.md
Due: none

refactor: extract SessionTimerManager and SessionResilienceManager from ProcessManager (#453)
  server/__tests__/session-resilience-manager.test.ts
  server/__tests__/session-timer-manager.test.ts
  server/process/manager.ts
  server/process/session-resilience-manager.ts
  server/process/session-timer-manager.ts
Due: server

docs: add v0.19.0 changelog entry and bump version/stats across docs
  CHANGELOG.md
  README.md
  VISION.md
  scripts/demo.md
Due: none

feat: v0.19.0 security audit — 232 tests, threat model, dependency audit (#663)
  CHANGELOG.md
  README.md
  SECURITY.md
  VISION.md
  docs/dependency-audit.md
  docs/external-review-scope.md
  scripts/demo.md
  server/__tests__/jailbreak-prevention.test.ts
  server/__tests__/rate-limit-bypass.test.ts
  server/__tests__/security-audit.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
