Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(client): M3 Phase 3 — remove ::ng-deep, migrate checkbox (#2106)
  client/src/app/app.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/dir-browser.component.ts
  client/src/styles.css
Due: client

feat(client): M3 Phase 3 — eliminate ::ng-deep, add matTooltip
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
Due: client

feat(client): M3 Phase 3 — migrate skill tags and tool names to mat-chip
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
Due: client

feat(client): M3 Phase 3 — migrate notifications to mat-snackbar, add mat-menu/mat-tooltip/mat-progress-bar
  .specsync/hashes.json
  client/src/app/app.ts
  client/src/app/core/services/notification.service.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/notification-snack.component.ts
  client/src/styles.css
Due: client

fix(client): resolve toast-container compilation errors after NotificationService migration
  client/src/app/shared/components/toast-container.component.ts
Due: client

chore: add v0.64.0 changelog — 49 PRs, Angular Material migration, security updates
  CHANGELOG.md
Due: none

feat(client): M3 Phase 3 — eliminate ::ng-deep, add matTooltip (#2107)
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
Due: client

feat(client): M3 Phase 3 — migrate skill tags and tool names to mat-chip (#2108)
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
Due: client

feat(client): M3 Phase 3 — material design 3 final components (snackbar, menu, tooltip, progress) (#2109)
  .specsync/hashes.json
  client/src/app/app.ts
  client/src/app/core/services/notification.service.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/notification-snack.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/styles.css
Due: client

chore: add v0.64.0 changelog — 49 PRs (#2110)
  CHANGELOG.md
Due: none

chore: bump outdated minor/patch dependencies
  bun.lock
  package.json
Due: none

chore: bump outdated minor/patch dependencies (#2111)
  bun.lock
  package.json
Due: none

feat(client): dashboard dual-mode view — Basic stats + Three.js 3D agent visualization
  .specsync/hashes.json
  client/src/app/features/dashboard/dashboard-3d.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat(client): dashboard dual-mode view — Basic stats + Three.js 3D agent visualization (#2113)
  .specsync/hashes.json
  client/src/app/features/dashboard/dashboard-3d.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat(client): design token audit — fix hardcoded colors in dashboard
  client/src/app/features/dashboard/dashboard.component.css
  client/src/styles.css
Due: client

chore: update specsync hashes for design token audit
  .specsync/hashes.json
Due: none

fix(discord): extend session context retention from 15min to 60min
  server/db/discord-mention-sessions.ts
  server/discord/message-handler.ts
Due: server

feat(client): design token audit — fix hardcoded colors in dashboard (#2112)
  .specsync/hashes.json
  client/src/app/features/dashboard/dashboard.component.css
  client/src/styles.css
Due: client

fix(discord): extend session context retention from 15min to 60min (#2118)
  server/db/discord-mention-sessions.ts
  server/discord/message-handler.ts
Due: server

feat(plugins): wire PluginRegistry into MCP tool dispatch (#1489)
  .specsync/hashes.json
  server/__tests__/plugin-sdk-bridge.test.ts
  server/index.ts
  server/plugins/registry.ts
  server/plugins/sdk-bridge.ts
  server/process/manager.ts
  specs/plugins/tasks.md
Due: server

feat(process): extract approval-flow and persona-injector modules from manager.ts
  server/process/approval-flow.ts
  server/process/persona-injector.ts
  specs/process/process-manager.spec.md
Due: server

fix(governance): revert manager.ts changes — Layer 0 cannot be modified by automated workflows
  server/index.ts
  server/process/manager.ts
Due: server

fix(discord): revert Layer 0 manager.ts changes — plugin wiring out of scope
  server/index.ts
  server/process/manager.ts
Due: server

refactor(discord): split message-handler.ts into message-router + work-dispatch
  server/discord/message-handler.ts
  server/discord/message-router.ts
  server/discord/work-dispatch.ts
Due: server

feat(plugins): wire PluginRegistry into MCP tool dispatch (#1489) (#2115)
  .specsync/hashes.json
  server/__tests__/plugin-sdk-bridge.test.ts
  server/index.ts
  server/plugins/registry.ts
  server/plugins/sdk-bridge.ts
  server/process/manager.ts
  specs/plugins/tasks.md
Due: server

feat(process): extract approval-flow and persona-injector from manager.ts (#2116)
  server/process/approval-flow.ts
  server/process/persona-injector.ts
  specs/process/process-manager.spec.md
Due: server

refactor(discord): split message-handler.ts into message-router + work-dispatch (#2117)
  server/discord/message-handler.ts
  server/discord/message-router.ts
  server/discord/work-dispatch.ts
Due: server

feat(discord): channel-scoped context retention across sessions
  server/__tests__/graduation-service.test.ts
  server/__tests__/observations.test.ts
  server/__tests__/session-resume-observations.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/120_observation_channel_id.ts
  server/db/observations.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/discord/message-router.ts
  shared/types/memories.ts
Due: server

feat(discord): channel-scoped context retention across sessions (#2119)
  server/__tests__/graduation-service.test.ts
  server/__tests__/observations.test.ts
  server/__tests__/session-resume-observations.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/120_observation_channel_id.ts
  server/db/observations.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/discord/message-router.ts
  shared/types/memories.ts
Due: server

fix(discord): track mention sessions immediately on creation, not on bot reply
  server/__tests__/discord-bridge-mentions.test.ts
  server/discord/message-router.ts
  specs/process/process-manager.spec.md
Due: server

fix: resolve CI failures — idempotent migration and stats drift
  docs/deep-dive.md
  server/db/migrations/120_observation_channel_id.ts
Due: server

fix: add spec coverage for message-router, work-dispatch, sdk-bridge, migration 120
  .specsync/hashes.json
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/plugins/plugins.spec.md
Due: none

fix(discord): address review issues in mention session tracking
  server/db/migrations/120_observation_channel_id.ts
  server/discord/message-router.ts
Due: server

feat(work-tasks): per-task minimum trust level for delegation
  server/__tests__/reputation-guard.test.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  server/work/reputation-guard.ts
  server/work/service.ts
  shared/types/work-tasks.ts
  specs/work/reputation-guard.spec.md
Due: server

fix: resolve CI failures — idempotent migration 120 and stats drift
  docs/deep-dive.md
  server/db/migrations/120_observation_channel_id.ts
Due: server

fix: resolve spec validation warnings — document exports and add file coverage
  .specsync/hashes.json
  docs/deep-dive.md
  server/__tests__/reputation-guard.test.ts
  server/db/migrations/120_observation_channel_id.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/work.ts
  server/work/reputation-guard.ts
  server/work/service.ts
  shared/types/work-tasks.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/plugins/plugins.spec.md
  specs/process/process-manager.spec.md
  specs/work/reputation-guard.spec.md
Due: server

fix: make migration 120 idempotent to avoid duplicate column error
  server/db/migrations/120_observation_channel_id.ts
Due: server

fix: update migration_files count from 42 to 43 in docs/deep-dive.md
  docs/deep-dive.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
