Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix(specs): correct memory TTL mechanics and task-queue audit (#2024)
  .specsync/hashes.json
  specs/memory/memory.spec.md
  specs/work/task-queue.spec.md
Due: none

docs(specs): expand discord message-commands spec for buddy mode, minResponderPermLevel, and session persistence — closes #2023
  .specsync/hashes.json
  specs/discord/message-commands.spec.md
Due: none

fix(specs): correct memory TTL mechanics and task-queue audit (#2024) (#2059)
  .specsync/hashes.json
  specs/memory/memory.spec.md
  specs/work/task-queue.spec.md
Due: none

docs(specs): expand discord message-commands spec — closes #2023 (#2060)
  .specsync/hashes.json
  specs/discord/message-commands.spec.md
Due: none

feat(perf): add v1.0.0 API and SQLite benchmarks with SLA docs
  docs/performance-benchmarks.md
  scripts/benchmark-api.ts
  scripts/benchmark-sqlite.ts
Due: none

fix(ci): re-enable E2E tests in CI pipeline — closes #1988
  .github/workflows/e2e.yml
Due: none

fix: worktree creation for non-default projects + reduce context loss
  server/__tests__/context-management.test.ts
  server/__tests__/project-dir.test.ts
  server/algochat/message-router.ts
  server/lib/project-dir.ts
  server/process/context-management.ts
  server/process/manager.ts
  server/process/resume-prompt-builder.ts
Due: server

fix: update duplicate summarizeConversation tests to match new thresholds
  server/__tests__/direct-process-utils.test.ts
Due: server

feat(perf): add v1.0.0 API and SQLite benchmarks with SLA docs (#2062)
  docs/performance-benchmarks.md
  scripts/benchmark-api.ts
  scripts/benchmark-sqlite.ts
Due: none

fix(ci): add missing @axe-core/playwright dev dependency
  bun.lock
  package.json
Due: none

fix: plug timer and callback leaks for long-running server stability
  server/process/session-timer-manager.ts
  server/work/service.ts
  server/ws/handler.ts
Due: server

docs(specs): add graduation-service.ts and consolidation.ts to memory spec
  .specsync/hashes.json
  specs/memory/memory.spec.md
Due: none

docs(specs): add graduation-service.ts and consolidation.ts to memory spec (#2061)
  .specsync/hashes.json
  specs/memory/memory.spec.md
Due: none

fix: worktree creation for non-default projects + reduce context loss (#2067)
  server/__tests__/context-management.test.ts
  server/__tests__/direct-process-utils.test.ts
  server/__tests__/project-dir.test.ts
  server/algochat/message-router.ts
  server/lib/project-dir.ts
  server/process/context-management.ts
  server/process/manager.ts
  server/process/resume-prompt-builder.ts
Due: server

fix: add missing .catch() on voice session creation promise
  server/discord/voice/voice-session.ts
Due: server

fix: plug timer and callback leaks for long-running server stability (#2068)
  server/process/session-timer-manager.ts
  server/work/service.ts
  server/ws/handler.ts
Due: server

fix(ollama): add queue timeout to acquireSlot() — closes #2065
  server/__tests__/providers.test.ts
  server/providers/ollama/provider.ts
  server/routes/ollama.ts
Due: server

fix(ci): revert E2E workflow re-enablement that caused CI failure
  .github/workflows/e2e.yml
Due: none

feat: add git branch isolation detection to bash-security (Layer 2 only)
  server/lib/bash-security.ts
Due: server

test: add coverage for detectGitBranchViolation and analyzeBashCommand git integration
  server/__tests__/bash-security.test.ts
Due: server

ci: pin corvid-pet action to commit SHA
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Revert "fix(ollama): add queue timeout to acquireSlot() — closes #2065"
  server/__tests__/providers.test.ts
  server/providers/ollama/provider.ts
  server/routes/ollama.ts
Due: server

fix: revert e2e.yml to disabled state (conserving CI minutes per #1436)
  .github/workflows/e2e.yml
Due: none

deps: update web-tree-sitter 0.25.10 → 0.26.8
  bun.lock
  package.json
  server/ast/parser.ts
Due: server

fix: revert web-tree-sitter to 0.25.10 — grammar WASM ABI incompatible with 0.26.x
  bun.lock
  package.json
  server/ast/parser.ts
Due: server

blog: Hardening the Foundation — Process Decomposition, Leak Fixes, and Performance SLAs
  docs/blog.html
Due: none

fix: add missing .catch() on voice session creation promise (#2069)
  server/discord/voice/voice-session.ts
Due: server

fix(ollama): add queue timeout to acquireSlot() — closes #2065 (#2072)
  server/__tests__/providers.test.ts
  server/providers/ollama/provider.ts
  server/routes/ollama.ts
Due: server

fix(session): enforce chat/* branch naming during worktree sessions — closes #2070 #2071 (#2073)
  server/__tests__/bash-security.test.ts
  server/lib/bash-security.ts
Due: server

ci: pin corvid-pet action to commit SHA (#2074)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

blog: Hardening the Foundation — Process Decomposition, Leak Fixes, and Performance SLAs (#2076)
  docs/blog.html
Due: none

chore: v1.0.0-rc deliverables — RBAC guards, release notes, changelog
  CHANGELOG.md
  docs/RELEASE-NOTES.md
  server/routes/block-explorer.ts
  server/routes/cursor.ts
  server/routes/index.ts
  server/routes/tool-catalog.ts
Due: server

fix(context): improve context retention across session resets
  .specsync/hashes.json
  server/__tests__/context-management.test.ts
  server/__tests__/project-dir.test.ts
  server/lib/project-dir.ts
  server/process/context-management.ts
  server/process/manager.ts
  specs/process/context-management.spec.md
  specs/process/process-manager.spec.md
Due: server

fix(ollama): handle slot acquisition timeout — emit error and exit
  server/process/direct-process.ts
Due: server

fix(context): improve context retention across session resets (#2079)
  .specsync/hashes.json
  server/__tests__/context-management.test.ts
  server/__tests__/project-dir.test.ts
  server/lib/project-dir.ts
  server/process/context-management.ts
  server/process/manager.ts
  specs/process/context-management.spec.md
  specs/process/process-manager.spec.md
Due: server

fix(ollama): handle slot acquisition timeout (#2080)
  server/process/direct-process.ts
Due: server

chore: v1.0.0-rc deliverables — RBAC guards, release notes, changelog (#2078)
  CHANGELOG.md
  docs/RELEASE-NOTES.md
  server/routes/block-explorer.ts
  server/routes/cursor.ts
  server/routes/index.ts
  server/routes/tool-catalog.ts
Due: server

fix(ci): re-enable E2E tests in CI pipeline — closes #1988 (#2066)
  .github/workflows/e2e.yml
  bun.lock
  package.json
Due: none

feat(client): install Angular Material & configure M3 dark theme
  client/angular.json
  client/bun.lock
  client/package.json
  client/src/index.html
  client/src/styles/m3-theme.scss
Due: client

feat(client): install Angular Material & configure M3 dark theme (#2087)
  client/angular.json
  client/bun.lock
  client/package.json
  client/src/index.html
  client/src/styles/m3-theme.scss
Due: client
