Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

ci: disable E2E tests from automated runs
  .github/workflows/e2e.yml
Due: none

ci: disable E2E tests from automated runs (#2091)
  .github/workflows/e2e.yml
Due: none

feat(client): convert navigation & chat-home to Angular Material M3 (closes #2089)
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/sidebar.component.spec.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix(test): stabilize TTL boundary test with timing buffer
  server/__tests__/discord-thread-session-manager.test.ts
Due: server

fix(client): add missing MatDividerModule import to top-nav component
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix(context): improve decision/file extraction in context compression
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
Due: server

fix(context): revert manager.ts — Layer 0 path cannot be modified by work tasks
  server/process/manager.ts
Due: server

fix(context): improve decision/file extraction in context compression (#2088)
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  server/process/manager.ts
Due: server

feat(client): M3 Phase 2 — convert navigation & chat-home to Angular Material (#2090)
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/sidebar.component.spec.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
  server/__tests__/discord-thread-session-manager.test.ts
Due: server, client

feat(context): improve token estimation accuracy for JSON/YAML content — closes #2086
  .specsync/hashes.json
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  specs/process/context-management.spec.md
Due: server

feat(context): improve token estimation and add proactive context management
  .specsync/hashes.json
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  specs/process/context-management.spec.md
Due: server

feat(context): improve token estimation and add proactive context management (#2093)
  .specsync/hashes.json
  server/__tests__/context-management.test.ts
  server/process/context-management.ts
  specs/process/context-management.spec.md
Due: server

feat(client): M3 Phase 2 — migrate sessions, agents, dashboard, work-tasks to Angular Material
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/sessions/session-launcher.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

feat(client): M3 Phase 2 — migrate agents, councils, sessions, memory, flock to Angular Material
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/memory/memory-browser.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(client): align Angular build tools to 21.2.x to fix ChangeDetectionStrategy.Eager support
  client/bun.lock
  client/package.json
Due: none

feat(client): M3 Phase 2 — migrate remaining 22 components to Angular Material
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/comms/agent-comms.component.ts
  client/src/app/features/comms/live-feed.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/governance-dashboard.component.ts
  client/src/app/features/councils/governance-vote-panel.component.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-form.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/settings-access/allowlist.component.ts
  client/src/app/features/settings-access/github-allowlist.component.ts
  client/src/app/features/settings-access/repo-blocklist.component.ts
  client/src/app/features/settings-integrations/contact-list.component.ts
  client/src/app/features/settings-security/spending.component.ts
  client/src/app/features/settings-security/wallet-viewer.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
Due: client

feat(client): M3 Phase 2 — migrate dir-browser and live-feed final cleanup
  .specsync/hashes.json
  client/src/app/features/comms/live-feed.component.ts
  client/src/app/shared/components/dir-browser.component.ts
Due: client

feat(client): M3 Phase 2 — migrate settings, brain-viewer, welcome-wizard to Angular Material
  .specsync/hashes.json
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/memory/brain-viewer.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/settings/database-settings.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/mobile-settings.component.ts
  client/src/app/features/settings/operational-mode-settings.component.ts
  client/src/app/features/settings/system-info-settings.component.ts
  client/src/app/features/settings/telegram-settings.component.ts
Due: client

feat(client): M3 Phase 2 — migrate settings, library, analytics, session components to Angular Material
  .specsync/hashes.json
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-memory.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings/notifications-settings.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/header.component.ts
Due: client

feat(client): M3 Phase 2 — migrate comms, memory, view-toggle, app shell to Angular Material
  .specsync/hashes.json
  client/src/app/app.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

feat(client): M3 Phase 2 — migrate remaining components to Angular Material (#2095)
  .specsync/hashes.json
  client/src/app/app.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-memory.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings/notifications-settings.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

fix(client): M3 theme polish — cyan palette, compact density, global token overrides
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/styles/m3-theme.scss
Due: client

fix(client): replace ::ng-deep overrides with M3 CSS custom properties
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/styles/m3-theme.scss
Due: client

fix(client): replace ::ng-deep with M3 CSS tokens, add missing component theme overrides
  client/src/app/features/memory/brain-viewer.component.ts
Due: client

fix(client): replace hardcoded colors with design tokens, expand M3 coverage
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/library/library-3d.component.css
  client/src/styles/m3-theme.scss
Due: client

feat(client): M3 Phase 2 — migrate session-input component to Angular Material
  client/src/app/features/sessions/session-input.component.ts
Due: client

fix: upgrade web-tree-sitter 0.25.10 → 0.26.8
  .specsync/hashes.json
  bun.lock
  docs/dependency-audit.md
  package.json
  server/ast/parser.ts
  specs/ast/ast.spec.md
  specs/ast/requirements.md
Due: server

chore: bump @anthropic-ai/claude-agent-sdk from 0.2.112 to 0.2.114
  bun.lock
  package.json
Due: none

chore: refresh lockfile to resolve @anthropic-ai/sdk to 0.90.0
  bun.lock
Due: none

fix(ast): upgrade web-tree-sitter 0.25.10 → 0.26.8
  .specsync/hashes.json
  bun.lock
  docs/dependency-audit.md
  package.json
  server/ast/parser.ts
  specs/ast/ast.spec.md
  specs/ast/requirements.md
Due: server

fix(client): M3 theme polish — cyan palette, compact density (#2096)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/library/library-3d.component.css
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/memory/brain-viewer.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/styles/m3-theme.scss
Due: client

feat(client): M3 Phase 2 — complete session-input migration with mat-form-field
  client/src/app/features/sessions/session-input.component.ts
Due: client

fix: upgrade web-tree-sitter 0.25.10 → 0.26.8 (#2099)
  .specsync/hashes.json
  bun.lock
  docs/dependency-audit.md
  package.json
  server/ast/parser.ts
  specs/ast/ast.spec.md
  specs/ast/requirements.md
Due: server

chore: bump @anthropic-ai/claude-agent-sdk to 0.2.114 (#2103)
  bun.lock
  package.json
Due: none

chore: refresh lockfile to resolve @anthropic-ai/sdk to 0.90.0 (#2104)
  bun.lock
Due: none

feat(client): M3 Phase 2 — complete session-input migration with mat-form-field (#2105)
  client/src/app/features/sessions/session-input.component.ts
Due: client

feat(client): M3 Phase 3 — remove ::ng-deep, migrate checkbox
  client/src/app/app.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/dir-browser.component.ts
  client/src/styles.css
Due: client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
