Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix(test): update resume_thread test to match #1674 behavior change
  server/__tests__/discord-command-handlers.test.ts
Due: server

fix(discord): use static import for discordFetch in autocomplete handler (#1679)
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

fix(discord): persist conversation summary across session resumes
  server/db/migrations/110_session_conversation_summary.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix(discord): persist conversation summary across session resumes (#1680)
  server/db/migrations/110_session_conversation_summary.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix(library): use totalPages from grouped API for 3D book rendering
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
Due: client

refactor(discord): replace switch dispatcher with map-based command registry
  server/discord/commands.ts
Due: server

fix(sessions): recover from zero-turn death loop instead of killing session permanently
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix(sessions): recover from zero-turn death loop instead of killing session permanently (#1683)
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix: resolve CI failures — migration sync, spec coverage, and library title
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/pipes/markdown.pipe.ts
  docs/deep-dive.md
  server/db/agent-library.ts
  server/db/migrations/111_library_title.ts
  server/db/schema/index.ts
  server/db/schema/library.ts
  specs/db/migrations.spec.md
  specs/db/sessions.spec.md
Due: server, client

fix: resolve CI failures — bump SCHEMA_VERSION, update specs and stats
  docs/deep-dive.md
  server/db/schema/index.ts
  specs/db/migrations.spec.md
  specs/db/sessions.spec.md
Due: server

feat(library): add title field and markdown rendering support
  bun.lock
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/pipes/markdown.pipe.ts
  package.json
  server/db/agent-library.ts
  server/db/migrations/111_library_title.ts
Due: server, client

feat(library): add tag filtering, page navigation, and better display titles
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
Due: client

fix: add marked dependency and fix implicit any types in markdown pipe
  bun.lock
  client/src/app/shared/pipes/markdown.pipe.ts
  package.json
Due: client

feat(library): add tag filtering, page navigation, and better display titles (#1684)
  bun.lock
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/pipes/markdown.pipe.ts
  package.json
  server/db/agent-library.ts
  server/db/migrations/111_library_title.ts
Due: server, client

docs: add recipes, use-case gallery, and docs index (#1675)
  README.md
  docs/README.md
  docs/recipes/multi-agent-orchestration.md
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/use-case-gallery.md
Due: none

refactor(discord): replace switch dispatcher with map-based command registry (#1682)
  docs/deep-dive.md
  server/db/schema/index.ts
  server/discord/commands.ts
  specs/db/migrations.spec.md
  specs/db/sessions.spec.md
Due: server

fix(library): use totalPages from grouped API for 3D book rendering (#1681)
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/shared/pipes/markdown.pipe.ts
  docs/deep-dive.md
  server/db/agent-library.ts
  server/db/migrations/111_library_title.ts
  server/db/schema/index.ts
  server/db/schema/library.ts
  specs/db/migrations.spec.md
  specs/db/sessions.spec.md
Due: server, client

release: prep v0.59.0 changelog, docs, and GitHub Pages
  CHANGELOG.md
  README.md
  docs/blog.html
  docs/index.html
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/releases.html
  package.json
Due: none

test(process-manager): add unit tests for zero-turn death loop circuit breaker
  server/__tests__/process-manager-death-loop.test.ts
Due: server

release: prep v0.59.0 changelog, docs, and GitHub Pages (#1685)
  CHANGELOG.md
  README.md
  docs/blog.html
  docs/index.html
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/releases.html
  package.json
Due: none

fix(client): add missing `marked` dependency for markdown pipe
  client/bun.lock
  client/package.json
Due: none

fix(client): add missing `marked` dependency for markdown pipe (#1687)
  client/bun.lock
  client/package.json
Due: none

release: prep v0.59.1 changelog, docs, and GitHub Pages
  CHANGELOG.md
  README.md
  docs/index.html
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/releases.html
  package.json
Due: none

fix(rc): add automated verification script for v1.0.0-rc gating criteria
  scripts/rc-checklist.sh
Due: none

fix(discord): harden autocomplete handler + add agent option to schedule create
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/schedule-commands.ts
  server/discord/commands.ts
Due: server

fix(discord): harden autocomplete handler + add agent option to schedule create (#1693)
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/schedule-commands.ts
  server/discord/commands.ts
Due: server

fix(scheduling): add agent_id filter to schedule list + add get action
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

fix(scheduling): add agent_id filter to schedule list + get action (#1694)
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

release: prep v0.59.1 changelog, README version bump
  README.md
  docs/releases.html
  package.json
Due: none

release: prep v0.59.1 changelog, README version bump (#1695)
  README.md
  docs/releases.html
  package.json
Due: none

fix(schedule): correct tool description — schedule list shows all agents, not just self
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
Due: server

fix(scheduling): persist nextRunAt on MCP create/update + fix direct-tools description
  server/mcp/direct-tools.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

test(schedule): add coverage for next_run_at computation in create/update
  server/__tests__/tool-handlers.test.ts
Due: server

fix(specs): resolve DB schema drift across 15 spec files
  specs/db/agent-memories.spec.md
  specs/db/agents.spec.md
  specs/db/buddy.spec.md
  specs/db/contacts.spec.md
  specs/db/councils.spec.md
  specs/db/discord-config.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/personas.spec.md
  specs/db/projects.spec.md
  specs/db/reputation-db.spec.md
  specs/db/schedules.spec.md
  specs/db/session-metrics.spec.md
  specs/db/sessions.spec.md
  specs/db/variants.spec.md
  specs/db/work-tasks.spec.md
Due: none

docs(rc): add RELEASE-NOTES.md for v1.0.0-rc
  RELEASE-NOTES.md
Due: none

test(process-manager): add unit tests for zero-turn death loop circuit breaker (#1686)
  server/__tests__/process-manager-death-loop.test.ts
Due: server

release: prep v0.59.1 changelog, docs, and GitHub Pages (#1688)
  CHANGELOG.md
  docs/index.html
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/releases.html
Due: none

fix(rc): automated gating verification script for v1.0.0-rc (#1692)
  scripts/rc-checklist.sh
Due: none

fix(schedule): correct tool description — list returns all agents, not just self (#1698)
  server/__tests__/tool-handlers.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/scheduling.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
