Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix(discord): emit context_usage event on resume so footer shows fresh token count
  server/process/manager.ts
Due: server

fix(discord): emit context_usage event on resume so footer shows fresh token count (#2212)
  server/process/manager.ts
Due: server

test: add sdk-tools registration tests to meet codecov/patch threshold
  server/__tests__/sdk-tools-registration.test.ts
  server/__tests__/tool-permissions.test.ts
Due: server

fix: prevent NULL token counts by finalizing tracking before cleanup
  server/process/manager.ts
Due: server

fix: prevent NULL token counts by finalizing tracking before cleanup (#2214)
  server/process/manager.ts
Due: server

fix(test): fix 14 test failures left by PR #2209 escalation feature
  .specsync/hashes.json
  server/__tests__/work-task-escalation.test.ts
  server/__tests__/work-task-validation.test.ts
  server/work/session-lifecycle.ts
  specs/work/session-lifecycle.spec.md
Due: server

feat(work): escalate tasks to owner after max validation iterations instead of silently failing (#2209)
  .specsync/hashes.json
  server/__tests__/work-task-escalation.test.ts
  server/__tests__/work-tasks.test.ts
  server/db/audit.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/work.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  shared/types/work-tasks.ts
  specs/work/session-lifecycle.spec.md
  specs/work/work-task-service.spec.md
Due: server

docs: update MCP tools count to 57 (added corvid_work_task_escalate tool)
  docs/deep-dive.md
Due: none

fix(spec): document handleEscalateWorkTask export in tool-handlers spec
  .specsync/hashes.json
  specs/mcp/tools/tool-handlers.spec.md
Due: none

docs(spec): document handleEscalateWorkTask in tool-handlers spec
  specs/mcp/tools/tool-handlers.spec.md
Due: none

fix(client): add 'escalation_needed' to client WorkTaskStatus type
  client/src/app/core/models/work-task.model.ts
Due: client

fix(memory): paginate ARC-69 ASA listing and add diagnostic logging
  server/mcp/tool-handlers/memory.ts
  server/memory/arc69-store.ts
Due: server

fix(test): fix 14 test failures left by escalation feature (#2209) (#2215)
  .specsync/hashes.json
  client/src/app/core/models/work-task.model.ts
  docs/deep-dive.md
  server/__tests__/work-task-escalation.test.ts
  server/__tests__/work-task-validation.test.ts
  server/__tests__/work-tasks.test.ts
  server/db/audit.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/work.ts
  server/work/service.ts
  server/work/session-lifecycle.ts
  shared/types/work-tasks.ts
  specs/mcp/tools/tool-handlers.spec.md
  specs/work/session-lifecycle.spec.md
  specs/work/work-task-service.spec.md
Due: server, client

fix(client): sync WorkTask model with shared types
  client/src/app/core/models/work-task.model.ts
Due: client

docs(spec): update sessions spec for cumulative_turns (#2216)
  .specsync/hashes.json
  server/__tests__/discord-embeds-validation.test.ts
  server/db/migrations/125_cumulative_turns.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/embeds.ts
  server/discord/thread-response/embed-response.ts
  server/process/manager.ts
  specs/db/sessions/sessions.spec.md
Due: server

fix(ci): update migration file count in deep-dive.md
  docs/deep-dive.md
Due: none

chore: update spec-sync to v4.3.2 and remove hashes.json from git
  .specsync/hashes.json
  scripts/specsync.sh
Due: none

fix(spec): correct handleRecallMemory params and add min_trust_level to handleCreateWorkTask
  specs/mcp/tools/tool-handlers.spec.md
Due: none

fix(memory): paginate ARC-69 ASA listing and add diagnostic logging (#2217)
  client/src/app/core/models/work-task.model.ts
  server/mcp/tool-handlers/memory.ts
  server/memory/arc69-store.ts
Due: server, client

fix(docs): update MCP tools count to 62 in deep-dive.md
  docs/deep-dive.md
Due: none

feat(discord): dual turn counter in embed footer (#2216) (#2218)
  .specsync/hashes.json
  docs/deep-dive.md
  scripts/specsync.sh
  server/__tests__/discord-embeds-validation.test.ts
  server/db/migrations/125_cumulative_turns.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/db/sessions.ts
  server/discord/embeds.ts
  server/discord/thread-response/embed-response.ts
  server/process/manager.ts
  specs/db/sessions/sessions.spec.md
  specs/mcp/tools/tool-handlers.spec.md
Due: server

feat(mcp): expose observation tools to agents via SDK (#2211)
  docs/deep-dive.md
  server/__tests__/observation-tool-handlers.test.ts
  server/__tests__/sdk-tools-registration.test.ts
  server/__tests__/tool-permissions.test.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-permissions.ts
Due: server

feat(e2e): add multi-agent coordination test suite (Action 1, readiness plan)
  e2e/multi-agent.spec.ts
  server/__tests__/health-collector-integration.test.ts
Due: server

chore: adopt fledge as primary tooling across codebase
  .github/copilot-instructions.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  server/__tests__/selftest-service.test.ts
  server/__tests__/tool-prompt-codebase-context.test.ts
  server/__tests__/tool-prompt-templates.test.ts
  server/improvement/prompt-builder.ts
  server/polling/ci-retry.ts
  server/providers/ollama/tool-prompt-templates.ts
  server/scheduler/handlers/review.ts
  server/selftest/config.ts
  server/selftest/service.ts
  server/work/service-prompt.ts
  server/work/session-lifecycle.ts
  server/work/verification.ts
  skills/git/SKILL.md
  skills/testing/SKILL.md
  skills/verification/SKILL.md
Due: server

chore: update remaining docs/specs/scripts to use fledge commands
  .github/ISSUE_TEMPLATE/good_first_issue.md
  CONTRIBUTING.md
  scripts/demo.md
  scripts/dev-setup.sh
  specs/ast/testing.md
  specs/testing.md
  specs/types/testing.md
Due: none

fix: address fledge review findings — spec violation and PATH issue
  scripts/dev-setup.sh
  specs/selftest/requirements.md
  specs/selftest/selftest.spec.md
Due: none

chore: adopt fledge as primary tooling (#2220)
  .github/ISSUE_TEMPLATE/good_first_issue.md
  .github/copilot-instructions.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  scripts/demo.md
  server/__tests__/selftest-service.test.ts
  server/__tests__/tool-prompt-codebase-context.test.ts
  server/__tests__/tool-prompt-templates.test.ts
  server/improvement/prompt-builder.ts
  server/polling/ci-retry.ts
  server/providers/ollama/tool-prompt-templates.ts
  server/scheduler/handlers/review.ts
  server/selftest/config.ts
  server/selftest/service.ts
  server/work/service-prompt.ts
  server/work/session-lifecycle.ts
  server/work/verification.ts
  skills/git/SKILL.md
  skills/testing/SKILL.md
  skills/verification/SKILL.md
  specs/ast/testing.md
  specs/selftest/requirements.md
  specs/selftest/selftest.spec.md
  specs/testing.md
  specs/types/testing.md
Due: server

fix(db): resolve duplicate migration version 123 collision
  server/db/migrations/126_council_min_trust_level.ts
  server/db/schema/index.ts
  specs/db/migrations.spec.md
Due: server

fix(db): add missing MIGRATIONS dict entries for versions 123-126
  server/db/schema/index.ts
Due: server

fix: sync inline MIGRATIONS dict with file-based migrations 123-126
  server/db/schema/index.ts
  specs/db/migrations.spec.md
Due: server

style: fix lint formatting for single-element migration arrays
  server/db/schema/index.ts
Due: server

blog: add v0.65 release post — attestations, context intelligence, trust layer
  docs/blog.html
Due: none

docs(blog): expand Fledge section with 1.0.0 release details
  docs/blog.html
Due: none

blog: add v0.65 release post (#2227)
  docs/blog.html
Due: none

fix(db): resolve duplicate migration version 123 collision (#2221)
  server/db/migrations/126_council_min_trust_level.ts
  server/db/schema/index.ts
  specs/db/migrations.spec.md
Due: server

feat(e2e): add multi-agent coordination test suite (Action 1, readiness plan) (#2219)
  e2e/multi-agent.spec.ts
  server/__tests__/health-collector-integration.test.ts
Due: server

feat(process): increase default session timeout to 2h and add token breakdown logging
  .env.example
  corvid-agent.config.ts
  server/__tests__/config-loader.test.ts
  server/config/loader.ts
  server/process/manager.ts
  server/process/session-timer-manager.ts
Due: server

test(sessions): add coverage for cumulative turns and context token tracking
  server/__tests__/sessions-tracking.test.ts
Due: server

feat(process): increase default session timeout to 2h and add token breakdown logging (#2228)
  .env.example
  corvid-agent.config.ts
  server/__tests__/config-loader.test.ts
  server/config/loader.ts
  server/process/manager.ts
  server/process/session-timer-manager.ts
Due: server

spec: define session keep-alive architecture in process-manager.spec
  specs/process/process-manager.spec.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
