Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(ui): agent cards — provider badges, start session, hide inactive (#620)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  e2e/dashboard.spec.ts
Due: client

feat: tiered governance architecture for council jurisdiction (#590)
  server/__tests__/governance.test.ts
  server/councils/discussion.ts
  server/councils/governance.ts
  server/db/councils.ts
  server/db/migrations/066_governance_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/permissions/types.ts
  server/process/protected-paths.ts
  server/routes/councils.ts
  server/work/service.ts
  shared/types/councils.ts
Due: server

feat: poll for review comments on all agent-authored PRs globally
  server/__tests__/github-searcher.test.ts
  server/polling/github-searcher.ts
  server/polling/service.ts
Due: server

refactor: extract health routes, event broadcasting, and AlgoChat init from server/index.ts (#609)
  server/algochat/init.ts
  server/events/broadcasting.ts
  server/index.ts
  server/routes/health.ts
Due: server

fix: update algochat init to use McpServices object API
  server/algochat/init.ts
Due: server

feat: migrate message dedup to SQLite write-through persistence (#613)
  server/__tests__/dedup.test.ts
  server/algochat/message-router.ts
  server/algochat/psk.ts
  server/db/migrations/066_dedup_state.ts
  server/db/schema.ts
  server/lib/dedup.ts
Due: server

fix: resolve E2E test failures from empty state components
  e2e/agents.spec.ts
  e2e/councils.spec.ts
Due: none

fix: add governance migration 67 to schema and fix UNIQUE constraint
  server/db/schema.ts
Due: server

refactor: extract McpServiceContainer and SessionConfigResolver from ProcessManager (#615)
  server/__tests__/mcp-service-container.test.ts
  server/__tests__/session-config-resolver.test.ts
  server/algochat/init.ts
  server/process/manager.ts
  server/process/mcp-service-container.ts
  server/process/session-config-resolver.ts
  specs/process/process-manager.spec.md
Due: server

fix: add missing EmptyStateComponent shared component
  client/src/app/shared/components/empty-state.component.ts
Due: client

fix: add missing EmptyStateComponent and fix octal escape sequences
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/empty-state.component.ts
Due: client

fix: resolve CI build failures in empty-state components
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/empty-state.component.ts
Due: client

fix: resolve migration version conflict causing CI failure
  server/db/migrations/067_governance_tiers.ts
  server/db/schema.ts
Due: server

feat(ui): empty states with guided actions for new users (#623)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/empty-state.component.ts
  e2e/agents.spec.ts
  e2e/councils.spec.ts
Due: client

fix: resolve migration conflicts — rename governance to 067, update baseline, fix UNIQUE INDEX regex
  server/db/migrations/001_baseline.ts
  server/db/migrations/067_governance_tiers.ts
  server/db/schema.ts
Due: server

fix: update baseline with governance tables and add migration safeAlter guards
  server/db/migrations/001_baseline.ts
  server/db/migrations/067_governance_tiers.ts
Due: server

fix: update council E2E tests for empty-state component and test-data filter
  e2e/councils.spec.ts
Due: none

feat: tiered governance architecture for council jurisdiction (#627)
  server/__tests__/governance.test.ts
  server/councils/discussion.ts
  server/councils/governance.ts
  server/db/councils.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/067_governance_tiers.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/permissions/types.ts
  server/process/protected-paths.ts
  server/routes/councils.ts
  server/work/service.ts
  shared/types/councils.ts
Due: server

feat(ui): councils — decision summaries, test data filter, participant count (#618)
  client/src/app/features/councils/council-list.component.spec.ts
  client/src/app/features/councils/council-list.component.ts
Due: client

feat: poll for review comments on all agent-authored PRs globally (#628)
  server/__tests__/github-searcher.test.ts
  server/polling/github-searcher.ts
  server/polling/service.ts
Due: server

fix(ui): work tasks — smart default, interrupted status, collapsible errors (#608) (#616)
  .claude/projects/-Users-corvid-corvid-agent/memory/improvement-loop-2026-03-02.md
  client/public/monitor.html
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/styles.css
  e2e/councils.spec.ts
  monitor.html
  morning-report-2026-03-05.html
Due: client

release: v0.18.0 — dashboard redesign, tiered governance, global PR polling
  package.json
Due: none

release: v0.18.0 — dashboard redesign, tiered governance, global PR polling (#629)
  package.json
Due: none

docs: update all references from v0.17.0 to v0.18.0
  .github/workflows/docker-publish.yml
  CHANGELOG.md
  README.md
  VISION.md
  docs/index.html
  scripts/demo.md
  server/__tests__/crypto-audit.test.ts
Due: server

docs: update all references from v0.17.0 to v0.18.0 (#634)
  .github/workflows/docker-publish.yml
  CHANGELOG.md
  README.md
  VISION.md
  docs/index.html
  scripts/demo.md
  server/__tests__/crypto-audit.test.ts
Due: server

docs: sync README with current API surface and directory structure
  README.md
Due: none

docs: sync README with current API surface and directory structure (#635)
  README.md
Due: none

refactor: extract shared tenant resolution helpers into server/tenant/resolve.ts
  server/algochat/init.ts
  server/events/broadcasting.ts
  server/tenant/resolve.ts
Due: server

spec: document all 119 undocumented exports across 22 spec files
  scripts/spec-check.ts
  specs/a2a/a2a.spec.md
  specs/algochat/bridge.spec.md
  specs/algochat/messaging-guard.spec.md
  specs/db/councils.spec.md
  specs/db/credits.spec.md
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
  specs/lib/resilience.spec.md
  specs/marketplace/service.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/middleware/auth.spec.md
  specs/middleware/middleware-pipeline.spec.md
  specs/middleware/rate-limit.spec.md
  specs/notifications/service.spec.md
  specs/observability/observability.spec.md
  specs/process/process-manager.spec.md
  specs/process/sdk-process.spec.md
  specs/process/session-lifecycle.spec.md
  specs/routes/routes.spec.md
  specs/slack/bridge.spec.md
  specs/tenant/tenant.spec.md
  specs/ws/handler.spec.md
Due: none

refactor: extract shared tenant resolution helpers into server/tenant/resolve.ts (#637)
  server/algochat/init.ts
  server/events/broadcasting.ts
  server/tenant/resolve.ts
Due: server

spec: document all 119 undocumented exports across 22 spec files (#638)
  scripts/spec-check.ts
  specs/a2a/a2a.spec.md
  specs/algochat/bridge.spec.md
  specs/algochat/messaging-guard.spec.md
  specs/db/councils.spec.md
  specs/db/credits.spec.md
  specs/db/migrations.spec.md
  specs/lib/infra.spec.md
  specs/lib/resilience.spec.md
  specs/marketplace/service.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/middleware/auth.spec.md
  specs/middleware/middleware-pipeline.spec.md
  specs/middleware/rate-limit.spec.md
  specs/notifications/service.spec.md
  specs/observability/observability.spec.md
  specs/process/process-manager.spec.md
  specs/process/sdk-process.spec.md
  specs/process/session-lifecycle.spec.md
  specs/routes/routes.spec.md
  specs/slack/bridge.spec.md
  specs/tenant/tenant.spec.md
  specs/ws/handler.spec.md
Due: none

fix: extract monitor inline script to external JS for CSP compliance
  client/public/monitor.html
  client/public/monitor.js
  monitor.html
  monitor.js
Due: none

fix: extract monitor inline script to external JS for CSP compliance (#639)
  client/public/monitor.html
  client/public/monitor.js
  monitor.html
  monitor.js
Due: none

fix: prevent duplicate security scan comments and false positives on auto-merge
  server/__tests__/auto-merge.test.ts
  server/polling/auto-merge.ts
Due: server

docs: add Algorand network topology rules and localnet bridge script
  CLAUDE.md
  README.md
  deploy/localnet-bridge.sh
Due: none

fix: prevent duplicate security scan comments and false positives on auto-merge (#640)
  server/__tests__/auto-merge.test.ts
  server/polling/auto-merge.ts
Due: server

feat: add first-run welcome wizard on dashboard (#597)
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

docs: add Algorand network topology rules and localnet bridge script (#641)
  CLAUDE.md
  README.md
  deploy/localnet-bridge.sh
Due: none

feat: add first-run welcome wizard on dashboard (#597) (#642)
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client
