Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: handle empty response body in CLI client (#1039) (#1066)
  cli/client.ts
  server/__tests__/cli-client.test.ts
Due: server

fix: eliminate TOCTOU race in spec scaffold generation (#1072)
  scripts/spec-check.ts
Due: none

feat: add agent template selection to welcome wizard (#1076)
  README.md
  client/src/app/core/models/agent.model.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/styles.css
  docs/algochat.html
  docs/architecture.html
  docs/blog.html
  docs/blog/why-more-test-than-production-code.md
  docs/deep-dive.md
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/why-corvidagent.html
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/agents.test.ts
  server/__tests__/api-routes.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/__tests__/permission-broker.test.ts
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/reputation-verifier.test.ts
  server/__tests__/routes-health-handler.test.ts
  server/__tests__/worktree.test.ts
  server/algochat/agent-directory.ts
  server/db/agents.ts
  server/db/migrations/086_agent_display_customization.ts
  server/db/schema.ts
  server/discord/commands.ts
  server/lib/validation.ts
  shared/types/agents.ts
Due: server, client

feat: add search sorting and reputation aggregation to Flock Directory (#1077)
  server/__tests__/flock-directory-service.test.ts
  server/__tests__/routes-flock-directory.test.ts
  server/flock-directory/service.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/routes/flock-directory.ts
  shared/types/flock-directory.ts
  specs/flock-directory/service.spec.md
Due: server

feat: add TEALScript source for Flock Directory smart contract
  contracts/.gitignore
  contracts/README.md
  contracts/flock-directory.algo.ts
Due: none

feat: add blog_write schedule action type for automated blog posts
  server/lib/validation.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/blog.ts
  server/scheduler/handlers/index.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/scheduler/execution.spec.md
  specs/scheduler/handlers.spec.md
Due: server

test: add coverage for execBlogWrite handler
  server/__tests__/blog-handler.test.ts
Due: server

fix: wire up login/logout commands in CLI dispatcher (#1037)
  cli/index.ts
Due: server

fix: replace polling loop with direct callback in CLI chat (#1036)
  cli/commands/chat.ts
Due: server

fix: prevent agents from generating scripts to send messages (#1068)
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

fix: stop orphaned sessions and handle session_stopped in agent-to-agent messaging
  server/__tests__/agent-messenger.test.ts
  server/algochat/agent-messenger.ts
Due: server

test: add export tests for loginCommand and logoutCommand
  server/__tests__/cli-commands.test.ts
Due: server

fix: add tests for getMessagingSafetyPrompt, fix spec numbering, document always-append behavior
  server/__tests__/tool-prompt-messaging-safety.test.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

feat: add MCP delegation tools with model-tier dispatch
  CLAUDE.md
  README.md
  docs/deep-dive.md
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/work.ts
  server/permissions/types.ts
  shared/types/work-tasks.ts
  specs/db/migrations.spec.md
  specs/flock-directory/on-chain-client.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/providers/model-dispatch.spec.md
  specs/work/work-task-service.spec.md
Due: server

test: add unit tests for work delegation handlers and model_tier validation
  server/__tests__/tool-handlers.test.ts
Due: server

fix: handle flaky worktree creation on Windows in removeWorktree test
  server/__tests__/worktree.test.ts
Due: server

fix: stop orphaned sessions and handle session_stopped in agent-to-agent messaging (#1081)
  server/__tests__/agent-messenger.test.ts
  server/algochat/agent-messenger.ts
Due: server

fix: replace polling loop with direct callback in CLI chat (#1036) (#1084)
  cli/commands/chat.ts
Due: server

docs: add call-site comments explaining unconditional messaging safety append
  server/process/direct-process.ts
  server/process/sdk-process.ts
Due: server

fix: add test coverage for messaging safety integration points
  server/__tests__/direct-process-utils.test.ts
  server/__tests__/sdk-process.test.ts
  server/process/direct-process.ts
Due: server

fix: wire up login/logout commands in CLI dispatcher (#1037) (#1083)
  cli/index.ts
  server/__tests__/cli-commands.test.ts
Due: server

fix: prevent agents from generating scripts to send messages (#1068) (#1086)
  server/__tests__/direct-process-utils.test.ts
  server/__tests__/sdk-process.test.ts
  server/__tests__/tool-prompt-messaging-safety.test.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

feat: add MCP delegation tools and model-tier dispatch (#1082)
  CLAUDE.md
  README.md
  docs/deep-dive.md
  server/__tests__/tool-handlers.test.ts
  server/__tests__/worktree.test.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/work.ts
  server/permissions/types.ts
  shared/types/work-tasks.ts
  specs/db/migrations.spec.md
  specs/flock-directory/on-chain-client.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/providers/model-dispatch.spec.md
  specs/work/work-task-service.spec.md
Due: server

test: add coverage for channel affinity routing
  server/__tests__/channel-affinity.test.ts
  server/process/direct-process.ts
Due: server

fix: enforce channel affinity for Discord-originated sessions (#1067)
  server/mcp/tool-handlers/messaging.ts
  server/process/direct-process.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

fix: add channel affinity routing to Claude/SDK path and document prependRoutingContext
  server/process/sdk-process.ts
  specs/process/direct-process.spec.md
  specs/process/sdk-process.spec.md
Due: server

fix: enforce channel affinity for Discord-originated sessions (#1067) (#1079)
  server/__tests__/channel-affinity.test.ts
  server/mcp/tool-handlers/messaging.ts
  server/process/direct-process.ts
  server/process/sdk-process.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/process/direct-process.spec.md
  specs/process/sdk-process.spec.md
Due: server

chore: close coverage gaps in 6 under-tested modules (#1090)
  codecov.yml
  server/__tests__/task-queue-service.test.ts
  server/__tests__/usage-monitor.test.ts
  server/__tests__/verification.test.ts
  server/__tests__/webhook-service-integration.test.ts
  server/__tests__/work-validation.test.ts
  server/__tests__/ws-handler.test.ts
Due: server

fix: document ToolDef and buildSystemPrompt in direct-process spec
  specs/process/direct-process.spec.md
Due: none

chore: close coverage gaps in 6 under-tested modules (#1091)
  codecov.yml
  server/__tests__/task-queue-service.test.ts
  server/__tests__/usage-monitor.test.ts
  server/__tests__/verification.test.ts
  server/__tests__/webhook-service-integration.test.ts
  server/__tests__/work-validation.test.ts
  server/__tests__/ws-handler.test.ts
  specs/process/direct-process.spec.md
Due: server

fix: unsubscribe event callbacks to prevent duplicate Discord messages
  server/discord/thread-manager.ts
Due: server

chore: update web-tree-sitter to 0.26.x and add /session worktree isolation
  bun.lock
  docs/dependency-audit.md
  package.json
  server/ast/parser.ts
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

fix: unsubscribe event callbacks to prevent duplicate Discord messages (#1092)
  server/discord/thread-manager.ts
Due: server

fix: reap stale sessions on startup and improve restart UX
  client/src/app/app.ts
  client/src/app/core/services/websocket.service.ts
  server/index.ts
  server/process/session-lifecycle.ts
  shared/ws-protocol.ts
Due: server, client

fix: use Bun.spawnSync for PID liveness check to pass CI scanner
  server/process/session-lifecycle.ts
Due: server

feat: add worktree isolation to Discord /session command
  server/discord/commands.ts
Due: server

docs: add ServerShutdownMessage to WS handler spec
  specs/ws/handler.spec.md
Due: none

fix: resolve CI failures — spec coverage and security scan
  specs/discord/bridge.spec.md
Due: none

fix: reap stale sessions on startup + restart UX (#1095)
  client/src/app/app.ts
  client/src/app/core/services/websocket.service.ts
  server/index.ts
  server/process/session-lifecycle.ts
  shared/ws-protocol.ts
  specs/ws/handler.spec.md
Due: server, client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
