Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: add worktree isolation to Discord /session command (#1096)
  server/discord/commands.ts
  specs/discord/bridge.spec.md
Due: server

feat: implement multi-tool chain continuation for limited-tier models (#1018)
  server/__tests__/chain-continuation-integration.test.ts
  server/__tests__/chain-continuation.test.ts
  server/process/manager.ts
  server/work/chain-continuation.ts
  server/work/service.ts
Due: server

fix: reap stale sessions on startup and improve restart UX
  server/process/session-lifecycle.ts
Due: server

release: v0.29.0
  CHANGELOG.md
  README.md
  client/src/app/shared/components/sidebar.component.ts
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server, client

fix: allowlist process.kill(pid, 0) in session-lifecycle for CI security scan
  server/lib/code-scanner.ts
Due: server

fix: revert Layer 0 manager.ts change, apply model override via DB temp-patch
  server/__tests__/chain-continuation-integration.test.ts
  server/process/manager.ts
  server/work/service.ts
Due: server

fix: update README spec count to 139 (stats drift)
  README.md
Due: none

docs: add #1096 Discord worktree isolation to CHANGELOG
  CHANGELOG.md
Due: none

ci: extract stats check into standalone workflow
  .github/workflows/ci.yml
  .github/workflows/stats.yml
Due: none

release: v0.29.0 (#1098)
  .github/workflows/ci.yml
  .github/workflows/stats.yml
  CHANGELOG.md
  README.md
  client/src/app/shared/components/sidebar.component.ts
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
  server/lib/code-scanner.ts
  server/process/session-lifecycle.ts
Due: server, client

fix: subscribe to WebSocket before HTTP fetch in session view
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix: filter disabled agents from listAgents and getAlgochatEnabledAgents
  server/__tests__/agents.test.ts
  server/db/agents.ts
  server/routes/agents.ts
Due: server

feat: add session stats to Discord completion embed
  server/discord/bridge.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
Due: server

feat: add files changed and commits made to session completion embed
  server/discord/thread-manager.ts
Due: server

hotfix: add missing display_color/icon/avatar_url columns (migration 088)
  server/db/migrations/086_agent_display_customization.ts
  server/db/migrations/088_agent_display_columns_fixup.ts
Due: server

Update migration count from 9 to 10 in docs
  README.md
  docs/deep-dive.md
Due: none

fix: bump SCHEMA_VERSION to 88 to match migration 088
  server/db/schema.ts
Due: server

Update table count from 92 to 93 in docs (session_metrics)
  docs/deep-dive.md
Due: none

Add migration 087 (session_metrics) to fix schema parity test
  server/db/migrations/087_session_metrics.ts
Due: server

Update migration count from 10 to 11 (added 087)
  README.md
  docs/deep-dive.md
Due: none

Add migrations 087 and 088 to spec file list
  specs/db/migrations.spec.md
Due: none

hotfix: add missing agent display columns (migration 088) (#1104)
  README.md
  docs/deep-dive.md
  server/db/migrations/086_agent_display_customization.ts
  server/db/migrations/087_session_metrics.ts
  server/db/migrations/088_agent_display_columns_fixup.ts
  server/db/schema.ts
  server/discord/bridge.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/db/migrations.spec.md
Due: server

fix: subscribe to WebSocket before HTTP fetch in session view (#1099)
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix: filter disabled agents from listAgents and getAlgochatEnabledAgents (#1100)
  server/__tests__/agents.test.ts
  server/db/agents.ts
  server/routes/agents.ts
Due: server

feat: multi-tool chain continuation for limited-tier models (#1018) (#1097)
  server/__tests__/chain-continuation-integration.test.ts
  server/__tests__/chain-continuation.test.ts
  server/work/chain-continuation.ts
  server/work/service.ts
Due: server

release: v0.30.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

fix: update Chart.yaml to v0.30.0 and remove version alignment CI step
  .github/workflows/ci.yml
  deploy/helm/Chart.yaml
Due: none

fix: reset cached initDb promise on migration failure to allow retry (#1103)
  server/__tests__/migrate.test.ts
  server/db/connection.ts
  server/index.ts
Due: server

release: v0.30.0 (#1105)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

feat: add session metrics tracking and analytics endpoints
  server/__tests__/routes-analytics.test.ts
  server/__tests__/session-metrics.test.ts
  server/db/session-metrics.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/types.ts
  server/routes/analytics.ts
  specs/db/session-metrics.spec.md
  specs/routes/routes.spec.md
Due: server

fix: correct Discord completion embed duration, remove cost, check git exit codes
  server/discord/thread-manager.ts
Due: server

fix: update stats and specs for session metrics feature
  README.md
  docs/deep-dive.md
  specs/db/session-metrics.spec.md
  specs/process/claude-process.spec.md
Due: none

fix: add test coverage for initDb retry-on-failure path
  server/__tests__/initdb-retry.test.ts
Due: server

fix: add test coverage for session metrics persistence to pass codecov/patch
  server/__tests__/process-manager-metrics.test.ts
  server/__tests__/session-metrics.test.ts
Due: server

test: add coverage for direct-process metrics and thread-manager utils
  server/__tests__/direct-process-metrics.test.ts
  server/__tests__/thread-manager-utils.test.ts
  server/discord/thread-manager.ts
  server/process/direct-process.ts
  specs/discord/bridge.spec.md
  specs/process/direct-process.spec.md
Due: server

feat: add session metrics tracking and analytics endpoints (#1107)
  README.md
  docs/deep-dive.md
  server/__tests__/direct-process-metrics.test.ts
  server/__tests__/process-manager-metrics.test.ts
  server/__tests__/routes-analytics.test.ts
  server/__tests__/session-metrics.test.ts
  server/__tests__/thread-manager-utils.test.ts
  server/db/session-metrics.ts
  server/discord/thread-manager.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/types.ts
  server/routes/analytics.ts
  specs/db/session-metrics.spec.md
  specs/discord/bridge.spec.md
  specs/process/claude-process.spec.md
  specs/process/direct-process.spec.md
  specs/routes/routes.spec.md
Due: server

fix: align mock discoverMigrations return shape with real implementation
  server/__tests__/initdb-retry.test.ts
Due: server

fix: remove initdb-retry test that leaks mock.module on Windows
  server/__tests__/initdb-retry.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
