Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: add library tools to DEFAULT_ALLOWED_TOOLS for non-web sessions (#1569)
  server/mcp/tool-permissions.ts
Due: server

fix: replace hardcoded CorvidLabs references with env-driven config
  .env.example
  server/config/loader.ts
  server/mcp/scheduler-tool-gating.ts
  server/mcp/tool-handlers/github.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
  server/providers/ollama/tool-prompt-templates.ts
  server/scheduler/system-state.ts
  shared/types/agent-config.ts
Due: server

fix: update tests for env-driven config and fix stats drift
  docs/deep-dive.md
  server/__tests__/github-tool-handlers.test.ts
  server/__tests__/polling-service.test.ts
  server/__tests__/scheduler-tool-gating.test.ts
  server/__tests__/tool-prompt-codebase-context.test.ts
  server/__tests__/tool-prompt-templates.test.ts
Due: server

fix(comms): capture Cursor CLI event types in agent response subscribers
  server/algochat/agent-messenger.ts
Due: server

fix: revert GITHUB_OWNER/GITHUB_REPO env vars, keep GITHUB_ALLOWED_ORGS only
  .env.example
  server/config/loader.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
  server/scheduler/system-state.ts
  shared/types/agent-config.ts
Due: server

fix(specs): document undocumented exports to clear spec validation warnings
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
Due: none

fix: resolve CI failures — lazy SCHEDULER_ALLOWED_ORGS + add communication-tiers spec
  server/mcp/scheduler-tool-gating.ts
  specs/lib/communication-tiers.spec.md
Due: server

fix: resolve CI failures — lazy scheduler org lookup + document undocumented exports
  server/mcp/scheduler-tool-gating.ts
  specs/mcp/sdk-tools.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
Due: server

feat(ollama): add OLLAMA_DEFAULT_MODEL env var, warn on startup if model not pulled (closes #1526)
  .env.example
  server/__tests__/ollama-default-model.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/__tests__/providers.test.ts
  server/bootstrap.ts
  server/config/loader.ts
  server/providers/fallback.ts
  server/providers/ollama/provider.ts
  shared/types/agent-config.ts
Due: server

fix: update spec_files count 196→197 in deep-dive.md
  docs/deep-dive.md
Due: none

fix: add missing specs for library handlers and communication-tiers
  specs/lib/communication-tiers.spec.md
  specs/mcp/tool-handlers.spec.md
Due: none

fix: replace hardcoded CorvidLabs references with env-driven config (#1571)
  .env.example
  docs/deep-dive.md
  server/__tests__/github-tool-handlers.test.ts
  server/__tests__/polling-service.test.ts
  server/__tests__/scheduler-tool-gating.test.ts
  server/__tests__/tool-prompt-codebase-context.test.ts
  server/__tests__/tool-prompt-templates.test.ts
  server/config/loader.ts
  server/mcp/scheduler-tool-gating.ts
  server/mcp/tool-handlers/github.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
  server/providers/ollama/tool-prompt-templates.ts
  server/scheduler/system-state.ts
  shared/types/agent-config.ts
  specs/lib/communication-tiers.spec.md
  specs/mcp/sdk-tools.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
Due: server

fix(comms): capture Cursor CLI event types in agent response subscribers (#1572)
  .cursor/mcp.json
  .discord-last-connect
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/top-nav.component.ts
  docs/deep-dive.md
  server/algochat/agent-messenger.ts
  server/mcp/scheduler-tool-gating.ts
  specs/lib/communication-tiers.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
  tmp/announcement-team-alpha.md
  tmp/arc69-library.spec.md
  tmp/blog-content-length.txt
  tmp/blog-final.html
  tmp/blog-team-alpha-assembled.md
  tmp/blog-updated.html
  tmp/intern-eval-round2.md
  tmp/onboarding-briefings.md
Due: server, client

feat(ollama): configurable default model via OLLAMA_DEFAULT_MODEL env var (#1573)
  .env.example
  server/__tests__/ollama-default-model.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/__tests__/providers.test.ts
  server/bootstrap.ts
  server/config/loader.ts
  server/providers/fallback.ts
  server/providers/ollama/provider.ts
  shared/types/agent-config.ts
Due: server

fix(ollama): classify HTTP 500 as transient, verify 404/400 as permanent (closes #1527)
  server/__tests__/provider-fallback.test.ts
  server/providers/fallback.ts
Due: server

fix(spec): document OLLAMA_DEFAULT_LOCAL_MODEL export in provider-system spec
  specs/providers/provider-system.spec.md
Due: none

fix(spec): document OLLAMA_DEFAULT_LOCAL_MODEL in provider-system spec
  specs/providers/provider-system.spec.md
Due: none

fix(providers): export OLLAMA_DEFAULT_LOCAL_MODEL from fallback.ts
  server/providers/fallback.ts
Due: server

feat: standardize agent signatures on commits, PRs, issues, and comments (#1576)
  server/__tests__/github-tool-handlers.test.ts
  server/mcp/tool-handlers/github.ts
  server/work/session-lifecycle.ts
Due: server

feat: standardize agent signatures on commits, PRs, issues, comments (#1577)
  server/__tests__/github-tool-handlers.test.ts
  server/mcp/tool-handlers/github.ts
  server/work/session-lifecycle.ts
Due: server

feat: add server restart tracking for agent restart loop prevention (issue #1570)
  server/db/migrations/107_session_restart_initiated.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/mcp/tool-handlers/server-ops.ts
Due: server

fix: remove invalid src/ files and restore tsconfig.json
  src/provider-parity.test.ts
  src/providers.ts
  tsconfig.json
Due: none

Add tsconfig and provider parity types/tests to fix validation
  src/provider-parity.test.ts
  src/providers.ts
  tsconfig.json
Due: none

feat(server): add corvid_restart_server tool to prevent agent restart loops (closes #1570)
  server/db/migrations/107_session_restart_initiated.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/mcp/default-tools.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/server-ops.ts
  server/mcp/tool-permissions.ts
  server/permissions/types.ts
  server/process/manager.ts
Due: server

fix: remove tests for reverted Layer 0/Layer 1 feature changes
  server/__tests__/ollama-default-model.test.ts
  server/__tests__/ollama-local-mode.test.ts
Due: server

fix: update specs and stats to pass CI checks
  docs/deep-dive.md
  specs/mcp/tool-handlers.spec.md
  specs/providers/provider-system.spec.md
Due: none

fix: remove tmp/ from repo and add to .gitignore
  .gitignore
  tmp/announcement-team-alpha.md
  tmp/arc69-library.spec.md
  tmp/blog-content-length.txt
  tmp/blog-final.html
  tmp/blog-team-alpha-assembled.md
  tmp/blog-updated.html
  tmp/intern-eval-round2.md
  tmp/onboarding-briefings.md
Due: none

fix: remove tmp/ from git tracking and add to .gitignore
  .gitignore
  docs/deep-dive.md
  server/__tests__/ollama-default-model.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/db/migrations/107_session_restart_initiated.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/mcp/default-tools.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/server-ops.ts
  server/mcp/tool-permissions.ts
  server/permissions/types.ts
  server/process/manager.ts
  specs/mcp/tool-handlers.spec.md
  specs/providers/provider-system.spec.md
  tmp/announcement-team-alpha.md
  tmp/arc69-library.spec.md
  tmp/blog-content-length.txt
  tmp/blog-final.html
  tmp/blog-team-alpha-assembled.md
  tmp/blog-updated.html
  tmp/intern-eval-round2.md
  tmp/onboarding-briefings.md
Due: server

chore: move GitHub Pages site content to doc/ folder
  doc/.nojekyll
  doc/.well-known/agent.json
  doc/blog.html
  doc/docs.html
  doc/docs/preview.png
  doc/index.html
  doc/releases.html
Due: none

fix: add migration 107 to spec coverage for CI
  specs/db/migrations.spec.md
Due: none

fix: add migration 107 to spec coverage for 100% file coverage
  specs/db/migrations.spec.md
Due: none

fix(server): prevent agent restart loop with corvid_restart_server tool (closes #1570) (#1582)
  specs/db/migrations.spec.md
Due: none

fix: update specs and stats to pass CI checks
  docs/deep-dive.md
  server/db/migrations/107_session_restart_initiated.ts
  server/mcp/tool-handlers/server-ops.ts
  specs/db/migrations.spec.md
  specs/lib/communication-tiers.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
Due: server

chore: merge doc/ into docs/ for GitHub Pages compatibility
  doc/.nojekyll
  doc/index.html
  docs/.nojekyll
  docs/.well-known/agent.json
  docs/blog.html
  docs/docs-index.html
  docs/docs.html
  docs/index.html
  docs/preview.png
  docs/releases.html
Due: none

chore: merge doc/ into docs/ for GitHub Pages compatibility (#1587)
  doc/.nojekyll
  doc/index.html
  docs/.nojekyll
  docs/.well-known/agent.json
  docs/blog.html
  docs/docs-index.html
  docs/docs.html
  docs/index.html
  docs/preview.png
  docs/releases.html
Due: none
