Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix(ci): add missing spec coverage and update lockfile
  .specsync/hashes.json
  bun.lock
  docs/deep-dive.md
  specs/db/migrations.spec.md
  specs/db/proposals.spec.md
  specs/lib/infra.spec.md
  specsync.json
Due: none

fix(voice): debug signalling timeout and add DAVE encryption toggle
  server/discord/gateway.ts
  server/discord/voice/connection-manager.ts
Due: server

fix(ci): add codecov ignore for Discord voice/gateway integration code
  codecov.yml
Due: none

fix(voice): add pre-flight permission checks and sendPayload diagnostics
  server/discord/voice/connection-manager.ts
Due: server

fix(voice): post agent responses to text channel alongside TTS
  server/discord/bridge.ts
  server/discord/voice/voice-session.ts
Due: server

feat(comms-3d): double-click to zoom/focus on agent node (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

fix(voice): remove /say command, enable DAVE by default, improve diagnostics
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/voice/connection-manager.ts
Due: server

chore: bump version to 0.62.1
  package.json
Due: none

docs: update changelog, readme badge, and releases page for v0.62.1
  CHANGELOG.md
  README.md
  docs/releases.html
Due: none

fix(ci): extend codecov ignore to cover all Discord integration code
  codecov.yml
Due: none

feat(comms-3d): double-click to zoom/focus on agent node (#1624) (#1907)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

fix(voice): connection reliability, DAVE encryption, remove /say (#1906)
  CHANGELOG.md
  README.md
  codecov.yml
  docs/releases.html
  package.json
  server/discord/bridge.ts
  server/discord/command-handlers/voice-commands.ts
  server/discord/commands.ts
  server/discord/gateway.ts
  server/discord/voice/connection-manager.ts
  server/discord/voice/voice-session.ts
Due: server

fix(voice): re-subscribe callback after process exit in voice sessions
  server/discord/voice/voice-session.ts
Due: server

docs(spec): sync voice spec with /say removal and add re-subscribe invariant
  specs/discord/voice.spec.md
Due: none

fix(voice): re-subscribe callback after process exit (#1908)
  server/discord/voice/voice-session.ts
  specs/discord/voice.spec.md
Due: server

chore: bump version to 0.62.2
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

chore: bump version to 0.62.2 (#1909)
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

fix(voice): add prompt hint to Whisper STT to prevent language misdetection
  server/discord/voice/audio-receiver.ts
  server/telegram/bridge.ts
  server/voice/stt.ts
  server/voice/types.ts
Due: server

fix(voice): add prompt hint to Whisper STT to prevent language misdetection (#1910)
  server/discord/voice/audio-receiver.ts
  server/telegram/bridge.ts
  server/voice/stt.ts
  server/voice/types.ts
Due: server

chore: bump version to 0.62.3
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

chore: remove Rust crates directory
  crates/corvid-plugin-api/Cargo.toml
  crates/corvid-sandbox/Cargo.toml
  crates/corvid-sandbox/src/lib.rs
Due: none

fix(algochat): reduce noisy log output from expected conditions
  server/algochat/agent-wallet.ts
  server/algochat/psk-contact-manager.ts
  server/algochat/psk.ts
  server/algochat/service.ts
Due: server

fix(voice): improve voice session message handling and quality
  server/discord/voice/voice-session.ts
Due: server

feat(voice): hybrid voice+text output for rich content
  server/discord/voice/voice-session.ts
Due: server

fix(voice): improve voice session message handling and quality (#1914)
  server/discord/voice/voice-session.ts
Due: server

feat(voice): reduce latency and add instant acknowledgment
  server/discord/voice/audio-receiver.ts
  server/discord/voice/voice-session.ts
Due: server

feat(voice): reduce latency and add instant acknowledgment (#1915)
  server/discord/voice/audio-receiver.ts
  server/discord/voice/voice-session.ts
Due: server

fix(db): resolve duplicate migration versions and log spam
  server/db/migrations/100_agent_blocklist.ts
  server/db/migrations/100_agent_blocklist_variants_pipelines.ts
  server/db/migrations/100_agent_variants.ts
  server/db/migrations/100_pipeline_schedules.ts
  server/db/migrations/116_governance_voting_periods_and_vetoes.ts
  server/lib/crypto.ts
  specs/db/migrations.spec.md
Due: server

chore: remove Rust crates directory (#1912)
  crates/corvid-plugin-api/Cargo.toml
  crates/corvid-sandbox/Cargo.toml
  crates/corvid-sandbox/src/lib.rs
Due: none

fix(algochat): reduce noisy log output from expected conditions (#1913)
  server/algochat/agent-wallet.ts
  server/algochat/psk-contact-manager.ts
  server/algochat/psk.ts
  server/algochat/service.ts
Due: server

fix(db): resolve duplicate migration versions and log spam (#1916)
  server/db/migrations/100_agent_blocklist.ts
  server/db/migrations/100_agent_blocklist_variants_pipelines.ts
  server/db/migrations/100_agent_variants.ts
  server/db/migrations/100_pipeline_schedules.ts
  server/db/migrations/116_governance_voting_periods_and_vetoes.ts
  server/lib/crypto.ts
  specs/db/migrations.spec.md
Due: server

fix(voice): replace rigid voice prompt with context-dependent response guidance
  server/discord/voice/voice-session.ts
Due: server

fix: pin @anthropic-ai/sdk >=0.82.0 in overrides to resolve GHSA-5474-4w2j-mq4c
  bun.lock
  package.json
Due: none

security(deps): pin @anthropic-ai/sdk >=0.82.0 to mitigate GHSA-5474-4w2j-mq4c
  bun.lock
  package.json
Due: none

fix: sync legacy schema version to 116 and update migration stats
  docs/deep-dive.md
  server/db/schema/index.ts
Due: server

fix(voice): natural context-dependent voice response lengths (#1917)
  docs/deep-dive.md
  server/db/schema/index.ts
  server/discord/voice/voice-session.ts
Due: server

chore: bump version to 0.62.3 (#1911)
  CHANGELOG.md
  README.md
  docs/releases.html
  package.json
Due: none

security(deps): pin @anthropic-ai/sdk >=0.82.0 to mitigate GHSA-5474-4w2j-mq4c (#1919)
  bun.lock
  package.json
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
