Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: agent variant profiles — preset skill + persona combinations (#988)
  server/__tests__/variants.test.ts
  server/db/migrations/100_agent_variants.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/db/variants.ts
  server/lib/validation.ts
  server/routes/index.ts
  server/routes/variants.ts
  shared/types/index.ts
  shared/types/variants.ts
  specs/db/migrations.spec.md
  specs/db/variants.spec.md
  specs/lib/infra.spec.md
  specs/routes/routes.spec.md
Due: server

fix: document persona schemas in infra spec to pass strict validation
  specs/lib/infra.spec.md
Due: none

chore: update stats after variant profiles feature
  docs/deep-dive.md
Due: none

feat: agent variant profiles — preset skill + persona combinations (#1362)
  docs/deep-dive.md
  server/__tests__/variants.test.ts
  server/db/migrations/100_agent_variants.ts
  server/db/schema/agents.ts
  server/db/schema/index.ts
  server/db/variants.ts
  server/lib/validation.ts
  server/routes/index.ts
  server/routes/variants.ts
  shared/types/index.ts
  shared/types/variants.ts
  specs/db/migrations.spec.md
  specs/db/variants.spec.md
  specs/lib/infra.spec.md
  specs/routes/routes.spec.md
Due: server

docs: add request/response examples for all undocumented API endpoints
  docs/api-reference.md
Due: none

feat(security): agent blocklist, kill switch, and behavioral drift detection
  docs/deep-dive.md
Due: none

chore: update stats after governance CI gate changes
  docs/deep-dive.md
Due: none

fix: resolve spec validation warnings and add missing spec coverage
  specs/db/migrations.spec.md
Due: none

docs: add request/response examples for all undocumented API endpoints (#1361)
  docs/api-reference.md
  docs/deep-dive.md
  specs/db/migrations.spec.md
Due: none

fix: prevent Discord Cloudflare IP bans from crash-loop reconnections
  server/bootstrap.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/index.ts
Due: server

fix: prevent Discord Cloudflare IP bans from crash-loop reconnections (#1373)
  server/bootstrap.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/index.ts
Due: server

fix: resolve 76 test failures introduced between v0.40.0 and v0.43.0
  bun.lock
  package.json
  server/__tests__/whatsapp-signal-channels.test.ts
  server/discord/embeds.ts
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/provider.ts
Due: server

fix: revert Layer 1 file changes to pass governance tier validation
  bun.lock
  package.json
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/provider.ts
Due: server

fix: resolve spec warnings and stats drift for CI
  docs/deep-dive.md
  specs/discord/bridge.spec.md
Due: none

fix: add missing specs for 100% coverage (tool-guardrails, pipeline, 3 migrations)
  specs/db/migrations.spec.md
  specs/mcp/tool-guardrails.spec.md
  specs/scheduler/pipeline.spec.md
Due: none

fix: update spec_files count to 176 in deep-dive.md
  docs/deep-dive.md
Due: none

spec: document getRateLimitWaitMs and discordFetch exports in bridge spec
  specs/discord/bridge.spec.md
Due: none

fix(e2e): add E2E_ prefix to all test data and clean up afterAll hooks
  e2e/agents.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/perf.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/webhooks.spec.ts
  e2e/workflows.spec.ts
Due: none

fix: resolve 76 test failures introduced between v0.40.0 and v0.43.0 (#1374)
  docs/deep-dive.md
  server/__tests__/whatsapp-signal-channels.test.ts
  server/discord/embeds.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/mcp/tool-guardrails.spec.md
  specs/scheduler/pipeline.spec.md
Due: server

spec: document getRateLimitWaitMs and discordFetch exports in bridge spec (#1375)
  specs/discord/bridge.spec.md
Due: none

fix: bypass rate limit delays during tests to prevent timeouts
  server/discord/embeds.ts
Due: server

fix: bypass rate limit delays during tests to prevent timeouts (#1376)
  server/discord/embeds.ts
Due: server

fix(e2e): add E2E_ prefix to all test data and clean up afterAll hooks (#1377)
  e2e/agents.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/fixtures.ts
  e2e/marketplace.spec.ts
  e2e/mcp-servers.spec.ts
  e2e/perf.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/schedules.spec.ts
  e2e/session-launcher.spec.ts
  e2e/sessions.spec.ts
  e2e/skill-bundles.spec.ts
  e2e/webhooks.spec.ts
  e2e/workflows.spec.ts
Due: none

chore: bump version to 0.44.0
  CHANGELOG.md
  deploy/helm/Chart.yaml
  package.json
Due: none

docs: update version to 0.44.0 and refresh stats across README and GitHub Pages
  .github/workflows/release.yml
  README.md
  docs/index.html
Due: none

docs: update version and stats for v0.44.0 release (#1379)
  .github/workflows/release.yml
  README.md
  docs/index.html
Due: none

fix(security): add RBAC guards to discord-image and openrouter routes (#310)
  server/index.ts
  server/routes/discord-image.ts
  server/routes/index.ts
  server/routes/openrouter.ts
Due: server

feat(dashboard): add pipeline stage indicators and reputation trend chart (#1180)
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

feat(dashboard): connection badge, work task search, spending summary (#1180)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

fix(security): add RBAC guards to discord-image and openrouter routes (#1380)
  server/index.ts
  server/routes/discord-image.ts
  server/routes/index.ts
  server/routes/openrouter.ts
Due: server

fix(dashboard): reorder connector state conditions to fix shadowed active check
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

feat(dashboard): pipeline stages and reputation trend chart (#1381)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
Due: client

test: add A2A invocation guard test coverage (19 tests)
  docs/deep-dive.md
  server/__tests__/invocation-guard.test.ts
Due: server

test: add unit tests for welcome-wizard and onboarding components (49 tests)
  client/src/app/features/chat-home/onboarding.component.spec.ts
  client/src/app/features/dashboard/welcome-wizard.component.spec.ts
Due: client

feat(dashboard): log viewer, diff viewer, and agent health badges (#1180)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  server/routes/github-pr-diff.ts
  server/routes/index.ts
Due: server, client

fix(ci): add missing spec for github-pr-diff route and complete PR task list
  specs/routes/github-pr-diff.spec.md
Due: none

fix: resolve CI failures in spec check and stats check
  docs/deep-dive.md
  specs/routes/github-pr-diff.spec.md
Due: none

feat(reputation): add score history tracking, trend chart, and agent comparison view (#1180)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/db/migrations/101_reputation_history.ts
  server/db/schema/index.ts
  server/db/schema/reputation.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
  shared/types/reputation.ts
Due: server, client

test: add coverage for github-pr-diff route to satisfy codecov/patch
  server/__tests__/routes-github-pr-diff.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
