Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

test: add route integration tests for tenants.ts (#994)
  server/__tests__/routes-tenants.test.ts
Due: server

fix: Discord typing indicator liveness checks (#995)
  server/__tests__/discord-admin-commands.test.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/discord-public-mode.test.ts
  server/__tests__/discord-slash-refresh.test.ts
  server/discord/thread-manager.ts
Due: server

spec: add specs for bash-security, code-scanner, fetch-detector, github-searcher (#591)
  README.md
  docs/deep-dive.md
  specs/lib/bash-security.spec.md
  specs/lib/code-scanner.spec.md
  specs/lib/fetch-detector.spec.md
  specs/polling/github-searcher.spec.md
Due: none

fix: exclude spec files from fetch detector CI scan
  README.md
  docs/deep-dive.md
  scripts/ci-security-scan.ts
Due: none

fix: update documented stats (spec_files 124→128, unit test counts)
  README.md
  docs/deep-dive.md
Due: none

chore: sync drifted stats (6573→6655 tests, 124→128 specs)
  README.md
Due: none

spec: add specs for bash-security, code-scanner, fetch-detector, github-searcher (#997)
  README.md
  docs/deep-dive.md
  scripts/ci-security-scan.ts
  specs/lib/bash-security.spec.md
  specs/lib/code-scanner.spec.md
  specs/lib/fetch-detector.spec.md
  specs/polling/github-searcher.spec.md
Due: none

chore: v0.26.0 release — update changelog, docs, and version refs
  CHANGELOG.md
  docs/blog/why-more-test-than-production-code.md
  server/__tests__/routes-health.test.ts
Due: server

chore: v0.26.0 release prep (#998)
  CHANGELOG.md
  docs/blog/why-more-test-than-production-code.md
  server/__tests__/routes-health.test.ts
Due: server

feat: persist Ollama model exam results to SQLite
  server/__tests__/model-exams-db.test.ts
  server/__tests__/routes-exam-persistence.test.ts
  server/db/migrations/084_model_exams.ts
  server/db/model-exams.ts
  server/db/schema.ts
  server/exam/runner.ts
  server/routes/exam.ts
Due: server

docs: add detailed API reference for 13 undocumented modules (#967)
  docs/api-reference.md
Due: none

feat: add TEALScript source for Flock Directory smart contract
  contracts/README.md
  contracts/flock-directory.algo.ts
Due: none

fix: update documented stats for new exam tables
  README.md
  docs/deep-dive.md
Due: none

fix: reduce false typing timeout warnings in Discord
  server/discord/thread-manager.ts
Due: server

fix: reduce false typing timeout warnings in Discord (#1002)
  server/discord/thread-manager.ts
Due: server

test: add coverage for DbPool, OwnerQuestionManager, and expand ReputationScorer
  server/__tests__/owner-question-manager.test.ts
  server/__tests__/pool.test.ts
  server/__tests__/reputation-scorer.test.ts
Due: server

test: add coverage for DbPool, OwnerQuestionManager, and expand ReputationScorer (#1003)
  server/__tests__/owner-question-manager.test.ts
  server/__tests__/pool.test.ts
  server/__tests__/reputation-scorer.test.ts
Due: server

docs: add detailed API reference for 13 undocumented modules (#967) (#1000)
  docs/api-reference.md
Due: none

feat: persist Ollama model exam results to SQLite (#999)
  README.md
  docs/deep-dive.md
  server/__tests__/model-exams-db.test.ts
  server/__tests__/routes-exam-persistence.test.ts
  server/db/migrations/084_model_exams.ts
  server/db/model-exams.ts
  server/db/schema.ts
  server/exam/runner.ts
  server/routes/exam.ts
Due: server

feat: add cloud model families and tier boosting for Ollama cloud models
  server/__tests__/agent-tiers.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/lib/agent-tiers.ts
  server/providers/fallback.ts
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

fix: update fallback chain test for single-model local chain
  server/__tests__/fallback-manager.test.ts
Due: server

feat: add cloud model families and tier boosting (#1005)
  server/__tests__/agent-tiers.test.ts
  server/__tests__/fallback-manager.test.ts
  server/__tests__/ollama-local-mode.test.ts
  server/lib/agent-tiers.ts
  server/providers/fallback.ts
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/tool-prompt-templates.ts
  specs/providers/tool-prompt-templates.spec.md
Due: server

fix: resolve CI failures from uncommitted unique index
  server/__tests__/api-routes.test.ts
  server/db/schema.ts
Due: server

feat: auto-clone projects to temp/worktree directories on demand (#990)
  server/__tests__/project-dir.test.ts
  server/__tests__/projects.test.ts
  server/db/migrations/085_project_dir_strategy.ts
  server/db/projects.ts
  server/db/schema.ts
  server/lib/project-dir.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types/projects.ts
Due: server

chore: update migration file count in docs (6 → 7)
  README.md
  docs/deep-dive.md
Due: none

feat: auto-clone projects to temp/worktree directories on demand (#1004)
  README.md
  docs/deep-dive.md
  server/__tests__/api-routes.test.ts
  server/__tests__/project-dir.test.ts
  server/__tests__/projects.test.ts
  server/db/migrations/085_project_dir_strategy.ts
  server/db/projects.ts
  server/db/schema.ts
  server/lib/project-dir.ts
  server/lib/validation.ts
  server/process/manager.ts
  shared/types/projects.ts
Due: server

chore: v0.27.0 release prep
  package.json
Due: none

chore: bump Chart.yaml to v0.27.0
  deploy/helm/Chart.yaml
Due: none

chore: v0.27.0 release prep (#1006)
  deploy/helm/Chart.yaml
  package.json
Due: none

docs: update version references to 0.27.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  server/__tests__/routes-health.test.ts
Due: server

docs: update version references to 0.27.0 (#1007)
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  server/__tests__/routes-health.test.ts
Due: server

fix: sync unique project name index across baseline and legacy schema
  server/__tests__/scheduler-service.test.ts
  server/__tests__/session-lifecycle.test.ts
  server/db/migrations/078_baseline.ts
  server/db/schema.ts
Due: server

chore: remove dead execMarketplaceTrialExpiry handler
  server/scheduler/handlers/marketplace-trial-expiry.ts
Due: server

Potential fix for code scanning alert no. 307: Insecure temporary file
  server/__tests__/project-dir.test.ts
Due: server

fix: add overflow-y auto to desktop sidebar for scrollability
  client/src/app/shared/components/sidebar.component.ts
Due: client

feat: use in-memory DB for test runs to prevent production pollution
  bunfig.toml
  server/__tests__/setup.ts
  server/__tests__/try-mode.test.ts
  server/db/connection.ts
Due: server
