Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: brain viewer storage types + memory observations system
  README.md
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  docs/deep-dive.md
  server/__tests__/algochat-init.test.ts
  server/__tests__/routes-brain-viewer.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/db/migrations/095_memory_observations.ts
  server/db/observations.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/index.ts
  server/lib/validation.ts
  server/mcp/http-transport.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/observations.ts
  server/memory/graduation-service.ts
  server/routes/brain-viewer.ts
  server/routes/index.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
Due: server, client

test: add coverage for repo-map, cheerleading detector, external MCP (#1251)
  .github/workflows/task-check.yml
  server/__tests__/external-mcp-client.test.ts
  server/__tests__/repo-map.test.ts
  server/__tests__/session-cheerleading-detector.test.ts
Due: server

docs: add 16 missing API endpoint groups to api-reference (#1258)
  docs/api-reference.md
Due: none

feat: brain viewer storage types + memory observations system (#1259)
  README.md
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  docs/deep-dive.md
  server/__tests__/algochat-init.test.ts
  server/__tests__/routes-brain-viewer.test.ts
  server/algochat/init.ts
  server/bootstrap.ts
  server/db/migrations/095_memory_observations.ts
  server/db/observations.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/index.ts
  server/lib/validation.ts
  server/mcp/http-transport.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/observations.ts
  server/memory/graduation-service.ts
  server/routes/brain-viewer.ts
  server/routes/index.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/memory-graduation.spec.md
Due: server, client

docs: rewrite README and quickstart for non-developer audience
  README.md
  cli/commands/init.ts
  docs/project-ideas.md
  docs/quickstart.md
  scripts/install.sh
Due: server

docs: add audience-specific paths for non-programmers, businesses, and enterprise
  README.md
  docs/business-guide.md
  docs/enterprise.md
  docs/how-it-works.md
  docs/quickstart.md
  docs/use-cases.md
Due: none

feat: zero-config init and UX simplification for non-technical users
  cli/commands/init.ts
  cli/index.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  docs/quickstart.md
Due: server, client

docs: audience-specific guides for non-programmers, businesses, and enterprise (#1250)
  README.md
  cli/commands/init.ts
  cli/index.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  docs/business-guide.md
  docs/enterprise.md
  docs/how-it-works.md
  docs/project-ideas.md
  docs/quickstart.md
  docs/use-cases.md
  scripts/install.sh
Due: server, client

docs: update README, CHANGELOG, and version for v0.39.0
  CHANGELOG.md
  README.md
  package.json
Due: none

docs: update README, CHANGELOG, and version for v0.39.0 (#1260)
  CHANGELOG.md
  README.md
  package.json
Due: none

feat: audience-aware dashboard, wizard rebuild, progressive sidebar (#v0.40.0)
  client/src/app/core/services/audience.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix: escape literal curly braces in wizard template for Angular 17+
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

feat: audience-aware dashboard + wizard rebuild (v0.40.0 phase 1) (#1261)
  client/src/app/core/services/audience.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

feat: dashboard widget customization + analytics visualizations (v0.40.0 phase 2)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: dashboard widget customization + analytics visualizations (v0.40.0 phase 2) (#1263)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: warn users when selecting Ollama models for complex tasks (fixes #1019)
  server/__tests__/ollama-complexity-warning.test.ts
  server/lib/ollama-complexity-warning.ts
  server/routes/sessions.ts
  specs/lib/ollama-complexity-warning.spec.md
Due: server

fix: update spec_files count from 161 to 162
  docs/deep-dive.md
Due: none

feat: warn users when selecting Ollama models for complex tasks (fixes #1019) (#1262)
  docs/deep-dive.md
  server/__tests__/ollama-complexity-warning.test.ts
  server/lib/ollama-complexity-warning.ts
  server/routes/sessions.ts
  specs/lib/ollama-complexity-warning.spec.md
Due: server

docs: update README, CHANGELOG, and version for v0.40.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

docs: update README, CHANGELOG, and version for v0.40.0 (#1264)
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

feat: progressive disclosure — default to Creator mode with chat-first dashboard (#1248)
  client/src/app/core/services/audience.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix: remove legacy /chat handler and add Angular wildcard route (fixes #1274, #1275)
  client/src/app/app.routes.ts
  server/index.ts
Due: server, client

fix: cast validated localStorage parse to WidgetConfig[] for strict TS
  client/src/app/core/services/widget-layout.service.ts
Due: client

fix: resolve CI failures — type cast and test timeout
  server/work/verification.ts
Due: server

fix: bump component CSS budget to 25kB for dashboard widgets
  client/angular.json
Due: none

fix: remove legacy /chat handler and add Angular wildcard route (fixes #1274, #1275)
  client/angular.json
  client/src/app/app.routes.ts
  client/src/app/core/services/audience.service.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/sidebar.component.ts
  server/index.ts
  server/work/verification.ts
Due: server, client

feat: chat-first UI — replace audience-segmented dashboard with simple chat interface
  client/src/app/app.routes.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
  specs/client/sidebar-navigation.spec.md
Due: client

feat: chat-first UI — replace audience-segmented dashboard with simple chat interface (#1277)
  client/src/app/app.routes.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/shared/components/sidebar.component.ts
  specs/client/sidebar-navigation.spec.md
Due: client

fix(security): prevent rate-limit bypass via X-Forwarded-For spoofing
  server/__tests__/rate-limit-bypass.test.ts
  server/__tests__/security-audit.test.ts
  server/index.ts
  server/middleware/rate-limit.ts
Due: server

fix: increase dashboard component style budget to accommodate widget CSS
  client/angular.json
Due: none

refactor: remove audience/persona system from dashboard and wizard
  client/angular.json
  client/src/app/core/services/audience.service.ts
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

feat(ui): add Cmd+K command palette for fast navigation (#1270)
  client/src/app/app.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(ui): new shell layout with top-nav, activity rail, and chat-first home (#1267)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(ui): multi-chat tabs with persistent tab bar (#1269)
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
Due: client

fix: resolve CI build failures in widget-layout and onboarding components
  client/src/app/features/chat-home/onboarding.component.ts
Due: client

feat(ui): onboarding flow for first-time users (#1271)
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
Due: client

fix: extract dashboard styles to separate file to fix CSS budget
  client/src/app/features/dashboard/dashboard.component.css
Due: client

docs: sync API reference with code — add 29 undocumented endpoints and fix README stats
  README.md
  docs/api-reference.md
Due: none

fix(security): prevent rate-limit bypass via X-Forwarded-For spoofing (#1273)
  client/angular.json
  server/__tests__/rate-limit-bypass.test.ts
  server/__tests__/security-audit.test.ts
  server/index.ts
  server/middleware/rate-limit.ts
Due: server

fix: remove unused CommandPaletteComponent import
  client/src/app/shared/components/top-nav.component.ts
Due: client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
