Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

chore(specs): update discord bridge spec with thread-response and voice exports
  .specsync/hashes.json
  specs/discord/bridge.spec.md
Due: none

fix(memory): prevent upsert from demoting confirmed memories to short_term
  server/db/agent-memories.ts
  server/db/memory-sync.ts
  server/mcp/tool-handlers/memory.ts
Due: server

fix(tests): align memory tests with upsert demotion prevention
  server/__tests__/agent-memories.test.ts
  server/__tests__/tool-handlers.test.ts
Due: server

feat(library): enforce librarian permission model on corvid_library_write
  server/__tests__/library-tool-handler.test.ts
  server/mcp/tool-handlers/library.ts
Due: server

fix(tests): add coverage for updateMemoryStatus calls in memory-sync and tool-handlers
  server/__tests__/memory-sync.test.ts
  server/__tests__/tool-handlers.test.ts
Due: server

fix(shared): convert bracket notation to dot notation in ws-protocol type guard
  shared/ws-protocol.ts
Due: server

fix: revert dot notation back to bracket notation for Angular compatibility
  shared/ws-protocol.ts
Due: server

fix(tests): close SQLite DBs in afterEach and fix lint errors in scheduler test
  server/__tests__/scheduler-github-comment-monitor.test.ts
  server/__tests__/subscriptions.test.ts
Due: server

style(shared): fix formatting in ws-protocol.ts after revert
  shared/ws-protocol.ts
Due: server

refactor(process): extract sub-modules from manager.ts for decomposition
  server/process/event-handler.ts
  server/process/provider-routing.ts
  server/process/resume-prompt-builder.ts
  server/process/session-exit-handler.ts
Due: server

fix(specs): add spec coverage for 4 extracted process sub-modules
  specs/process/process-manager.spec.md
Due: none

fix(voice): drop in-flight transcriptions when bot is deafened
  server/discord/bridge.ts
Due: server

fix(memory): prevent upsert from demoting confirmed memories (#1937)
  server/__tests__/agent-memories.test.ts
  server/__tests__/memory-sync.test.ts
  server/__tests__/tool-handlers.test.ts
  server/db/agent-memories.ts
  server/db/memory-sync.ts
  server/mcp/tool-handlers/memory.ts
Due: server

feat(library): enforce librarian permission model on corvid_library_write (#1938)
  server/__tests__/library-tool-handler.test.ts
  server/mcp/tool-handlers/library.ts
Due: server

fix(shared): convert bracket notation to dot notation in ws-protocol type guard (#1939)
  server/__tests__/scheduler-github-comment-monitor.test.ts
  server/__tests__/subscriptions.test.ts
  shared/ws-protocol.ts
Due: server

refactor(process): extract sub-modules for manager.ts decomposition (#1940)
  server/process/event-handler.ts
  server/process/provider-routing.ts
  server/process/resume-prompt-builder.ts
  server/process/session-exit-handler.ts
  specs/process/process-manager.spec.md
Due: server

fix(voice): drop in-flight transcriptions when bot is deafened (#1941)
  server/discord/bridge.ts
Due: server

fix(discord): preserve conversation context across thread session restarts
  server/db/discord-thread-sessions.ts
  server/db/migrations/117_thread_session_summary.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/message-handler.ts
  server/process/manager.ts
Due: server

fix(ci): document new thread session exports in specs, update migration count
  docs/deep-dive.md
  specs/db/sessions/discord-thread-sessions.spec.md
  specs/discord/thread-session-map.spec.md
Due: none

fix(db): make migration 117 idempotent to avoid duplicate column error
  server/db/migrations/117_thread_session_summary.ts
Due: server

fix(discord): preserve conversation context across thread session restarts (#1942)
  docs/deep-dive.md
  server/db/discord-thread-sessions.ts
  server/db/migrations/117_thread_session_summary.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/message-handler.ts
  server/process/manager.ts
  specs/db/sessions/discord-thread-sessions.spec.md
  specs/discord/thread-session-map.spec.md
Due: server

fix(scheduler): distinguish permanent vs transient conflicts in work task handler
  server/__tests__/scheduler-work-task-handler.test.ts
  server/scheduler/handlers/work-task.ts
Due: server

chore(deps): upgrade marked v17.0.5 → v18.0.0
  bun.lock
  package.json
Due: none

fix(scheduler): distinguish permanent vs transient conflicts in work task handler (#1945)
  server/__tests__/scheduler-work-task-handler.test.ts
  server/scheduler/handlers/work-task.ts
Due: server

feat(brain-viewer): add memory export API and UI
  client/src/app/core/services/api.service.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  server/routes/brain-viewer.ts
  specs/routes/brain-viewer.spec.md
Due: server, client

test(brain-viewer): add coverage for memory export endpoint
  server/__tests__/routes-brain-viewer.test.ts
Due: server

feat(memory): add memory consolidation service with duplicate detection and merge UI
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  server/__tests__/routes-brain-viewer-consolidation.test.ts
  server/memory/consolidation.ts
  server/routes/brain-viewer.ts
Due: server, client

blog: add Voice Conversations & Platform Hardening post (2026-04-10)
  docs/blog.html
Due: none

feat(explorer): add block explorer API routes for on-chain Algorand data
  .specsync/hashes.json
  server/algochat/bridge.ts
  server/routes/block-explorer.ts
  server/routes/index.ts
Due: server

blog: add Voice Conversations & Platform Hardening post (2026-04-10) (#1950)
  docs/blog.html
Due: none

fix(specs): add memory consolidation spec to restore 100% coverage
  specs/memory/consolidation.spec.md
Due: none

fix(lint): convert bracket notation to dot notation and fix import ordering
  .specsync/hashes.json
  server/db/discord-thread-sessions.ts
  server/discord/message-handler.ts
  server/process/event-handler.ts
  server/process/manager.ts
  server/process/provider-routing.ts
  server/process/resume-prompt-builder.ts
  server/process/session-exit-handler.ts
  server/routes/index.ts
  shared/ws-protocol.ts
Due: server

revert(process): restore manager.ts to avoid Layer 0 governance violation
  server/process/manager.ts
Due: server

fix(ci): add spec for block-explorer routes to restore 100% coverage
  specs/routes/block-explorer.spec.md
Due: none

fix(stats): update spec_files count from 209 to 210
  docs/deep-dive.md
Due: none

feat(discord): overhaul UX — streaming edits, contextual buttons, thread continuity
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/message-handler.ts
  server/discord/thread-response/adaptive-response.ts
  server/discord/thread-response/embed-response.ts
  server/process/manager.ts
Due: server

test: add coverage for Discord UX overhaul — streaming edits, buttons, affinity
  server/__tests__/discord-ux-overhaul.test.ts
  server/__tests__/process-manager-cleanup.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
