Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

refactor: deduplicate shared CLI utilities into cli/utils.ts (#1034)
  cli/commands/agent.ts
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/commands/pick-agent.ts
  cli/commands/session.ts
  cli/commands/status.ts
  cli/render.ts
  cli/utils.ts
  server/__tests__/cli-render.test.ts
  server/__tests__/cli-utils.test.ts
Due: server

test: add coverage for resolveProjectFromCwd and handleError
  server/__tests__/cli-utils.test.ts
Due: server

fix: use path.sep for cross-platform path resolution in resolveProjectFromCwd
  cli/utils.ts
  server/__tests__/cli-utils.test.ts
Due: server

feat: governance impact classifier for work task validation pipeline
  server/__tests__/work-task-service.test.ts
  server/db/audit.ts
  server/work/service.ts
Due: server

chore: update unit test counts in docs (6803 across 286 files)
  README.md
  docs/deep-dive.md
Due: none

refactor: deduplicate shared CLI utilities into cli/utils.ts (#1055)
  README.md
  cli/commands/agent.ts
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/commands/pick-agent.ts
  cli/commands/session.ts
  cli/commands/status.ts
  cli/render.ts
  cli/utils.ts
  docs/deep-dive.md
  server/__tests__/cli-render.test.ts
  server/__tests__/cli-utils.test.ts
Due: server

chore: v0.28.0 release prep — version bump, changelog, stats update
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

feat: add spec coverage detection, reporting, and scaffold generation
  package.json
  scripts/spec-check.ts
Due: none

feat: spec coverage detection and scaffold generation (#1058)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  scripts/spec-check.ts
  server/__tests__/routes-health.test.ts
Due: server

chore: v0.29.0 release prep — version bump, changelog, stats update
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

feat: governance tier CI check — block automated Layer 0 changes (#1038 #D)
  .github/workflows/ci.yml
  package.json
  scripts/governance-check.ts
  server/__tests__/governance-ci-check.test.ts
Due: server

chore: v0.28.0 release — 100% spec coverage, CI enforcement
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  scripts/seed-discussions.sh
  scripts/spec-check.ts
  server/__tests__/routes-health.test.ts
  specs/councils/councils.spec.md
  specs/db/daily-review.spec.md
  specs/db/discord-config.spec.md
  specs/db/migrations.spec.md
  specs/db/model-exams.spec.md
  specs/db/proposals.spec.md
  specs/db/purge-test-data.spec.md
  specs/db/repo-blocklist.spec.md
  specs/flock-directory/on-chain-client.spec.md
  specs/improvement/improvement.spec.md
  specs/lib/agent-utils.spec.md
  specs/lib/crypto.spec.md
  specs/lib/security.spec.md
  specs/lib/session.spec.md
  specs/marketplace/service.spec.md
  specs/process/process-manager.spec.md
  specs/providers/provider-system.spec.md
  specs/routes/routes.spec.md
  specs/scheduler/execution.spec.md
  specs/scheduler/handlers.spec.md
  specs/work/work-task-service.spec.md
Due: server

feat: governance impact classifier for work task validation pipeline (#1056)
  server/__tests__/work-task-service.test.ts
  server/db/audit.ts
  server/work/service.ts
Due: server

fix: normalize path separators in spec-check for Windows CI
  scripts/spec-check.ts
Due: none

chore: v0.28.0 release — 100% spec coverage, governance CI, CI enforcement (#1061)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
  scripts/governance-check.ts
  scripts/seed-discussions.sh
  scripts/spec-check.ts
  server/__tests__/governance-ci-check.test.ts
  specs/councils/councils.spec.md
  specs/db/daily-review.spec.md
  specs/db/discord-config.spec.md
  specs/db/migrations.spec.md
  specs/db/model-exams.spec.md
  specs/db/proposals.spec.md
  specs/db/purge-test-data.spec.md
  specs/db/repo-blocklist.spec.md
  specs/flock-directory/on-chain-client.spec.md
  specs/improvement/improvement.spec.md
  specs/lib/agent-utils.spec.md
  specs/lib/crypto.spec.md
  specs/lib/security.spec.md
  specs/lib/session.spec.md
  specs/marketplace/service.spec.md
  specs/process/process-manager.spec.md
  specs/providers/provider-system.spec.md
  specs/routes/routes.spec.md
  specs/scheduler/execution.spec.md
  specs/scheduler/handlers.spec.md
  specs/work/work-task-service.spec.md
Due: server

security: update checkout actions to v6.0.2 and remove continue-on-error
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/security.yml
Due: none

docs: fix stale test counts, spec count, and add missing API entries
  README.md
Due: none

fix: correct spec_files count to 138 in README
  README.md
Due: none

fix: handle empty response body in CLI client (#1039)
  cli/client.ts
  server/__tests__/cli-client.test.ts
Due: server

feat: paginated research log with emergent cross-platform routing post (#1067)
  docs/blog.html
  docs/blog/emergent-cross-platform-routing.html
  docs/blog/emergent-cross-platform-routing.md
  docs/blog/posts.json
  docs/blog/why-more-test-than-production-code.html
  docs/style.css
Due: none

chore: remove blog files from docs/ — blog lives in corvid-pages
  docs/blog.html
  docs/blog/why-more-test-than-production-code.md
Due: none

fix: eliminate TOCTOU race in spec scaffold generation (CWE-367)
  scripts/spec-check.ts
Due: none

feat: add disabled flag to agents for full deactivation
  server/__tests__/a2a-tasks.test.ts
  server/algochat/agent-directory.ts
  server/db/agents.ts
  server/db/migrations/087_agent_disabled.ts
  server/lib/validation.ts
  shared/types/agents.ts
Due: server

feat: UI/UX accessibility overhaul, agent disabled flag, display customization
  client/src/app/core/models/agent.model.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/styles.css
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/why-corvidagent.html
  server/__tests__/a2a-tasks.test.ts
  server/__tests__/permission-broker.test.ts
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/reputation-verifier.test.ts
  server/__tests__/routes-health-handler.test.ts
  server/algochat/agent-directory.ts
  server/db/agents.ts
  server/db/migrations/086_agent_display_customization.ts
  server/db/schema.ts
  server/discord/commands.ts
  server/lib/validation.ts
  shared/types/agents.ts
Due: server, client

fix: resolve test failures — missing disabled column migration, test data fixes
  server/__tests__/api-routes.test.ts
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/reputation-verifier.test.ts
  server/db/migrations/086_agent_display_customization.ts
  server/db/schema.ts
Due: server

fix: sync disabled column across baseline, legacy schema, and migration
  server/db/migrations/078_baseline.ts
  server/db/migrations/087_agent_disabled.ts
  server/db/schema.ts
Due: server

fix: resolve CI failures — sidebar Event type, stats drift
  README.md
  client/src/app/shared/components/sidebar.component.ts
  docs/deep-dive.md
Due: client

feat: add agent template selection to welcome wizard
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

fix: resolve TS2345 — accept Event type in sidebar onTab handler
  client/src/app/shared/components/sidebar.component.ts
Due: client

fix: resolve CI failures — update migration stats, fix Windows worktree test
  README.md
  docs/deep-dive.md
  server/__tests__/worktree.test.ts
Due: server

test: add coverage for display customization fields and model suffix stripping
  server/__tests__/agents.test.ts
  server/__tests__/discord-commands-additional.test.ts
Due: server

feat: add search sorting and reputation aggregation to Flock Directory
  server/__tests__/flock-directory-service.test.ts
  server/__tests__/routes-flock-directory.test.ts
  server/flock-directory/service.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/routes/flock-directory.ts
  shared/types/flock-directory.ts
  specs/flock-directory/service.spec.md
Due: server

security: align checkout actions to v6.0.2 and enforce dep audit (#1062)
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/security.yml
Due: none

docs: fix stale README stats and add missing API entries (#1063)
  README.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
