Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: reset cached initDb promise on migration failure to allow retry (#1106)
  server/__tests__/migrate.test.ts
  server/db/connection.ts
  server/index.ts
Due: server

feat: add Flock Directory automated agent testing framework (#896)
  server/__tests__/flock-testing-challenges.test.ts
  server/__tests__/flock-testing-evaluator.test.ts
  server/__tests__/flock-testing-runner.test.ts
  server/db/migrations/089_flock_test_results.ts
  server/db/schema.ts
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/evaluator.ts
  server/flock-directory/testing/runner.ts
  server/routes/flock-testing.ts
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-evaluator.spec.md
  specs/flock-directory/testing-runner.spec.md
  specs/routes/flock-testing.spec.md
Due: server

fix: resolve CI failures — add missing specs and update stats
  README.md
  docs/deep-dive.md
  specs/db/migrations.spec.md
  specs/work/chain-continuation.spec.md
Due: none

fix: update spec count to 145
  README.md
  docs/deep-dive.md
Due: none

feat: Flock Directory automated agent testing framework (#1108)
  README.md
  docs/deep-dive.md
  server/__tests__/flock-testing-challenges.test.ts
  server/__tests__/flock-testing-evaluator.test.ts
  server/__tests__/flock-testing-runner.test.ts
  server/db/migrations/089_flock_test_results.ts
  server/db/schema.ts
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/evaluator.ts
  server/flock-directory/testing/runner.ts
  server/routes/flock-testing.ts
  specs/db/migrations.spec.md
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-evaluator.spec.md
  specs/flock-directory/testing-runner.spec.md
  specs/routes/flock-testing.spec.md
  specs/work/chain-continuation.spec.md
Due: server

fix: persist session metrics on error and abort terminations
  server/__tests__/direct-process-metrics.test.ts
  server/process/direct-process.ts
Due: server

fix: persist session metrics on error and abort terminations (#1109)
  server/__tests__/direct-process-metrics.test.ts
  server/process/direct-process.ts
Due: server

feat: add response feedback for agent reputation (#1094)
  server/__tests__/response-feedback.test.ts
  server/db/migrations/090_response_feedback.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
  shared/types/reputation.ts
  specs/reputation/response-feedback.spec.md
Due: server

fix: resolve CI failures in spec check and stats check
  README.md
  docs/deep-dive.md
  specs/lib/infra.spec.md
  specs/reputation/response-feedback.spec.md
Due: none

test: add route handler tests for feedback endpoints to fix codecov/patch
  server/__tests__/routes-reputation.test.ts
Due: server

docs: fix stale README badges and references
  README.md
Due: none

spec: document missing exports in infra and response-feedback specs
  specs/lib/infra.spec.md
  specs/reputation/response-feedback.spec.md
Due: none

fix: update drifted stats and add feedback route test coverage
  README.md
  docs/deep-dive.md
  server/__tests__/routes-reputation.test.ts
Due: server

docs: fix stale README badges and references (#1111)
  README.md
Due: none

feat: add cross-platform contact identity mapping (#1069)
  server/__tests__/contacts.test.ts
  server/db/audit.ts
  server/db/contacts.ts
  server/db/migrations/091_contact_identities.ts
  server/db/schema.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/contacts.ts
  server/mcp/tool-handlers/index.ts
  server/routes/contacts.ts
  server/routes/index.ts
Due: server

test: add feedback routes and expand reputation scorer coverage
  server/__tests__/feedback-routes.test.ts
  server/__tests__/reputation-scorer.test.ts
Due: server

fix: remove feedback blending tests that depend on unreleased response_feedback table
  server/__tests__/reputation-scorer.test.ts
Due: server

fix: resolve CI failures — document handleLookupContact export and update stats
  README.md
  docs/deep-dive.md
  specs/mcp/tool-handlers.spec.md
Due: none

feat: add worktree isolation for AlgoChat sessions and smart branch cleanup
  server/algochat/message-router.ts
  server/lib/worktree.ts
  server/process/manager.ts
  specs/lib/worktree.spec.md
Due: server

spec: document missing exports for infra and response-feedback (#1112)
  README.md
  docs/deep-dive.md
  server/__tests__/response-feedback.test.ts
  server/__tests__/routes-reputation.test.ts
  server/db/migrations/090_response_feedback.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
  shared/types/reputation.ts
  specs/lib/infra.spec.md
  specs/reputation/response-feedback.spec.md
Due: server

test: feedback routes + reputation scorer coverage expansion (#1114)
  server/__tests__/feedback-routes.test.ts
  server/__tests__/reputation-scorer.test.ts
Due: server

fix: pin web-tree-sitter to 0.25.10 for WASM ABI compatibility
  bun.lock
  package.json
  server/__tests__/ast-service.test.ts
Due: server

fix: add spec coverage for contact identity files to reach 100%
  specs/db/contacts.spec.md
  specs/db/migrations.spec.md
  specs/routes/routes.spec.md
Due: none

feat: add worktree isolation for AlgoChat sessions and smart branch cleanup (#1115)
  server/algochat/message-router.ts
  server/lib/worktree.ts
  server/process/manager.ts
  specs/lib/worktree.spec.md
Due: server

feat: user response feedback tied to reputation scoring (#1110)
  bun.lock
  package.json
  server/__tests__/ast-service.test.ts
  server/__tests__/routes-reputation.test.ts
  specs/lib/infra.spec.md
  specs/reputation/response-feedback.spec.md
Due: server

fix: update client tests to match current component templates
  client/src/app/features/agents/agent-list.component.spec.ts
  client/src/app/shared/components/sidebar.component.spec.ts
Due: client

test: add coverage for contact routes and MCP tool handler
  server/__tests__/contacts-routes.test.ts
  server/__tests__/contacts-tool-handler.test.ts
Due: server

feat: cross-platform contact identity mapping (#1113)
  README.md
  client/src/app/features/agents/agent-list.component.spec.ts
  client/src/app/shared/components/sidebar.component.spec.ts
  docs/deep-dive.md
  server/__tests__/contacts-routes.test.ts
  server/__tests__/contacts-tool-handler.test.ts
  server/__tests__/contacts.test.ts
  server/db/audit.ts
  server/db/contacts.ts
  server/db/migrations/091_contact_identities.ts
  server/db/schema.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/contacts.ts
  server/mcp/tool-handlers/index.ts
  server/routes/contacts.ts
  server/routes/index.ts
  specs/db/contacts.spec.md
  specs/db/migrations.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/routes/routes.spec.md
Due: server, client

chore: add per-command --help output for all CLI commands
  cli/index.ts
Due: server

fix: update documented stats for spec_files (147) and migration_files (14)
  README.md
  docs/deep-dive.md
Due: none

test: increase edge case coverage for server/lib/validation.ts (#1088)
  server/__tests__/validation.test.ts
Due: server

fix: update drifted stats (spec_files 146→147, migration_files 13→14)
  README.md
  docs/deep-dive.md
Due: none

chore: add --help output for all CLI commands (#1116)
  README.md
  cli/index.ts
  docs/deep-dive.md
Due: server

test: increase edge case coverage for validation.ts (#1117)
  server/__tests__/validation.test.ts
Due: server
