Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(docs): add GitHub Pages deployment workflow for docs/ (#1726)
  .github/workflows/pages.yml
Due: none

fix(docs): correct GitHub Pages URLs to corvidlabs.github.io/corvid-agent
  docs/.well-known/agent.json
  docs/algochat.html
  docs/architecture.html
  docs/blog.html
  docs/business-guide.html
  docs/docs-index.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: none

feat(docs): add GitHub Pages deployment and fix URLs (#1736)
  docs/.well-known/agent.json
  docs/algochat.html
  docs/architecture.html
  docs/blog.html
  docs/business-guide.html
  docs/docs-index.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: none

fix(docs): use /corvid-agent/ prefix for all root-relative nav URLs
  docs/blog.html
  docs/docs.html
  docs/index.html
Due: none

feat(docs): add GitHub Pages deployment and fix nav URLs (#1737)
  docs/blog.html
  docs/docs.html
  docs/index.html
Due: none

fix(frontend): move comms to /observe/comms and fix cache-busting regex (#1725)
  client/src/app/app.routes.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/assets/fonts/SpaceGrotesk-Variable.ttf
  server/index.ts
Due: server, client

test(agent-messenger): add coverage for memoryShadow fallback and Cursor/Ollama event types (#1724)
  server/__tests__/agent-messenger.test.ts
  server/algochat/agent-messenger.ts
  server/index.ts
Due: server

feat(ollama,cursor): improve cloud model support and Cursor CLI agent
  .cursorrules
  server/process/cursor-process.ts
  server/providers/cursor/provider.ts
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/provider.ts
  server/routes/ollama.ts
  specs/providers/cursor-provider.spec.md
  specs/providers/model-capabilities.spec.md
  specs/providers/ollama-provider.spec.md
Due: server

fix: pin TypeScript to ~5.9.x to prevent Angular build failure with TS 6.0
  bun.lock
  package.json
Due: none

feat(ollama,cursor): improve cloud model support and Cursor CLI agent (#1738)
  .cursorrules
  bun.lock
  package.json
  server/process/cursor-process.ts
  server/providers/cursor/provider.ts
  server/providers/ollama/model-capabilities.ts
  server/providers/ollama/provider.ts
  server/routes/ollama.ts
  specs/providers/cursor-provider.spec.md
  specs/providers/model-capabilities.spec.md
  specs/providers/ollama-provider.spec.md
Due: server

feat(ui): add Search button to mobile bottom nav for command palette discovery (#1614)
  client/src/app/shared/components/mobile-bottom-nav.component.ts
Due: client

fix: resolve CI failures for PR #1739
  client/bun.lock
  client/package.json
Due: none

fix(lint): update biome config to exclude build output and fix schema version
  biome.json
Due: none

feat(ollama): improve tool calling for cloud models
  server/__tests__/tool-parser.test.ts
  server/__tests__/tool-prompt-templates.test.ts
  server/providers/ollama/tool-parser.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

feat(memory): default all new saves to short-term (SQLite) with explicit promote to on-chain
  server/__tests__/agent-memories.test.ts
  server/__tests__/arc69-store.test.ts
  server/__tests__/memory-manager.test.ts
  server/__tests__/session-memory-autosave.test.ts
  server/db/agent-memories.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/mcp/tool-permissions.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
  specs/memory/memory.spec.md
Due: server

fix(ci): bust stale cache and restore spec-sync version
  .github/actions/setup-workspace/action.yml
  .github/workflows/checks.yml
Due: none

fix: document new exports and update MCP tools count for CI
  docs/deep-dive.md
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/memory.spec.md
Due: none

fix(ci): revert spec-sync bump to v2.1.0
  .github/actions/setup-workspace/action.yml
  .github/workflows/checks.yml
Due: none

fix(ast,specs): resolve Dirent type mismatch and add missing spec frontmatter
  bun.lock
  server/ast/service.ts
  specs/websocket/handler.spec.md
Due: server

fix(client): pin TypeScript to ~5.9.3 for Angular 21 compatibility
  client/bun.lock
  client/package.json
Due: none

fix(deps): remove local path override for @corvidlabs/ts-algochat
  bun.lock
  package.json
Due: none

revert: restore Layer 0 protected files and fetch-detector to main state
  server/councils/discussion.ts
  server/councils/governance.ts
  server/councils/synthesis.ts
  server/db/spending.ts
  server/lib/fetch-detector.ts
  server/mcp/sdk-tools.ts
  server/memory/schema.ts
  server/middleware/guards.ts
  server/permissions/broker.ts
  server/permissions/governance-tier.ts
  server/permissions/index.ts
  server/permissions/role-templates.ts
  server/permissions/types.ts
  server/process/manager.ts
  server/process/protected-paths.ts
  server/process/sdk-process.ts
  server/sandbox/manager.ts
Due: server

fix(ci): remove restore-keys fallback to prevent stale cache restoration
  .github/actions/setup-workspace/action.yml
Due: none

test: add coverage for handlePromoteMemory and promote-memory route
  server/__tests__/routes-mcp-api.test.ts
  server/__tests__/tool-handlers.test.ts
Due: server

fix(ollama): improve tool parsing, prompts, and nudge logic for junior agents
  server/__tests__/tool-parser.test.ts
  server/process/direct-process.ts
  server/providers/cost-table.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/tool-parser.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

fix(client): pin TypeScript to ~5.9.3 for Angular compatibility
  client/bun.lock
  client/package.json
Due: none

fix(ci): pin TypeScript to 5.9.3 and restore cache fallback keys
  .github/actions/setup-workspace/action.yml
  client/bun.lock
  client/package.json
Due: none

fix: guard fire-and-forget DB calls in promote memory handler
  server/mcp/tool-handlers/memory.ts
Due: server

fix(ollama): improve tool parsing, prompts, and nudge logic for junior agents (#1743)
  client/bun.lock
  client/package.json
  server/__tests__/tool-parser.test.ts
  server/process/direct-process.ts
  server/providers/cost-table.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/tool-parser.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

feat(benchmark): add Ollama cloud model AlgoChat reliability benchmark
  docs/ollama-cloud-benchmark.md
  scripts/benchmark-ollama-cloud.ts
Due: none

fix: exclude build artifacts from CodeQL scanning
  .github/codeql-config.yml
Due: none

fix(governance): revert Layer 1 files blocked by governance tier
  server/__tests__/tool-parser.test.ts
  server/providers/ollama/tool-parser.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

fix(docs): declutter nav bar and improve "Who Is This For?" section
  docs/index.html
Due: none

test(memory): add coverage for handlePromoteMemory ARC-69 paths
  server/__tests__/tool-handlers.test.ts
Due: server

fix(ollama): add XML and ReAct tool call parsing, fix mid-chain exit and exploration drift
  server/__tests__/tool-parser.test.ts
  server/db/session-metrics.ts
  server/process/direct-process.ts
  server/process/types.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/tool-parser.ts
Due: server

test(ollama): add 21 edge case tests, fix ReAct fuzzy match arg parsing
  server/__tests__/tool-parser.test.ts
  server/providers/ollama/tool-parser.ts
Due: server

fix: move resolveAsaForKey to agent-memories to avoid mock.module leak
  server/__tests__/arc69-store.test.ts
  server/db/agent-memories.ts
  server/memory/arc69-store.ts
Due: server

feat(memory): save conversation summaries as observations on context reset (#1750)
  server/__tests__/session-memory-autosave.test.ts
  server/process/manager.ts
Due: server
