Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat: auto-link Discord users to cross-platform contacts (#1160) (#1163)
  server/__tests__/contact-auto-link.test.ts
  server/discord/contact-linker.ts
  server/discord/message-handler.ts
Due: server

feat: wire Discord reactions to reputation feedback (#1161) (#1164)
  server/__tests__/discord-reaction-handler.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/gateway.ts
  server/discord/reaction-handler.ts
  server/discord/types.ts
  specs/discord/bridge.spec.md
Due: server

refine: exam grading logic, expand test coverage to 89 tests
  server/__tests__/model-exam.test.ts
  server/exam/cases.ts
  server/exam/runner.ts
Due: server

feat: overhaul exam system — fix SDK tool detection, expand to 28 cases across 8 categories
  server/__tests__/model-exam.test.ts
  server/__tests__/model-exams-db.test.ts
  server/__tests__/routes-exam-persistence.test.ts
  server/exam/cases.ts
  server/exam/runner.ts
  server/exam/types.ts
Due: server

fix: improve patch coverage — extract and test SDK tool extraction + provider detection
  server/__tests__/exam-runner.test.ts
  server/exam/runner.ts
Due: server

docs: document reaction-handler exports in discord/bridge spec
  specs/discord/bridge.spec.md
Due: none

fix: resolve duplicate variable names and update exam spec for CI
  server/__tests__/exam-cases.test.ts
  server/__tests__/model-exam.test.ts
  server/exam/cases.ts
  specs/exam/exam.spec.md
Due: server

feat: overhaul exam system — fix SDK tool detection, expand to 28 cases (#1159)
  server/__tests__/exam-cases.test.ts
  server/__tests__/exam-runner.test.ts
  server/__tests__/model-exam.test.ts
  server/__tests__/model-exams-db.test.ts
  server/__tests__/routes-exam-persistence.test.ts
  server/exam/cases.ts
  server/exam/runner.ts
  server/exam/types.ts
  specs/discord/bridge.spec.md
  specs/exam/exam.spec.md
Due: server

chore: release v0.33.0
  README.md
  docs/deep-dive.md
  package.json
Due: none

docs: add Scripts Reference table to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: update client lockfile for frozen-lockfile Docker build
  client/bun.lock
Due: none

chore: release v0.33.0 (#1165)
  README.md
  client/bun.lock
  docs/deep-dive.md
  package.json
Due: none

docs: add Scripts Reference table to CONTRIBUTING.md (#1166)
  CONTRIBUTING.md
Due: none

fix: persist Discord mention-reply sessions to survive restarts
  server/__tests__/discord-mention-sessions.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/092_discord_mention_sessions.ts
  server/db/schema.ts
  server/discord/message-handler.ts
Due: server

feat: implement Layer 0 governance tiered permission architecture (#1038)
  server/__tests__/governance-tier.test.ts
  server/permissions/governance-tier.ts
  server/permissions/index.ts
  server/routes/councils.ts
  server/routes/proposals.ts
Due: server

feat: add reputation score explanation with per-component reasoning
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/routes-reputation.test.ts
  server/openapi/route-registry.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
Due: server, client

feat: add activity breakdown stats to agent reputation detail panel
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/routes-reputation.test.ts
  server/openapi/route-registry.ts
  server/routes/reputation.ts
Due: server, client

fix: resolve work validation false positives in governance tier PR
  server/work/validation.ts
Due: server

fix: revert web-tree-sitter to 0.25.10 for tree-sitter-wasms compatibility
  bun.lock
  package.json
Due: none

fix: add missing specs for governance-tier and contact-linker, restore web-tree-sitter version
  bun.lock
  package.json
  specs/discord/bridge.spec.md
  specs/permissions/broker.spec.md
  specs/permissions/governance-tier.spec.md
Due: none

docs: document governance tier exports in broker spec (#1038)
  specs/permissions/broker.spec.md
Due: none

fix: revert web-tree-sitter to 0.25.10 for grammar compatibility
  bun.lock
  package.json
Due: none

fix: add missing specs and update drifted stats for CI
  README.md
  docs/deep-dive.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/contact-linker.spec.md
Due: none

fix: resolve CI failures for reputation explain PR
  README.md
  docs/deep-dive.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/reputation/scorer.spec.md
Due: none

feat: add activity breakdown stats to reputation detail panel (#1169)
  bun.lock
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  package.json
  server/__tests__/routes-reputation.test.ts
  server/openapi/route-registry.ts
  server/routes/reputation.ts
Due: server, client

fix: persist Discord mention-reply sessions to survive restarts (#1170)
  README.md
  docs/deep-dive.md
  server/__tests__/discord-mention-sessions.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/092_discord_mention_sessions.ts
  server/db/schema.ts
  server/discord/message-handler.ts
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/contact-linker.spec.md
Due: server

feat: implement Layer 0 governance tiered permission architecture (#1171)
  server/__tests__/governance-tier.test.ts
  server/permissions/governance-tier.ts
  server/permissions/index.ts
  server/routes/councils.ts
  server/routes/proposals.ts
  server/work/validation.ts
  specs/discord/bridge.spec.md
  specs/permissions/broker.spec.md
  specs/permissions/governance-tier.spec.md
Due: server

feat: reputation score explanation with per-component reasoning (#1172)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/routes-reputation.test.ts
  server/openapi/route-registry.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
  specs/db/discord-mention-sessions.spec.md
  specs/reputation/scorer.spec.md
Due: server, client

refactor: decompose schema.ts (1492 LOC) into 22 domain-colocated schema files
  scripts/collect-stats.ts
  scripts/spec-check.ts
  server/db/schema.ts
  server/db/schema/agents.ts
  server/db/schema/algochat.ts
  server/db/schema/auth.ts
  server/db/schema/contacts.ts
  server/db/schema/councils.ts
  server/db/schema/credits.ts
  server/db/schema/discord.ts
  server/db/schema/flock.ts
  server/db/schema/index.ts
  server/db/schema/infra.ts
  server/db/schema/marketplace.ts
  server/db/schema/memory.ts
  server/db/schema/messaging.ts
  server/db/schema/permissions.ts
  server/db/schema/plugins.ts
  server/db/schema/projects.ts
  server/db/schema/reputation.ts
  server/db/schema/schedules.ts
  server/db/schema/sessions.ts
  server/db/schema/webhooks.ts
  server/db/schema/work.ts
  server/db/schema/workflows.ts
  specs/db/schema.spec.md
  specs/reputation/response-feedback.spec.md
Due: server

chore: release v0.34.0
  package.json
Due: none

chore: update spec_files count to 152 after reputation explain merge
  README.md
  docs/deep-dive.md
Due: none

fix: resolve CI failures for schema decomposition
  README.md
  docs/deep-dive.md
  server/__tests__/verification.test.ts
  specs/db/schema.spec.md
Due: server

chore: release v0.34.0 (#1174)
  package.json
Due: none

fix: document 12 missing exports in db/schema spec for CI
  specs/db/schema.spec.md
Due: none

feat: hide misleading reputation scores for agents with no activity
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  server/__tests__/improvement-loop.test.ts
  server/__tests__/prompt-builder.test.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
Due: server, client

fix: update spec_files count 151→152 in README and deep-dive docs
  README.md
  docs/deep-dive.md
Due: none

refactor: decompose schema.ts (1480 LOC) into domain-colocated schema files
  scripts/spec-check.ts
  server/db/schema.ts
  server/db/schema/agents.ts
  server/db/schema/algochat.ts
  server/db/schema/auth.ts
  server/db/schema/contacts.ts
  server/db/schema/councils.ts
  server/db/schema/credits.ts
  server/db/schema/discord.ts
  server/db/schema/flock.ts
  server/db/schema/index.ts
  server/db/schema/marketplace.ts
  server/db/schema/memory.ts
  server/db/schema/model-exams.ts
  server/db/schema/monitoring.ts
  server/db/schema/notifications.ts
  server/db/schema/projects.ts
  server/db/schema/reputation.ts
  server/db/schema/schedules.ts
  server/db/schema/sessions.ts
  server/db/schema/webhooks.ts
  server/db/schema/work.ts
  server/db/schema/workflows.ts
  specs/db/schema.spec.md
  specs/reputation/response-feedback.spec.md
Due: server

fix: update stats script and schema spec for decomposed schema directory
  scripts/collect-stats.ts
  specs/db/schema.spec.md
Due: none

fix: update stats script for decomposed schema directory
  README.md
  docs/deep-dive.md
Due: none
