Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(ui): migrate 20 pages to PageShell for consistent layout (#1611)
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
Due: client

feat(ui): replace hardcoded spacing and border-radius with design tokens (#1611)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

fix: revert var(--accent-red) to hex in canvas 2D context
  client/src/app/features/agent-comms/agent-network-vis.component.ts
Due: client

feat(ui): design token consistency + fix canvas color bug (#1872)
  client/src/app/features/agent-comms/agent-network-vis.component.ts
Due: client

refactor(settings): split 1745-line settings component into 11 focused sub-components
  client/src/app/features/settings/algochat-settings.component.ts
  client/src/app/features/settings/credits-settings.component.ts
  client/src/app/features/settings/database-settings.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/settings/environment-settings.component.ts
  client/src/app/features/settings/mobile-settings.component.ts
  client/src/app/features/settings/notifications-settings.component.ts
  client/src/app/features/settings/openrouter-settings.component.ts
  client/src/app/features/settings/operational-mode-settings.component.ts
  client/src/app/features/settings/settings-shared.styles.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/settings/system-health-settings.component.ts
  client/src/app/features/settings/system-info-settings.component.ts
Due: client

feat(ui): replace hardcoded colors with design tokens across all components (#1611)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

feat(ui): implement Three.js 3D agent network constellation (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

feat(ui): enhance 3D constellation with defer loading, dbl-click focus, tab visibility
  .specsync/hashes.json
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

feat(ui): lazy-load Three.js + double-click-to-focus for 3D network
  client/src/app/features/agent-comms/agent-comms.component.ts
Due: client

feat(comms-3d): lazy-load Three.js via dynamic import (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

feat(agent-comms): Three.js 3D agent network constellation (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

fix: prevent duplicate AlgoChat conversations (#1878)
  server/algochat/message-router.ts
  server/db/migrations/115_algochat_unique_participant.ts
  server/db/schema/index.ts
  server/db/sessions.ts
  server/routes/index.ts
Due: server

feat(comms-3d): OrbitControls + cubic bezier curves + hover tooltips (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
Due: client

fix(test): prevent mock.module leak in routes-discord-image tests
  server/__tests__/routes-discord-image.test.ts
Due: server

fix: resolve CI failures — update spec, stats, and task list
  .specsync/hashes.json
  docs/deep-dive.md
  specs/db/sessions.spec.md
Due: none

feat(comms-3d): OrbitControls + cubic bezier curves + hover tooltips (#1624)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  server/__tests__/routes-discord-image.test.ts
Due: server, client

docs(discord): clean up stale migration phase references (#1800)
  server/discord/commands.ts
  server/discord/gateway.ts
Due: server

fix(discord): replace deprecated ephemeral with MessageFlags.Ephemeral
  client/src/app/features/agent-comms/agent-comms.component.ts
  server/discord/embeds.ts
Due: server, client

fix(test): make SystemStateDetector test environment-independent
  server/__tests__/system-state.test.ts
Due: server

fix(test): restore real embeds module in discord-tool-handlers tests
  server/__tests__/discord-tool-handlers.test.ts
Due: server

fix: prevent duplicate AlgoChat conversations (#1878)
  .specsync/hashes.json
  docs/deep-dive.md
  server/__tests__/discord-tool-handlers.test.ts
  server/algochat/message-router.ts
  server/db/migrations/115_algochat_unique_participant.ts
  server/db/schema/index.ts
  server/db/sessions.ts
  server/routes/index.ts
  specs/db/sessions.spec.md
Due: server

fix(discord): replace deprecated ephemeral + @defer 3D loading + test fix
  client/src/app/features/agent-comms/agent-comms.component.ts
  server/discord/embeds.ts
Due: server, client

fix(ui): enforce minimum touch targets across all UI components
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
  e2e/ui-touch-targets.spec.ts
Due: client

fix(test): stabilize flaky withRetry timing tests for CI
  server/__tests__/resilience.test.ts
Due: server

fix(ui): increase padding/margins across mobile and desktop views
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
Due: client

docs(discord): close #1800 — discord.js migration already complete (#1880)
  server/__tests__/system-state.test.ts
  server/discord/commands.ts
  server/discord/gateway.ts
Due: server

fix(ui): increase padding/margins across mobile and desktop views (#1883)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings/discord-settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
  e2e/ui-touch-targets.spec.ts
  server/__tests__/resilience.test.ts
Due: server, client

fix(test): prevent mock.module contamination of discord-bridge tests
  server/__tests__/discord-tool-handlers.test.ts
  server/__tests__/thread-lifecycle.test.ts
Due: server

chore(ci): spec-sync hardening — registry audit, coverage gates (spec-sync#132)
  .github/workflows/ci.yml
  specsync-registry.toml
  specsync.json
Due: none

fix: resolve scheduler work task conflict by retrying instead of rejecting
  server/scheduler/handlers/work-task.ts
  server/work/service.ts
Due: server

test: add coverage for scheduler work task retry and race recovery paths
  server/__tests__/scheduler-work-task-handler.test.ts
  server/__tests__/work-task-race-recovery.test.ts
Due: server

fix: replace mock.module with spyOn to prevent mock leakage across test files
  server/__tests__/scheduler-work-task-handler.test.ts
  server/__tests__/work-task-race-recovery.test.ts
Due: server

fix: restore Bun.sleep spyOn mocks to prevent leakage into DedupService TTL tests
  server/__tests__/scheduler-work-task-handler.test.ts
  server/__tests__/work-task-race-recovery.test.ts
Due: server

fix: spread real rest-client exports in guild-api test to prevent mock leakage
  server/__tests__/discord-guild-api.test.ts
Due: server
