Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: implement TaskQueueService for parallel work task dispatch (#951)
  README.md
  docs/deep-dive.md
  server/__tests__/discord-bridge.test.ts
  server/__tests__/task-queue.test.ts
  server/__tests__/telegram-bridge.test.ts
  server/__tests__/work-task-priority.test.ts
  server/bootstrap.ts
  server/db/migrations/081_task_queue.ts
  server/db/schema.ts
  server/db/work-tasks.ts
  server/index.ts
  server/routes/work-tasks.ts
  server/work/queue.ts
  server/work/service.ts
  shared/types/work-tasks.ts
  shared/ws-protocol.ts
  specs/db/work-tasks.spec.md
  specs/ws/handler.spec.md
Due: server

fix: add debug logging to silent catch blocks in Discord thread-manager
  server/discord/thread-manager.ts
Due: server

security: validate Algorand address format on all wallet routes (#953)
  e2e/api-coverage.spec.ts
  server/__tests__/routes-allowlist.test.ts
  server/__tests__/routes-flock-directory.test.ts
  server/__tests__/validation.test.ts
  server/lib/validation.ts
  server/routes/allowlist.ts
  server/routes/flock-directory.ts
  server/routes/index.ts
  specs/lib/infra.spec.md
Due: server

fix: use Discord autocomplete for live agent/project choices (#954)
  server/discord/commands.ts
  server/discord/types.ts
Due: server

fix: add debug logging to silent catch blocks in thread-manager (#955)
  server/discord/thread-manager.ts
Due: server

chore: bump version to 0.25.4
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

chore: bump version to 0.25.4 (#956)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
  server/__tests__/routes-health.test.ts
Due: server

fix: convert remaining DEFERRED transactions to BEGIN IMMEDIATE
  server/__tests__/db-pool.test.ts
  server/db/agents.ts
  server/db/councils.ts
  server/db/discord-config.ts
  server/db/projects.ts
  server/db/sessions.ts
Due: server

fix: skip prompt-injection false positives inside markdown code spans and clear stale global Discord commands
  server/__tests__/prompt-injection.test.ts
  server/discord/commands.ts
  server/lib/prompt-injection.ts
Due: server

feat: add periodic heartbeat and stale sweep for Flock Directory (#903)
  server/__tests__/flock-directory-lifecycle.test.ts
  server/algochat/init.ts
Due: server

fix: increase sendTelegram test timeout to prevent CI flake
  server/__tests__/notification-channels.test.ts
Due: server

security: add admin role guard for /api/permissions routes
  server/__tests__/guards.test.ts
  server/middleware/guards.ts
Due: server

security: add CORS production warning and repo-blocklist tenant scoping
  server/middleware/auth.ts
  server/routes/index.ts
  server/routes/repo-blocklist.ts
Due: server

fix: respond to Discord role mentions, not just direct bot mentions
  server/discord/gateway.ts
  server/discord/message-handler.ts
  server/discord/types.ts
  server/process/sdk-process.ts
Due: server

fix: convert remaining DEFERRED transactions to BEGIN IMMEDIATE (#959)
  server/__tests__/db-pool.test.ts
  server/db/agents.ts
  server/db/councils.ts
  server/db/discord-config.ts
  server/db/projects.ts
  server/db/sessions.ts
Due: server

fix: skip prompt-injection false positives in markdown code spans (#960)
  server/__tests__/notification-channels.test.ts
  server/__tests__/prompt-injection.test.ts
  server/discord/commands.ts
  server/lib/prompt-injection.ts
Due: server

feat: add periodic heartbeat and stale sweep for Flock Directory (#903) (#961)
  server/__tests__/flock-directory-lifecycle.test.ts
  server/algochat/init.ts
Due: server

security: add admin role guard for /api/permissions routes (#962)
  server/__tests__/guards.test.ts
  server/middleware/guards.ts
Due: server

security: enable branch protection on main branch (#428)
  .github/workflows/branch-protection.yml
  scripts/enable-branch-protection.sh
Due: none

fix: revert Layer 0 sdk-process.ts changes to pass governance check
  server/process/sdk-process.ts
Due: server

docs: sync README and API reference with current codebase
  README.md
  docs/api-reference.md
Due: none

docs: fix README test file count (269→267) and inline comment (6156→6446)
  README.md
Due: none

docs: fix README spec count (120→121) for stats:check CI
  README.md
Due: none

spec: document exports for TaskQueueService (work/queue.ts)
  specs/work/task-queue.spec.md
Due: none

fix: mock readKeystore in key rotation test to avoid production keystore
  server/__tests__/key-access-audit.test.ts
Due: server

docs: fix README spec count (121→122) for stats:check CI
  README.md
  docs/deep-dive.md
Due: none

fix: replace mock.module with env override to prevent test pollution
  server/__tests__/key-access-audit.test.ts
Due: server

security: CORS production warning and repo-blocklist tenant scoping (#963)
  server/middleware/auth.ts
  server/routes/index.ts
  server/routes/repo-blocklist.ts
Due: server

fix: respond to Discord role mentions, not just direct bot mentions (#964)
  server/discord/gateway.ts
  server/discord/message-handler.ts
  server/discord/types.ts
  server/process/sdk-process.ts
Due: server

security: enable branch protection on main branch (#966)
  .github/workflows/branch-protection.yml
  scripts/enable-branch-protection.sh
Due: none

docs: sync README and API reference with codebase (#968)
  README.md
  docs/api-reference.md
Due: none

spec: document exports for TaskQueueService (#969)
  README.md
  docs/deep-dive.md
  specs/work/task-queue.spec.md
Due: none

fix: mock readKeystore in key rotation test (#970)
  server/__tests__/key-access-audit.test.ts
Due: server

test: expand coverage for TaskQueueService, condenser, ResponseFormatter, permissions, and security-overview routes
  server/__tests__/condenser.test.ts
  server/__tests__/response-formatter.test.ts
  server/__tests__/routes-permissions.test.ts
  server/__tests__/routes-security-overview.test.ts
  server/__tests__/task-queue-service.test.ts
Due: server

fix: replace mock.module with scoped getInstance override in condenser test
  server/__tests__/condenser.test.ts
Due: server

test: expand coverage for 5 untested modules (+67 tests) (#971)
  server/__tests__/condenser.test.ts
  server/__tests__/response-formatter.test.ts
  server/__tests__/routes-permissions.test.ts
  server/__tests__/routes-security-overview.test.ts
  server/__tests__/task-queue-service.test.ts
Due: server

feat: enforce typed ServerMessage emission in WS broadcasting (#957)
  client/src/app/core/services/websocket.service.ts
  server/events/broadcasting.ts
Due: server, client

feat: enforce typed ServerMessage emission in WS broadcasting (#957) (#972)
  client/src/app/core/services/websocket.service.ts
  server/events/broadcasting.ts
Due: server, client

security: eliminate plaintext wallet key escape hatch (#924)
  SECURITY.md
  scripts/migrate-keys.ts
  server/__tests__/key-provider.test.ts
  server/algochat/agent-wallet.ts
  server/algochat/init.ts
  server/lib/key-provider.ts
  specs/lib/key-provider.spec.md
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
