Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

fix: resolve CI failures for reputation history PR
  docs/deep-dive.md
  specs/db/migrations.spec.md
  specs/reputation/scorer.spec.md
Due: none

fix: resolve TypeScript errors in PR diff route tests
  server/__tests__/routes-github-pr-diff.test.ts
Due: server

test: add coverage for reputation history and trend endpoints
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/routes-reputation.test.ts
Due: server

feat(dashboard): log viewer, diff viewer, and agent health badges (#1180) (#1382)
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  docs/deep-dive.md
  server/__tests__/routes-github-pr-diff.test.ts
  server/routes/github-pr-diff.ts
  server/routes/index.ts
  specs/routes/github-pr-diff.spec.md
Due: server, client

test: add A2A invocation guard test coverage (19 tests) (#1383)
  docs/deep-dive.md
  server/__tests__/invocation-guard.test.ts
Due: server

feat(reputation): score history tracking, trend chart, and agent comparison (#1180) (#1385)
  client/src/app/core/models/reputation.model.ts
  client/src/app/core/services/reputation.service.ts
  client/src/app/features/reputation/reputation.component.ts
  docs/deep-dive.md
  server/__tests__/reputation-scorer.test.ts
  server/__tests__/routes-reputation.test.ts
  server/db/migrations/101_reputation_history.ts
  server/db/schema/index.ts
  server/db/schema/reputation.ts
  server/reputation/scorer.ts
  server/reputation/types.ts
  server/routes/reputation.ts
  shared/types/reputation.ts
  specs/db/migrations.spec.md
  specs/reputation/scorer.spec.md
Due: server, client

fix: remove unused fakeAsync and tick imports from welcome-wizard spec
  client/src/app/features/dashboard/welcome-wizard.component.spec.ts
Due: client

test: add unit tests for onboarding components (49 tests) (#1384)
  client/src/app/features/chat-home/onboarding.component.spec.ts
  client/src/app/features/dashboard/welcome-wizard.component.spec.ts
Due: client

feat(discord): add /agent-skill and /agent-persona slash commands (#989)
  server/__tests__/discord-agent-config-commands.test.ts
  server/discord/command-handlers/agent-config-commands.ts
  server/discord/command-handlers/autocomplete-handler.ts
  server/discord/commands.ts
  specs/discord/agent-config-commands.spec.md
Due: server

feat(security): injection guard on all user-input routes + RBAC hardening (#310)
  docs/deep-dive.md
  server/__tests__/contacts-routes.test.ts
  server/__tests__/key-rotation.test.ts
  server/middleware/guards.ts
  server/routes/contacts.ts
  server/routes/councils.ts
  server/routes/index.ts
  server/routes/mcp-api.ts
  server/routes/personas.ts
  server/routes/proposals.ts
  server/routes/sessions.ts
  server/routes/skill-bundles.ts
  server/routes/work-tasks.ts
Due: server

fix: update spec_files count in deep-dive.md (177 → 178)
  docs/deep-dive.md
Due: none

chore: update unit test count to 8,573 after security hardening
  docs/deep-dive.md
Due: none

fix: resolve ts-algochat module errors with type stubs and lazy imports
  server/algochat/discovery-service.ts
  server/algochat/group-sender.ts
  server/algochat/message-router.ts
  server/memory/arc69-store.ts
  server/types/ts-algochat.d.ts
Due: server

feat(ui): UX overhaul phase 1 — typography, icons, accessibility (#1388)
  client/src/app/app.ts
  client/src/app/shared/components/icon.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/index.html
  client/src/styles.css
Due: client

test: add coverage for injection guards and admin role checks
  server/__tests__/guards.test.ts
  server/__tests__/routes-councils.test.ts
  server/__tests__/routes-mcp-api.test.ts
  server/__tests__/routes-personas.test.ts
  server/__tests__/routes-proposals.test.ts
  server/__tests__/routes-sessions.test.ts
  server/__tests__/routes-skill-bundles.test.ts
  server/__tests__/routes-work-tasks.test.ts
Due: server

feat(ui): UX overhaul phase 2 — nav restructure, page shell, mobile bottom nav (#1388)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/icon.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/page-shell.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat(ui): UX overhaul phase 3 — color palette consolidation, global form styles (#1388)
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/councils/council-form.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/projects/project-form.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/dir-browser.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/resize-handle.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/sub-tab-shell.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
Due: client

fix: remove flock-directory contract (belongs in CorvidLabs/flock-directory-contract)
  contracts/flock-directory/contract.algo.ts
  contracts/flock-directory/tests/contract.test.ts
Due: none

fix: consolidate duplicate isCloudModel into single source of truth
  server/__tests__/cloud-models.test.ts
  server/__tests__/exam-runner.test.ts
  server/exam/runner.ts
  server/lib/agent-tiers.ts
  specs/exam/exam.spec.md
Due: server

chore: update spec-sync from v1.1.2 to v2.0.0
  scripts/specsync.sh
Due: none

fix: add isCloudModel to agent-utils spec to resolve strict spec warnings
  specs/lib/agent-utils.spec.md
Due: none

feat(specs): enable spec-sync v2.0.0 scoring, watch, and cross-project registry
  package.json
  specs/improvement/improvement.spec.md
  specs/scheduler/handlers.spec.md
  specs/scheduler/scheduler-service.spec.md
  specsync-registry.toml
Due: none

test: add route-level injection guard coverage
  server/__tests__/route-injection-guards.test.ts
Due: server

feat(cli): add `provision` command for multi-agent deployment (#1184)
  cli/commands/provision.ts
  cli/index.ts
Due: server

fix: align route-injection-guards test with McpApiDeps interface
  server/__tests__/route-injection-guards.test.ts
Due: server

fix: resolve CodeQL review comments (unused imports, useless assignment)
  client/src/app/shared/components/icon.component.ts
  client/src/app/shared/components/page-shell.component.ts
  server/__tests__/route-injection-guards.test.ts
Due: server, client

feat(docs): add request/response examples for all API endpoints (#1279)
  server/openapi/generator.ts
  server/openapi/routes/agents.ts
  server/openapi/routes/algochat.ts
  server/openapi/routes/allowlist.ts
  server/openapi/routes/analytics.ts
  server/openapi/routes/auth.ts
  server/openapi/routes/billing.ts
  server/openapi/routes/councils.ts
  server/openapi/routes/escalation.ts
  server/openapi/routes/integrations.ts
  server/openapi/routes/marketplace.ts
  server/openapi/routes/mcp.ts
  server/openapi/routes/mention-polling.ts
  server/openapi/routes/plugins.ts
  server/openapi/routes/projects.ts
  server/openapi/routes/providers.ts
  server/openapi/routes/reputation.ts
  server/openapi/routes/sandbox.ts
  server/openapi/routes/schedules.ts
  server/openapi/routes/sessions.ts
  server/openapi/routes/system.ts
  server/openapi/routes/types.ts
  server/openapi/routes/webhooks.ts
  server/openapi/routes/work-tasks.ts
  server/openapi/routes/workflows.ts
Due: server

fix(ui): subscribe to paramMap so chat tab active state updates on click
  client/src/app/features/sessions/session-view.component.ts
  docs/deep-dive.md
Due: client

fix(ui): subscribe to paramMap so chat tab active state updates on click
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(ui): chat tab active state requires double-click (#1395)
  cli/commands/provision.ts
  cli/index.ts
  client/src/app/features/sessions/session-view.component.ts
Due: server, client

fix(ui): set active tab immediately on click, not after async load
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(ui): set active tab immediately on click, not after async load (#1396)
  client/src/app/features/sessions/session-view.component.ts
Due: client

chore: release v0.45.0
  CHANGELOG.md
  package.json
Due: none

feat(ui): Phase 4-5 polish — icons, CSS vars, skeleton loaders
  client/angular.json
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/models/models.component.ts
  client/src/styles.css
Due: client

feat(ui): Phase 4-5 polish — icons, CSS vars, skeleton loaders (#1399)
  CHANGELOG.md
  client/angular.json
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/models/models.component.ts
  client/src/styles.css
  package.json
Due: client

fix(ui): remove duplicate chat tab bar in session view
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(ui): remove duplicate chat tab bar in session view (#1400)
  client/src/app/features/sessions/session-view.component.ts
Due: client

fix(ci): skip health-collector integration test on Windows
  server/__tests__/health-collector-integration.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
