Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

deps: fix 5 npm audit vulnerabilities via overrides
  bun.lock
  package.json
Due: none

fix: add missing subscription_items table for UsageMeter (#483)
  server/__tests__/routes-billing.test.ts
  server/billing/service.ts
  server/db/migrations/001_baseline.ts
  server/db/migrations/063_subscription_items.ts
  server/db/schema.ts
  server/lib/validation.ts
  server/routes/billing.ts
Due: server

test: add coverage for polling service core logic
  server/__tests__/polling-service.test.ts
Due: server

fix: condenser tries all providers before truncation fallback (#484)
  server/algochat/condenser.ts
Due: server

docs: document inline API endpoints
  README.md
  docs/self-hosting.md
Due: none

deps: fix 5 npm audit vulnerabilities via overrides (#488)
  bun.lock
  package.json
Due: none

ci: add SBOM generation and Docker image signing
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  docs/hardening-guide.md
  docs/supply-chain-verification.md
Due: none

security: fix script injection in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/heartbeat.yml
  .github/workflows/release.yml
Due: none

test: add coverage for polling service core logic (#489)
  server/__tests__/polling-service.test.ts
Due: server

docs: document inline API endpoints (#490)
  README.md
  docs/self-hosting.md
Due: none

feat: add Cache-Control headers for static assets
  server/__tests__/cache-control.test.ts
  server/index.ts
Due: server

security: enforce tenant isolation on usage endpoints and restrict allowlist
  server/middleware/guards.ts
  server/routes/usage.ts
Due: server

feat: add Cache-Control headers for static assets (#493)
  server/__tests__/cache-control.test.ts
  server/index.ts
Due: server

security: fix script injection in GitHub Actions workflows (#492)
  .github/workflows/ci.yml
  .github/workflows/heartbeat.yml
  .github/workflows/release.yml
Due: none

ci: add SBOM generation and Docker image signing
  .github/workflows/docker-publish.yml
  docs/self-hosting.md
Due: none

security: enforce tenant isolation on usage endpoints and restrict allowlist (#494)
  server/middleware/guards.ts
  server/routes/usage.ts
Due: server

ci: add SBOM generation and Docker image signing (#495)
  .github/workflows/docker-publish.yml
  docs/self-hosting.md
Due: none

feat: deprecate WebSocket query-string auth in favor of Bearer header
  docs/self-hosting.md
  server/middleware/auth.ts
Due: server

refactor: split shared/types.ts into domain-specific modules
  shared/types.ts
  shared/types/a2a.ts
  shared/types/agents.ts
  shared/types/algochat.ts
  shared/types/councils.ts
  shared/types/credits.ts
  shared/types/index.ts
  shared/types/marketplace.ts
  shared/types/memories.ts
  shared/types/personas.ts
  shared/types/projects.ts
  shared/types/reputation.ts
  shared/types/schedules.ts
  shared/types/sessions.ts
  shared/types/skill-bundles.ts
  shared/types/voice.ts
  shared/types/webhooks.ts
  shared/types/work-tasks.ts
  shared/types/workflows.ts
Due: server

feat: deprecate WebSocket query-string auth in favor of Bearer header (#496)
  docs/self-hosting.md
  server/middleware/auth.ts
Due: server

refactor: split shared/types.ts into domain-specific modules (#497)
  shared/types.ts
  shared/types/a2a.ts
  shared/types/agents.ts
  shared/types/algochat.ts
  shared/types/councils.ts
  shared/types/credits.ts
  shared/types/index.ts
  shared/types/marketplace.ts
  shared/types/memories.ts
  shared/types/personas.ts
  shared/types/projects.ts
  shared/types/reputation.ts
  shared/types/schedules.ts
  shared/types/sessions.ts
  shared/types/skill-bundles.ts
  shared/types/voice.ts
  shared/types/webhooks.ts
  shared/types/work-tasks.ts
  shared/types/workflows.ts
Due: server

refactor: decompose polling/service.ts into 3 focused services
  server/__tests__/polling-service.test.ts
  server/polling/auto-merge.ts
  server/polling/auto-update.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
Due: server

feat: extract EntityStore<T> signal store pattern for frontend services
  client/src/app/core/services/agent.service.ts
  client/src/app/core/services/entity-store.ts
  client/src/app/core/services/mcp-server.service.ts
  client/src/app/core/services/skill-bundle.service.ts
  server/__tests__/entity-store-pattern.test.ts
Due: server, client

refactor: decompose polling/service.ts into 3 focused services (#498)
  server/__tests__/polling-service.test.ts
  server/polling/auto-merge.ts
  server/polling/auto-update.ts
  server/polling/ci-retry.ts
  server/polling/service.ts
Due: server

refactor: consolidate inline DB count casts with queryCount() helper
  server/__tests__/algochat-bridge.test.ts
  server/__tests__/credits.test.ts
  server/__tests__/dedup.test.ts
  server/__tests__/retention.test.ts
  server/algochat/psk-contact-manager.ts
  server/db/agent-memories.ts
  server/db/agent-messages.ts
  server/db/algochat-messages.ts
  server/db/allowlist.ts
  server/db/audit.ts
  server/db/github-allowlist.ts
  server/db/schedules.ts
  server/db/types.ts
  server/marketplace/service.ts
  server/mcp/tool-handlers/work.ts
  server/performance/collector.ts
  server/polling/service.ts
  server/process/session-lifecycle.ts
  server/routes/system-logs.ts
  server/scheduler/service.ts
  server/tenant/context.ts
  server/voice/tts.ts
  server/workflow/service.ts
Due: server

feat: extract EntityStore<T> signal store pattern for frontend services (#499)
  client/src/app/core/services/agent.service.ts
  client/src/app/core/services/entity-store.ts
  client/src/app/core/services/mcp-server.service.ts
  client/src/app/core/services/skill-bundle.service.ts
  server/__tests__/entity-store-pattern.test.ts
Due: server, client

feat: migrate ProjectService, CouncilService, WorkflowService to EntityStore
  client/src/app/core/services/council.service.ts
  client/src/app/core/services/project.service.ts
  client/src/app/core/services/workflow.service.ts
Due: client

test: add tests for github-allowlist and mcp-servers DB modules
  server/__tests__/github-allowlist.test.ts
  server/__tests__/mcp-servers.test.ts
Due: server

feat: migrate ProjectService, CouncilService, WorkflowService to EntityStore (#501)
  client/src/app/core/services/council.service.ts
  client/src/app/core/services/project.service.ts
  client/src/app/core/services/workflow.service.ts
Due: client

test: add comprehensive tests for algochat-messages DB module
  server/__tests__/algochat-messages.test.ts
Due: server

test: add tests for github-allowlist and mcp-servers DB modules (#502)
  server/__tests__/github-allowlist.test.ts
  server/__tests__/mcp-servers.test.ts
Due: server

test: add tests for reputation DB and backup modules
  server/__tests__/backup.test.ts
  server/__tests__/reputation-db.test.ts
Due: server

test: add comprehensive tests for algochat-messages DB module (#503)
  server/__tests__/algochat-messages.test.ts
Due: server

refactor: consolidate inline DB count casts into queryCount() helper
  server/__tests__/algochat-bridge.test.ts
  server/__tests__/credits.test.ts
  server/__tests__/dedup.test.ts
  server/__tests__/retention.test.ts
  server/algochat/psk-contact-manager.ts
  server/db/agent-memories.ts
  server/db/agent-messages.ts
  server/db/algochat-messages.ts
  server/db/allowlist.ts
  server/db/audit.ts
  server/db/github-allowlist.ts
  server/db/schedules.ts
  server/db/types.ts
  server/marketplace/service.ts
  server/mcp/tool-handlers/work.ts
  server/performance/collector.ts
  server/polling/auto-update.ts
  server/process/session-lifecycle.ts
  server/routes/system-logs.ts
  server/scheduler/service.ts
  server/tenant/context.ts
  server/voice/tts.ts
  server/workflow/service.ts
Due: server

fix: resolve Windows EBUSY and CodeQL insecure-temp-file in backup tests
  server/__tests__/backup.test.ts
Due: server

test: add tests for reputation DB and backup modules (#504)
  server/__tests__/backup.test.ts
  server/__tests__/reputation-db.test.ts
Due: server

security: enforce admin role on system-logs, performance, github-allowlist, wallet-summary endpoints
  server/__tests__/endpoint-rate-limit.test.ts
  server/__tests__/guards.test.ts
  server/middleware/endpoint-rate-limit.ts
  server/middleware/guards.ts
Due: server

security: enforce admin role on system-logs, performance, github-allowlist, wallet-summary endpoints (#505)
  server/__tests__/endpoint-rate-limit.test.ts
  server/__tests__/guards.test.ts
  server/middleware/endpoint-rate-limit.ts
  server/middleware/guards.ts
Due: server

docs: fix stale counts and remove nonexistent /api/slack/status endpoint
  README.md
  docs/architecture.html
Due: none

docs: fix stale counts and remove nonexistent /api/slack/status endpoint (#509)
  README.md
  docs/architecture.html
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
