Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: clear OPENROUTER_API_KEY in provider tests to prevent env leakage
  server/__tests__/ollama-local-mode.test.ts
  server/__tests__/providers.test.ts
Due: server

chore: upgrade ts-algochat to 0.4.1 and remove patch
  package.json
  patches/@corvidlabs%2Fts-algochat@0.3.0.patch
Due: none

feat: enforce blockchain-first ordering for flock directory operations
  client/src/app/features/agents/agent-detail.component.ts
  server/__tests__/flock-directory-hybrid.test.ts
  server/__tests__/flock-directory-lifecycle.test.ts
  server/__tests__/flock-directory-service.test.ts
  server/__tests__/routes-flock-directory.test.ts
  server/algochat/init.ts
  server/flock-directory/service.ts
  server/mcp/tool-handlers/flock-directory.ts
  server/routes/flock-directory.ts
  server/routes/flock-testing.ts
  server/routes/index.ts
Due: server, client

fix: sync lockfile and document FlockTestingDeps in spec
  bun.lock
  specs/routes/flock-testing.spec.md
Due: none

fix: prevent localnet memory sync from falling back to plain transactions
  server/db/memory-sync.ts
  specs/db/memory-sync.spec.md
Due: server

fix: replace boxy glow with radial pulse and add project picker
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/styles.css
Due: client

fix: prevent localnet memory sync from falling back to plain transactions (#1340)
  server/db/memory-sync.ts
  specs/db/memory-sync.spec.md
Due: server

feat(dashboard): multi-page onboarding tour with progress dots (#1249)
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/guided-tour.component.ts
Due: client

feat(dashboard): multi-page onboarding tour with progress dots (#1249) (#1341)
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/guided-tour.component.ts
Due: client

docs: slim README to intro + links, point to unified website
  README.md
Due: none

docs: consolidate doc surfaces — slim README, unified website (#1342)
  README.md
Due: none

chore: bump version to v0.42.0
  CHANGELOG.md
  README.md
  package.json
Due: none

fix(docker): remove COPY patches/ — directory does not exist
  deploy/Dockerfile
Due: none

fix(docker): remove COPY patches/ — directory does not exist (#1344)
  deploy/Dockerfile
Due: none

chore: bump version to v0.42.1
  CHANGELOG.md
  package.json
Due: none

chore: bump version to v0.42.1 (#1345)
  CHANGELOG.md
  package.json
Due: none

fix: allow GitHub avatars in CSP and unblock score/cooldown endpoints
  client/src/index.html
  server/lib/security-headers.ts
  server/public/chat.html
  server/routes/flock-testing.ts
Due: server, client

test: add coverage for flock-testing routes and CSP GitHub avatars
  server/__tests__/flock-testing-routes.test.ts
  server/__tests__/security-headers.test.ts
Due: server

test: add happy-path coverage for testRunner-gated flock testing routes
  server/__tests__/flock-testing-routes.test.ts
Due: server

fix: prefix unused parameter with underscore to resolve TS6133
  server/__tests__/flock-testing-routes.test.ts
Due: server

feat(ui): add resizable panels and modern CSS polish
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/resize-handle.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/styles.css
  docs/deep-dive.md
Due: client

feat(ui): Phase 2 — staggered animations, fluid grids, container queries
  client/src/app/app.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/styles.css
Due: client

feat(ui): Phase 3 — micro-interactions, form polish, toast progress bars
  client/src/app/shared/components/breadcrumb.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/styles.css
Due: client

feat(ui): Phase 4 — custom selects, sticky toolbars, scroll-to-top, row polish
  .gitignore
  client/src/app/app.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/styles.css
Due: client

feat(ui): default to simple mode for new users (#1248)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat(ui): Phase 5 — modals, progress animations, chart/table polish
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/styles.css
Due: client

feat(ui): Phase 6 — form focus glow, accordion animations, workflow theming, expand transitions
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/styles.css
Due: client

fix: allow GitHub avatars in CSP and unblock score/cooldown endpoints (#1346)
  client/src/index.html
  server/__tests__/flock-testing-routes.test.ts
  server/__tests__/security-headers.test.ts
  server/lib/security-headers.ts
  server/public/chat.html
  server/routes/flock-testing.ts
Due: server, client

feat(ui): Modern dashboard polish — animations, theming & responsive layout (#1348)
  .gitignore
  client/src/app/app.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/breadcrumb.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/resize-handle.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/status-badge.component.ts
  client/src/app/shared/components/toast-container.component.ts
  client/src/styles.css
  docs/deep-dive.md
Due: client

feat(ui): default to simple mode for new users (#1248) (#1349)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

test: add coverage for schedule output destination delivery
  server/__tests__/schedule-output-destinations.test.ts
  server/scheduler/execution.ts
Due: server

feat(discord): include channel ID in agent message context
  server/__tests__/discord-bridge.test.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/message-handler.ts
  specs/discord/bridge.spec.md
Due: server

test: improve e2e test reliability with better selectors and timeouts
  e2e/agents.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/chat-tabs.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/marketplace.spec.ts
  e2e/models.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/sessions.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/work-tasks.spec.ts
Due: none

feat: add output destinations to schedules (Discord, AlgoChat)
  server/__tests__/scheduler-flock-testing.test.ts
  server/__tests__/schedules.test.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/098_schedule_output_destinations.ts
  server/db/schedules.ts
  server/db/schema/index.ts
  server/db/schema/schedules.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
  server/scheduler/execution.ts
  shared/types/schedules.ts
Due: server

fix: resolve CI failures — update migration stats and spec coverage
  docs/deep-dive.md
  specs/db/migrations.spec.md
Due: none

fix: resolve CI failures — update TS types in test and add spec coverage
  server/__tests__/schedule-output-destinations.test.ts
  specs/scheduler/execution.spec.md
Due: server

feat: schedule output destinations + Discord channel tracking (#1347)
  docs/deep-dive.md
  e2e/agents.spec.ts
  e2e/api-coverage.spec.ts
  e2e/approval.spec.ts
  e2e/chat-tabs.spec.ts
  e2e/council-flow.spec.ts
  e2e/councils.spec.ts
  e2e/marketplace.spec.ts
  e2e/models.spec.ts
  e2e/projects.spec.ts
  e2e/prompt-injection.spec.ts
  e2e/reputation.spec.ts
  e2e/sessions.spec.ts
  e2e/system-logs.spec.ts
  e2e/wallets.spec.ts
  e2e/work-tasks.spec.ts
  server/__tests__/discord-bridge.test.ts
  server/__tests__/schedule-output-destinations.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/__tests__/schedules.test.ts
  server/db/migrations/078_baseline.ts
  server/db/migrations/098_schedule_output_destinations.ts
  server/db/schedules.ts
  server/db/schema/index.ts
  server/db/schema/schedules.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/message-handler.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/scheduling.ts
  server/scheduler/execution.ts
  shared/types/schedules.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/scheduler/execution.spec.md
Due: server

chore: bump version to v0.43.0
  CHANGELOG.md
  README.md
  package.json
Due: none
