Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix(specs): resolve DB schema drift across 15 spec files (#1699)
  specs/db/agent-memories.spec.md
  specs/db/agents.spec.md
  specs/db/buddy.spec.md
  specs/db/contacts.spec.md
  specs/db/councils.spec.md
  specs/db/discord-config.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/personas.spec.md
  specs/db/projects.spec.md
  specs/db/reputation-db.spec.md
  specs/db/schedules.spec.md
  specs/db/session-metrics.spec.md
  specs/db/sessions.spec.md
  specs/db/variants.spec.md
  specs/db/work-tasks.spec.md
Due: none

docs(rc): add RELEASE-NOTES.md for v1.0.0-rc (#1702)
  RELEASE-NOTES.md
Due: none

fix(auth): wire getAuthConfig into health check deps (#1697)
  server/health/service.ts
  server/index.ts
Due: server

fix(health): wire getAuthConfig into healthDeps so API key status is reported correctly
  server/index.ts
Due: server

test(health): add coverage for checkApiKey auth config branches
  server/__tests__/health-service.test.ts
Due: server

fix(discord): add TTL cache to autocomplete handler for faster dropdowns
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

fix(discord): add TTL cache to autocomplete handler for faster dropdowns (#1705)
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

fix(auth): wire getAuthConfig into health check deps (#1697) (#1703)
  server/__tests__/health-service.test.ts
  server/health/service.ts
  server/index.ts
Due: server

fix(library): restore continuous scroll for book reader
  client/src/app/features/library/library.component.ts
Due: client

fix(library): restore continuous scroll for book reader (#1706)
  client/src/app/features/library/library.component.ts
Due: client

fix(security): use mkdtempSync for secure temp dir creation in cli-init tests
  server/__tests__/cli-init.test.ts
Due: server

docs(specs): add DB specs for uncovered tables (issue #1701)
  specs/db/agent-library.spec.md
  specs/db/conversation-access.spec.md
  specs/db/flock.spec.md
  specs/db/observations.spec.md
Due: none

fix(discord): clear autocomplete TTL cache between tests
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

feat(spec-sync): add DB schema column validation script
  package.json
  scripts/validate-db-specs.test.ts
  scripts/validate-db-specs.ts
Due: none

fix(security): eliminate TOCTOU race conditions flagged by CodeQL
  cli/commands/provision.ts
  server/index.ts
Due: server

fix(discord): clear autocomplete cache between tests to prevent stale results
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

fix: resolve CI failures for PR #1708
  docs/deep-dive.md
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
  specs/db/agent-library.spec.md
  specs/db/observations.spec.md
  specs/discord/bridge.spec.md
Due: server

fix(security): eliminate TOCTOU race conditions flagged by CodeQL (#1710)
  cli/commands/provision.ts
  server/index.ts
Due: server

fix: clear autocomplete TTL cache between tests to prevent stale data
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

fix(security): use mkdtempSync for secure temp dir creation in cli-init tests (#1707)
  server/__tests__/cli-init.test.ts
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/autocomplete-handler.ts
Due: server

docs(specs): add DB specs for 9 uncovered tables (#1701) (#1708)
  docs/deep-dive.md
  specs/db/agent-library.spec.md
  specs/db/conversation-access.spec.md
  specs/db/flock.spec.md
  specs/db/observations.spec.md
  specs/discord/bridge.spec.md
Due: none

feat(spec-sync): add DB schema column validation script (#1709)
  package.json
  scripts/validate-db-specs.test.ts
  scripts/validate-db-specs.ts
Due: none

fix(spec): document clearAutocompleteCache export in bridge spec
  specs/discord/bridge.spec.md
Due: none

fix(agent-messenger): prevent result event from clobbering captured response
  server/algochat/agent-messenger.ts
Due: server

fix(agent-messenger): prevent result event from clobbering captured response (#1713)
  server/algochat/agent-messenger.ts
Due: server

fix(cursor): remove broken --system-prompt flag, throw on non-zero exit
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
Due: server

fix(deps): upgrade path-to-regexp to 8.4.0 to resolve HIGH vuln
  bun.lock
  package.json
Due: none

fix(cursor): remove broken --system-prompt flag, throw on non-zero exit (#1716)
  server/__tests__/providers-cursor.test.ts
  server/providers/cursor/provider.ts
Due: server

fix(deps): upgrade path-to-regexp >=8.4.0 to patch HIGH vuln (#1717)
  bun.lock
  package.json
Due: none

fix(agent-messenger): improve reliability of inter-agent message responses
  server/algochat/agent-messenger.ts
  server/providers/ollama/tool-prompt-templates.ts
Due: server

fix(agent-messenger): improve response capture for Ollama/Cursor models
  server/algochat/agent-messenger.ts
Due: server

fix(frontend): restore Content-Type headers lost in TOCTOU security fix
  server/index.ts
Due: server

test(agent-messenger): add coverage for memoryShadow fallback and Cursor/Ollama event types
  server/__tests__/agent-messenger.test.ts
Due: server

fix(frontend): move comms to /observe/comms and fix cache-busting regex
  client/src/app/app.routes.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/assets/fonts/SpaceGrotesk-Variable.ttf
  server/index.ts
Due: server, client

feat(docs): add GitHub Pages deployment workflow for docs/
  .github/workflows/pages.yml
Due: none
