Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

fix: remove unused listMemories import in test
  server/__tests__/on-chain-memory-reader.test.ts
Due: server

fix: reduce dashboard component CSS to fit within 14kB budget
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

fix: update specs and stats for on-chain memory tools
  README.md
  docs/deep-dive.md
  specs/lib/infra.spec.md
Due: none

feat: multi-agent dashboard UX — onboarding, flock browser, profiles, analytics (#1197)
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
Due: client

feat: adaptive inline response — skip progress embed for quick replies
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
Due: server

fix: add new exports to discord bridge spec for CI
  specs/discord/bridge.spec.md
Due: none

feat: add on-chain memory reader and sync tools (#1196)
  README.md
  docs/deep-dive.md
  server/__tests__/on-chain-memory-reader.test.ts
  server/algochat/agent-messenger.ts
  server/algochat/on-chain-transactor.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/routes/mcp-api.ts
  specs/algochat/on-chain.spec.md
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
Due: server

feat: adaptive inline response — skip progress embed for quick replies (#1198)
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/discord/bridge.spec.md
Due: server

feat: forward Discord image attachments to agent context (#1176)
  server/__tests__/discord-image-attachments.test.ts
  server/discord/image-attachments.ts
  server/discord/message-handler.ts
  server/discord/types.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/sdk-process.ts
  specs/discord/bridge.spec.md
Due: server

chore: release v0.36.0
  README.md
  docs/deep-dive.md
  package.json
  server/__tests__/process-manager-external-mcp.test.ts
  server/process/manager.ts
Due: server

test: add ProcessManager.sendMessage multimodal coverage
  server/__tests__/process-manager-sendmessage.test.ts
Due: server

fix: add runtime tests for resumeProcess external MCP loading
  server/__tests__/process-manager-external-mcp.test.ts
Due: server

test: improve coverage for image attachment extraction
  server/__tests__/discord-image-attachments.test.ts
Due: server

docs: update CHANGELOG with v0.33.0 through v0.36.0 entries
  CHANGELOG.md
Due: none

docs: update CHANGELOG with v0.33.0 through v0.36.0 entries (#1202)
  CHANGELOG.md
Due: none

fix: add runtime tests for resumeProcess external MCP loading (#1201)
  server/__tests__/process-manager-external-mcp.test.ts
Due: server

feat: forward Discord image attachments to agent context (#1199)
  server/__tests__/discord-image-attachments.test.ts
  server/__tests__/process-manager-sendmessage.test.ts
  server/discord/image-attachments.ts
  server/discord/message-handler.ts
  server/discord/types.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/sdk-process.ts
  specs/discord/bridge.spec.md
Due: server

fix: add missing memory tools to MCP package and fix build
  .gitignore
  packages/corvid-agent-mcp/src/server.ts
  packages/corvid-agent-mcp/tsup.config.ts
Due: none

docs: add JSDoc @param/@returns to server/lib/ exported functions
  server/lib/errors.ts
  server/lib/resilience.ts
  server/lib/response.ts
  server/lib/secure-wipe.ts
Due: server

feat: add cheerleading detection for agent sessions (#1021)
  server/__tests__/session-analysis.test.ts
  server/lib/session-analysis.ts
  server/process/manager.ts
Due: server

fix: extract cheerleading detection out of manager.ts (Layer 0)
  server/bootstrap.ts
  server/process/manager.ts
  server/process/session-cheerleading-detector.ts
Due: server

feat: add on-chain fallback to recall_memory and show full txids
  server/__tests__/tool-handlers.test.ts
  server/mcp/tool-handlers/memory.ts
Due: server

fix: allow server mnemonic as encryption fallback on testnet
  server/__tests__/crypto.test.ts
  server/lib/crypto.ts
Due: server

refactor: replace unsafe `as any` casts with type guard in exam runner
  server/exam/runner.ts
Due: server

feat: integrate response quality scoring into direct process loop
  server/__tests__/process-manager-metrics.test.ts
  server/__tests__/response-quality.test.ts
  server/lib/response-quality.ts
  server/process/direct-process.ts
  server/process/types.ts
  specs/lib/response-quality.spec.md
Due: server

fix: correct stale error case in response-quality spec
  specs/lib/response-quality.spec.md
Due: none

fix: update spec count to 153 in README and deep-dive docs
  README.md
  docs/deep-dive.md
Due: none

feat: on-chain fallback for recall_memory + full txid display (#1206)
  server/__tests__/crypto.test.ts
  server/__tests__/tool-handlers.test.ts
  server/exam/runner.ts
  server/lib/crypto.ts
  server/mcp/tool-handlers/memory.ts
Due: server

feat: response quality scoring and cheerleading detection (#1207)
  README.md
  docs/deep-dive.md
  server/__tests__/process-manager-metrics.test.ts
  server/__tests__/response-quality.test.ts
  server/lib/response-quality.ts
  server/process/direct-process.ts
  server/process/types.ts
  specs/lib/response-quality.spec.md
Due: server

chore: update documented stats (7836 unit tests, 326 files)
  README.md
  docs/deep-dive.md
Due: none

feat: emit escalation metadata for stalled sessions and add escalate endpoint
  server/__tests__/escalation.test.ts
  server/process/direct-process.ts
  server/process/types.ts
  server/routes/index.ts
  server/routes/sessions.ts
Due: server

fix(security): validate wallet address format from query params
  server/__tests__/guards.test.ts
  server/middleware/guards.ts
Due: server

fix: resolve CI failures — add specs, tests, and check off task list
  server/__tests__/routes-sessions.test.ts
  specs/process/claude-process.spec.md
  specs/process/direct-process.spec.md
  specs/routes/routes.spec.md
Due: server

fix(coverage): improve patch coverage for session escalation feature
  server/__tests__/routes-sessions.test.ts
  server/process/direct-process.ts
Due: server

docs(spec): add wallet query param validation to middleware-pipeline spec
  specs/middleware/middleware-pipeline.spec.md
Due: none

feat: add bot verification challenges and flock_testing schedule handler (#896)
  server/__tests__/flock-testing-challenges.test.ts
  server/__tests__/flock-testing-evaluator.test.ts
  server/__tests__/flock-testing-runner.test.ts
  server/__tests__/scheduler-flock-testing.test.ts
  server/flock-directory/testing/challenges.ts
  server/flock-directory/testing/evaluator.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/flock-testing.ts
  server/scheduler/handlers/index.ts
  server/scheduler/priority-rules.ts
  shared/types/schedules.ts
  specs/flock-directory/testing-challenges.spec.md
  specs/flock-directory/testing-evaluator.spec.md
  specs/scheduler/handlers.spec.md
Due: server

fix(security): validate wallet address format from query params (#1210)
  server/__tests__/guards.test.ts
  server/middleware/guards.ts
  specs/middleware/middleware-pipeline.spec.md
Due: server
