Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat(ui): new shell layout — top nav, activity rail, chat home (#1272)
  client/src/app/app.routes.ts
  client/src/app/app.ts
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: expand skills to 29 — full tool + workflow coverage
  .mcp.json
  CLAUDE.md
  server/improvement/health-collector.ts
  skills/README.md
  skills/agent-discovery/SKILL.md
  skills/code-analysis/SKILL.md
  skills/coding/SKILL.md
  skills/contacts/SKILL.md
  skills/credits/SKILL.md
  skills/database/SKILL.md
  skills/discord/SKILL.md
  skills/git/SKILL.md
  skills/health/SKILL.md
  skills/messaging/SKILL.md
  skills/owner-comms/SKILL.md
  skills/projects/SKILL.md
  skills/repo-management/SKILL.md
  skills/rest-api/SKILL.md
  skills/search/SKILL.md
  skills/swift/SKILL.md
  skills/telegram/SKILL.md
  skills/testing/SKILL.md
  skills/verification/SKILL.md
  skills/voice/SKILL.md
  skills/work-tasks/SKILL.md
Due: server

feat: add Biome linter, fix localnet auto-fund, update Discord/messaging skills
  CLAUDE.md
  biome.json
  bun.lock
  package.json
  scripts/localnet-fund.ts
  server/algochat/agent-wallet.ts
  skills/discord/SKILL.md
  skills/messaging/SKILL.md
  skills/verification/SKILL.md
Due: server

docs: sync API reference with code — add 29 undocumented endpoints and fix README stats (#1280)
  README.md
  docs/api-reference.md
Due: none

feat: expand skills to 29, add Biome linter, fix localnet auto-fund (#1281)
  .mcp.json
  CLAUDE.md
  biome.json
  bun.lock
  package.json
  scripts/localnet-fund.ts
  server/algochat/agent-wallet.ts
  server/improvement/health-collector.ts
  skills/README.md
  skills/agent-discovery/SKILL.md
  skills/code-analysis/SKILL.md
  skills/coding/SKILL.md
  skills/contacts/SKILL.md
  skills/credits/SKILL.md
  skills/database/SKILL.md
  skills/discord/SKILL.md
  skills/git/SKILL.md
  skills/health/SKILL.md
  skills/messaging/SKILL.md
  skills/owner-comms/SKILL.md
  skills/projects/SKILL.md
  skills/repo-management/SKILL.md
  skills/rest-api/SKILL.md
  skills/search/SKILL.md
  skills/swift/SKILL.md
  skills/telegram/SKILL.md
  skills/testing/SKILL.md
  skills/verification/SKILL.md
  skills/voice/SKILL.md
  skills/work-tasks/SKILL.md
Due: server

test: add integration test for health-collector node_modules exclusion
  server/__tests__/health-collector-integration.test.ts
Due: server

feat: add Discord file attachments and simplify embed footer
  server/__tests__/discord-embeds-validation.test.ts
  server/discord/embeds.ts
  server/process/sdk-process.ts
Due: server

fix: resolve CI failures — add undocumented exports to bridge spec, update README stats
  README.md
  specs/discord/bridge.spec.md
Due: none

feat: restore rich Discord embed footer with session stats
  README.md
  docs/deep-dive.md
  server/__tests__/discord-embeds-validation.test.ts
  server/discord/embeds.ts
  server/discord/thread-manager.ts
Due: server

feat: wire tool call count into Discord completion embed
  server/discord/thread-manager.ts
Due: server

fix: conditionally enable Chrome tools based on extension availability
  server/process/sdk-process.ts
Due: server

feat: Discord file attachments and cleaner embed footer (#1282)
  README.md
  docs/deep-dive.md
  server/__tests__/discord-embeds-validation.test.ts
  server/__tests__/health-collector-integration.test.ts
  server/discord/embeds.ts
  server/discord/thread-manager.ts
  server/process/sdk-process.ts
  specs/discord/bridge.spec.md
Due: server

fix: conditionally enable Chrome tools based on extension availability (#1283)
  server/process/sdk-process.ts
Due: server

fix: use bridge config for Chrome detection instead of socket path
  server/process/sdk-process.ts
Due: server

fix: use bridge config for Chrome detection instead of socket path (#1284)
  server/process/sdk-process.ts
Due: server

feat: glassmorphism UI refresh + Discord embed color passthrough (#1285)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
  server/__tests__/discord-command-handlers.test.ts
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/discord/bridge.spec.md
Due: server, client

feat: glassmorphism UI refresh + Discord embed color passthrough (#1285) (#1286)
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
  server/__tests__/discord-command-handlers.test.ts
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  server/discord/thread-manager.ts
  specs/discord/bridge.spec.md
Due: server, client

chore: update README unit test count (8208 → 8213)
  README.md
Due: none

chore: update README unit test count (8208 → 8213) (#1287)
  README.md
Due: none

fix: make flock register idempotent for duplicate addresses
  server/__tests__/flock-directory-service.test.ts
  server/flock-directory/service.ts
Due: server

fix: make flock register idempotent for duplicate addresses (#1288)
  server/__tests__/flock-directory-service.test.ts
  server/flock-directory/service.ts
Due: server

feat: add corvid_browser MCP tool for agent browser automation
  server/algochat/init.ts
  server/bootstrap.ts
  server/browser/service.ts
  server/index.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/browser.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/process/mcp-service-container.ts
Due: server

feat: add corvid_browser MCP tool for agent browser automation (#1289)
  server/algochat/init.ts
  server/bootstrap.ts
  server/browser/service.ts
  server/index.ts
  server/mcp/sdk-tools.ts
  server/mcp/tool-handlers/browser.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/types.ts
  server/process/mcp-service-container.ts
Due: server

fix: remove --chrome flag from SDK sessions
  server/process/sdk-process.ts
Due: server

fix: remove --chrome flag from SDK sessions (#1290)
  server/process/sdk-process.ts
Due: server

fix: allow Discord messages with only image attachments
  server/discord/message-handler.ts
Due: server

fix: allow Discord messages with only image attachments (#1291)
  server/discord/message-handler.ts
Due: server

fix: allow image-only messages in mention reply handlers
  server/discord/message-handler.ts
Due: server

feat: add Discord image sending endpoint and image block streaming
  server/discord/thread-manager.ts
  server/process/types.ts
  server/routes/discord-image.ts
  server/routes/index.ts
Due: server

feat: add Discord image sending endpoint and image block streaming (#1293)
  server/discord/thread-manager.ts
  server/process/types.ts
  server/routes/discord-image.ts
  server/routes/index.ts
Due: server

fix: resolve CI failures — add missing specs and update stats
  README.md
  docs/deep-dive.md
  specs/browser/service.spec.md
  specs/mcp/tool-handlers.spec.md
Due: none

fix: include image URLs in Discord session start to prevent double responses
  server/discord/message-handler.ts
Due: server

fix: include image URLs in Discord session start to prevent double responses (#1294)
  server/discord/message-handler.ts
Due: server

fix: document extractContentImageUrls and discord-image route in specs
  specs/process/claude-process.spec.md
  specs/routes/routes.spec.md
Due: none

fix: allow image-only messages in mention-reply handlers
  server/discord/message-handler.ts
Due: server

fix: allow image-only messages in Discord mention-reply handlers (#1295)
  server/discord/message-handler.ts
Due: server

debug: add logging for Discord image attachment flow
  server/discord/gateway.ts
  server/discord/message-handler.ts
  server/process/sdk-process.ts
Due: server

debug: add logging for Discord image attachment flow (#1296)
  server/discord/gateway.ts
  server/discord/message-handler.ts
  server/process/sdk-process.ts
Due: server

fix: allow image-only messages in mention reply handlers (#1292)
  README.md
  docs/deep-dive.md
  specs/browser/service.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/process/claude-process.spec.md
  specs/routes/routes.spec.md
Due: none

test: add coverage for observations, graduation service, and selftest config
  server/__tests__/graduation-service.test.ts
  server/__tests__/observations.test.ts
  server/__tests__/selftest-service.test.ts
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
