Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat(discord): persist thread-session mappings to SQLite for restart recovery
  server/db/discord-mention-sessions.ts
  server/db/discord-thread-sessions.ts
  server/db/migrations/112_discord_thread_sessions.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/discord/thread-lifecycle.ts
  server/discord/thread-manager.ts
  server/discord/thread-session-map.ts
Due: server

docs(specs): update process-manager and observations specs for context reset observations
  specs/db/observations.spec.md
  specs/process/process-manager.spec.md
Due: none

fix: exclude build artifacts from CodeQL scanning (#1745)
  .github/codeql-config.yml
Due: none

fix(docs): declutter nav bar and improve "Who Is This For?" section (#1746)
  docs/index.html
Due: none

feat(memory): save conversation summaries as observations on context reset (#1753)
  server/__tests__/session-memory-autosave.test.ts
  server/process/manager.ts
  specs/db/observations.spec.md
  specs/process/process-manager.spec.md
Due: server

fix(ollama): add XML and ReAct tool call parsing for junior agents (#1748)
  server/__tests__/tool-parser.test.ts
  server/db/session-metrics.ts
  server/process/direct-process.ts
  server/process/types.ts
  server/providers/ollama/provider.ts
  server/providers/ollama/tool-parser.ts
Due: server

feat(benchmark): Ollama cloud model AlgoChat reliability benchmark (#1744)
  docs/ollama-cloud-benchmark.md
  scripts/benchmark-ollama-cloud.ts
Due: none

feat(ui): add Search button to mobile bottom nav for command palette discovery (#1614) (#1739)
  client/src/app/shared/components/mobile-bottom-nav.component.ts
Due: client

feat(memory): default all new saves to short-term (SQLite) with explicit promote to on-chain (#1720) (#1741)
  docs/deep-dive.md
  server/__tests__/agent-memories.test.ts
  server/__tests__/arc69-store.test.ts
  server/__tests__/memory-manager.test.ts
  server/__tests__/routes-mcp-api.test.ts
  server/__tests__/session-memory-autosave.test.ts
  server/__tests__/tool-handlers.test.ts
  server/db/agent-memories.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-catalog.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/mcp/tool-permissions.ts
  server/memory/arc69-store.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/memory.spec.md
Due: server

feat(discord): persist thread-session mappings to SQLite for restart recovery (#1754)
  server/db/discord-mention-sessions.ts
  server/db/discord-thread-sessions.ts
  server/db/migrations/112_discord_thread_sessions.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/message-handler.ts
  server/discord/thread-lifecycle.ts
  server/discord/thread-manager.ts
  server/discord/thread-session-map.ts
Due: server

fix(discord): persist and recover mention sessions across restarts (#1749)
  server/__tests__/discord-thread-session-manager.test.ts
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/thread-manager.ts
  server/discord/thread-session-manager.ts
Due: server

fix(discord): persist and recover mention sessions across restarts (#1749) (#1752)
  server/__tests__/discord-thread-session-manager.test.ts
  server/db/discord-mention-sessions.ts
  server/discord/bridge.ts
  server/discord/thread-manager.ts
  server/discord/thread-session-manager.ts
Due: server

fix(specs): document getRecentMentionSessions and recoverActiveMentionSessions exports
  specs/db/discord-mention-sessions.spec.md
  specs/discord/bridge.spec.md
Due: none

fix(specs): document all undocumented exports and fix coverage gaps
  docs/deep-dive.md
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/discord-thread-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: none

fix(specs): update agent-memories spec for short_term default and add missing exports
  server/__tests__/tool-handlers.test.ts
  shared/tool-categories.ts
  specs/db/agent-memories.spec.md
Due: server

feat(memory): add TTL-based decay and cleanup for short-term memories (#1722)
  server/__tests__/improvement-loop.test.ts
  server/__tests__/memory-decay.test.ts
  server/__tests__/memory-short-term-decay.test.ts
  server/__tests__/prompt-builder.test.ts
  server/db/agent-memories.ts
  server/memory/graduation-service.ts
  server/memory/index.ts
  shared/types/memories.ts
  specs/memory/memory.spec.md
Due: server

fix(lint): clean up Biome lint warnings in scripts and shared code
  biome.json
  scripts/ci-security-scan.ts
  scripts/governance-check.ts
  scripts/localnet-fund.ts
  scripts/screenshot.ts
  scripts/version-check.ts
  shared/ws-protocol.ts
Due: server

fix(lint): clean up Biome lint warnings in scripts and shared code (#1758)
  biome.json
  scripts/ci-security-scan.ts
  scripts/governance-check.ts
  scripts/localnet-fund.ts
  scripts/screenshot.ts
  scripts/version-check.ts
  shared/ws-protocol.ts
Due: server

chore: bump version to 0.60.0
  package.json
Due: none

fix(specs): add missing exports and coverage for 100% spec validation
  docs/deep-dive.md
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/discord-thread-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: none

fix: resolve CI failures — add missing spec exports and update stats
  docs/deep-dive.md
  specs/db/discord-mention-sessions.spec.md
  specs/discord/bridge.spec.md
Due: none

feat(memory): implement short-term memory decay and cleanup (#1722)
  answer.md
  server/__tests__/improvement-loop.test.ts
  server/__tests__/memory-decay.test.ts
  server/__tests__/prompt-builder.test.ts
  server/db/agent-memories.ts
  server/db/migrations/113_memory_decay.ts
  server/db/schema/index.ts
  server/memory/graduation-service.ts
  server/memory/index.ts
  shared/types/memories.ts
  specs/db/agent-memories.spec.md
  specs/memory/memory.spec.md
Due: server

chore: remove accidentally committed answer.md
  answer.md
Due: none

fix(ci): resolve client build TS4111 errors and update spec_files stat
  docs/deep-dive.md
  shared/ws-protocol.ts
Due: server

chore: upgrade spec-sync from v2.1.0 to v3.2.0
  .github/workflows/checks.yml
  package.json
  scripts/specsync.sh
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/discord-thread-sessions.spec.md
  specs/db/session-metrics.spec.md
  specs/discord/bridge.spec.md
  specs/lib/schemas/index.spec.md
  specs/memory/memory-graduation.spec.md
  specs/observability/observability.spec.md
  specs/reputation/response-feedback.spec.md
  specs/routes/routes.spec.md
Due: none

fix(ci): resolve CI failures for PR #1760
  docs/deep-dive.md
  server/__tests__/graduation-service.test.ts
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/discord/bridge.spec.md
Due: server

fix(ci): add missing specs for 100% file coverage
  specs/db/discord-thread-sessions.spec.md
  specs/db/migrations.spec.md
Due: none

fix: resolve CI failures — TS4111 bracket notation and stats drift
  docs/deep-dive.md
  shared/ws-protocol.ts
Due: server

fix(specs): add spec coverage for discord-thread-sessions and migration 112
  specs/db/migrations.spec.md
  specs/discord/thread-session-map.spec.md
Due: none

fix(specs): update agent-memories spec for short_term default (#1756)
  server/__tests__/tool-handlers.test.ts
  shared/tool-categories.ts
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/discord/thread-session-map.spec.md
Due: server

feat(memory): implement short-term memory decay and cleanup (#1760)
  docs/deep-dive.md
  server/__tests__/graduation-service.test.ts
  server/__tests__/improvement-loop.test.ts
  server/__tests__/memory-decay.test.ts
  server/__tests__/prompt-builder.test.ts
  server/db/agent-memories.ts
  server/db/migrations/113_memory_decay.ts
  server/db/schema/index.ts
  server/memory/graduation-service.ts
  server/memory/index.ts
  shared/types/memories.ts
  specs/db/agent-memories.spec.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/discord-thread-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
  specs/memory/memory.spec.md
Due: server

release: v0.60.0 (#1759)
  package.json
Due: none

docs: add v0.60.0 changelog and update releases page
  CHANGELOG.md
  docs/releases.html
Due: none

docs: add v0.60.0 changelog and update releases page (#1763)
  CHANGELOG.md
  docs/releases.html
Due: none

fix(docs): replace nested anchor tag with span in audience card
  docs/index.html
Due: none
