Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

test(contacts): add pagination coverage for GET /api/contacts
  server/__tests__/routes-contacts.test.ts
Due: server

test(coverage): add route tests for discord-image, marketplace-analytics, and flock-testing (#1857)
  server/__tests__/routes-discord-image.test.ts
  server/__tests__/routes-flock-testing.test.ts
  server/__tests__/routes-marketplace-analytics.test.ts
  server/routes/discord-image.ts
  specs/routes/routes.spec.md
Due: server

test(contacts): add pagination coverage for GET /api/contacts (#1859)
  server/__tests__/routes-contacts.test.ts
Due: server

chore: update specsync from v3.2.0 to v3.3.0
  scripts/specsync.sh
Due: none

feat(memory): mark arc69-memory spec as active — implementation complete
  specs/memory/arc69-memory.spec.md
Due: none

chore: update specsync from v3.2.0 to v3.3.0 (#1860)
  scripts/specsync.sh
Due: none

chore: track specsync hashes for incremental validation
  .specsync/hashes.json
Due: none

chore: update specsync from v3.2.0 to v3.3.0 with incremental validation (#1862)
  .specsync/hashes.json
Due: none

feat(memory): ARC-69 memory store CRUD + security hardening (#1861)
  specs/memory/arc69-memory.spec.md
Due: none

fix: queue work tasks on concurrency race instead of rejecting
  server/work/service.ts
Due: server

fix(test): speed up flaky withRetry defaults test for coverage CI
  server/__tests__/resilience.test.ts
Due: server

chore(tsconfig): remove deprecated baseUrl from client tsconfig
  client/tsconfig.json
Due: none

feat(ui): migrate 20 pages to PageShell for consistent layout (#1611)
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
Due: client

feat(ui): migrate 10 complex pages to PageShell + add animations (#1611, #1612)
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/projects/project-detail.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
Due: client

fix(ui): remove extra closing div in project-detail template
  client/src/app/features/projects/project-detail.component.ts
Due: client

feat(ui): typography & readability improvements across all components (#1616)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agents/agent-detail.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-detail.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/session-input.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/styles.css
Due: client

fix: queue work tasks on concurrency race instead of rejecting (#1865)
  server/work/service.ts
Due: server

test(mcp): add tool-permissions coverage for resolveAllowedTools and DEFAULT_ALLOWED_TOOLS
  server/__tests__/tool-permissions.test.ts
Due: server

blog: add spec-sync in Practice post
  docs/blog.html
Due: none

blog: add spec-sync in Practice post (#1874)
  docs/blog.html
Due: none

test(mcp): add tool-permissions coverage + fix work task race condition (#1873)
  server/__tests__/tool-permissions.test.ts
Due: server

docs(README): update tech stack stats to reflect current state
  README.md
Due: none

test(coverage): add route tests for discord-image, marketplace-analytics, and flock-testing
  server/__tests__/routes-discord-image.test.ts
Due: server

test: coverage for discord-image, flock-testing, marketplace-analytics routes (#1868)
  README.md
  server/__tests__/routes-discord-image.test.ts
Due: server

chore: TypeScript 6.0 prep — remove deprecated baseUrl from client tsconfig (#1867)
  client/tsconfig.json
Due: none

feat(ui): replace hardcoded colors with design tokens across all components (#1611)
  client/src/app/features/agent-comms/agent-comms.component.ts
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
  client/src/app/features/agents/agent-list.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/feed/live-feed.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

refactor(library-3d): split 1392-line component into focused service/utils
  client/src/app/features/library/library-3d-mesh.utils.ts
  client/src/app/features/library/library-3d-scene.service.ts
  client/src/app/features/library/library-3d.component.css
  client/src/app/features/library/library-3d.component.ts
Due: client

refactor(tests): split work-task-service.test.ts into 8 focused files
  server/__tests__/work-task-bun-install.test.ts
  server/__tests__/work-task-creation.test.ts
  server/__tests__/work-task-governance.test.ts
  server/__tests__/work-task-lifecycle.test.ts
  server/__tests__/work-task-pr.test.ts
  server/__tests__/work-task-repo-map.test.ts
  server/__tests__/work-task-service.test.ts
  server/__tests__/work-task-shutdown.test.ts
  server/__tests__/work-task-test-helpers.ts
  server/__tests__/work-task-validation.test.ts
Due: server

feat(ui): replace hardcoded spacing and border-radius with design tokens (#1611)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

feat(ui): replace hardcoded colors with design tokens across all components (#1611)
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agent-comms/agent-network-vis.component.ts
  client/src/app/features/chat-home/onboarding.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-view.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/work-tasks/work-task-detail.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
  client/src/app/shared/components/keyboard-shortcuts-overlay.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
Due: client

refactor(tests): split work-task-service.test.ts into 8 focused files (#1871)
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/analytics/analytics.component.ts
  client/src/app/features/contacts/contact-list.component.ts
  client/src/app/features/councils/council-list.component.ts
  client/src/app/features/flock-challenges/flock-challenges.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/library/library-3d.component.ts
  client/src/app/features/library/library.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/memory-browser/memory-browser.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/personas/persona-manager.component.ts
  client/src/app/features/projects/project-list.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/schedules/schedule-list.component.ts
  client/src/app/features/security-overview/security-overview.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  server/__tests__/work-task-bun-install.test.ts
  server/__tests__/work-task-creation.test.ts
  server/__tests__/work-task-governance.test.ts
  server/__tests__/work-task-lifecycle.test.ts
  server/__tests__/work-task-pr.test.ts
  server/__tests__/work-task-repo-map.test.ts
  server/__tests__/work-task-service.test.ts
  server/__tests__/work-task-shutdown.test.ts
  server/__tests__/work-task-test-helpers.ts
  server/__tests__/work-task-validation.test.ts
Due: server, client
