Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

test: add coverage for observations, graduation service, and selftest config (#1285)
  server/__tests__/graduation-service.test.ts
  server/__tests__/observations.test.ts
  server/__tests__/selftest-service.test.ts
Due: server

docs: update README, CHANGELOG, and version for v0.41.0 (#1297)
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: persist channel_id in Discord mention sessions
  server/db/discord-mention-sessions.ts
  server/db/migrations/096_mention_session_channel_id.ts
  server/db/schema/discord.ts
  server/discord/message-handler.ts
  skills/discord/SKILL.md
Due: server

fix: add migration 096 to specs and update migration stats
  README.md
  docs/deep-dive.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
Due: none

feat: chat-first home page with recent conversations and quick-start templates (#1268)
  client/src/app/features/chat-home/chat-home.component.ts
Due: client

fix: sync legacy schema with migration 096 (channel_id)
  server/db/schema/index.ts
Due: server

fix: persist channel_id in Discord mention sessions (#1298)
  README.md
  client/src/app/features/chat-home/chat-home.component.ts
  docs/deep-dive.md
  self-review.html
  server/db/discord-mention-sessions.ts
  server/db/migrations/096_mention_session_channel_id.ts
  server/db/schema/discord.ts
  server/db/schema/index.ts
  server/discord/embeds.ts
  server/discord/message-handler.ts
  skills/discord/SKILL.md
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
Due: server, client

docs: add Discord channel_id fix to v0.41.0 changelog
  CHANGELOG.md
Due: none

Release v0.41.0 (#1297)
  CHANGELOG.md
  README.md
  package.json
Due: none

feat: restructure navigation from 3 tabs to 5 logical groups
  client/src/app/app.routes.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: multi-chat tab keyboard shortcuts and enhanced tab bar (#1269)
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
Due: client

feat: add styled empty states to 8 feature pages
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
Due: client

fix: log warnings in silent catch blocks instead of swallowing errors
  server/bootstrap.ts
  server/browser/service.ts
  server/lib/project-dir.ts
  server/observability/tracing.ts
  server/providers/ollama/provider.ts
Due: server

feat: dashboard cleanup — restore route, fix spending page, update nav
  .gitignore
  client/src/app/app.routes.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: add /message command — pure conversation, zero tools
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/097_mention_session_conversation_only.ts
  server/discord/bridge.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/commands.ts
  server/discord/message-handler.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server

fix: add c8 ignore comments for defensive catch blocks
  server/bootstrap.ts
  server/browser/service.ts
  server/lib/project-dir.ts
  server/observability/tracing.ts
  server/providers/ollama/provider.ts
Due: server

fix: deduplicate Discord MESSAGE_CREATE to prevent double responses
  server/discord/bridge.ts
  server/discord/message-handler.ts
Due: server

feat: multi-chat tab keyboard shortcuts and enhanced tab bar (#1269) (#1301)
  client/src/app/core/services/chat-tabs.service.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
Due: client

feat: empty states + dashboard cleanup (#1302)
  .gitignore
  client/src/app/app.routes.ts
  client/src/app/core/services/keyboard-shortcuts.service.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/marketplace/marketplace.component.ts
  client/src/app/features/mention-polling/mention-polling-list.component.ts
  client/src/app/features/reputation/reputation.component.ts
  client/src/app/features/skill-bundles/skill-bundle-list.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/webhooks/webhook-list.component.ts
  client/src/app/features/workflows/workflow-list.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

fix: log warnings in silent catch blocks (#1303)
  server/bootstrap.ts
  server/browser/service.ts
  server/lib/project-dir.ts
  server/observability/tracing.ts
  server/providers/ollama/provider.ts
Due: server

fix: deduplicate Discord MESSAGE_CREATE to prevent double responses (#1305)
  server/discord/bridge.ts
  server/discord/message-handler.ts
Due: server

feat: restructure navigation from 3 tabs to 5 logical groups (#1300)
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: add /message command — pure conversation, zero tools (#1304)
  server/__tests__/discord-command-handlers.test.ts
  server/__tests__/discord-commands-additional.test.ts
  server/db/discord-mention-sessions.ts
  server/db/migrations/097_mention_session_conversation_only.ts
  server/discord/bridge.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/commands.ts
  server/discord/message-handler.ts
  server/process/direct-process.ts
  server/process/manager.ts
  server/process/sdk-process.ts
Due: server

feat: add Flock Directory browsing page with search, filters, and agent profiles
  client/src/app/app.routes.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: add Flock Directory browsing page with search, filters, and agent profiles (#1306)
  client/src/app/app.routes.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: add Simple/Developer view mode toggle to dashboard
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: add Simple/Developer view mode toggle to dashboard (#1307)
  client/src/app/core/services/widget-layout.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: apply view mode to sidebar and top nav for progressive disclosure
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: apply view mode to sidebar and top nav for progressive disclosure (#1308)
  client/src/app/shared/components/sidebar.component.ts
  client/src/app/shared/components/top-nav.component.ts
Due: client

feat: add first-run guided tour with spotlight overlay (#1249)
  client/src/app/app.ts
  client/src/app/core/services/guided-tour.service.ts
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/settings/settings.component.ts
  client/src/app/shared/components/command-palette.component.ts
  client/src/app/shared/components/guided-tour.component.ts
Due: client

feat: make MCP tools opt-in per CLI session
  cli/commands/chat.ts
  cli/commands/interactive.ts
  cli/index.ts
  server/algochat/bridge.ts
  server/algochat/message-router.ts
  server/process/manager.ts
  server/ws/handler.ts
  shared/__tests__/tool-categories.test.ts
  shared/tool-categories.ts
  shared/ws-protocol.ts
Due: server

feat: add per-widget refresh, error boundaries, chart tooltips, and richer empty states
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: dashboard polish — per-widget refresh, error boundaries, chart tooltips, better empty states
  client/angular.json
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

fix: resolve CI failures — sync schema, specs, stats for migration 097
  README.md
  docs/deep-dive.md
  server/db/schema/discord.ts
  server/db/schema/index.ts
  specs/db/discord-mention-sessions.spec.md
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server

feat: dashboard polish round 2 — sticky toolbar, connection indicator, keyboard shortcuts, refresh overlay
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

feat: auto-escalate stalled Ollama sessions to task queue (Closes #1020)
  server/__tests__/ollama-stall-escalator.test.ts
  server/bootstrap.ts
  server/lib/session-analysis.ts
  server/process/ollama-stall-escalator.ts
Due: server

fix: dashboard layout bugs — status section overflow, view toggle shift, text truncation
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/shared/components/chat-tab-bar.component.ts
  e2e/capture-screenshots.ts
  e2e/dashboard-visual.spec.ts
Due: client

feat: surface Ollama complexity warning in UI, Discord, and audit log
  client/src/app/core/models/session.model.ts
  client/src/app/features/sessions/session-launcher.component.ts
  server/db/audit.ts
  server/discord/message-handler.ts
  server/routes/sessions.ts
Due: server, client

fix: resolve CI failures — add migration 97 to inline schema, update specs and stats
  README.md
  docs/deep-dive.md
  server/db/schema/index.ts
  specs/db/migrations.spec.md
  specs/discord/bridge.spec.md
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
