Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

docs: add Library API documentation and spec coverage (#1656)
  docs/api-reference.md
  specs/routes/routes.spec.md
Due: none

fix(discord): stop zombie progress intervals when session dies (#1660)
  server/discord/thread-manager.ts
  specs/middleware/auth.spec.md
Due: server

feat(library): book reader overlay with grouped entries and continuous page view
  client/src/app/core/services/library.service.ts
  client/src/app/features/library/library-browser.component.ts
  client/src/app/features/library/library.component.ts
  server/db/agent-library.ts
  server/routes/library.ts
Due: server, client

feat(ui): Phase 3 UI polish — custom fonts, component refinements
  .discord-last-connect
  PLUGIN_SYSTEM_DESIGN.md
  client/src/app/features/agent-comms/agent-network-3d.component.ts
  client/src/app/features/agents/agent-form.component.ts
  client/src/app/features/allowlist/allowlist.component.ts
  client/src/app/features/brain-viewer/brain-viewer.component.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  client/src/app/features/github-allowlist/github-allowlist.component.ts
  client/src/app/features/logs/system-logs.component.ts
  client/src/app/features/mcp-servers/mcp-server-list.component.ts
  client/src/app/features/models/models.component.ts
  client/src/app/features/repo-blocklist/repo-blocklist.component.ts
  client/src/app/features/sessions/approval-dialog.component.ts
  client/src/app/features/sessions/session-list.component.ts
  client/src/app/features/sessions/session-output.component.ts
  client/src/app/features/spending/spending.component.ts
  client/src/app/features/wallets/wallet-viewer.component.ts
  client/src/app/features/work-tasks/work-task-list.component.ts
  client/src/app/shared/components/cron-editor.component.ts
  client/src/app/shared/components/empty-state.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/route-error.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/assets/fonts/JetBrainsMono-Variable.ttf
  client/src/assets/fonts/SpaceGrotesk-Variable.ttf
  client/src/index.html
  client/src/styles.css
  crates/corvid-plugin-api/Cargo.toml
  crates/corvid-sandbox/Cargo.toml
  crates/corvid-sandbox/src/lib.rs
  playwright.config.js.esm.preflight
Due: client

feat(ui): Phase 2 design tokens — CSS variable migration for terminal, providers, networks
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/features/settings/settings.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/terminal-chat.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
Due: client

refactor(discord): extract ThreadSessionManager + add unit tests (#1662)
  server/__tests__/discord-thread-session-manager.test.ts
  server/discord/bridge.ts
  server/discord/thread-session-manager.ts
  specs/discord/bridge.spec.md
Due: server

fix(ui): replace color-mix() with explicit CSS variables for browser compat
  client/src/app/features/dashboard/dashboard.component.css
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/top-nav.component.ts
  client/src/styles.css
Due: client

fix: resolve CI failures for ThreadSessionManager refactor
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/middleware/auth.spec.md
Due: server

fix: resolve CI failures from ThreadSessionManager refactor (#1662)
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: server

fix(ui): snap Dogica Pixel to clean sizes and bump minimum font sizes
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/cron-editor.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
  client/src/styles.css
Due: client

fix(security): resolve CodeQL TOCTOU race conditions
  server/index.ts
  server/mcp/skill-loader.ts
Due: server

fix(deps): upgrade wasmtime 14.0 → 24 to resolve 6 CVEs
  crates/corvid-sandbox/Cargo.toml
Due: none

fix(deps): bump wasmtime 14→24 to resolve 6 Dependabot CVEs (#1668)
  crates/corvid-sandbox/Cargo.toml
Due: none

fix(security): resolve CodeQL TOCTOU race conditions (#1666)
  server/index.ts
  server/mcp/skill-loader.ts
Due: server

fix: resolve CI failures — update tests for ThreadSessionManager refactor + document missing exports
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: server

fix: resolve CI failures — update tests for ThreadSessionManager refactor and add spec coverage
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: server

fix: resolve CI failures from ThreadSessionManager refactor (#1662) (#1664)
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: server

fix(ui): snap Dogica Pixel to clean sizes, bump minimum fonts (#1665)
  client/src/app/shared/components/activity-rail.component.ts
  client/src/app/shared/components/cron-editor.component.ts
  client/src/app/shared/components/header.component.ts
  client/src/app/shared/components/mobile-bottom-nav.component.ts
  client/src/app/shared/components/view-mode-toggle.component.ts
  client/src/styles.css
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: client

fix: resolve CI failures — update tests for ThreadSessionManager refactor and add spec coverage (#1669)
  server/__tests__/discord-bridge.test.ts
  specs/discord/bridge.spec.md
  specs/memory/arc69-library.spec.md
Due: server

fix(ui): increase home page content width and font sizes
  client/src/app/features/chat-home/chat-home.component.ts
Due: client

fix: resolve N+1 query, WCAG contrast, and junk files
  .discord-last-connect
  .gitignore
  client/src/styles.css
  server/db/agent-library.ts
Due: server, client

fix: resolve N+1 query, WCAG contrast, and junk files
  .discord-last-connect
  .gitignore
  client/src/app/features/chat-home/chat-home.component.ts
  client/src/styles.css
  server/db/agent-library.ts
Due: server, client

release: v0.58.0 — book reader, dashboard modernize, AAA accessibility
  CHANGELOG.md
  README.md
  docs/docs-index.html
  docs/getting-started.html
  docs/index.html
  docs/releases.html
  package.json
Due: none

fix(docs): standardize all GitHub Pages URLs to corvid-agent.github.io
  docs/algochat.html
  docs/architecture.html
  docs/business-guide.html
  docs/docs-index.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: none

fix(docs): standardize all GitHub Pages URLs to corvid-agent.github.io (#1672)
  docs/algochat.html
  docs/architecture.html
  docs/business-guide.html
  docs/docs-index.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: none

blog: add v0.58.0 release post — book reader, dashboard, AAA accessibility
  docs/blog.html
Due: none

blog: add v0.58.0 release post — book reader, dashboard, AAA accessibility (#1673)
  docs/blog.html
Due: none

fix(discord): prevent false crash embeds when resuming ended sessions
  server/discord/command-handlers/component-handlers.ts
  server/discord/message-handler.ts
Due: server

fix(discord): prevent false crash embeds when resuming ended sessions (#1674)
  server/discord/command-handlers/component-handlers.ts
  server/discord/message-handler.ts
Due: server

docs: add recipes, use-case gallery, and docs index for #1488
  README.md
  docs/README.md
  docs/recipes/multi-agent-orchestration.md
  docs/recipes/production-deployment.md
  docs/recipes/your-first-agent.md
  docs/use-case-gallery.md
Due: none

fix(docs): update stale version refs, spec counts, and add post-release fixes
  CHANGELOG.md
  README.md
  docs/index.html
  docs/releases.html
Due: none

fix(docs): update stale version refs, spec counts, and post-release fixes (#1676)
  CHANGELOG.md
  README.md
  docs/index.html
  docs/releases.html
Due: none

fix(discord): resume sessions by creating fresh session when old one can't restart
  server/discord/message-handler.ts
Due: server

fix(discord): resume sessions by creating fresh session when old one can't restart (#1677)
  server/discord/message-handler.ts
Due: server

fix(discord): use static import for discordFetch in autocomplete handler
  server/discord/command-handlers/autocomplete-handler.ts
Due: server
