Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

feat: use Check Registry pattern for Corvin PR reviews
  .github/workflows/ci.yml
Due: none

feat: add corvid-pet (Corvin) to CI and release workflows (#1977)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: lint and formatting — use dot notation for string keys, fix line breaks
  shared/ws-protocol.ts
Due: server

feat(settings): Telegram runtime configuration — DB-backed settings API + UI
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/settings/telegram-settings.component.ts
  server/db/audit.ts
  server/db/telegram-config.ts
  server/routes/settings.ts
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
Due: server, client

fix: add telegram_config migration, tests, and update stats
  .specsync/hashes.json
  CLAUDE.md
  docs/deep-dive.md
  server/__tests__/routes-settings.test.ts
  server/__tests__/telegram-config.test.ts
  server/db/migrations/119_telegram_config.ts
  server/db/schema/index.ts
  server/db/schema/telegram.ts
  server/db/telegram-config.ts
Due: server

fix: add telegram-config spec for 100% coverage CI check
  specs/db/sessions/telegram-config.spec.md
Due: none

fix: resolve CI failures — add missing spec coverage and update stats
  docs/deep-dive.md
  specs/db/migrations.spec.md
  specs/db/schema.spec.md
Due: none

fix: resolve lint vs Angular build conflict for bracket notation
  biome.json
  shared/ws-protocol.ts
Due: server

fix: consolidate PR comments into corvid-pet (Corvin)
  .github/workflows/checks.yml
  codecov.yml
Due: none

fix: lint and formatting cleanup (#1976)
  .github/workflows/checks.yml
  biome.json
  codecov.yml
Due: none

feat(settings): Telegram runtime configuration — DB-backed settings API + UI (#1972)
  .specsync/hashes.json
  CLAUDE.md
  client/src/app/features/settings/settings.component.ts
  client/src/app/features/settings/telegram-settings.component.ts
  docs/deep-dive.md
  server/__tests__/routes-settings.test.ts
  server/__tests__/telegram-config.test.ts
  server/db/audit.ts
  server/db/migrations/119_telegram_config.ts
  server/db/schema/index.ts
  server/db/schema/telegram.ts
  server/db/telegram-config.ts
  server/routes/settings.ts
  specs/db/migrations.spec.md
  specs/db/schema.spec.md
  specs/db/sessions/telegram-config.spec.md
  specs/routes/routes.spec.md
  specs/telegram/bridge.spec.md
Due: server, client

fix: update work-task-service spec to reflect queuing behavior (#1978)
  specs/work/work-task-service.spec.md
Due: none

fix: correct API endpoint counter and update stats in docs
  .specsync/hashes.json
Due: none

chore: update specsync hashes for new tracked files
  .specsync/hashes.json
Due: none

fix: use bracket notation in ws-protocol type guards for Angular compatibility
  shared/ws-protocol.ts
Due: server

fix: correct stats check accuracy — API endpoint counter and doc stats (#1982)
  .specsync/hashes.json
Due: none

fix: update work-task-service spec to reflect queuing behavior (#1978) (#1979)
  specs/work/work-task-service.spec.md
Due: none

chore: dependency update pass (2026-04-12 audit)
  biome.json
  bun.lock
  package.json
Due: none

fix: restore bracket notation for index signature properties in ws-protocol.ts
  shared/ws-protocol.ts
Due: server

fix: revert web-tree-sitter to 0.25.10 (0.26.x breaks AST parser)
  bun.lock
  package.json
Due: none

fix: add startup timeout to kill sessions stuck waiting for model response
  server/__tests__/session-timer-manager.test.ts
  server/process/manager.ts
  server/process/session-timer-manager.ts
Due: server

test: add startup timeout test coverage for session-timer-manager
  server/__tests__/session-timer-manager.test.ts
Due: server

test: add ProcessManager startup timeout integration tests for codecov/patch
  server/__tests__/process-manager-startup-timeout.test.ts
Due: server

fix: prevent duplicate PR comments from cross-config polling triggers
  server/__tests__/polling-service-core.test.ts
  server/polling/service.ts
  specs/polling/mention-polling-service.spec.md
Due: server

fix: prevent duplicate PR comments from cross-config polling triggers (#1985)
  server/__tests__/polling-service-core.test.ts
  server/polling/service.ts
  specs/polling/mention-polling-service.spec.md
Due: server

fix: add startup timeout for sessions stuck on slow model endpoints (#1983)
  server/__tests__/process-manager-startup-timeout.test.ts
  server/__tests__/session-timer-manager.test.ts
  server/process/manager.ts
  server/process/session-timer-manager.ts
Due: server

chore: dependency update pass (2026-04-12 audit) (#1980)
  .specsync/hashes.json
  biome.json
  bun.lock
  package.json
Due: none

docs: TypeScript 6.0.2 upgrade evaluation — GO decision with evidence
  docs/TYPESCRIPT_6_0_UPGRADE_EVALUATION.md
Due: none

feat(deploy): fix data persistence, improve install.sh, add cloud deployment options
  deploy/Dockerfile
  deploy/README.md
  deploy/docker-compose.yml
  deploy/helm/values.yaml
  deploy/k8s/configmap.yaml
  docker-compose.yml
  fly.toml
  railway.toml
  render.yaml
  scripts/install.sh
  server/routes/settings.ts
Due: server

docs: rewrite README with developer quickstart and getting started guide
  README.md
Due: none

feat: compile CHANGELOG.md and release notes for v1.0.0
  CHANGELOG.md
  docs/RELEASE-NOTES.md
  server/routes/settings.ts
Due: server

refactor(client): consolidate dead settings feature dirs into settings-* pages
  client/src/app/features/settings-access/allowlist.component.ts
  client/src/app/features/settings-access/github-allowlist.component.ts
  client/src/app/features/settings-access/repo-blocklist.component.ts
  client/src/app/features/settings-access/settings-access.component.ts
  client/src/app/features/settings-security/security-overview.component.ts
  client/src/app/features/settings-security/settings-security.component.ts
  client/src/app/features/settings-security/spending.component.ts
  client/src/app/features/settings-security/wallet-viewer.component.ts
  server/routes/settings.ts
Due: server, client

refactor(client): consolidate dead feature dirs into unified feature dirs
  client/src/app/features/comms/agent-comms.component.ts
  client/src/app/features/comms/agent-network-3d.component.ts
  client/src/app/features/comms/agent-network-vis.component.ts
  client/src/app/features/comms/live-feed.component.ts
  client/src/app/features/comms/unified-comms.component.ts
  client/src/app/features/memory/brain-viewer.component.spec.ts
  client/src/app/features/memory/brain-viewer.component.ts
  client/src/app/features/memory/memory-browser.component.ts
  client/src/app/features/memory/unified-memory.component.ts
  client/src/app/features/settings-integrations/contact-list.component.ts
  client/src/app/features/settings-integrations/settings-integrations.component.ts
Due: client

fix: add missing automate/schedules redirect + fix import order in settings routes
  client/src/app/app.routes.ts
  server/routes/settings.ts
Due: server, client

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
