Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

test: add coverage for buddy DB, buddy approval logic, and auth middleware
  server/__tests__/auth-middleware.test.ts
  server/__tests__/buddy-db.test.ts
  server/__tests__/buddy-service-approval.test.ts
Due: server

feat(try-mode): auto-detect AI provider for zero-config sandbox
  cli/commands/demo.ts
  scripts/try.ts
Due: server

fix(discord): download image attachments as base64 at receive time
  server/__tests__/discord-image-attachments.test.ts
  server/discord/image-attachments.ts
  server/discord/message-handler.ts
Due: server

test: add coverage for buddy DB, buddy approval logic, and auth middleware (#1462)
  server/__tests__/auth-middleware.test.ts
  server/__tests__/buddy-db.test.ts
  server/__tests__/buddy-service-approval.test.ts
Due: server

feat(try-mode): auto-detect AI provider for zero-config sandbox (#1463)
  cli/commands/demo.ts
  scripts/try.ts
Due: server

fix(discord): download image attachments as base64 at receive time (#1464)
  server/__tests__/discord-image-attachments.test.ts
  server/discord/image-attachments.ts
  server/discord/message-handler.ts
Due: server

chore: bump version to v0.49.0
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

chore: bump version to v0.49.0 (#1465)
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
Due: none

feat(discord): tiered /message tool access and buddy review support
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/thread-manager.ts
  server/process/manager.ts
Due: server

fix(tests): widen resumeProcess scan window and fix fetch mock casts
  server/__tests__/discord-image-attachments.test.ts
  server/__tests__/process-manager-external-mcp.test.ts
Due: server

feat(discord): tiered /message tool access and buddy review support (#1466)
  server/__tests__/discord-image-attachments.test.ts
  server/__tests__/process-manager-external-mcp.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/command-handlers/component-handlers.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/command-handlers/session-commands.ts
  server/discord/commands.ts
  server/discord/thread-manager.ts
  server/process/manager.ts
Due: server

chore: bump version to v0.50.0
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
Due: none

chore: bump version to v0.50.0 (#1467)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
Due: none

fix(security): resolve 10 CodeQL alerts (#312-#323)
  cli/commands/init.ts
  cli/commands/provision.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  server/__tests__/skill-loader.test.ts
  server/index.ts
Due: server, client

fix(security): resolve 10 CodeQL alerts (#312-#323) (#1469)
  cli/commands/init.ts
  cli/commands/provision.ts
  client/src/app/features/flock-directory/flock-directory.component.ts
  server/__tests__/skill-loader.test.ts
  server/index.ts
Due: server, client

fix(contacts): add partial name match and memory fallback to lookup tool (#1468)
  server/__tests__/contacts-tool-handler.test.ts
  server/mcp/tool-handlers/contacts.ts
Due: server

feat(conversational): add starter conversational agents via AlgoChat (#1185)
  server/__tests__/conversational-seed.test.ts
  server/algochat/init.ts
  server/conversational/presets.ts
  server/conversational/seed.ts
Due: server

fix(contacts): add partial name match and memory fallback to lookup tool (#1468) (#1470)
  server/__tests__/contacts-tool-handler.test.ts
  server/mcp/tool-handlers/contacts.ts
Due: server

docs: add spec files for conversational presets and seed modules
  specs/conversational/presets.spec.md
  specs/conversational/seed.spec.md
Due: none

chore: update spec count in deep-dive.md (188 → 190)
  docs/deep-dive.md
Due: none

fix(types): replace `as any` with proper ScheduleActionType in schedule commands
  server/discord/command-handlers/schedule-commands.ts
Due: server

feat(conversational): starter conversational agents via AlgoChat (#1471)
  docs/deep-dive.md
  server/__tests__/conversational-seed.test.ts
  server/algochat/init.ts
  server/conversational/presets.ts
  server/conversational/seed.ts
  specs/conversational/presets.spec.md
  specs/conversational/seed.spec.md
Due: server

chore: bump version to v0.51.0 (#1472)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
Due: none

chore: bump version to v0.51.0 (#1473)
  CHANGELOG.md
  README.md
  deploy/helm/Chart.yaml
  docs/deep-dive.md
  package.json
Due: none

feat(scheduler): add on-chain daily activity attestation to daily review
  server/__tests__/daily-review-attestation.test.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/maintenance.ts
Due: server

feat(flock): replace AlgoChat transport with A2A HTTP for flock testing
  server/flock-directory/testing/a2a-transport.ts
  server/routes/flock-testing.ts
  server/routes/index.ts
  server/scheduler/handlers/flock-testing.ts
Due: server

feat(flock): replace AlgoChat transport with A2A HTTP for flock testing (#1475)
  server/flock-directory/testing/a2a-transport.ts
  server/routes/flock-testing.ts
  server/routes/index.ts
  server/scheduler/handlers/flock-testing.ts
Due: server

feat(buddy): seed default buddy pairings on startup
  server/__tests__/buddy-seed.test.ts
  server/algochat/init.ts
  server/buddy/seed.ts
  server/conversational/presets.ts
Due: server

fix(types): replace `as any` with ScheduleActionType (#1472)
  server/discord/command-handlers/schedule-commands.ts
Due: server

feat(scheduler): add on-chain daily activity attestation (#1474)
  server/__tests__/daily-review-attestation.test.ts
  server/scheduler/execution.ts
  server/scheduler/handlers/maintenance.ts
Due: server

feat(buddy): seed default buddy pairings on startup (#1476)
  server/__tests__/buddy-seed.test.ts
  server/algochat/init.ts
  server/buddy/seed.ts
  server/conversational/presets.ts
Due: server

feat(buddy): visible buddy rounds in Discord + sandbox /message
  server/__tests__/buddy-round-callback.test.ts
  server/__tests__/message-commands-sandbox.test.ts
  server/buddy/service.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/commands.ts
  server/process/manager.ts
  shared/types/buddy.ts
  specs/buddy/service.spec.md
  specs/buddy/visible-discord.spec.md
  specs/discord/message-commands.spec.md
Due: server

fix: resolve CI failures for PR #1477
  docs/deep-dive.md
  server/scheduler/handlers/flock-testing.ts
  specs/buddy/visible-discord.spec.md
  specs/discord/bridge.spec.md
Due: server

fix: add missing specs for buddy seed and A2A transport
  specs/buddy/seed.spec.md
  specs/flock-directory/testing-a2a-transport.spec.md
Due: none

fix: update spec count in docs (191 → 193)
  docs/deep-dive.md
Due: none

feat(buddy): visible buddy rounds in Discord + sandbox /message (#1477)
  docs/deep-dive.md
  server/__tests__/buddy-round-callback.test.ts
  server/__tests__/message-commands-sandbox.test.ts
  server/buddy/service.ts
  server/discord/command-handlers/message-commands.ts
  server/discord/commands.ts
  server/process/manager.ts
  server/scheduler/handlers/flock-testing.ts
  shared/types/buddy.ts
  specs/buddy/seed.spec.md
  specs/buddy/service.spec.md
  specs/buddy/visible-discord.spec.md
  specs/discord/bridge.spec.md
  specs/discord/message-commands.spec.md
  specs/flock-directory/testing-a2a-transport.spec.md
Due: server

fix(sessions): auto-resume sessions interrupted by server restarts
  server/db/migrations/105_session_restart_pending.ts
  server/db/schema/index.ts
  server/db/schema/sessions.ts
  server/index.ts
  server/process/manager.ts
  server/process/session-lifecycle.ts
Due: server

fix(buddy): route /message buddy mode through buddy service directly
  server/buddy/service.ts
  server/discord/command-handlers/message-commands.ts
  shared/types/buddy.ts
Due: server

feat(sessions): add structured logging for all session end paths
  server/process/manager.ts
Due: server

fix(ci): resolve CI failures for session restart PR
  docs/deep-dive.md
  server/buddy/service.ts
  specs/db/migrations.spec.md
Due: server

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
