Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

flags:
  server:
    paths:
      - server/
      - cli/
      - shared/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true

feat: add rich Discord status and dashboard embeds (#892) (#1240)
  server/__tests__/discord-command-handlers.test.ts
  server/discord/command-handlers/info-commands.ts
  server/discord/commands.ts
  server/discord/embeds.ts
Due: server

fix: update test counts to actual 8,119 (from test run)
  CHANGELOG.md
  README.md
Due: none

docs: sync deep-dive.md stats with v0.38.0 (8,119 tests, 335 files)
  docs/deep-dive.md
Due: none

docs: add Discord embeds (#892/#1240) to v0.38.0 CHANGELOG
  CHANGELOG.md
Due: none

fix: correct remaining 7,984 → 8,119 in README stats table and testing section
  README.md
Due: none

docs: update README, CHANGELOG, and version for v0.38.0
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: document 4 undocumented Discord embed exports in bridge spec
  specs/discord/bridge.spec.md
Due: none

fix: gitignore entire .claude/ directory for open-source cleanliness
  .claude/off-limits-repos.txt
  .claude/projects/-Users-corvid-corvid-agent/memory/improvement-loop-2026-03-02.md
  .gitignore
Due: none

fix: make off-limits tests self-contained with test fixture
  server/__tests__/off-limits.test.ts
Due: server

docs: update README, CHANGELOG, and version for v0.38.0 (#1239)
  .claude/off-limits-repos.txt
  .claude/projects/-Users-corvid-corvid-agent/memory/improvement-loop-2026-03-02.md
  .gitignore
  CHANGELOG.md
  README.md
  docs/deep-dive.md
  package.json
  server/__tests__/off-limits.test.ts
  specs/discord/bridge.spec.md
Due: server

feat: pass agentId in MCP package API calls and add Claude Code config
  packages/corvid-agent-mcp/src/cli.ts
  packages/corvid-agent-mcp/src/server.ts
Due: none

feat: add project-level .mcp.json for Claude Code CLI sessions
  .mcp.json
  package.json
Due: none

feat: annotate protected-paths entries with governance tier metadata (#1241)
  server/process/protected-paths.ts
  specs/process/protected-paths.spec.md
Due: server

fix: add specsync wrapper for local spec:check execution (#1245)
  package.json
  scripts/specsync.sh
Due: none

fix: remove duplicate protected-paths exports from session-lifecycle spec
  specs/process/session-lifecycle.spec.md
Due: none

docs: sync stale counts across README, deep-dive, quickstart, mcp-setup, contributing
  CONTRIBUTING.md
  README.md
  docs/deep-dive.md
  docs/how-it-works.md
  docs/mcp-setup.md
  docs/quickstart.md
Due: none

fix: add specsync wrapper for local spec:check execution (#1246)
  package.json
  scripts/specsync.sh
  server/process/protected-paths.ts
  specs/process/protected-paths.spec.md
  specs/process/session-lifecycle.spec.md
Due: server

feat: expose memory MCP tools to Claude Code CLI sessions (#1243)
  .mcp.json
  package.json
  packages/corvid-agent-mcp/src/cli.ts
  packages/corvid-agent-mcp/src/server.ts
Due: none

docs: sync stale counts across README, deep-dive, quickstart, mcp-setup, contributing (#1247)
  CONTRIBUTING.md
  README.md
  docs/deep-dive.md
  docs/how-it-works.md
  docs/mcp-setup.md
  docs/quickstart.md
Due: none

fix: document governance tier exports in session-lifecycle spec
  specs/process/session-lifecycle.spec.md
Due: none

docs: add audience-specific paths for non-programmers, businesses, and enterprise
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  docs/algochat.html
  docs/architecture.html
  docs/business-guide.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: client

fix: consolidate dashboard CSS to fit within 14KB budget
  client/src/app/features/dashboard/dashboard.component.ts
Due: client

docs: add audience-specific paths for non-programmers, businesses, and enterprise (#1252)
  client/src/app/features/dashboard/dashboard.component.ts
  client/src/app/features/dashboard/welcome-wizard.component.ts
  docs/algochat.html
  docs/architecture.html
  docs/business-guide.html
  docs/enterprise.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
  docs/why-corvidagent.html
Due: client

test: add coverage for repo-map, session-cheerleading-detector, and external-mcp-client
  server/__tests__/external-mcp-client.test.ts
  server/__tests__/repo-map.test.ts
  server/__tests__/session-cheerleading-detector.test.ts
Due: server

fix: improve task-check workflow reliability
  .github/workflows/task-check.yml
Due: none

fix: auto-discover agent ID in MCP stdio server when env var is empty
  server/mcp/stdio-server.ts
Due: server

fix: await AlgoChat init before accepting sessions to prevent MCP tool race
  server/index.ts
  server/process/mcp-service-container.ts
Due: server

fix: resolve MCP tool loading race condition (#1253) (#1254)
  server/index.ts
  server/mcp/stdio-server.ts
  server/process/mcp-service-container.ts
Due: server

feat: expose MCP tools over Streamable HTTP at /mcp
  server/__tests__/mcp-http-transport.test.ts
  server/index.ts
  server/mcp/http-transport.ts
Due: server

feat: expose MCP tools over Streamable HTTP at /mcp (#1255)
  server/__tests__/mcp-http-transport.test.ts
  server/index.ts
  server/mcp/http-transport.ts
Due: server

fix: simplify http-transport spec to only document exported function
  specs/mcp/http-transport.spec.md
Due: none

feat: ARC-69 memory ASA on-chain storage
  server/__tests__/arc69-store.test.ts
  server/__tests__/improvement-loop.test.ts
  server/__tests__/memory-decay.test.ts
  server/__tests__/on-chain-memory-reader.test.ts
  server/__tests__/prompt-builder.test.ts
  server/algochat/agent-wallet.ts
  server/db/agent-memories.ts
  server/db/memory-sync.ts
  server/db/migrations/094_arc69_memory_asa.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/memory/arc69-store.ts
  server/memory/index.ts
  server/openapi/routes/mcp.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
  specs/memory/arc69-memory.spec.md
Due: server

fix: resolve CI failures for ARC-69 memory PR
  README.md
  docs/deep-dive.md
  specs/db/agent-memories.spec.md
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/arc69-memory.spec.md
Due: none

feat: ARC-69 memory ASA on-chain storage (#1256)
  README.md
  docs/deep-dive.md
  server/__tests__/arc69-store.test.ts
  server/__tests__/improvement-loop.test.ts
  server/__tests__/memory-decay.test.ts
  server/__tests__/on-chain-memory-reader.test.ts
  server/__tests__/prompt-builder.test.ts
  server/algochat/agent-wallet.ts
  server/db/agent-memories.ts
  server/db/memory-sync.ts
  server/db/migrations/094_arc69_memory_asa.ts
  server/db/schema/index.ts
  server/db/schema/memory.ts
  server/lib/validation.ts
  server/mcp/direct-tools.ts
  server/mcp/http-transport.ts
  server/mcp/sdk-tools.ts
  server/mcp/stdio-server.ts
  server/mcp/tool-handlers/index.ts
  server/mcp/tool-handlers/memory.ts
  server/memory/arc69-store.ts
  server/memory/index.ts
  server/openapi/routes/mcp.ts
  server/routes/mcp-api.ts
  shared/types/memories.ts
  specs/db/agent-memories.spec.md
  specs/lib/infra.spec.md
  specs/mcp/http-transport.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/arc69-memory.spec.md
Due: server

fix: remove silent fallback from ARC-69 memory storage
  server/mcp/tool-handlers/memory.ts
Due: server

fix: use agentNetwork for MCP API route context
  server/routes/index.ts
Due: server

fix: remove silent fallback from ARC-69 memory storage (#1257)
  server/mcp/tool-handlers/memory.ts
  server/routes/index.ts
Due: server

docs: add 16 missing API endpoint groups to api-reference.md
  docs/api-reference.md
Due: none

fix: correct analytics response fields and browse-dirs endpoint path
  docs/api-reference.md
Due: none

docs: document 15 undocumented observation exports in specs
  specs/lib/infra.spec.md
  specs/mcp/tool-handlers.spec.md
  specs/memory/memory-graduation.spec.md
Due: none
