Repository CorvidLabs/corvid-agent: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

refactor: decompose ProcessManager — extract timer + resilience managers (#664)
  server/__tests__/session-resilience-manager.test.ts
  server/__tests__/session-timer-manager.test.ts
  server/process/manager.ts
  server/process/session-resilience-manager.ts
  server/process/session-timer-manager.ts
Due: server

fix: add error notifications for silent catch blocks in agent detail
  client/src/app/features/agents/agent-detail.component.ts
Due: client

fix: add error notifications for silent catch blocks in agent detail (#665)
  client/src/app/features/agents/agent-detail.component.ts
Due: client

docs: overhaul GitHub Pages site for v0.19.0
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
Due: none

Potential fix for code scanning alert no. 282: Log injection
  cli/render.ts
Due: server

Potential fix for code scanning alert no. 281: Log injection
  cli/render.ts
Due: server

docs: overhaul GitHub Pages site for v0.19.0 (#666)
  docs/algochat.html
  docs/architecture.html
  docs/getting-started.html
  docs/index.html
  docs/security.html
  docs/self-hosting.html
  docs/sitemap.xml
Due: none

fix: sync CLI version with package.json (0.9.0 → 0.19.0)
  cli/index.ts
  package.json
Due: server

fix: sync CLI version with package.json (0.9.0 → 0.19.0) (#669)
  cli/index.ts
  package.json
Due: server

Potential fix for code scanning alert no. 281: Log injection (#668)
  cli/render.ts
Due: server

Add Security and Self-Hosting documentation pages (#670)
  cli/render.ts
  docs/security.html
  docs/self-hosting.html
Due: server

fix: add owner-address authorization to credit system endpoints
  server/mcp/tool-handlers/credits.ts
Due: server

fix: mock owner authorization in credit handler tests
  server/__tests__/tool-handlers.test.ts
Due: server

feat: add use case gallery to landing page (#595)
  docs/index.html
Due: none

feat: tighten StreamEvent types with discriminated union
  client/src/app/core/models/ws-message.model.ts
  server/ws/handler.ts
  shared/ws-protocol.ts
Due: server, client

fix: add owner-address authorization to credit system endpoints (#671)
  server/__tests__/tool-handlers.test.ts
  server/mcp/tool-handlers/credits.ts
Due: server

feat: add use case gallery to landing page (#595) (#672)
  docs/index.html
Due: none

fix: increase AlgoChat public key search depth from 200 to 1000
  server/algochat/on-chain-transactor.ts
  server/algochat/psk.ts
  server/algochat/response-formatter.ts
Due: server

feat: add VM automation LaunchAgents and backup script
  deploy/backup-db.sh
  deploy/com.corvidlabs.corvid-agent-backup.plist
  deploy/com.corvidlabs.port-forward.plist
  deploy/setup-vm.sh
Due: none

fix: AlgoChat search depth + VM automation LaunchAgents (#675)
  deploy/backup-db.sh
  deploy/com.corvidlabs.corvid-agent-backup.plist
  deploy/com.corvidlabs.port-forward.plist
  deploy/setup-vm.sh
  server/algochat/on-chain-transactor.ts
  server/algochat/psk.ts
  server/algochat/response-formatter.ts
Due: server

fix: cast StreamEvent.data through unknown for Record compatibility
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/sessions/session-output.component.ts
Due: client

feat: add work-intake mode to Discord bridge (#523)
  server/__tests__/discord-bridge.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/types.ts
  shared/types/work-tasks.ts
Due: server

feat: add work-intake mode to Discord bridge (#523) (#676)
  server/__tests__/discord-bridge.test.ts
  server/bootstrap.ts
  server/discord/bridge.ts
  server/discord/types.ts
  shared/types/work-tasks.ts
Due: server

feat: tighten StreamEvent types with discriminated union (#674)
  client/src/app/core/models/ws-message.model.ts
  client/src/app/features/councils/council-launch-view.component.ts
  client/src/app/features/sessions/session-output.component.ts
  server/ws/handler.ts
  shared/ws-protocol.ts
Due: server, client

docs: add deep dive document — architecture, features, and roadmap overview
  docs/deep-dive.md
Due: none

fix: retry work tasks interrupted by server restart (#677)
  server/__tests__/work-task-service.test.ts
  server/__tests__/work-tasks.test.ts
  server/db/work-tasks.ts
  server/work/service.ts
Due: server

test: add unit tests for polling service and response poller
  server/__tests__/polling-service-core.test.ts
  server/__tests__/response-poller.test.ts
Due: server

fix: retry work tasks interrupted by server restart (#678)
  docs/deep-dive.md
  server/__tests__/work-task-service.test.ts
  server/__tests__/work-tasks.test.ts
  server/db/work-tasks.ts
  server/work/service.ts
Due: server

fix: close PRs that fail security scan instead of commenting
  server/__tests__/auto-merge.test.ts
  server/polling/auto-merge.ts
Due: server

test: add unit tests for polling service (#681)
  server/__tests__/polling-service-core.test.ts
  server/__tests__/response-poller.test.ts
Due: server

fix: close PRs that fail security scan instead of commenting (#682)
  server/__tests__/auto-merge.test.ts
  server/polling/auto-merge.ts
Due: server

fix: use 'bun x' instead of 'bunx' for work task validation
  server/work/service.ts
Due: server

fix: use 'bun x' instead of 'bunx' for work task validation (#684)
  server/work/service.ts
Due: server

docs: fix stale session endpoint in quickstart, update route module count
  README.md
  docs/quickstart.md
Due: none

docs: fix stale session endpoint, update route count (#687)
  README.md
  docs/quickstart.md
Due: none

security: add owner-address authorization to credit system MCP endpoints (#583)
  server/__tests__/tool-handlers.test.ts
  server/algochat/config.ts
  server/mcp/tool-handlers/credits.ts
Due: server

fix: resolve rebase conflicts and fix mock for owner-auth tests
  server/__tests__/tool-handlers.test.ts
Due: server

docs: update stale counts — 5471 tests, 214 files, 112 specs
  README.md
  docs/deep-dive.md
  docs/external-review-scope.md
Due: none

Path conditions:
  server: any of: server/, cli/, shared/
  client: any of: client/src/
